@mixin notification-variant($state, $color) {
  .notification-#{$state} {
    &.notification {
      border-color: $color;

      .notification-header {
        color: $color;
      }

      .close-icon {
        &:hover,
        &:focus {
          color: darken($color, 10%);
        }
      }
    }

    &.notification-simple {
      color: $color;
    }
  }


}
