// Tables

@mixin table-row-variant($state, $background) {
  // Exact selectors below required to override `.table-striped` and prevent
  // inheritance to nested tables.
  .table > thead > tr,
  .table > tbody > tr,
  .table > tfoot > tr {
    > td.has.#{$state},
    > th.has-#{$state},
    &.has-#{$state} > td,
    &.has-#{$state} > th {
      color: $c-white;
      background-color: $background;
    }
  }

  // Hover states for `.table-hover`
  // Note: this is not available for cells or rows within `thead` or `tfoot`.
  .table-hover > tbody > tr {
    > td.has-#{$state}:hover,
    > th.has-#{$state}:hover,
    &.has-#{$state}:hover > td,
    &:hover > .has-#{$state},
    &.has-#{$state}:hover > th {
      background-color: darken($background, 5%);
    }
  }
}

.table {
  tbody > tr.disabled {
    text-decoration: none;
    background-color: #ebebe4;

    td {
      cursor: default;
    }

    .form-control {
      pointer-events: none;
      background-color: transparent;
    }
  }
}

body.dark-theme .table {
  tbody > tr.disabled {
    background-color: $c-dt-table-disabled-background;
  }
}
