.simple-text {
    color: #000000;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: normal;
    text-decoration: none;
}

.cm-panel {
}

.placeholder {
    background-color: white;
    border: 1px solid #bbb;
    width: 100%;
}

.placeholderEmpty {
    border: 0;
}

.placeholder-headline {
    color: #000000;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: normal;
    text-decoration: none;
}