.symbians60_screen {
	background: url('http://media.emailtests.com/nokia-n96.jpg') no-repeat 72px 0;
	width: 450px;
	height: 550px; 
	padding-top: 59px; 
	position: relative;
}

.symbians60_container {
	overflow: hidden; 
	height: 320px; 
	width: 320px; 
	position: absolute; 
	left: 106px; 
	top: 68px;
}

.iphone3_screen {
	background: url('http://media.emailtests.com/iphone2-scroll.png') no-repeat 57px 0; 
	width: 500px; 
	height: 800px; 
	padding-top: 120px; 
	position: relative;
}

.iphone3_container {
	overflow: hidden; 
	width: 320px; 
	position: absolute; 
	left: 90px; 
	top: 196px; 
	height: 371px;
}

.windowsmobile65portrait_screen {
	background: url('http://media.emailtests.com/samsung-intrepid.jpg') no-repeat 42px 0;
	width: 500px; 
	height: 800px; 
	padding-top: 65px; 
	position: relative;
}

.windowsmobile65portrait_container {
	overflow: hidden; 
	height: 240px; 
	width: 320px; 
	position: absolute; 
	left: 77px; 
	top: 107px;
}

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.default_screen {
	background: url('/images/emm/provider/screen4_1_jn.jpg') no-repeat 0px 0;
	width: 1093px; 
	height: 798px;	
	position: relative;
}

.default_container {
	overflow: hidden; 
	width: 1024px;
	height: 574px; 
	position: absolute;
	left: 36px; 
	top: 36px;	
}

#meldung_scroll {
	position:absolute;
	width:300px;
	height:120px;
	z-index:2;
	left: 201px;
	top: 198px;
	background-color: #D9E6F3;
	border:#2A5682 solid 3px;
	font-family:Arial, Helvetica, sans-serif;
}

#text_meldung {
	padding: 10px;

}

#rechts {
	text-align:right;
	padding:2px;
	background-color:#2A5682;
	border-bottom: #2A5682 solid 2px;
}

#rechts a {
	color:#FFFFFF;
	text-decoration:none;
	font-size:12px;
}

#arrow_top {
	position:absolute;
	width:26px;
	height:46px;
	z-index:3;
	left: 1063px;
	top: 210px;
}

#arrow_down {
	position:absolute;
	width:26px;
	height:46px;
	z-index:3;
	left: 1063px;
	top: 353px;
}