@charset "UTF-8";
.picker {
  position: absolute;
  z-index: 10000;
  top: 30px;
  font-size: 13px;
  text-align: left;
  line-height: 1.2;
  color: #000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}
.picker__input {
  cursor: default
}
.picker__input.picker__input--active {
  border-color: #0089ec
}
.picker__holder {
  width: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch
}
.picker {
  width: 100%
}
.form-picker {
  width: initial;
  top: initial
}
.picker__holder {
  position: absolute;
  background: #fff;
  border: 1px solid #aaa;
  border-top-width: 0;
  border-bottom-width: 0;
  border-radius: 0 0 5px 5px;
  max-height: 0;
  opacity: 0;
  -webkit-transform: translateY(-1em) perspective(600px) rotateX(10deg);
  -moz-transform: translateY(-1em) perspective(600px) rotateX(10deg);
  transform: translateY(-1em) perspective(600px) rotateX(10deg);
  -webkit-transition: -webkit-transform .15s ease-out,opacity .15s ease-out,max-height 0s .15s,border-width 0s .15s;
  -moz-transition: -moz-transform .15s ease-out,opacity .15s ease-out,max-height 0s .15s,border-width 0s .15s;
  -o-transition: -o-transform .15s ease-out,opacity .15s ease-out,max-height 0s .15s,border-width 0s .15s;
  transition: transform .15s ease-out,opacity .15s ease-out,max-height 0s .15s,border-width 0s .15s
}
.picker__frame {
  padding: 1px
}
.picker__wrap {
  margin: -1px
}
.picker--opened .picker__holder {
  max-height: none;
  -moz-opacity: 1;
  opacity: 1;
  border-top-width: 1px;
  border-bottom-width: 1px;
  -webkit-transform: translateY(0) perspective(600px) rotateX(0);
  -moz-transform: translateY(0) perspective(600px) rotateX(0);
  transform: translateY(0) perspective(600px) rotateX(0);
  -webkit-transition: -webkit-transform .15s ease-out,opacity .15s ease-out,max-height 0s,border-width 0s;
  -moz-transition: -moz-transform .15s ease-out,opacity .15s ease-out,max-height 0s,border-width 0s;
  transition: transform .15s ease-out,opacity .15s ease-out,max-height 0s,border-width 0s;
  -webkit-box-shadow: 0 6px 18px 1px rgba(0,0,0,.12);
  -moz-box-shadow: 0 6px 18px 1px rgba(0,0,0,.12);
  box-shadow: 0 6px 18px 1px rgba(0,0,0,.12)
}
.picker__header {
  text-align: center;
  position: relative;
  font-size: 13px;
  color: #707173
}
.picker__header:after,
.picker__header:before {
  content: " ";
  display: table
}
.picker__header:after {
  clear: both
}
.picker__month,
.picker__year {
  font-size: 13px;
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 10px
}
.picker__select--month,
.picker__select--year {
  border: 1px solid #b7b7b7;
  height: 2em;
  padding: .5em;
  margin-left: .25em;
  margin-right: .25em
}
@media (min-width:24.5em) {
  .picker__select--month,
  .picker__select--year {
    margin-top: -.5em
  }
}
.picker__select--month {
  width: 35%
}
.picker__select--year {
  width: 22.5%
}
.picker__select--month:focus,
.picker__select--year:focus {
  border-color: #0089ec
}
.picker__nav--next,
.picker__nav--prev {
  padding: 10px
}
.picker__nav--prev {
  float: left;
  padding: 10px
}
.picker__nav--prev:before {
  content: "←";
  font-size: 16px
}
.picker__nav--next {
  float: right
}
.picker__nav--next:before {
  content: "→";
  font-size: 16px
}
.picker__nav--next:hover,
.picker__nav--prev:hover {
  cursor: pointer;
  color: #000;
  background: #b1dcfb
}
.picker__nav--disabled,
.picker__nav--disabled:before,
.picker__nav--disabled:before:hover,
.picker__nav--disabled:hover {
  cursor: default;
  color: #cccdcd
}
.picker__table {
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  font-size: inherit;
  width: 100%
}
.picker__table td {
  margin: 0;
  padding: 0
}
.picker__weekday {
  padding: 10px;
  font-weight: 700;
  text-align: left;
  background-color: #e2e3e3;
  border-bottom: 1px solid #cccdcd;
  border-right: 1px solid #cccdcd
}
.picker__weekday:first-child {
  border-left: 1px solid #cccdcd
}
.picker__day {
  height: 40px;
  vertical-align: top;
  padding: 10px;
  border: 1px solid #e2e3e3;
  text-align: left;
  line-height: 1;
  color: #707173
}
.picker__day:focus,
.picker__day:hover {
  background-color: #e5f1f8;
  border-color: #338dc7
}
.picker__day--today {
  position: relative;
  background-color: #f1f9e6;
  color: #109e4d
}
.picker__day--today:focus,
.picker__day--today:hover {
  background-color: #f1f9e6!important;
  color: #109e4d!important
}
.picker__day--disabled:before {
  border-top-color: #aaa
}
.picker__day--outfocus {
  background-color: #faf9f9;
  color: #a9aaab
}
.picker__day--infocus:hover,
.picker__day--outfocus:hover {
  cursor: pointer
}
.picker__day--highlighted {
  border-color: #0089ec
}
.picker--focused .picker__day--highlighted,
.picker__day--highlighted:hover {
  cursor: pointer;
  color: #000;
  background: #b1dcfb
}
.picker--focused .picker__day--selected,
.picker__day--selected,
.picker__day--selected:hover {
  background: #0089ec;
  color: #fff
}
.picker--focused .picker__day--disabled,
.picker__day--disabled,
.picker__day--disabled:hover {
  background: #f5f5f5;
  border-color: #f5f5f5;
  color: #ddd;
  cursor: default
}
.picker__day--highlighted.picker__day--disabled,
.picker__day--highlighted.picker__day--disabled:hover {
  background: #bbb
}
.picker__footer {
  text-align: center
}
.picker__button--clear,
.picker__button--close,
.picker__button--today {
  border: 1px solid #fff;
  background: #fff;
  font-size: .8em;
  padding: .66em 0;
  font-weight: 700;
  width: 33.333%;
  display: inline-block;
  vertical-align: bottom
}
.picker__button--clear:hover,
.picker__button--close:hover,
.picker__button--today:hover {
  cursor: pointer;
  color: #000;
  background: #b1dcfb;
  border-bottom-color: #b1dcfb
}
.picker__button--clear:focus,
.picker__button--close:focus,
.picker__button--today:focus {
  background: #b1dcfb;
  border-color: #0089ec;
  outline: 0
}
.picker__button--clear:before,
.picker__button--close:before,
.picker__button--today:before {
  position: relative;
  display: inline-block;
  height: 0
}
.picker__button--clear:before,
.picker__button--today:before {
  content: " ";
  margin-right: .45em
}
.picker__button--today:before {
  top: -.05em;
  width: 0;
  border-top: .66em solid #0059bc;
  border-left: .66em solid transparent
}
.picker__button--clear:before {
  top: -.25em;
  width: .66em;
  border-top: 3px solid #e20
}
.picker__button--close:before {
  content: "×";
  top: -.1em;
  vertical-align: top;
  font-size: 1.1em;
  margin-right: .35em;
  color: #777
}
.picker__button--today[disabled],
.picker__button--today[disabled]:hover {
  background: #f5f5f5;
  border-color: #f5f5f5;
  color: #ddd;
  cursor: default
}
.picker__button--today[disabled]:before {
  border-top-color: #aaa
}
.picker--opened .datepicker__holder {
  min-width: 400px
}
.picker--opened .datepicker__holder-right {
  right: 10px
}
.picker__list {
  list-style: none;
  margin: 0
}
.picker__list-item {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  margin-bottom: -1px;
  position: relative;
  background: #fff;
  padding: .75em 1.25em
}
@media (min-height:46.75em) {
  .picker__list-item {
    padding: .5em 1em
  }
}
.picker__list-item:hover {
  cursor: pointer;
  color: #000;
  background: #b1dcfb;
  border-color: #0089ec;
  z-index: 10
}
.picker__list-item--highlighted {
  border-color: #0089ec;
  z-index: 10
}
.picker--focused .picker__list-item--highlighted,
.picker__list-item--highlighted:hover {
  cursor: pointer;
  color: #000;
  background: #b1dcfb
}
.picker--focused .picker__list-item--selected,
.picker__list-item--selected,
.picker__list-item--selected:hover {
  background: #0089ec;
  color: #fff;
  z-index: 10
}
.picker--focused .picker__list-item--disabled,
.picker__list-item--disabled,
.picker__list-item--disabled:hover {
  background: #f5f5f5;
  border-color: #f5f5f5;
  color: #ddd;
  cursor: default;
  border-color: #ddd;
  z-index: auto
}
.picker--time .picker__button--clear {
  display: block;
  width: 80%;
  margin: 10px auto;
  padding: 10px 15px;
  background: 0 0;
  border: 0;
  font-weight: 500;
  font-size: .67em;
  text-align: center;
  text-transform: uppercase;
  color: #666
}
.picker--time .picker__button--clear:focus,
.picker--time .picker__button--clear:hover {
  color: #000;
  background: #b1dcfb;
  background: #e20;
  border-color: #e20;
  cursor: pointer;
  color: #fff;
  outline: 0
}
.picker--time .picker__button--clear:before {
  top: -.25em;
  color: #666;
  font-size: 1.25em;
  font-weight: 700
}
.picker--time .picker__button--clear:focus:before,
.picker--time .picker__button--clear:hover:before {
  color: #fff
}
.picker--time {
  min-width: 256px;
  max-width: 320px
}
.picker--time .picker__holder {
  background: #e2e3e3
}
.picker--time .picker__box {
  padding: 0;
  position: relative
}
.picker--opened .timepicker__holder {
  max-height: 250px;
  margin-bottom: 30px
}
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  color: #707173
}
input[type=search] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}
input[type=checkbox],
input[type=radio] {
  margin: 4px 0 0;
  line-height: normal
}
input[type=file] {
  display: block
}
input[type=range] {
  display: block;
  width: 100%
}
select[multiple],
select[size] {
  height: auto
}
.form-control {
  display: block;
  width: 100%;
  height: 30px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 20px;
  color: #2d2d2f;
  background-color: #fff;
  background-image: none;
  border: 1px solid #cccdcd;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 1px -1px rgba(0,0,0,.4);
  box-shadow: inset 0 1px 1px -1px rgba(0,0,0,.4);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
}
.form-control:focus {
  border-color: #338dc7;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(51,141,199,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(51,141,199,.6)
}
.form-control:focus::-moz-placeholder {
  color: transparent;
  opacity: 1
}
.form-control:focus:-ms-input-placeholder {
  color: transparent
}
.form-control:focus::-webkit-input-placeholder {
  color: transparent
}
.form-control::-moz-placeholder {
  color: #a9aaab;
  opacity: 1
}
.form-control:-ms-input-placeholder {
  color: #a9aaab
}
.form-control::-webkit-input-placeholder {
  color: #a9aaab
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #e2e3e3;
  opacity: 1
}
textarea.form-control {
  height: auto
}
input[type=search] {
  -webkit-appearance: none
}
input[type=date],
input[type=datetime-local],
input[type=month],
input[type=time] {
  line-height: 30px
}
.form-group {
  margin-bottom: 10px
}
fieldset[disabled] input[type=checkbox],
fieldset[disabled] input[type=radio],
input[type=checkbox].disabled,
input[type=checkbox][disabled],
input[type=radio].disabled,
input[type=radio][disabled] {
  cursor: not-allowed
}
.form-group {
  margin-left: -7px;
  margin-right: -7px
}
.form-group:after,
.form-group:before {
  content: " ";
  display: table
}
.form-group:after {
  clear: both
}
input[type=file].form-control {
  padding: 0;
  border: 0;
  -webkit-box-shadow: inset 0 2px 1px -1px #cccdcd,inset 0 0 0 1px #cccdcd;
  box-shadow: inset 0 2px 1px -1px #cccdcd,inset 0 0 0 1px #cccdcd
}
input[type=file].form-control::-webkit-file-upload-button {
  margin-top: 1px;
  margin-left: 1px;
  padding: 4px 5px
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 1px;
  white-space: nowrap;
  font-size: 13px;
  line-height: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #707173;
  background-color: rgba(0,0,0,0);
  border-color: #e2e3e3
}
.btn:focus,
.btn:hover {
  text-decoration: none
}
.btn.active,
.btn:active {
  outline: 0;
  background-image: none
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  pointer-events: none;
  opacity: .65
}
.btn:hover {
  color: #707173;
  background-color: rgba(0,0,0,0);
  border-color: rgb(194.8631578947,196.9368421053,196.9368421053)
}
.btn.active,
.btn.is-active,
.btn:active,
.open > .btn.dropdown-toggle {
  color: #707173;
  background-image: none;
  background-color: rgba(0,0,0,0);
  border-color: rgb(174.1052631579,176.8947368421,176.8947368421)
}
.btn.disabled,
.btn.disabled.active,
.btn.disabled.is-active,
.btn.disabled:active,
.btn.disabled:focus,
.btn.disabled:hover,
.btn[disabled],
.btn[disabled].active,
.btn[disabled].is-active,
.btn[disabled]:active,
.btn[disabled]:focus,
.btn[disabled]:hover,
fieldset[disabled] .btn,
fieldset[disabled] .btn.active,
fieldset[disabled] .btn.is-active,
fieldset[disabled] .btn:active,
fieldset[disabled] .btn:focus,
fieldset[disabled] .btn:hover {
  color: rgb(126.7425742574,129.2574257426,129.2574257426);
  background-color: rgb(200.0526315789,201.9473684211,201.9473684211);
  border-color: rgb(194.8631578947,196.9368421053,196.9368421053)
}
.btn .badge {
  color: transparent;
  background-color: #707173
}
.btn .icon + .icon,
.btn .icon + .text,
.btn .text + .icon,
.btn .text + .text {
  margin-top: 0;
  margin-left: 5px
}
.btn-secondary {
  color: #fff;
  background-color: #004470;
  border-color: transparent
}
.btn-secondary:hover {
  color: #fff;
  background-color: rgb(0,37.0357142857,61);
  border-color: transparent
}
.btn-secondary.active,
.btn-secondary.is-active,
.btn-secondary:active,
.open > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-image: none;
  background-color: rgb(0,21.5535714286,35.5);
  border-color: transparent
}
.btn-secondary.disabled,
.btn-secondary.disabled.active,
.btn-secondary.disabled.is-active,
.btn-secondary.disabled:active,
.btn-secondary.disabled:focus,
.btn-secondary.disabled:hover,
.btn-secondary[disabled],
.btn-secondary[disabled].active,
.btn-secondary[disabled].is-active,
.btn-secondary[disabled]:active,
.btn-secondary[disabled]:focus,
.btn-secondary[disabled]:hover,
fieldset[disabled] .btn-secondary,
fieldset[disabled] .btn-secondary.active,
fieldset[disabled] .btn-secondary.is-active,
fieldset[disabled] .btn-secondary:active,
fieldset[disabled] .btn-secondary:focus,
fieldset[disabled] .btn-secondary:hover {
  color: rgb(126.7425742574,129.2574257426,129.2574257426);
  background-color: rgb(200.0526315789,201.9473684211,201.9473684211);
  border-color: rgb(194.8631578947,196.9368421053,196.9368421053)
}
.btn-secondary .badge {
  color: #004470;
  background-color: #fff
}
.btn-group .btn + .btn {
  margin-left: 5px
}
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}
body,
html {
  height: 100%
}
body {
  font-family: Arial,sans-serif;
  font-size: 13px;
  line-height: 1.5;
  background-color: #e2e3e3
}
img {
  outline: 0;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
  width: 100%;
  max-width: 100%;
  height: auto
}
p {
  margin: 0
}
dl {
  margin: 0
}
dd,
dt {
  font-weight: 400
}
h1,
h2 {
  line-height: 1.2;
  font-weight: 600;
  margin: 0
}
.h1,
h1 {
  font-size: 20px;
  color: #fff
}
.h1 a,
h1 a {
  font-size: 20px;
  color: #fff
}
.h2,
h2 {
  font-size: 18px;
  color: #222326
}
.h2 a,
h2 a {
  font-size: 18px;
  color: #222326
}
h3,
h4,
h5,
h6 {
  color: #222326;
  margin: 0
}
.small,
small {
  font-size: 11px
}
hr {
  border: 0;
  border-bottom: 1px solid #e6e6e6
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0
}
ol {
  margin: 0
}
i {
  font-style: normal
}
a {
  text-decoration: none
}
button {
  padding: 0;
  border: 0;
  background-color: inherit
}
button:focus {
  outline: 0
}
.hidden {
  display: none!important
}
.clearfix:after,
.clearfix:before {
  content: " ";
  display: table
}
.clearfix:after {
  clear: both
}
.transparent {
  opacity: 0
}
.translucent {
  opacity: .5
}
.hidden {
  display: none!important;
  visibility: hidden!important
}
.invisible {
  clip: rect(0,0,0,0)!important;
  width: 0!important;
  height: 0!important;
  overflow: hidden!important;
  margin: 0!important
}
.align-top {
  vertical-align: top!important
}
.align-middle {
  vertical-align: middle!important
}
.align-bottom {
  vertical-align: bottom!important
}
.align-left {
  text-align: left!important
}
.align-center {
  text-align: center!important
}
.align-right {
  text-align: right!important
}
.block {
  display: block!important
}
.inline-block {
  display: inline-block!important
}
.full-width {
  width: 100%
}
.uppercase {
  text-transform: uppercase
}
.lowercase {
  text-transform: lowercase
}
.capitalize {
  text-transform: capitalize
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}
.break-word {
  word-wrap: break-word
}
.relative {
  position: relative!important
}
.nowrap {
  white-space: nowrap
}
.bold {
  font-weight: 700
}
.btn {
  padding: 5px 10px;
  font-size: 13px;
  line-height: 18px;
  border-radius: 2px
}
label {
  color: inherit
}
.radio-group label {
  margin-left: 5px
}
.checkbox-group label input {
  margin-right: 5px
}
.form-group {
  margin-right: inherit;
  margin-left: inherit
}
/*# sourceMappingURL=form.css.map */
