// Note: Possibly unused
/*
.datepicker-input[readonly], .timepicker-input[readonly] {
  cursor: pointer;
  background-color: $c-white;
}

.datepicker-input[disabled], .timepicker-input[disabled] {
  cursor: not-allowed;
  background-color: $c-gray-11;
}

.datepicker-input, .timepicker-input {
  &.enableable {
    cursor: pointer;
    background-color: $c-gray-11;

    &:hover {
      background-color: $c-gray-02;
    }

    &:focus {
      background-color: $c-white;
    }
  }
}
*/
