
$sidebar-width: 41px;
$sidebar-icon-size: 25px;
$header-height: $sidebar-width - 1;

$pagesCount: 10;

$gap:      20px;
$gap-md:   15px;
$gap-sm:   $gap / 2;
$gap-x-sm: $gap-sm / 2;

$sidebar-spacer:   $gap-sm;
$tiles-spacer:     $gap-sm;
$header-spacer:    $gap-sm;
$tile-body-spacer: $gap-md;
$dropdown-spacer:  $gap-x-sm;

$mobile-view-threshold: 1000px;

$x-light-grey:   $gray-100;
$light-grey:     $gray-400;
$dark-purple:    #460876;
$light-purple:   #9B45D0;
$dark-grey:      $gray-700;
$grey-blue:      #2D3A4D;
$dark-blue:      #1A3258;
$light-blue:     $info;
$con-dark-blue:  #06101f;
$con-grey:       #D6DADD;
$con-blue:       #004570;
$con-light-blue: #57BCFF;
$con-red:        #FF7259;
$con-green:      #8CCE40;
$con-yellow:     #FFD84B;

$stat-blue:           #569AFF;
$stat-light-blue:     #80C7FF;
$stat-dark-blue:      #2872E0;
$stat-darkest-blue:   #0A40A9;
$stat-light-grey:     #C2C2C2;
$stat-grey:           #7E7E7E;
$stat-dark-grey:      #3D3D3D;
$stat-green:          #57C700;
$stat-dark-green:     #516C03;
$stat-lime:           #0ACD70;
$stat-light-lime:     #8BF4AF;
$stat-violet:         #AD87CA;
$stat-light-violet:   #E5CEF0;
$stat-dark-violet:    $light-purple;
$stat-darkest-violet: $dark-purple;
$stat-cyan:           #2FE9C7;
$stat-light-cyan:     #BAF8E1;
$stat-dark-cyan:      #11A98E;
$stat-darkest-cyan:   #086F76;
$stat-light-red:      #E12E59;
$stat-dark-red:       #880010;
$stat-yellow:         #FAFF00;
$stat-dark-yellow:    #F8CE39;
$stat-orange:         #ED7E49;
$stat-black:          #0A0A0A;

$stat-colors: (
        light-blue      $stat-light-blue,
        blue            $stat-blue,
        dark-blue       $stat-dark-blue,
        darkest-blue    $stat-darkest-blue,

        light-cyan      $stat-light-cyan,
        cyan            $stat-cyan,
        dark-cyan       $stat-dark-cyan,
        darkest-cyan    $stat-darkest-cyan,

        light-lime      $stat-light-lime,
        lime            $stat-lime,
        green           $stat-green,
        dark-green      $stat-dark-green,

        light-violet    $stat-light-violet,
        violet          $stat-violet,
        dark-violet     $stat-dark-violet,
        darkest-violet  $stat-darkest-violet,

        yellow          $stat-yellow,
        dark-yellow     $stat-dark-yellow,
        orange          $stat-orange,

        light-red       $stat-light-red,
        dark-red        $stat-dark-red,

        light-grey      $stat-light-grey,
        grey            $stat-grey,
        dark-grey       $stat-dark-grey,
        black           $stat-black,
);

$badge-standard-blue-var:  var(--badge-standard-blue);
$badge-blue-var:           var(--badge-blue);
$badge-dark-blue-var:      var(--badge-dark-blue);
$badge-darkest-blue-var:   var(--badge-darkest-blue);
$badge-green-var:          var(--badge-green);
$badge-dark-green-var:     var(--badge-dark-green);
$badge-lime-var:           var(--badge-lime);
$badge-grey-var:           var(--badge-grey);
$badge-dark-grey-var:      var(--badge-dark-grey);
$badge-dark-violet-var:    var(--badge-dark-violet);
$badge-darkest-violet-var: var(--badge-darkest-violet);
$badge-cyan-var:           var(--badge-cyan);
$badge-dark-cyan-var:      var(--badge-dark-cyan);
$badge-darkest-cyan-var:   var(--badge-darkest-cyan);
$badge-dark-red-var:       var(--badge-dark-red);
$badge-dark-yellow-var:    var(--badge-dark-yellow);

$blue-var:    var(--bs-blue);
$success-var: rgba(var(--bs-success-rgb), 1);
$warning-var: rgba(var(--bs-warning-rgb), 1);
$danger-var:  rgba(var(--bs-danger-rgb),  1);

$body-color-var: var(--bs-body-color);
$body-bg-var:    var(--bs-body-bg);

$border-color-var:   var(--bs-border-color);
$border-default:     1px solid $border-color-var;
$border-transparent: 1px solid transparent;
$table-border:       $border-default;

$font-size-md: 1.143rem; // 16px
$font-size-xl: 1.429rem; // 20px

$states: (
  success $success-var,
  info    $blue-var,
  warning $warning-var,
  alert   $danger-var
);
