
/*doc
---
title: Badges
name: badges
category: Components - Badges
---

Basic badges are tiny objects usually only used to display a text.
They are however very flexible.

An important condition is that the background color must be set for the badge.
You can see the list of Bootstrap classes for setting the background [here](https://getbootstrap.com/docs/5.3/helpers/color-background/).

*/

/*doc
---
title: Basic example
name: badges_01_example
parent: badges
---

```htmlexample
<span class="badge badge--standard-blue">Primary</span>
```

Badges can also contain text and icons in any order and multitude.
Text inside has to be wrapped inside `<span>`.

```htmlexample
<span class="badge badge--dark-red">
  <i class="icon icon-angle-left"></i>
  <span>Danger</span>
  <i class="icon icon-angle-right"></i>
</span>
```

You can also use more large version of the badge just using class `.badge--lg`.

```htmlexample
<span class="badge badge--lg badge--standard-blue">Primary</span>
```

*/

/*doc
---
title: Color
name: badges_02_colors
parent: badges
---

Color             |Preview                                                                            |
------------------|-----------------------------------------------------------------------------------|
Standard blue     |<span class="badge badge--standard-blue">Badge</span>`badge badge--standard-blue`  |
Green             |<span class="badge badge--green">Badge</span>`badge badge--green`                  |
Dark red          |<span class="badge badge--dark-red">Badge</span>`badge badge--dark-red`            |
Dark green        |<span class="badge badge--dark-green">Badge</span>`badge badge--dark-green`        |
Dark yellow       |<span class="badge badge--dark-yellow">Badge</span>`badge badge--dark-yellow`      |
Darkest violet    |<span class="badge badge--darkest-violet">Badge</span>`badge badge--darkest-violet`|
*/

/*doc
---
title: Special Badge Variants
name: badges_03_special
parent: badges
---

The most common variation of badges is the status badges, but there are others as well.

*/

/*doc
---
title: Colored badges
name: badges_14_colored
parent: badges_03_special
---

The square badge can have any color you want. To do this you need to use a class `.square-badge` and give it some kind of background color.

```htmlexample
<span class="square-badge badge--standard-blue"></span>
<span class="square-badge badge--dark-red"></span>
<span class="square-badge" style="background: orange"></span>
```

*/

$status-badge-size: 18px;
$status-badge-size-lg: 30px;
$status-badge-font-size: 10px;

$badge-colors: (
    blue           $badge-blue-var,
    dark-blue      $badge-dark-blue-var,
    standard-blue  $badge-standard-blue-var,
    cyan           $badge-cyan-var,
    grey           $badge-grey-var,
    green          $badge-green-var,
    dark-red       $badge-dark-red-var,
    dark-green     $badge-dark-green-var,
    dark-yellow    $badge-dark-yellow-var,
    darkest-violet $badge-darkest-violet-var
);

.square-badge {
  --badge-border-color: transparent;

  @include size($status-badge-size);
  @include flex-center;
  border-radius: $border-radius-sm;
  flex: none;

  border: 1px solid var(--badge-border-color);
}

@include color-mode(light-contrast) {
  .square-badge {
    --badge-border-color: #{$black};
  }
}

@include color-mode(dark-contrast) {
  .square-badge {
    --badge-border-color: #{$white};
  }
}

@import "status-badge/_.scss";
@import "icon-badge";
@import "image-badge";
@import "text-badge";
@import "table-badge";

@each $conf in $badge-colors {
  $color: nth($conf, 1);
  $colorValue: nth($conf, 2);

  .badge--#{$color} {
    background: $colorValue;
  }
}

@each $conf in $stat-colors {
  $color: nth($conf, 1);
  $colorValue: nth($conf, 2);

  .badge--stat-#{$color} {
    background: $colorValue;
  }
}
