<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">

<plugin id="admin_info" version="0.0.1" vendor="Agnitas AG">

	<attributes>
		<attribute id="i18n-bundle" value="messages-plugin" />
		<attribute id="plugin-name" value="Admin Info" />
	</attributes>

	<!-- Dependencies to other plugins -->
	<requires>
		<import plugin-id="emm_core" />
	</requires>

	<!-- File structure setup -->
	<runtime>
		<library id="admin-info" path="classes/" type="code" />
	</runtime>

	<!-- Bindings -->
	<extension plugin-id="emm_core" point-id="admin.view.pos2" id="AdminInfoOutput">
	 	 <parameter id="class" value="org.agnitas.emm.plugin.admininfo.AdminInfoExtension" />
	</extension>

</plugin>
