
.radio-switch {
  display: flex;
  color: $white;
  user-select: none;
  min-width: max-content;
  background-color: var(--switch-inactive-color);
  border: $border-default;
  border-radius: $border-radius;
  
  &.disabled, &.readonly {
    background-color: $light-grey;
    pointer-events: none;
  }
  
  input {
    clip: rect(0 0 0 0);
    position: absolute;

    &:not(:disabled):checked + label {
      background-color: $primary;
    }

    &:disabled:checked + label {
      background-color: $dark-grey;
    }

    &:first-child:checked + label {
      margin: -1px -1px -1px -3px; // hide contrast pixels near border radius 
    }

    &:not(:first-child):checked + label {
      margin: -1px -3px -1px -1px; // hide contrast pixels near border radius
    }
  }

  label {
    @include flex-center;
    padding: 3px 5px;
    transition: background-color 0.15s ease-in-out;
    border-radius: $border-radius;
    cursor: pointer;
    z-index: 2;
  }
}
