
$c-calendar-day-alien:                   #C0C0C0;
$c-calendar-day-alien-has-mailings:      $gray-700;
$c-calendar-day-today:                   $primary;
$c-calendar-day-selectable:              #D9D9D9;
$calendar-day-hovered-border: $border-default;
$calendar-day-selected-border: 1px solid #1A3258;

#calendar-table {
  text-align: center;
  border: 1px solid #D0D0D0;
  border-radius: $border-radius;
  border-collapse: unset;
  height: 100%;
  margin: 0;

  #calendar-container {
    height: 100%;
  }

  td {
    padding: 0;
  }

  th:first-child,
  td:first-child {
    font-weight: bold;
  }

  th, td {
    width: calc(100% / 8);
    text-align: center;
  }
  
  tr:not(:first-child) td:not(:first-child):hover {
    cursor: pointer;
  }
  
  #calendar-header {
    .calendar-cell {
      width: auto;
    }
  }
}

.calendar-cell {
  display: inline-block;
  @include size(clamp(20px, 2vw, $calendar-day-diameter));
  line-height: clamp(20px, 2vw, $calendar-day-diameter);
  font-size: clamp(0.5vw, 1rem, 1vw);
  text-align: center;
  border: 1px solid transparent;

  @include mobile {
    @include size($calendar-day-diameter);
    line-height: $calendar-day-diameter;
    font-size: 1rem;
  }
}

.calendar-day {
  border-radius: 50%;
  border: 1px solid transparent;

  &:hover:not(.calendar-day--selected) {
    border: $calendar-day-hovered-border;
  }
}

.calendar-day--selectable {
  background-color: $c-calendar-day-selectable;
}

.calendar-day--today {
  color: $c-white;
  background-color: $c-calendar-day-today;
}

.calendar-day--selected {
  font-weight: 600;
  border: $calendar-day-selected-border;
}

.calendar-day--alien {
  color: $c-calendar-day-alien;

  &.calendar-day--selectable {
    color: $c-calendar-day-alien-has-mailings;
  }
}
