
// https://getbootstrap.com/docs/5.2/content/figures/
// Used for captures. Replace or add a class if figure element can be used for other purposes
figure {
  border: $border-default;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  height: inherit;
  overflow: hidden;
  margin: 0;
}

figcaption {
  display: flex;
  justify-content: space-between;
  text-align: right;
  padding: 6px $gap-sm;
  font-size: $font-size-sm;
  text-wrap: nowrap;
  color: var(--text-gray-color);
  background-color: var(--caption-bg-color);
  border-top: $border-default;
  @include border-bottom-radius();
  i {
    padding-left: $gap-x-sm;
  }
  @include media-breakpoint-down(lg) {
    display: none;
  }
}
