// TODO EMMGUI-714 remove unused commented code from old version

// LEGACY CODE

// mailings preview shades of blue
$c-blue-01: #f5f9fc;
$c-blue-02: #edf7ff;
$c-gray-55: #707173;
$c-blue-21: #30aadb;
$c-blue-03: #e5f1f8;

@function isZero($value) {
  @if ($value == "0px") {
    @return true;
  } @else if ($value == "0") {
    @return true;
  } @else if ($value == 0) {
    @return true;
  }

  @return false;
}

@mixin rounded-card-shape() {
  border-radius: 3px;
  background-clip: padding-box;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.6);
}

@mixin horizontal-flex() {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

@mixin fixed-content($selector-prefix, $block-height, $header-height, $footer-height) {
  height: $block-height;

  >.#{$selector-prefix}fixed-header {
    height: $header-height;
    border-bottom: 1px solid #e2e3e3;
  }

  >.#{$selector-prefix}fixed-body {
    // 100% of enabled height - header height - footer height
    @if (isZero($footer-height) and isZero($header-height)) {
      height: 100%;
    } @else if(isZero($footer-height)) {
      height: calc(100% - #{$header-height});
    } @else if(isZero($header-height)) {
      height: calc(100% - #{$footer-height});
    } @else {
      height: calc(100% - #{$header-height} - #{$footer-height});
    }

    overflow-y: auto;
  }

  >.#{$selector-prefix}fixed-footer {
    height: $footer-height;
    border-top: 1px solid #e2e3e3;
  }
}

@mixin full-height-ck-editor() {

  .cke {
    height: 100%;
  }

  .cke_editor_content {
    height: 100%;
    width: 100% !important;
  }

  .ace_editor {
    height: 100% !important;
  }

  .cke_inner {
    display: table;
    width: 100%;
  }

  .cke_inner {
    display: table;
    width: 100%;
    height: 100%;
  }

  .cke_contents {
    height: 100% !important;
    display: table-row;
  }
}

.fixed-content-40-0 {
  $selector-prefix : '';
    $block-height  : 100%;
    $header-height : 40px;
    $footer-height : 0px;

    @include fixed-content($selector-prefix, $block-height, $header-height, $footer-height);
}

.fixed-content-40-45 {
  $selector-prefix : '';
  $block-height  : 100%;
  $header-height : 40px;
  $footer-height : 45px;

  @include fixed-content($selector-prefix, $block-height, $header-height, $footer-height);
}

.sub-fixed-content {
  $selector-prefix : 'sub';
  $block-height  : 100%;
  $header-height : 0px;
  $footer-height : 45px;

  @include fixed-content($selector-prefix, $block-height, $header-height, $footer-height);
}

.modal-fixed-content {
  $selector-prefix : 'modal-';
  $block-height  : 85vh;
  $header-height : 50px;
  $footer-height : 61px;

  background-color: $white;

  @include full-height-ck-editor();
  @include rounded-card-shape();
  @include fixed-content($selector-prefix, $block-height, $header-height, $footer-height);

  .modal-fixed-header.standard-header {
    @include horizontal-flex();
    padding: 0 10px;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;

    .full-size-btn{
      padding: 0 10px 0 5px;
    }
  }

  .modal-fixed-footer.standard-footer {
    @include horizontal-flex();
    justify-content: flex-end;
    align-items: center;
    align-content: center;

    padding: 10px;
  }
}

.mailing-content {
  $selector-prefix : 'mailing-content';

  .#{$selector-prefix}-header {
    @include horizontal-flex();
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }

  .#{$selector-prefix}-body {
    padding: 0;
    background-color: $c-blue-01;
    display: block;
    overflow: hidden;

    .droppable-area {
      height: 100%;
      width: 100%;
      padding: 15px;
      overflow-y: auto;

      &.highlight {
        background-color: $c-blue-02;
      }

      .l-stub {
        display: none;

        &:only-child {
          display: block;
        }
      }

      .plus-button-holder {

        text-align: center;

        .plus-button {
          margin: 10px auto;
          cursor: pointer;
          color: $blue;
          &:hover,
          &:focus {
            color: darken($blue, 10%);
          }
          &:active {
            color: darken($blue, 15%);
          }
        }
      }
    }
  }

  .#{$selector-prefix}-footer{
    @include horizontal-flex();
    justify-content: center;
    align-items: center;
    align-content: stretch;

    .btn {
      margin: 1em;
      background-color: transparent;
    }

    .control-label{
      padding: 0;
    }
  }
}

.btn.btn-circle {
  width: 27px;
  height: 27px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 30px;
}

// REDESIGN CODE

.cke_chrome {
  border: 0 !important;
}

.full-height-ck-editor {
  @include full-height-ck-editor;
}

.modal-editors-container {
  .cke_chrome {
    height: 100%;
    > * { height: 100%; }

    border-radius: 0;
    padding: 0;

    box-sizing: border-box;
  }

  .cke_wrapper {
    height: 100%;
  }

  .cke_editor {
    height: 100%;

    tbody {
      tr:nth-child(2) {
        height: 100%;
      }
    }
  }

  .cke_inner {
    display: table;
    width: 100%;
  }

  .cke_contents {
    height: 100% !important;
    display: table-row;
  }

  .cke_wysiwyg_frame {
    height: 100%;
  }
}
