
.colorpicker-container {
  @include flex-row($gap-x-sm);

  .sp-replacer {
    flex: none; // prevent shrink
  }
}

.sp-replacer {
  background: $body-bg-var;
  border-radius: $border-radius !important;

  padding: 0;
  border: $border-default;
  @include size($input-height);

  .input-group & {
    margin-left: -$gap-sm !important;
    z-index: 6; // when input is focused z-index of input equals to 5
  }

  &:hover, &.sp-active  {
    border-color: $border-color-var;
  }

  &.sp-disabled {
    cursor: not-allowed;
  }

  .sp-preview {
    border: none;
    background-image: none;
    @include size($input-height);
    margin: 0;
    position: relative;

    &:after {
      @include fa-content($fa-var-eye-dropper);
      @include center-absolute;
    }

    .sp-preview-inner {
      background: $body-bg-var;
    }
  }

  .sp-dd {
    display: none;
  }
}

.sp-picker-container {
  padding: $gap-x-sm;
  margin: 0;

  .sp-button-container, .sp-input-container {
    display: none;
  }

  .sp-top {
    margin: 0;
  }
}

// hides clear button and displays the slider at full height
.sp-clear-enabled {
  .sp-hue {
    top: 0;
    height: 100%;
  }

  .sp-clear {
    display: none;
  }
}

.sp-container {
  border-radius: $border-radius-sm;
  border: $border-default;
  background-color: $body-bg-var;
}
