
.copy-box {
  --copy-box-color: #{$gray-600};

  display: inline-flex;
  gap: $gap-sm;
  align-items: center;

  border: $border-default;
  border-radius: var(--bs-border-radius-2xl);
  padding: $gap-x-sm $gap-sm;

  color: var(--copy-box-color);

  .icon-btn {
    font-size: $font-size-base;
  }
}

@include color-mode(dark) {
  .copy-box {
    --copy-box-color: #{$light-grey};
  }
}

@include color-mode(light-contrast) {
  .copy-box {
    --copy-box-color: #{$border-color-var};
  }
}

@include color-mode(dark-contrast) {
  .copy-box {
    --copy-box-color: #{$white};
  }
}
