
$datepicker-border: $border-default;
$datepicker-border-radius: 10px;
$datepicker-item-size: 35px;
$select-height-regular: 30px;
$c-datepicker-btn: #4B4B4B;

#ui-datepicker-div {
  background-color: $c-white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);

  border: $datepicker-border;
  border-radius: $datepicker-border-radius;

  @include flex(column, $gap-sm);
  padding: $gap-sm;
}

.ui-datepicker-calendar {
  border: 1px solid #D0D0D0;
  border-collapse: unset;
  border-radius: $datepicker-border-radius;
  border-spacing: 10px;

  th, td {
    width: 12.5%;
    text-align: center;
  }

  td {
    @include font($font-size-sm, $font-weight-normal);

    a, span {
      @include size($datepicker-item-size);
      line-height: $datepicker-item-size;
      display: inline-block;
      border: 1px solid transparent;
      border-radius: 50%;
      color: $c-black;
    }

    &:not(.ui-datepicker-current-day) {
      a:hover {
        border: $datepicker-border;
      }
    }

    &.ui-datepicker-current-day {
      font-weight: $font-weight-semibold;

      a {
        border: 1px solid #1A3258;
      }
    }

    &.ui-datepicker-other-month, &.ui-state-disabled {
      span, a {
        color: #C0C0C0;
      }
    }

    &.ui-datepicker-unselectable {
      cursor: not-allowed;
    }
  }

  th {
    &:not(.ui-datepicker-week-col) {
      font-weight: $font-weight-normal;
    }
  }

  .ui-datepicker-week-col {
    font-weight: $font-weight-semibold;
  }
}

.ui-datepicker-title, .ui-datepicker-buttonpane {
  @include flex(row, $gap-sm);

  button, {
    flex-grow: 1;
  }

  .select-container {
    width: 50%;
  }
}

.ui-datepicker-buttonpane button {
  border: $datepicker-border;
  color: $c-datepicker-btn;
  @include font($font-size-sm, $font-weight-normal);
}

.ui-datepicker-next, .ui-datepicker-prev, .ui-datepicker-close, .ui-datepicker-current {
  display: none;
}
