
$datepicker-item-size: 35px;

#ui-datepicker-div {
  background-color: var(--main-bg-color);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);

  border: $border-default;
  border-radius: $border-radius;

  @include flex-column($gap-sm);
  padding: $gap-sm;
  z-index: 3;
}

.ui-datepicker-calendar {
  border: $border-default;
  border-collapse: unset;
  border-radius: $border-radius;
  border-spacing: 10px;

  th, td {
    width: 12.5%;
    text-align: center;
  }

  td {
    a, span {
      @include size($datepicker-item-size);
      line-height: $datepicker-item-size;
      display: inline-block;
      border: $border-transparent;
      border-radius: 50%;
      color: var(--text-color-default);
    }

    &:not(.ui-datepicker-current-day) {
      a:hover {
        border: $border-default;
      }
    }

    &.ui-datepicker-current-day {
      font-weight: $font-weight-semibold;

      a {
        border: 1px solid var(--calendar-selected-border-color);
      }
    }

    &.ui-datepicker-other-month, &.ui-state-disabled {
      span, a {
        color: var(--calendar-other-month-color);
      }
    }

    &.ui-datepicker-unselectable {
      cursor: not-allowed;
    }
    
    &.ui-datepicker-today {
      a {
        color: $white;
        background-color: $primary;
      }
    }
  }

  th {
    color: var(--text-color-default);
    &:not(.ui-datepicker-week-col) {
      font-weight: $font-weight-normal;
    }
  }

  .ui-datepicker-week-col {
    font-weight: $font-weight-semibold;
    color: var(--text-color-default);
  }
}

.ui-datepicker-title, .ui-datepicker-buttonpane {
  @include flex-row($gap-sm);

  button, {
    flex-grow: 1;
  }

  .select-container {
    width: 50%;
  }
}

.ui-datepicker-next, .ui-datepicker-prev, .ui-datepicker-close, .ui-datepicker-current {
  display: none;
}
