
.dropdown-toggle, .js-btn-dropdown {
  &::after {
    border: none;
    margin: 0;
    vertical-align: unset;

    @include fa-content($fa-var-caret-down);
  }

  &[aria-expanded="true"]::after {
    content: fa-content($fa-var-caret-up);
  }
}

.dropdown-menu {
  padding: $dropdown-spacer;
  min-width: 250px;
  background-color: var(--main-bg-color);
  border-color: $gray-400;
  position: relative;

  &:before {
    position: absolute;
    content: '';
    inset: $dropdown-spacer;
    border: $border-default;
    border-radius: $border-radius;
    pointer-events: none;
  }

  > li:first-child {
    @include border-top-radius;
    overflow: hidden;
  }

  > li:last-child {
    @include border-bottom-radius;
    overflow: hidden;
  }
}

.dropdown-item {
  color: var(--text-color-default);
  padding: $dropdown-spacer;

  &:active, &:hover, &.selected {
    background-color: $primary;
    font-weight: $font-weight-semibold;
    color: $white;
  }
}

.dropdown.open {
  .dropdown-menu {
    display: block;
    position: absolute;
    inset: 0px 0px auto auto;
  }
}
