
.dropdown-toggle, .js-btn-dropdown {
  &::after {
    border: none;
    margin: 0;
    vertical-align: unset;

    @include fa-content($fa-var-caret-down);
  }

  &[aria-expanded="true"]::after {
    content: fa-content($fa-var-caret-up);
  }
}

.dropdown-menu {
  padding: $dropdown-spacer;
  min-width: 250px;
  background-color: var(--main-bg-color);
  border-color: $gray-400;
}

.dropdown__items-container {
  border: $border-default;
  border-radius: $border-radius;
  overflow: hidden;
}

.dropdown-item {
  color: var(--default-text-color);
  padding: $dropdown-spacer;

  &:active, &:hover, &.selected {
    background-color: $primary;
    font-weight: $font-weight-semibold;
    color: $white;
  }
}

.dropdown.open {
  .dropdown-menu {
    display: block;
    position: absolute;
    inset: 0px 0px auto auto;
  }
}
