.jodit {
  min-height: 100% !important;
}

.jodit-emoji {
  width: 303px;
  @include flex-column($gap-sm);
  overflow: hidden;
  height: 100%;
}

.jodit-emoji__header {
  padding: $gap-x-sm;
}

.jodit-emoji__body {
  @include flex-column($gap-sm);
  overflow-y: auto;
}

.jodit-emoji__group-name {
  margin-bottom: $gap-x-sm;
}

.jodit-emoji__group-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, 36px);
}

.jodit-emoji__symbol {
  font-size: 1.8em;
  text-align: center;

  &:hover {
    filter: brightness(1.2);
  }
}

.jodit-popup__content:has(.jodit-emoji) {
  display: flex;
  overflow: hidden;
  padding: 0;
}
