.text-circle-list {
  list-style-position: inside;
  padding-left: $gap-sm;

  > li {
    position: relative;
    padding-left: 1rem;

    &::before {
      content: "\2022";
      font-size: 1rem;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.list-group-item {
  background-color: var(--main-bg-color);
  .form-label {
    color: var(--text-color-default);
  }
}
