
/*doc
---
title: Loaders
name: loaders
category: Components - Loaders
---
*/

/*doc
---
title: Basic Example
name: loaders_01_example
parent: loaders
---

```htmlexample
<div class="loader">
  <i class="icon icon-spinner icon-pulse"></i>
  <span>Loading</span>
</div>
```

```htmlexample
<div class="loader">
  <i class="icon icon-sync icon-spin"></i>
  <span>Loading</span>
</div>
```
*/

.loader {
  --loader-color: #{$dark-blue};

  z-index: 1003;

  color: var(--loader-color);
  background-color: $body-bg-var;

  border: 1px solid var(--loader-color);
  border-radius: $border-radius-sm;

  @include flex-center;
  gap: $gap-x-sm;
  padding: $gap-x-sm - 2 8px;
  width: min-content;

  white-space: nowrap;
  font-weight: $font-weight-semibold;
}

@include color-mode(dark) {
  .loader {
    --loader-color: #{$light-blue};
  }
}

@include color-mode(light-contrast) {
  .loader {
    --loader-color: #{$con-dark-blue};
  }
}

@include color-mode(dark-contrast) {
  .loader {
    --loader-color: #{$white};
  }
}
