/*doc
---
title: Progress Bars
name: progress
category: Components - Progress Bars
---

A simple progress bar. Current percentage has to applied as inline style (width: xx%)

<small>In a light theme, the percentage text in center is white when the percentage bar overlaps it,
and it got primary color when the bar does not overlap the text. This works even if the text is partially overlapped.
For this, additional elements `.progress-bar-white-bg` and `.progress-bar-white-bg`</code> are used
and a style `mix-blend-mode: difference;` is applied to the percentage text.</small>

```htmlexample
<div class="progress">
    <div class="progress-bar-white-bg"></div>
    <div class="progress-bar"
         role="progressbar"
         aria-valuenow="50"
         aria-valuemin="0"
         aria-valuemax="100"
         style="width: 50%"></div>
    <div class="progress-bar-primary-bg"></div>
    <div class="percentage">50%</div>
</div>
```

```htmlexample
<div class="progress">
    <div class="progress-bar-white-bg"></div>
    <div class="progress-bar"
         role="progressbar"
         aria-valuenow="75"
         aria-valuemin="0"
         aria-valuemax="100"
         style="width: 75%"></div>
    <div class="progress-bar-primary-bg"></div>
    <div class="progress-fraction">3/4</div>
</div>
```
*/

@keyframes progress-looper{0%{left:-100%}to{left:100%}}

.progress {
  position:relative;
  border: 1px solid $primary;
  height: 30px;

  div {
    position: absolute;
    height: 30px;
  }

  .progress-bar-white-bg {
    background: white;
    width: 100%;
    z-index: 1;

    body.dark-theme & {
      display: none;
    }
  }

  .progress-bar {
    background: black;
    width: 50%;
    z-index: 2;


    body.dark-theme & {
      background: $primary;
    }
  }

  .progress-fraction, .percentage {
    @include flex-center;
    font-weight: $font-weight-semibold;
    color: $white;
    z-index: 3;
  }

  .percentage {
    inset: 0;
    width: 100%;
    mix-blend-mode: difference;

    body.dark-theme & {
      mix-blend-mode: unset;
    }
  }

  .progress-fraction {
    top: 0;
    bottom: 0;
    left: $gap-sm;
  }

  .progress-bar-primary-bg {
    background-color: $primary;
    mix-blend-mode: screen;
    width: 100%;
    z-index: 4;

    body.dark-theme & {
      display: none;
    }
  }

  &.loop{
    margin: 0.35em 0;

    &::after {
      -webkit-animation: 2s ease-in-out infinite progress-looper;
      animation: 2s ease-in-out infinite progress-looper;
      content: " ";
      top: 0;
      bottom: 0;
      left: 0;
      position: absolute;
      display: block;
      background-color: $primary;
      width: 75%;
    }
  }
}
