
.query-builder {
  dd {
    margin-left: 0;
  }

  .form-check {
    margin: 0;
  }

  .radio-switch {
    height: 30px;
  }

  .drag-handle {
    display: flex;
    margin: 0;
    order: -2;
  }

  .rules-group-header {
    @include flex-row($gap-sm);
    justify-content: space-between;

    .group-conditions {
      margin-right: auto;
    }
  }

  .rules-group-container {
    border: $border-default;
    border-radius: $border-radius;
    padding: $gap-md;
    background: inherit;

    .rules-group-container {
      background: var(--qb-group-bg-color);
      border-color: transparent;
    }
  }

  .group-actions {
    @include flex-row($gap-sm);
  }

  // adapt vertical container spacing
  .rule-container, .rule-placeholder, .rules-group-container {
    margin: $gap-sm 0;
  }

  .rules-list {
    padding: 0;

    // hide connection lines
    > ::before, > ::after, > :first-child::before {
      display: none;
    }
  }

  // Flex Children
  .rule-header {
    order: 99;
    flex-grow: 0;
    margin-left: auto;
    @include flex-row($gap-sm);
    align-items: center;
    overflow: hidden;
    min-width: $btn-icon-size;
  }

  .rule-actions {
    order: 1;
  }

  .error-container {
    flex-grow: 0;
    margin: 0;
    color: $danger;
  }

  .rule-container {
    background: var(--qb-rule-bg-color);
    display: flex;
    gap: $gap-sm;
    flex: 1 0 auto;
    flex-flow: row nowrap;
    justify-content: left;
    align-items: center;

    border: $border-default;
    border-radius: $border-radius;
    padding: $gap-sm;

    &.has-error {
      background-color: #f9dcdd;
    }

    .rule-operator-container, .rule-filter-container {
      flex-grow: 1;
      margin: 0;

      &:empty {
        display: none;
      }
    }

    .rule-value-container {
      @include flex-row($gap-sm);
      flex: 1 1 auto;
      flex-wrap: wrap;
      margin: 0;
      padding-left: 0;
      border: none;

      .form-label {
        font-weight: $font-weight-semibold;
      }

      .form-control {
        @extend .form-control;
      }
    }

    .rule-operator-conditions-container {
      overflow: hidden;

      &:empty {
        display: none;
      }
    }

    .input-group {
      width: auto;
      flex-wrap: nowrap;
      flex: 1;

      &:has(.input-group-text:not(.hidden)) {
        .form-control {
          min-width: 50px;
        }
      }
    }
  }

  .qb-dateformat-block {
    @include flex-row($gap-sm);
    align-items: center;
    flex: 1;

    .form-label {
      @include flex-row($gap-x-sm);
      align-items: center;
      white-space: nowrap;
    }
  }

  .rule-value-container > .form-control {
    width: auto;
    flex-grow: 1;
  }

  .qb-select-container {
    min-width: 0;
    flex: 1;
  }

  @include mobile {
    .rule-container {
      flex-wrap: wrap;
    }

    .rule-filter-container, .rule-operator-container, .rule-value-container {
      width: 100%;
    }

    .rule-value-container {
      .input-group {
        min-width: 0;
      }
    }

    .rule-header {
      order: 0
    }

    .group-conditions {
      order: -1;
    }

    .error-container {
      order: -2;
    }

    .qb-select-container {
      width: 100%;
      flex-basis: auto;
    }
  }
}

