
.form-switch {
  display: flex;
  align-items: center;
  gap: 5px;
  
  .form-check-input {
    margin-top: 0;
    margin-bottom: 0;
    
    @function switch-toggle-variant($circle-color) {
      @return url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='4.1' fill='#{$circle-color}'/></svg>"); 
    }
    
    background-image: escape-svg(switch-toggle-variant($gray-400));
    
    &:focus {
      background-image: escape-svg(switch-toggle-variant($form-switch-focus-color));
      
    }

    &:checked {
      @if $enable-gradients {
        background-image: escape-svg(switch-toggle-variant($form-switch-checked-color)), var(--#{$prefix}gradient);
      } @else {
        background-image: escape-svg(switch-toggle-variant($form-switch-checked-color));
      }
    }
  }
  
  .form-check-label {
    margin-bottom: 0;
    font-size: $font-size-sm;
  }
}

.icon-switch {
  display: none;
}

.icon-switch__label {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 18px;
  border-radius: 5px;
  overflow: hidden;
  background-color: $gray-400;

  i {
    @include size(18px);
    @include flex-center();
    position: absolute;
    top: 0;
    font-size: 8px;
    color: white;
    border-radius: 5px;
    transition: background-color 0.15s ease-in-out;
    cursor: pointer;

    // off state
    &:first-child {
      left: 0;
      background-color: $primary;
    }

    &:last-child {
      right: 0;
      background-color: transparent;
    }
  }

  // on state
  .icon-switch:checked + & {
    i:first-child {
      background-color: transparent;
    }
    i:last-child {
      background-color: $primary;
    }
  }
}

.tile-controls {
  .icon-switch__label {
    width: 70px;
    height: 30px;

    i {
      @include size(35px, 30px);
      font-size: $font-size-base;
    }
  }
}
