.text-light-blue {
  color: $light-blue !important;
}

.fw-medium, .fw-500 {
  font-weight: 500 !important;
}

.fs-inherit {
  font-size: inherit !important;
}

.text-color-default {
  color: var(--text-color-default) !important;
}

.text-bg-dark-green {
  background: $stat-or-badge-dark-green !important;
  color: $white !important;
}

.text-bg-light-green {
  background: $success !important;
  color: $white !important;
}

.text-bg-dark-violet {
  background: $stat-or-badge-violet-dark !important;
  color: $white !important;
}

.text-bg-danger-dark {
  background: $stat-or-badge-red !important;
}
