
.char-counter {
  position: relative;
  
  & > * {
    color: var(--text-dark-gray-color);
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -21px;
    font-size: $font-size-sm;
  }
}
