
.switchable-input {
  @extend .card;
  @extend .border;
  @extend .rounded;

  &__header {
    @extend .card-header;
    @extend .bg-transparent;
    display: flex;
    justify-content: space-between;
    border-bottom-color: transparent;
  }

  &__label {
    @extend .form-label;
    margin: 0;
  }

  &__switch {
    @extend .form-check;
    @extend .form-switch;
  }

  &__body {
    @extend .card-body;
  }
}
