
.date-picker-container {
  position: relative;

  i {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #4B4B4B;
  }

  &.is-active {
    i {
      color: #0071B9;
    }
  }
}
