
.dropzone {
  --dropzone-color: #{$blue};

  @include flex-center;
  border: 1px dashed var(--dropzone-color);
  border-radius: $border-radius;
  padding: $gap-sm;

  @include transition(background-color 0.3s);

  &.drag-over {
    background-color: rgba(0, 113, 185, 0.30);
  }

  min-height: 77px;

  .btn-upload {
    padding-inline: 7px;
  }
}

.dropzone-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: $gap-sm;

  b {
    margin-right: $gap-sm;
    color: var(--dropzone-color);
  }
}

@include color-mode(light-contrast) {
  .dropzone {
    --dropzone-color: #{$con-dark-blue};
  }
}

@include color-mode(dark-contrast) {
  .dropzone {
    --dropzone-color: #{$white};
  }
}
