
.dropzone {
  @include flex-center;
  border: 1px dashed $primary;
  border-radius: $border-radius;
  padding: $gap-sm;

  @include transition(background-color 0.3s);

  &.drag-over {
    background-color: rgba(0, 113, 185, 0.30);
  }

  min-height: 77px;
}

.dropzone-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: $gap-sm;

  strong {
    margin-right: $gap-sm;
    color: $primary;
  }
}
