
.inline-input-range {
  @include flex-row($gap-x-sm);
  align-items: center;

  > *:first-child {
    order: -1;
  }

  &:before {
    content: '-';
  }
}

// base styles
.input-icon-container {
  --input-container-icon-color: #{$dark-grey};
  --input-container-active-icon-color: #{$blue};

  position: relative;
  border-radius: $border-radius;
  height: min-content;

  &::after {
    color: var(--input-container-icon-color);

    position: absolute;
    top: 50%;
    right: $gap-sm;
    transform: translateY(-50%);
  }

  > .form-control {
    padding-right: 30px;
  }
}

@include color-mode(dark) {
  .input-icon-container {
    --input-container-icon-color: #{$light-grey};
    --input-container-active-icon-color: #{$light-blue};
  }
}

@include color-mode(light-contrast) {
  .input-icon-container {
    --input-container-icon-color: #{$con-dark-blue};
    --input-container-active-icon-color: #{$con-blue};
  }
}

@include color-mode(dark-contrast) {
  .input-icon-container {
    --input-container-icon-color: #{$white};
    --input-container-active-icon-color: #{$con-grey};
  }
}

.search-container {
  @extend .input-icon-container;
  &::after {
    @include fa-content($fa-var-search);
  }
}

.input-status-container {
  position: relative;
  border-radius: $border-radius;

  .status-badge {
    position: absolute;
    top: 50%;
    right: $gap-sm;
    transform: translateY(-50%);
  }

  > .form-control {
    padding-right: 35px;
  }
}

.date-picker-container, .time-picker-container {
  @extend .input-icon-container;

  &::after {
    cursor: pointer;
  }

  &.is-active::after {
    color: var(--input-container-active-icon-color);
  }

  &:has(input:disabled), &:has(input[readonly]) {
    &::after {
      cursor: not-allowed;
    }
  }

  .tile-controls & {
    width: 115px;
  }
}

.date-picker-container::after {
  @include fa-content($fa-var-calendar-alt);
}

.time-picker-container::after {
  @include fa-content($fa-var-clock);
}

.has-feedback {
  .date-picker-container, .time-picker-container,
  &.date-picker-container, &.time-picker-container {
    &::after {
      top: 15px;
    }
  }
}

.date-time-container {
  @include flex-row($gap-x-sm);

  .date-picker-container {
    flex: 1.75 0 115px;
    min-width: 115px;
  }

  .time-picker-container {
    flex: 1 0 80px;
    min-width: 80px;
  }
}

.text-area-grow-wrapper {
  display: grid;

  &::after {
    /* Note the weird space! Needed to prevent jumpy behavior */
    content: attr(data-replicated-value) " ";
    white-space: pre-wrap;
    overflow-wrap: anywhere;

    visibility: hidden; // Hidden from view, clicks, and screen readers
    padding: $input-padding-y + 1px $input-padding-x + 1px;
  }

  textarea {
    resize: none;
    overflow: hidden;
  }

  > textarea, &::after {
    grid-area: 1 / 1 / 2 / 2; // Should occupy the first (and only) cell of the grid
  }
}
