
.input-group-text {
  height: $input-height;
}

.input-group-text--dark {
  background: $dark-grey;
  color: $white;
  border-color: $dark-grey;
  font-weight: $font-weight-semibold;
}

.input-group-text--disabled, .input-group-text.disabled {
  background: var(--input-disabled-bg-color);
  color: var(--input-disabled-color);
  border-color: $border-color;
  font-weight: $font-weight-normal;
}

.input-groups {
  display: grid;
  grid-template-columns: min-content 1fr;
  row-gap: $gap-sm;

  .input-group {
    display: contents;

    .input-group-text {
      @include flex-center;
    }

    .form-control {
      width: auto;
    }
  }
}

.input-group {
  > .btn:first-child {
    font-weight: $font-weight-normal;
    padding: $gap-x-sm $gap-sm - 1;
  }
}

// input group validation (rewrite of some bootstrap styles)
.input-group.has-feedback {
  > .btn:first-child {
    @include border-bottom-radius(0 !important);
  }
  > .form-control {
    border-top-right-radius: $border-radius !important;
  }

  > .form-control-feedback-message:last-child {
    @include border-bottom-radius($border-radius !important);
    margin-left: 0 !important;
    width: 100%;
  }
}
