
@mixin form-control-validation($color: $light-grey, $border-color: $color) {
  .form-label {
    color: #{$color};
  }
  // Set the border and box shadow on specific inputs to match
  .form-control, .select2-container .select2-selection.form-control {
    border-color: #{$border-color};
    @include border-bottom-radius(0);
  }
}

.has-feedback {
  @include form-control-validation("var(--label-color)", $border-color);

  .form-control-feedback-message {
    color: var(--validation-feedback-color);
    background-color: var(--validation-feedback-bg-color);
    border: $border-default;
    border-top: none;
  }
}

@each $conf in $states {
  $state: nth($conf, 1);
  $color: nth($conf, 2);

  .has-#{$state} {
    @include form-control-validation($color);

    .form-control-feedback-message {
      background-color: $color;
      color: $white;
      border-color: $color;
    }
  }
}

.form-control-feedback-message {
  @include flex-row($gap-x-sm);
  align-items: center;
  padding: $gap-x-sm $gap-sm;
  color: $white;

  &:last-child {
    @include border-bottom-radius;
  }
}
