
@import "inbox-preview";
@import "mailing-settings";
@import "mailing-content";
@import "mailing-priority";

.mailing-preview-frame {
  display: block;
  border: none;
  margin: 0 auto;
  background-color: $white;
}
