.mailing-priority-container {
  @include flex-column($gap-md);
  min-height: 100%;

  &.highlighted {
    background-color: rgba(0, 113, 185, 0.3);
  }

  .notification-simple {
    display: none;

    &:only-child {
      display: flex;
    }
  }
}

.mailing-priority {
  --horizontal-card-spacer: #{$gap-sm} !important;

  &__order {
    min-width: 60px;
    font-size: 24px;
    display: none;

    #ordered-area & {
      @extend .flex-center;
    }
  }

  &__drag-btn {
    font-size: 20px !important;
    margin-right: $gap-sm;
  }
}
