
#frame-content-tab {
  @include flex-column($gap-md);

  .tile-footer {
    @include flex-row($gap-sm);
    justify-content: space-between;
  }

  @include mobile {
    padding: 0;
    gap: 0;

    .tile {
      border-radius: 0;
      border: none;
    }

    .tile-header {
      border: 0;
      border-bottom: $border-default;
    }

    .tile-body {
      min-height: 300px;
    }

    .tile-footer {
      background-color: var(--tile-footer-bg);
      min-height: 0;
      padding: $gap-sm;
      @include flex-column($gap-sm);
    }
  }
}

#mediatypes-list {
  gap: $gap-x-sm;

  .list-group-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: $border-default;
    border-radius: $border-radius;
    padding: $gap-x-sm $gap-sm;

    --bs-list-group-disabled-bg: var(--base-disabled-bg);
    --bs-list-group-disabled-color: #{$body-color-var};

    .list-group-item-controls {
      display: flex;
      align-items: center;
      gap: $gap-x-sm;
      color: $body-color-var;
    }
  }

  .mediatype-item {
    @include flex-row($gap-x-sm);

    .input-group {
      span:first-child {
        justify-content: center;
        width: 30px;
      }
      span:last-child {
        flex-grow: 1;
        justify-content: space-between;
        background-color: var(--bs-body-bg);
      }
    }
  }

  .icon-angle-up:first-of-type, .icon-angle-down:last-of-type {
    display: none;
  }
}

[data-workflow-driven='true'] {
  & + .select2-container {
    .select2-selection.form-control {
      cursor: not-allowed;
      display: flex;
      gap: $gap-sm;
      background-color: var(--base-disabled-bg);
      
      &[aria-disabled="true"] {
        background-color: var(--base-disabled-bg);
      }
    }
    .select2-search {
      cursor: not-allowed;
      display: flex;
      gap: $gap-x-sm;
      a {
        margin-left: 5px;
      }
    }
    .select2-search__field {
      cursor: not-allowed;
    }
  }
}

#regular-targets-box {
  @include flex-column($gap-md);
}

#target-mode-box {
  @include flex-row($gap-x-sm);
  align-items: center;
}
