.mailing-priority-container {

  --mailing-priority-higlighted-container-bg: rgba(0, 113, 185, 0.3);

  @include flex-column($gap-md);
  min-height: 100%;

  &.highlighted {
    background-color: var(--mailing-priority-higlighted-container-bg);
  }

  .notification-simple {
    display: none;

    &:only-child {
      display: flex;
    }
  }
}

@include contrast-themes {
  .mailing-priority-container {
    --mailing-priority-higlighted-container-bg: #{$con-blue};
  }
}

.mailing-priority {
  --horizontal-card-spacer: #{$gap-sm};
  --horizontal-card-thumbnail-size: 60px;

  &__order {
    min-width: 60px;
    font-size: 24px;
    display: none;

    #ordered-area & {
      @extend .flex-center;
    }
  }

  &__drag-btn {
    font-size: 20px !important;
    margin-right: $gap-sm;
  }
}
