<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="org.agnitas, com.agnitas">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
		<context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
	</context:component-scan>
	
	<!-- thread pool for asynchronous calls -->
	<bean id="WorkerExecutorService" class="java.util.concurrent.ScheduledThreadPoolExecutor">
		<constructor-arg value="10" type="int" />
	</bean>
	<!-- 
	<bean id="WorkerExecutorService" class="java.util.concurrent.ScheduledThreadPoolExecutor">
		<constructor-arg value="10" type="int" />
		<constructor-arg type="java.util.concurrent.ThreadFactory">
			<bean class="com.agnitas.util.threads.NamingThreadFactory">
				<constructor-arg type="java.util.concurrent.ThreadFactory">
					<bean class="java.util.concurrent.Executors" factory-method="defaultThreadFactory" />
				</constructor-arg>
				<constructor-arg type="java.lang.String" value="WorkerExecutorService-reports-thread" />
			</bean>
		</constructor-arg>
	</bean>
	-->
	
    <bean id="ConfigService" class="org.agnitas.emm.core.commons.util.ConfigService">
   		<property name="permissionService" ref="permissionService" />
   		<property name="licenseDao" ref="licenseDao" />
   		<property name="configTableDao" ref="configTableDao" />
   		<property name="companyInfoDao" ref="companyInfoDao" />
   		<property name="serverMessageDao" ref="serverMessageDao" />
   		<property name="recipientFieldService" ref="RecipientFieldService" />
   	</bean>

	<bean id="WorkflowDataParser" class="com.agnitas.emm.core.workflow.service.WorkflowDataParser" />
    
    <bean id="permissionService" class="com.agnitas.emm.core.permission.service.PermissionServiceImpl">
    	<property name="permissionDao" ref="permissionDao" />
    </bean>
	
    <bean id="permissionDao" class="com.agnitas.dao.impl.PermissionDaoImpl" >
        <property name="dataSource" ref="dataSource" />
    </bean>
    
    <bean id="licenseDao" class="com.agnitas.dao.impl.LicenseDaoImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>
    
    <bean id="configTableDao" class="com.agnitas.dao.impl.ConfigTableDaoImpl">
   		<property name="dataSource" ref="dataSource" />
   	</bean>
    
    <bean id="companyInfoDao" class="org.agnitas.emm.core.commons.util.CompanyInfoDao">
   		<property name="dataSource" ref="dataSource" />
   	</bean>
    
    <bean id="serverMessageDao" class="com.agnitas.dao.impl.ServerMessageDaoImpl">
   		<property name="dataSource" ref="dataSource" />
   	</bean>
	
	<bean id="RecipientFieldService" class="com.agnitas.emm.core.service.impl.RecipientFieldServiceImpl">
		<property name="configService" ref="ConfigService" />
		<property name="recipientFieldsCache" ref="RecipientFieldsCache"/>
		<property name="recipientFieldDao" ref="RecipientFieldDao"/>
		<property name="profileFieldDao" ref="ProfileFieldDao"/>
		<property name="recipientProfileHistoryService" ref="RecipientProfileHistoryService"/>
	</bean>

	<bean id="RecipientProfileHistoryService" class="com.agnitas.emm.core.recipient.service.impl.RecipientProfileHistoryServiceImpl">
		<property name="recipientProfileHistoryDao" ref="RecipientProfileHistoryDao" />
		<property name="configService" ref="ConfigService" />
		<property name="profileFieldDao" ref="ProfileFieldDao" />
		<property name="recipientFieldService" ref="RecipientFieldService" />
	</bean>
	
	<bean id="RecipientFieldsCache" class="com.agnitas.emm.core.service.impl.RecipientFieldsCacheImpl">
		<constructor-arg ref="ConfigService" />
	</bean>

	<bean id="RecipientFieldDao" class="com.agnitas.emm.core.dao.impl.RecipientFieldDaoImpl">
		<constructor-arg ref="dataSource" />
		<constructor-arg name="javaMailService">
			<null />
		</constructor-arg>
		<constructor-arg ref="ConfigService" />
	</bean>

    <bean id="ProfileFieldDao" class="com.agnitas.dao.impl.ProfileFieldDaoImpl">
   		<property name="dataSource" ref="dataSource" />
   	</bean>

	<bean id="RecipientProfileHistoryDao" class="com.agnitas.emm.core.recipient.dao.impl.RecipientProfileHistoryDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
</beans>
