
$mediatypes-icons-defs:(
  0 $fa-var-at,
  2 $fa-var-envelope-open-text,
  4 $fa-var-mobile-alt
);

@each $conf in $mediatypes-icons-defs {
  $typeId: nth($conf, 1);
  $icon: nth($conf, 2);

  .icon-mediatype-#{$typeId} {
    color: $light-grey;

    &:before {
      content: fa-content($icon);
    }
  }
}

.icon-mediatype--active {
  color: $blue-var;
}
