
$campaign-icon-height: 40px;
$campaign-empty-icon-color: $gray-600;
$campaign-icon-color: $blue;
$campaign-focused-icon-color: $light-blue;
$campaign-icon-title-color: var(--label-color);

@import 'context-menu';
@import 'comment';
@import 'node-editor.scss';

#pageCampaignEditorContainer {
  @import 'toolbar';
  @import 'canvas';
  @import 'node';
  @import 'title';
  @import 'connection';
  @import 'minimap';
  @import 'zoom';
}

.ui-selectable {
  touch-action: none;
}

.ui-selectable-helper { // blue rectangle on select
  border: 1px dotted blue !important;
  background-color: rgba(0, 0, 255, 0.05) !important;
  position: absolute;
  z-index: 100;
}

#navigator {
  @include flex-column($gap-x-sm);
  position: absolute;
  top: 25px;
  right: 25px;
  border: $border-default;
  border-radius: $border-radius;
  padding: $gap-x-sm;
  background-color: var(--main-bg-color);
}
