
.editor-content-body {
  @include size(100%);
}

.editor-content-body-bottom {
  @include size(100%);
  max-height: calc(100% - 73px); // todo fix
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
}

#viewPort {
  position: relative;
  margin-right: auto;
  @include size(100%);
  background-color: transparent;
  z-index: 10; /* be careful modifying this, synchronize with JS: Z_INDEX_VIEW_PORT */
  overflow: hidden;
}

#viewPort.js-panning {
  cursor: move;
}

#grid-background {
  background-image: linear-gradient( #bbb, transparent 1px), linear-gradient( 90deg, #bbb, transparent 1px);
  position: absolute;
  @include size(100%);
}

#canvas, #selection-backdrop {
  position: absolute;
  inset: 0;
}

#selection-backdrop {
  display: none;
  z-index: 10000;
}

#canvas {
  &:has(.jtk-dragged), &:has(.draggable-node) {
    cursor: grabbing;
    .node {
      pointer-events: none;
    }
  }

  &:has(.js-collision-detected) {
    cursor: no-drop !important;
  }

  &:has(.jtk-connector.jtk-hover) {
    cursor: grabbing !important;
  }
}
