
.node.icon-commented::before {
  background: url("assets/core/images/campaignManager/comment_context_s.png") no-repeat center/15px;
  content: "";
  display: block;

}

.node-comment-button {
  position: absolute;
  @include size(15px);
  color: $primary;
  right: 0;
  bottom: 10px;
  z-index: 20;
  
  svg {
    @include size(100%);
    z-index: 1;
  }
}

//.node.icon-commented[comment-footnote]::before {
//  background: none;
//  background-color: #0071b9;
//  content: attr(comment-footnote);
//
//  position: absolute;
//  bottom: 0;
//  right: 0;
//
//  width: auto;
//  min-width: 1.3rem;
//  height: 1.3rem;
//  line-height: 1.3;
//  text-align: center;
//  padding: .15rem .2rem;
//
//  font-size: .8rem;
//  color: #fff;
//  border-radius: 50%;
//}
