
.context-menu-root.context-menu-list {
  --context-menu-item-hover-bg: #{$blue};
  --context-menu-item-hover-color: #{$white};
  --context-menu-item-color: #{$dark-grey};

  @include border;
  @include flex-column;
  overflow: hidden;
  padding: $gap-x-sm;
  z-index: 40 !important; /* be careful modifying this, synchronize with JS: Z_INDEX_CONTEXT_MENU */
  color: var(--context-menu-item-color);
  background-color: $body-bg-var;
  
  &::before { // inner border
    content: "";
    @include border;
    display: block;
    position: absolute;
    overflow: hidden;
    inset: 4px;
    z-index: -1;
  }

  .context-menu-item {
    @include flex-row($gap-x-sm);
    align-items: center;
    background-color: $body-bg-var;
    @include font($font-size-base, $font-weight-base);
    padding: $gap-x-sm $gap-sm;

    span {
      font-family: "Poppins";
    }
    
    &:first-of-type {
      @include border-top-radius;
    }

    &:last-of-type {
      @include border-bottom-radius;
    }

    &:hover {
      background-color: var(--context-menu-item-hover-bg);
      color: var(--context-menu-item-hover-color);
    }
  }
}

@include color-mode(dark) {
  .context-menu-root.context-menu-list {
    --context-menu-item-color: #{$light-grey};
  }
}

@include color-mode(light-contrast) {
  .context-menu-root.context-menu-list {
    --context-menu-item-hover-bg: #{$con-dark-blue};
    --context-menu-item-color: #{$con-dark-blue};
  }
}

@include color-mode(dark-contrast) {
  .context-menu-root.context-menu-list {
    --context-menu-item-hover-bg: #{$white};
    --context-menu-item-hover-color: #{$con-dark-blue};
    --context-menu-item-color: #{$white};
  }
}
