
#icon-titles-container {
  @include size(100%);
  z-index: 5; /* be careful modifying this, synchronize with JS: Z_INDEX_ICON_TITLES_CONTAINER */
}

.icon-title {
  display: block;
  position: absolute;
  width: 94px; /* Same width as node + padding */
  padding: 5px 15px;
  font-size: 10px;
  line-height: 18px;
  max-height: 118px;  /* 6 lines of text + padding */
  text-align: left;
  color: var(--workflow-title-color);
  border-radius: 4px;
  word-break: break-word;
  overflow: hidden;

  &.expandable::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 41px;  /* 2 lines of text + bottom padding */
    background: linear-gradient(to top,
            $body-bg-var 0%,
            transparent          80%
    );
  }

  &.expanded {
    max-height: none;
    color: var(--workflow-node-hover-color);
    z-index: 19 !important; /* be careful modifying this, synchronize with JS: Z_INDEX_ICON_TITLE_HOVER */
  }
}
