
$campaign-editor-toolbar-icon-height: 30px;
$campaign-editor-toolbar-icon-default-width: 40px; // some icons have custom width

.toolbar {
  display: flex;
  justify-content: space-between;
  padding: $gap-sm $gap;
  border-bottom: $border-default;

  &__icons {
    display: flex;
    gap: 30px;
    min-width: 0;
    div {
      min-width: 0;
    }
  }

  &__icon-set {
    display: flex;
    gap: $gap-sm;
    flex-wrap: wrap;
  }

  &__icon {
    @include size($campaign-editor-toolbar-icon-height);
    color: var(--workflow-node-active-image-color);
    outline: none;
    
    &:not(.disabled) {
      cursor: pointer;
    }

    &:hover:not(.disabled), &:active:not(.disabled) {
      color: var(--workflow-node-hover-color);
    }

    svg {
      @include size(100%);
    }
  }

  &__actions {
    min-width: min-content;
  }
  
  .active {
    color: var(--workflow-node-hover-color);
  }

  .w-40 {
    width: 40px !important;
  }

  .w-35 {
    width: 35px;
  }

  .w-30 {
    width: 30px !important;
  }

  .w-26 {
    width: 26px;
  }

  .w-22 {
    width: 22px;
  }
}
