#tile-importexport-schedule-time {
  table {
    th {
      padding: 10px 20px;
    }

    td {
      vertical-align: top;
    }

    .day-wrapper {
      padding: 10px 10px 0 30px;
    }

    .schedule-settings-wrapper {
      padding: 10px 30px 0 10px;
    }
  }
}
