
.breadcrumbs {
  --breadcrumbs-color: #{$dark-blue};

  @include flex-wrap(nowrap);
  min-width: 0;
  margin: 0;
  gap: $gap-sm;

  color: var(--breadcrumbs-color);

  li {
    @extend .flex-center;
    text-wrap: nowrap;

    span, a {
      @include font($font-size-md, $font-weight-semibold, initial);
    }

    &:last-child {
      min-width: 0;
      span, a {
        @include text-truncate;
      }
    }
  }

  .arrow {
    font-size: $font-size-sm;
  }
}

@include color-mode(dark) {
  .breadcrumbs {
    --breadcrumbs-color: #{$light-blue};
  }
}

@include color-mode(light-contrast) {
  .breadcrumbs {
    --breadcrumbs-color: #{$con-dark-blue};
  }
}

@include color-mode(dark-contrast) {
  .breadcrumbs {
    --breadcrumbs-color: #{$white};
  }
}
