.l-company-insights {

  .l-chart {
    height: 300px;
    float: left;
    margin: 0 10px 10px 20px;
    position: relative;

    @media screen and (min-width: $screen-lg) {
      width: 400px;
      height: 400px;
      margin: 0 30px 0 30px;
    }

    .l-chart-header {
      height: 50px;

      .headline {
        margin: 16px;
        font-size: $fs-large;
        font-weight: $fw-semi;
        color: $c-black-85;
        float: left;
      }

      .l-chart-actions {
        float: right;

        .dropdown-toggle {
          padding: 16px 10px;
          display: block;
          color: $c-black-82;

          &:hover,
          &:focus,
          &:active {
            color: $c-black-82;
          }
        }
      }
    }

    .c3-text {
      font-family: "Arial", sans-serif;
    }

    .l-revenue-chart-icons {
      float: left;
      position: absolute;
      z-index: 10;
      margin-top: 12px;

      @media screen and (min-width: $screen-lg) {
        margin-top: 15px;
      }

      .l-revenue-chart-icon {
        color: white;
        margin-top: 5px;
        width: 50px;
        height: 50px;
        background-size: cover;

        @media screen and (min-width: $screen-lg) {
          margin-top: 1px;
          width: 60px;
          height: 60px;
        }
      }
    }
  }

  .l-chart-wide {
    @media screen and (min-width: $screen-lg) {
      width: 860px;
    }
  }

  .l-chart-low {
    height: 350px;
  }

  .cash-cow {
    background: url(core/images/recipient_revenue_cash_cow.png) no-repeat;
  }

  .poor-dog {
    background: url(core/images/recipient_revenue_poor_dog.png) no-repeat;
  }

  .question-mark {
    background: url(core/images/recipient_revenue_question_mark.png) no-repeat;
  }

  .rising-star {
    background: url(core/images/recipient_revenue_rising_star.png) no-repeat left;
  }

  #l-impression-statistic {
    background-color: #2c2c2e;
    width: 100%;
    padding: 20px;
    text-align: justify;
  }

  .l-stat-head {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
  }

  .l-stat-content {
    background-color: #3d3e40;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    height: 105px;
  }

  .l-retargeting-stat-content {
    background-color: #3d3e40;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    height: 105px;
    padding-right: 10px;
  }

  .l-stat-val {
    color: #6b6b6b;
    float: right;
    margin-right: 15px;
  }

  .l-stat-horizontal-separator {
    border-color: #6b6b6b;
    width: 85%;
  }

  .l-impression-stat-block {
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
    text-align: left;
  }

  #l-impression-statistic:after {
    width: 100%;
    display: inline-block;
    content: '';
  }

  .l-stat-name {
    margin-left: 15px;
    font-weight: bold;
  }

  .l-single-stat-name {
    margin-left: 15px;
    font-weight: bold;
    display: block;
    padding-right: 15px;
  }

  .l-stat-white {
    color: white;
  }

  .l-stat-sign {
    color: #6b6b6b;
    font-size: 30px;
    margin-left: 10px;
  }

  .l-big-stat-val {
    margin-left: 15px;
    font-size: 30px;
    font-weight: bold;
  }

  .l-stat-grey {
    color: #6b6b6b;
  }

  .l-stat-vertical-separator {
    display: inline-block;
    border-left: 1px solid #6b6b6b;
    height: 85%;
  }

  .l-stat-inner {
    display: inline-block;
    width: 150px;
    margin-right: 10px;
  }
}

#notificationGlobalStatusStat .c3-text {
  fill: #000000 !important;
  font-weight: normal !important;
}

#l-favDays-stat-block {
  min-width: 150px;
}

#l-favTime-stat-block {
  min-width: 150px;
}

#l-ctr-stat-block {
  width: 135px;
}

#l-conversion-stat-block {
  width: 135px;
}

#l-retargeting-stat-block {
  width: 510px;
}

.l-recipient-insights {
  overflow: hidden;

  .row {
    padding: 0 15px;
  }

  .tile-separator {
    margin-left: 30px;
    margin-right: 30px;
  }

  .l-chart {
    padding: 10px 10px 30px 10px;

    .l-chart-header {
      height: 50px;

      .headline {
        margin: 16px;
        font-size: $fs-large;
        font-weight: $fw-semi;
        color: $c-black-85;
        float: left;
      }

      .l-chart-actions {
        float: right;

        .dropdown-toggle {
          padding: 16px 10px;
          display: block;
          color: $c-black-82;

          &:hover,
          &:focus,
          &:active {
            color: $c-black-82;
          }
        }
      }
    }
  }

  @media screen and (min-width: $screen-md) {
    .l-chart-1 {
      float: left;
      width: 41%;
    }

    .l-chart-2 {
      float: right;
      width: 59%;
    }

    .l-chart-3 {
      float: left;
      width: 100%;
    }
  }

  @media screen and (min-width: $screen-lg) {
    .l-chart {
      padding: 10px 20px 30px 20px;
    }

    .l-chart-1 {
      width: 28%;
    }

    .l-chart-2 {
      float: left;
      width: 40%;
    }

    .l-chart-3 {
      width: 32%;
    }

    .l-chart-4 {
      float: left;
      width: 60%;
    }

    .l-chart-5 {
      float: left;
      width: 40%;
    }
  }

  .l-kpi-statistics {
    background-color: #2c2c2e;
    width: 100%;
    padding: 0 10px;
    text-align: justify;

    &:after {
      width: 100%;
      display: inline-block;
      content: '';
    }
  }

  .l-kpi-block {
    display: inline-block;
    padding: 0 7px;
    margin-top: 20px;
    text-align: left;
    vertical-align: top;
  }

  .l-kpi-head {
    color: white;
    font-weight: bold;
    line-height: 30px;
    text-transform: uppercase;
  }

  .l-kpi-content {
    height: 105px;
    padding: 12px;
    background-color: #3d3e40;
    color: #6b6b6b;
    white-space: nowrap;
  }

  .l-kpi-section {
    display: inline-block;
    position: relative;
    vertical-align: top;
  }

  .l-kpi-separator {
    display: inline-block;
    width: 1px;
    height: 100%;
    margin: 0 12px;
    background-color: #6b6b6b;
  }

  .l-kpi-primary {
    font-size: 30px;
    line-height: 30px;

    .revenue-icon {
      width: 50px;
      height: 50px;
      margin: -10px;
    }
  }

  .l-kpi-secondary {
    font-size: 15px;
    line-height: 21px;
  }

  .l-kpi-value {
    color: white;
    font-weight: bold;
  }

  .l-kpi-sign {
  }

  .l-kpi-comment {
    position: relative;
    line-height: 20px;
    margin-top: 10px;
    font-weight: bold;
    white-space: initial;

    span {
      position: absolute;
    }
  }

  #reactionTypeKpi {
    min-width: 215px;
  }

  #revenueSumKpi {
    min-width: 90px;
  }

  #revenueAvgKpi {
    min-width: 85px;
  }

  #performanceClicksKpi {
    min-width: 110px;
  }

  #performanceRevenueKpi {
    min-width: 100px;
  }

  #impressionsByClickKpi, #impressionsByVisitKpi, #impressionsByBuyKpi {
    min-width: 115px;
  }

  .revenue-icon {
    display: inline-block;

    &.cash-cow {
      background: url(core/images/recipient_revenue_cash_cow.png) no-repeat;
      background-size: contain;
    }

    &.poor-dog {
      background: url(core/images/recipient_revenue_poor_dog.png) no-repeat;
      background-size: contain;
    }

    &.question-mark {
      background: url(core/images/recipient_revenue_question_mark.png) no-repeat;
      background-size: contain;
    }

    &.rising-star {
      background: url(core/images/recipient_revenue_rising_star.png) no-repeat;
      background-size: contain;
    }
  }
}

#reaction-weekday-chart {
  .c3-axis-x {
    .domain, .tick > line {
      display: none;
    }

    .tick > text {
      fill: $c-gray-33;
      font-size: $fs-tiny;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  .c3-texts {
    .c3-text {
      fill: $c-gray-33 !important;
      @include translateY(-5px);
    }
  }
}

#reaction-hour-chart {
  .c3-axis-x {
    .domain, .tick > line {
      display: none;
    }

    .tick > text {
      fill: $c-gray-33;
      font-size: $fs-tiny;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  .c3-texts {
    .c3-text {
      visibility: hidden;
      fill: $c-gray-33 !important;
      @include translateY(-5px);
    }
  }
}

#mailings-revenue-rating-table {
  width: 100%;
  position: relative;

  @media screen and (min-width: $screen-lg) {
    max-height: 200px;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  table {
    width: 100%;
  }

  tr {
    line-height: 29px;

    td {
      padding: 0 7px;
    }

    th {
      padding: 0 7px;
      text-align: left;
      text-transform: uppercase;
      color: $c-gray-33;
      font-size: $fs-xtiny;
      white-space: nowrap;

      span:hover {
        color: $c-gray-27;
      }

      .icon-arrow-up {
        @include translateY(-1px);
      }
    }
  }

  tbody {
    tr {
      border-top: solid 1px $c-gray-11;
      &:hover {
        background-color: $c-gray-02;
      }
    }
  }

  td {
    &.l-revenue-date {
      color: $c-gray-33;
    }

    &.l-revenue-value {
      font-weight: bold;
      color: $c-black-85;
    }

    &.l-revenue-name {
      max-width: 240px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      a {
        border-bottom: solid 1px lightblue;
        color: $c-blue-27;
      }
    }

    &.l-revenue-unavailable {
      line-height: 50px;
      color: $c-gray-33;
      font-size: $fs-xlarge;
    }
  }
}

#reaction-progress-chart {
  .c3-axis-x {
    .tick > text {
      fill: $c-gray-33;
      font-size: $fs-tiny;
      font-weight: bold;
    }
  }
}
