$preview-item-size: 300px;

#components-uploads-container {
  @include flex-column($gap-md);
}

#components-upload-modal {
  .modal-content {
    max-height: 700px;
  }
}

.component-upload__preview-wrapper {
  --upload-file-type-icon-color: #{$dark-grey};

  @include size($preview-item-size);
  @include flex-center;

  img {
    @include max-size(100%);
  }

  i {
    font-size: 150px;
    color: var(--upload-file-type-icon-color);
  }
}

@include color-mode(dark) {
  .component-upload__preview-wrapper {
    --upload-file-type-icon-color: #{$light-grey};
  }
}

@include color-mode(light-contrast) {
  .component-upload__preview-wrapper {
    --upload-file-type-icon-color: #{$con-dark-blue};
  }
}

@include color-mode(dark-contrast) {
  .component-upload__preview-wrapper {
    --upload-file-type-icon-color: #{$white};
  }
}
