.url-config-info-item {
  display: inline-block;
  margin-top: 5px
}

.url-config-info-item.middle {
  margin-left: 15px
}

.url-info-label {
  font-weight: bold;
  color: #707173;
}

.url-info-value {
  background-color: grey;
  margin-left: 5px !important;
}

body.dark-theme .url-info-label {
  color: #cccdcd;
}