.pie-charts {
  @include clearfix();

}

.col-md-6 {
  .pie-chart {
    @media (min-width: 1100px) and (max-width: 1199px) {
      float: left;
      width: 50%;
    }

    @media (min-width: 1919px) {
      float: left;
      width: 50%;
    }
  }
}

.col-xs-12 {
  .pie-chart {
    @media (min-width: 1100px){
      float: left;
      width: 50%;
    }
  }
}
