.default-block-content {
  .tile-content {
    background-color: rgb(235, 235, 235);
  }

  .tile-footer {
    background-color: #fff;
  }

  .tile-content-forms {
    border-right: 1px solid rgb(204, 205, 205);
  }

  .mailing-preview-wrapper {
    margin: 0 auto;
    padding: 50px 0;
    background-color: rgb(235, 235, 235);
  }

  .mailing-preview-frame {
    background-color: rgb(235, 235, 235);

    @include box-shadow(none);
  }

}
