
.general-upselling {
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;
  padding-left: 100px;

  background-color: $c-blue-27;
}

.general-upselling-desc {
  margin: auto 0;
  max-width: 600px;

  h1, h3, p {
    color: $c-white;
  }

  h1 {
    font-size: 50px;
    font-weight: 300;
    line-height: 55px;

    margin-bottom: 25px;
  }

  h3 {
    font-size: 15px;
    line-height: 35px;
    text-transform: uppercase;
  }

  p {
    font-size: 15px;
    line-height: 20px;

    margin-bottom: 40px;
  }

}

.general-upselling-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  max-width: 600px;
  padding: 10px 0;
}

.general-upselling-contact {
  flex-shrink: 0;
}

.general-upselling-image {
  flex-shrink: 1;

  img {
    height: auto;
    width: auto;
  }
}
