.l-logo {
  flex-shrink: 0;
  text-align: center;

  .logo {
    height: 60px;
    line-height: 60px;

    .logo-image {
      vertical-align: middle;
      float: none;
      margin: 0;
      width: 30px;
    }
  }

  .headline,
  .version {
    display: none;
  }

  .menu-close {
    display: none;
  }
}

body.wide-sidebar .l-sidebar .l-logo {
  height: 60px;
  padding: 10px 45px 10px 10px;
  text-align: left;

  .logo {
    line-height: normal;

    .logo-image {
      width: 40px;
      float: left;
      margin-right: 5px;
    }
  }

  .headline,
  .version {
    display: block;
    overflow: hidden;
    text-overflow: clip;
  }
}

body.dark-theme .l-sidebar .l-logo .logo {
  background-color: $c-dt-logo-background;
}
