.l-logo {
  position: relative;
  width: 240px;
  height: 60px;
  padding: 10px 45px 10px 10px;

  background-color: $c-white;

  @media (min-width: $screen-md-min) {
    position: fixed;
    left: 0; top: 0;
    z-index: 1001;
  }


  .logo {
    width: 200px;
  }

  .headline, .version {
    width: 145px;
    overflow: hidden;
    text-overflow: clip;
  }

  .menu-close {
    display: block;
    width: 45px; height: 60px;

    position: absolute;
    top: 0; right: 0;

    text-align: center;
    color: $c-blue-27;
    font-size: 16px;
    line-height: 60px;

    &:hover {
      color: lighten($c-blue-27, 10%);
    }

    @media (min-width:$screen-md-min) {
      display: none;
    }
  }

}
