.preview-settings-block {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;


    .preview-settings-header {
        color: #707173;

        margin-right: 20px;

        flex-grow: 0;
    }

    .preview-settings-content {
        width: 100%;

        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 1;
    }

    .preview-settings-group {
        width: 100%;
        margin-bottom: 10px;

        display: flex;
        flex-wrap: nowrap;
        align-items: start;

        .radio-inline {
            margin-right: 20px;
        }
    }
}