$m-type-date-base-icon-url: 'core/images/campaignManager/icon_datebased_mailing_l.png';
$m-type-normal-icon-url: 'core/images/campaignManager/icon_mailing_l.png';

.l-mailing-priority {
  .l-sub-headers {
    border-bottom: 1px solid #cccdcd;

    .headline {
      font-size: 14px;
    }
  }

  .l-row-bordered {
    margin: 0;

    .col-sm-1:not(:first-child),
    .col-sm-2:not(:first-child),
    .col-sm-3:not(:first-child),
    .col-sm-4:not(:first-child),
    .col-sm-5:not(:first-child),
    .col-sm-6:not(:first-child),
    .col-sm-7:not(:first-child),
    .col-sm-8:not(:first-child),
    .col-sm-9:not(:first-child),
    .col-sm-10:not(:first-child),
    .col-sm-11:not(:first-child),
    .col-sm-12:not(:first-child) {
      border-left: 1px solid $c-gray-20;
    }
  }

  .l-content-area {
    background-color: $c-blue-01;
  }

  .l-stub {
    display: none;

    &:only-child {
      display: block;
    }
  }

  .l-droppable-area {
    padding: 15px;

    &.highlight {
      background-color: $c-blue-02;
    }
  }

  #ordered-area, #unordered-area {
    height: 100%;

    > .row.row-2, > .row.row-3, > .row.row-4 {
      border-bottom: 1px solid $c-gray-20;

      &:last-child {
        border-bottom-width: 0px;
      }
    }

    > .row.row-2 {
      height: 50%;
    }

    > .row.row-3 {
      height: calc(100% / 3);
    }

    > .row.row-4 {
      height: 25%;
    }
  }

  #normal-container, #datebased-container {
    height: calc(100% - 3em);
    overflow-y: auto;
  }
}

body.dark-theme .l-mailing-priority {

  .l-sub-headers {
    border-color: $c-dt-tile-border;
    background-color: $c-dt-tile-header;
  }

  .l-row-bordered {
    .col-sm-1:not(:first-child),
    .col-sm-2:not(:first-child),
    .col-sm-3:not(:first-child),
    .col-sm-4:not(:first-child),
    .col-sm-5:not(:first-child),
    .col-sm-6:not(:first-child),
    .col-sm-7:not(:first-child),
    .col-sm-8:not(:first-child),
    .col-sm-9:not(:first-child),
    .col-sm-10:not(:first-child),
    .col-sm-11:not(:first-child),
    .col-sm-12:not(:first-child) {
      border-color: $c-dt-tile-border;
    }
  }

  .l-content-area {
    background-color: $c-dt-tile-background;
  }

  .l-droppable-area.highlight {
    background-color: lighten($c-dt-tile-background, 5%);
  }

  #ordered-area,
  #unordered-area {
    > .row.row-2,
    > .row.row-3,
    > .row.row-4 {
      border-color: $c-dt-tile-border;
    }
  }
}

.l-mailing-entry {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 0.5em;
  overflow: hidden;
  color: $c-gray-55;
  background-color: $c-white;
  border-left: 2px solid lightblue;

  &:not(:last-child) {
    margin-bottom: 4px;
  }

  &:hover {
    background-color: $c-gray-02;
  }

  &.ui-sortable-helper {
    background-color: $c-blue-03;
  }

  cursor: move;

  @include shadow-variant(soft);

  .l-name {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;

    span {
      white-space: nowrap;
    }
  }

  .l-badge {
    text-align: right;
    display: none;

    > .badge {
      align-self: center;
    }

    > .badge + .badge {
      margin-left: 0.5em;
    }

    > .badge-icon {
      height: 4em;
      width: 4em;
      background: transparent no-repeat bottom/cover;

      &.datebase-mailing-icon {
        background-image: url($m-type-date-base-icon-url);
      }

      &.normal-mailing-icon {
        background-image: url($m-type-normal-icon-url);
      }
    }
  }
}

body.dark-theme .l-mailing-entry {
  color: $c-mailing-priority-entry-text;
  background-color: $c-mailing-priority-entry-background;
  border-color: $c-mailing-priority-entry-border;

  &:hover,
  &:focus {
    background-color: lighten($c-mailing-priority-entry-background, 5%);
  }
}

#ordered-area .l-mailing-entry .l-badge {
   display: flex;
}

.unprioritized-area-head {
  display: inline-block;
  position: relative;
  margin-left: 10px;

  span {
    font-weight: bold;
    text-align: right;
    padding-left: 3em;
    line-height: 3em;

    &::before {
      display: block;
      content: '';
      position: absolute;
      left: -0.2em;
      bottom: 0;
      width: 3em;
      height: 3em;
      background: transparent no-repeat bottom/cover;
    }
  }

  &.datebased-mailing-icon span::before{
    background-image: url($m-type-date-base-icon-url);
  }

  &.normal-mailing-icon span::before{
    background-image: url($m-type-normal-icon-url);
  }
}
