@import "../boot/variables";

.full-height {
  height: 100%;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.horizontal-flex-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
}

.biggest-flex-item {
  flex-grow: 1;
}

@function isZero($value) {
  @if ($value == "0px") {
    @return true;
  } @else if ($value == "0") {
    @return true;
  } @else if ($value == 0) {
    @return true;
  }

  @return false;
}

@mixin rounded-card-shape() {
  border-radius: 3px;
  background-clip: padding-box;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.6);
}

@mixin horizontal-flex() {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

@mixin fixed-content($selector-prefix, $block-height, $header-height, $footer-height) {
  height: $block-height;

  >.#{$selector-prefix}fixed-header {
    height: $header-height;
    border-bottom: 1px solid #e2e3e3;
  }

  >.#{$selector-prefix}fixed-body {
    // 100% of enabled height - header height - footer height
    @if (isZero($footer-height) and isZero($header-height)) {
      height: 100%;
    } @else if(isZero($footer-height)) {
      height: calc(100% - #{$header-height});
    } @else if(isZero($header-height)) {
      height: calc(100% - #{$footer-height});
    } @else {
      height: calc(100% - #{$header-height} - #{$footer-height});
    }
  }

  >.#{$selector-prefix}fixed-footer {
    height: $footer-height;
    border-top: 1px solid #e2e3e3;
  }
}

@mixin full-height-ck-editor() {
  .cke_editor_content {
    height: 100%;
    width: calc(100% - 2px) !important;
  }

  .cke_editor_enlargedContent {
    height: 100%;
    width: calc(100% - 2px) !important;
  }

  .ace_editor {
    height: 100% !important;
  }

  .cke_inner {
    display: table;
    width: 100%;
  }

  .cke_inner {
    display: table;
    width: 100%;
    height: 100%;
  }

  .cke_contents {
    height: 100% !important;
    display: table-row;
  }
}

.fixed-content-40-0 {
  $selector-prefix : '';
    $block-height  : 100%;
    $header-height : 40px;
    $footer-height : 0px;

    @include fixed-content($selector-prefix, $block-height, $header-height, $footer-height);
}

.fixed-content-40-45 {
  $selector-prefix : '';
  $block-height  : 100%;
  $header-height : 40px;
  $footer-height : 45px;

  @include fixed-content($selector-prefix, $block-height, $header-height, $footer-height);
}

.sub-fixed-content {
  $selector-prefix : 'sub';
  $block-height  : 100%;
  $header-height : 0px;
  $footer-height : 45px;

  @include fixed-content($selector-prefix, $block-height, $header-height, $footer-height);
}

.modal-fixed-content {
  $selector-prefix : 'modal-';
  $block-height  : 85vh;
  $header-height : 50px;
  $footer-height : 61px;

  background-color: $c-white;

  @include full-height-ck-editor();
  @include rounded-card-shape();
  @include fixed-content($selector-prefix, $block-height, $header-height, $footer-height);

  .modal-fixed-header.standard-header {
    @include horizontal-flex();
    padding: 0 10px;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;
  }

  .modal-fixed-footer.standard-footer {
    @include horizontal-flex();
    justify-content: flex-end;
    align-items: center;
    align-content: center;

    padding: 10px;
  }
}

.mailing-content {
  $selector-prefix : 'mailing-content';

  .#{$selector-prefix}-header {
    @include horizontal-flex();
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }

  .#{$selector-prefix}-body {
    padding: 0;
    background-color: $c-blue-01;
    display: block;
    overflow: hidden;

    .droppable-area {
      height: 100%;
      width: 100%;
      padding: 15px;
      overflow-y: auto;

      &.highlight {
        background-color: $c-blue-02;
      }

      .l-stub {
        display: none;

        &:only-child {
          display: block;
        }
      }
    }
  }

  .#{$selector-prefix}-footer{
    @include horizontal-flex();
    justify-content: center;
    align-items: center;
    align-content: stretch;

    .btn {
      margin: 1em;
      background-color: $c-transparent;
    }

    .plus-button {
      cursor: pointer;
      color: $c-blue-20;
      &:hover {
        color: $c-blue-21;
      }
    }
  }
}

.l-mailing-content-entry {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;

  width: 100%;
  padding: 10px 5px;
  overflow: hidden;
  color: $c-white;
  background-color: $c-blue-20;
  border-radius: 3px;
  border-left: 3px solid $c-blue-27;
  font-weight: bold;

  &:hover {
    background-color: $c-blue-21;
  }

  &.selected {
    background-color: $c-blue-27;
    transition: background-color 1000ms linear;
  }

  &:not(:last-child) {
    margin-bottom: 4px;
  }

  &.ui-sortable-helper {
    background-color: $c-blue-03;
  }

  cursor: pointer;

  @include shadow-variant(soft);

  .l-name {
    float: left;
    width: calc(100% - 30px);
    overflow: hidden;
    text-overflow: ellipsis;

    span {
      white-space: nowrap;
    }
  }
  .l-delete-content-entry {
    margin-left: auto;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

    .btn {
      background-color: $c-transparent;
      float: right;
      &:hover {
        background-color: $c-transparent;
      }
    }
  }

  .l-badge {
    display: none;
    float: right;
  }
}

.btn.btn-circle {
  width: 27px;
  height: 27px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 30px;
}

// progress bar
.progress.loop{
  position: relative;
  background-color: transparent;
  border-radius: 0;
  font-size: inherit;
  height: 2em;
  margin: 0.35em 0;
  max-height: .583333rem;
  min-height: .166667rem;
  overflow: hidden;
  display: block;
}

.progress.loop::after{
  -webkit-animation: 2s ease-in-out infinite progress-looper;
  animation: 2s ease-in-out infinite progress-looper;
  content: " ";
  top: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  display: block;
  background-color: #007cbb;
  width: 75%;
}

@keyframes progress-looper{0%{left:-100%}to{left:100%}}
