.l-main-view {
  height: 100%;
  padding: 67px 7px 0 72px; // +7 px left & right because '.row' class has negative margin 7px

  .sub-navigation {
    margin-top: -20px;
  }
}

body.wide-sidebar .l-main-view {
  padding-left: 247px; // +7 px because '.row' class has negative margin 7px
}
