.l-news-logo {
  position: relative;
  float:left;
  width: 200px;
  padding: 9px 0px 9px 10px;

  background-color: $c-white;

  @media (min-width: $screen-md-min) {
    left: 0; top: 0;
    z-index: 1001;
  }


  .logo {
    width: auto;
  }

  .headline, .version {
    width: 115px;
    overflow: visible;
    text-overflow: clip;
  }
}

body.dark-theme .l-news-logo {
  background-color: $c-dt-logo-background;

  .logo {
    background-color: $c-dt-logo-background;
  }
}
