
.unlock-icon {
  width: 13px;
  height: 13px;
  vertical-align: middle;
  filter: invert(71%) sepia(59%) saturate(5633%) hue-rotate(325deg) brightness(104%) contrast(97%);
}

.lock-icon {
  width: 11px;
  height: 11px;
  vertical-align: middle;
  filter: invert(49%) sepia(39%) saturate(1501%) hue-rotate(47deg) brightness(99%) contrast(102%);
}
