.serverstatus_status {color: #FFFFFF !important; font-weight: 700; text-align: center;}
.serverstatus_status-success {background-color: #109e4d !important;}
.serverstatus_status-error {background-color: #fa6861 !important;}
.serverstatus_status-warning {background-color: #f6d32d !important;}
.serverstatus_import_status_ok {display: none;}
.serverstatus_import_status_error {display: initial;}

.table-middle-border:not(.disabled) > tbody > tr > td:nth-child(2n), .table-middle-border:not(.disabled) > tbody > tr > th:nth-child(2n) { 
	border-left: 1px solid #e2e3e3;
}

.serverstatus_licenceupload_file-input {padding: 3px; border: 1px solid #cccdcd;}

.serverstatus_licenceupload_status {border: 1px solid #cccdcd; padding: 0 5px;}

.whitespace_normal {white-space: normal;}

.no_margin {margin:0;}

.kill-import-modal {display: none;}
.kill-import-modal-content {padding: 10px;}
.kill-import-btn, .serverstatus_settings_btn {padding: 5px;}
.kill-import-text-warning {padding-bottom: 5px; color: #fa6861;}

.serverstatus_settings_content {
	padding: 5px; 
	margin-left: -12px !important; 
	margin-right: -12px !important;
}

.vspace-bottom-5 {
 margin-bottom: 5px!important
}

.icon-jobqueue-failure {
  border: 2px solid #fa6861;
  padding: 3px 6px;
  background-color: #fa6861;
  color: #FFF;
  border-radius: 1px;
}


//External Status Page
.sysstat__container {
	background-color: #FFFFFF;
}

.sysstat {
	min-height: 100vh;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 50px 1fr;
	grid-template-areas:
	"header"
	"body";
	row-gap: 40px;
	align-items: stretch;
	justify-items: stretch;
	font-family: 'Poppins', sans-serif;
}

.sysstat__header {
	grid-area: header;
	background-color: #1A3258;
	color: #FFFFFF;
	display: flex;
	justify-content: center;
	font-weight: 600;
	font-size: 22px;
	line-height: 32px;
	padding: 0px 20px;
}
.sysstat__header__content {
	width: 100%;
	max-width: 1000px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.sysstat__header__logo {
	flex: 1;
}
.sysstat__header__logo_img{
	max-height: 30px;
	width: auto;
	vertical-align: middle;
}
.sysstat__header__label {
	flex: 1;
	text-align: end;
}


.sysstat__body {
	grid-area: body;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	margin: 0px 20px;
}

.sysstat__body__overall {
	width: 100%;
	max-width: 1000px;
	display: flex;
	flex-direction: row;
	font-size: 28px;
	line-height: 42px;
	color: #FFFFFF;
	border-radius: 10px;
}
.sysstat__body__overall--success {
	background-color: #69A129;
}
.sysstat__body__overall--warning {
	background-color: #FFC700;
}
.sysstat__body__overall__icon {
	padding: 5px 10px;
}
.sysstat__body__overall__label {
	font-weight: 600;
	flex: 1;
	padding: 5px 10px 5px 5px;
}

.sysstat__body__statitem {
	border-radius: 10px;
	width: 100%;
	max-width: 1000px;
}

.sysstat__body__statitem--success {
	background-color: #69A129;
}
.sysstat__body__statitem--warning {
	background-color: #FFC700;
}
.sysstat__body__statitem--error {
	background-color: #A91B1B;
}
.sysstat__body__statitem__icon {
	color: #FFFFFF;
	padding: 5px 10px;
	font-size: 22px;
	line-height: 33px;
}
.sysstat__body__statitem__label__container {
	display: flex;
	flex-direction: row;
}
.sysstat__body__statitem__label {
	font-weight: 400;
	font-size: 22px;
	line-height: 33px;
	background-color: #FFFFFF;
	border-radius: 0px 10px;
	flex: 1;
	padding: 5px 10px;
}
.sysstat__body__statitem__label--success {
	border: 1px solid #69A129;
}
.sysstat__body__statitem__label--warning {
	border: 1px solid #FFC700;
}
.sysstat__body__statitem__label--error {
	border: 1px solid #A91B1B;
}

.sysstat__body__statitem__desc {
	color: #FFFFFF;
}

.sysstat__body__statitem__desc__text {
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	padding: 5px 10px;
}

.sysstat__footer {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 20px;
}
.sysstat__footer__content {
	padding: 20px;
	border: 1px solid #C0C0C0;
	border-radius: 10px;
	margin-bottom: 30px;
	display: flex;
	width: 100%;
	max-width: 1000px;
	align-items: center;
	gap: 20px;
}

.sysstat__footer__text {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.sysstat__footer__text__head {
	font-weight: 400;
	font-size: 20px;
	line-height: 26px;
	flex: 1;
}
.sysstat__footer__text__sub {
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	flex: 1;
}

.sysstat__footer__button {
	flex: 1;
}

.sysstat__footer__button__text {
	font-weight: 600;
	font-size: 24px;
	line-height: 31px;
	background-color: #0071b9;
	padding: 10px 100px;
	color: #ffffff;
	border-radius: 10px;
	width: fit-content;
	margin: auto;
	text-align: center;
}
.sysstat__footer__button__text > a {
	color: #FFFFFF;
}

@media only screen and (max-width: 900px) {
	.sysstat__footer__content {
		flex-direction: column;
	}
}
