.l-sidebar {
  display: flex;
  flex-direction: column;

  width: 65px;

  top: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: 1002;

  background-color: $c-white;

  overflow: hidden;

  &:after{
    content: '';
    position:absolute;
    top:0;
    right: -10px;
    width: 10px;
    height: 100%;
    @include box-shadow(7px 0px 8px 8px rgba(0, 23, 39, 0.6));
  }
}

body.wide-sidebar .l-sidebar {
  width: 240px;
}
