
.btn {
  display: inline-block;
  margin-bottom: 0; // For input.btn

  text-align: center;
  vertical-align: middle;
  cursor: pointer;

  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  border-radius: 1px;

  white-space: nowrap;

  font-size: 13px;
  line-height: 18px;

  @include user-select(none);

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
    pointer-events: none;
    @include opacity(.65);
  }

  @include button-variant($c-gray-55, $c-transparent, $c-gray-11);
  @include content-spacing();
}

// Note: Possibly unused
/*
body.dark-theme .btn {
  @include button-variant($c-white, $c-transparent, $c-dt-border);
}

.btn-primary {
  @include button-variant($c-white, $c-blue-27);
}
*/

// Note: Possibly unused
/*body.dark-theme .btn-primary {
  @include button-variant($c-dt-primary-text, $c-dt-btn-primary);
}*/

.btn-secondary {
  @include button-variant($c-white, #004470);
}

// Note: Possibly unused
/*
body.dark-theme .btn-secondary {
  @include button-variant($c-dt-btn-secondary-text, $c-dt-btn-secondary);
}

.btn-inverse {
  @include button-variant($c-blue-27, $c-white);
}

body.dark-theme .btn-inverse {
  @include button-variant($c-dt-btn-primary, $c-dt-primary-text);
}
*/

// Note: Possibly unused
@each $conf in $states {
  $state: nth($conf, 1);
  $color: nth($conf, 2);

// Note: Possibly unused
/*
  body.dark-theme .btn-#{$state}, .btn-#{$state} {
    @include button-variant($c-white, $color);
  }
*/
}

// Note: Possibly unused
/*
.btn-toggle {
  color: $c-white;
  background-color: $c-gray-44;
  border-color: $c-gray-44;

  &:hover, &:active, &.is-active {
    color: $c-white;
    background-color: $c-blue-27;
    border-color: $c-blue-27;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.is-active {
      color: $c-white;
      background-color: $c-gray-44;
      border-color: $c-gray-44;
    }
  }
}

.btn-regular {
  @include button-size(5px, 10px, 13px, 18px);
}

.btn-large {
  @include button-size(10px, 10px, 13px, 18px);
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-block + .btn-block {
  margin-top: 5px;
}

input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}

.btn-vertical {
  text-align: center;

  .icon, .text {
    display: block;
  }

  @include content-spacing($orientation: vertical);
}

.btn-link {
  color: $c-blue-27;
  font-weight: normal;
  cursor: pointer;
  border-radius: 0;

  &,
  &:active,
  &[disabled],
  fieldset[disabled] & {
    background-color: transparent;
    @include box-shadow(none);
  }
  &,
  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
  }
  &:hover,
  &:focus {
    color: $c-blue-27;
    text-decoration: underline;
    background-color: transparent;
  }
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      color: $c-gray-20;
      text-decoration: none;
    }
  }
}

.btn-link-light {
  color: white;
  font-weight: normal;
  cursor: pointer;
  border-radius: 0;

  &,
  &:active,
  &[disabled],
  fieldset[disabled] & {
    background-color: transparent;
    @include box-shadow(none);
  }
  &,
  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
  }
  &:focus {
    color: white;
    text-decoration: none;
    background-color: transparent;
  }
  &:hover {
    color: white;
    text-decoration: underline;
    background-color: transparent;
  }
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      color: white;
      text-decoration: none;
    }
  }
}

.btn-filter {
  padding: 3px 7px;
  border-radius: 1px;

  border-color: transparent;

  &:hover,
  &:active,
  &.is-active,
  .open > &.dropdown-toggle {
    color: $c-white;
    background-color: $c-blue-27;
    border-color: transparent;
  }

  .filter-active > & {
    color: $c-white;
    background-color: #64a70b;
    border-color: transparent;
  }
}

body.dark-theme {
  .filter-active {
    .btn-filter {
      @include button-variant($c-white, #64a70b, transparent, false);
    }
  }
}

.btn-upload {
  position: relative;
  overflow: hidden;
  cursor: pointer;

  input[type="file"] {
    position: absolute;
    top: 0; right: 0;
    margin: 0; padding: 0;
    font-size: 100px;

    @include opacity(0);
  }
}
*/

.btn-group {
  .btn + .btn {
    margin-left: 5px;
  }
}

// Note: Possibly unused
/*
.btn-workflow-state {
  padding: 2px;
  border-color: transparent;
}

body.dark-theme .btn-workflow-state {
  @include button-variant(#b7b7b7, $c-gray-80, transparent, false);
}
*/
