py3dns
dnspython
dkimpy
requests
cryptography
setproctitle
uvloop
aiodns
aiohttp
aiohttp-xmlrpc
aiosmtplib
msgpack
websockets
asyncinotify
asyncssh
[db:mariadb version <= (10, 6, 8)] mariadb >= 1.0.7, < 1.1
[db:mariadb version > (10, 6, 8)] mariadb
