/*TODO: EMMGUI-714: remove when old design will be removed*/
.parentheses-opened, .primary-operator, .primary-value, .parenthesis-closed {
    margin-left: 4px;
}

.primary-value {
    width: 140px;
}

.rule-row {
    margin-top: 10px;
    clear: both;
}

.delete-rule {
    display: inline;
    float: none;
    margin-left: 10px;
    margin-top: 2px;
    padding-right: 11px;
    text-decoration: none;
}

.add-rule {
    margin-left: 10px !important;
}

#profileFieldRuleAdd {
    margin-top: 20px;
}

.start-type-container, .decision-type-container {
    margin-top: 10px;
}

.start-type-event-radio, .decision-type-radio, .workflow-copy-content-radio {
    margin-left:30px;
}

.editor-main-content {
    margin-left: 25px;
    margin-top: 20px;
}

.start-date-label {
    float: left;
    width: 85px;
}

.start-date-calendar {
    float:left;
}

.start-editor-label {
    width: 85px;
    display: block;
    float: left;
}

.start-editor-select {
    width: 200px;
    float: left;
}

#start-editor {
    padding-right:20px;
}

.start-editor-row, .decision-editor-row, .deadline-editor-row, .recipient-editor-row, .ownworkflow-editor-row, .mailing-editor-row {
    clear: both;
    padding-top: 10px;
}

.reminder-container {
    margin-left: 25px;
}

#dateTimePickerButton {
    float: left;
    margin-left: 4px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    background: url(../../../../images/datepicker/calendar.png);
}

#dateTimePicker {
    display: none;
    position: absolute;
    width: 315px;
    border: 1px solid #aaaaaa;
    padding: 15px;
    background-color: #ffffff;
}

#profileFieldRules {
    margin-left: 25px;
    clear: both;
}

#dateFieldOperator {
    width: 50px;
    float: left;
}

#dateFieldValue {
    width: 140px;
    margin-left: 4px;
}

.start-time-container {
    clear: both;
    padding-top: 20px;
}

.editor-button-container {
    margin-top:20px;
}

.editor-button-container-short {
    margin-top:50px;
}

.editor-admin-reminder-select {
    width: 110px;
}

.editor-admin-reminder-row {
    clear: both;
    margin-top: 10px;
}

.dialog-title-image {
    background-repeat: repeat-y;
    padding-left: 36px;
    padding-top:8px;
    height:24px;
    display:block;
}

.decision-editor-label, .deadline-editor-label, .recipient-editor-label, .mailing-editor-label,
.import-editor-label, .export-editor-label {
    width: 140px;
    display: block;
    float: left;
}

.decision-editor-field, .deadline-editor-field, .mailing-editor-field {
    width: 200px;
    float: left;
}

.decision-editor-row-label {
    width: 340px; /* decision-editor-label + decision-editor-field */
    display: block;
}

.decision-criterion-padding {
    padding: 10px 0;
}

.decision-rule-operator {
    margin-left: 4px;
}

#decisionProfileFieldRuleAdd {
    padding-top: 20px;
}

#decisionProfileFieldAddedRules, #decisionProfileFieldRuleAdd {
    margin-left: 48px;
}

.deadline-time-checkbox-container {
    float: left;
    width: 25px;
    min-height: 1px;
}

.icon-extra-info {
    width: 98%;
    position: absolute;
    display: block;
    text-align: left;
    margin-left: 1px;
}

.icon-extra-info-center {
    text-align: center;
}

.report-editor-label {
    width: 80px;
    float: left;
}

.recipient-editor-select {
    width: 220px;
}

.editor-error-messages {
    clear: both;
    margin-bottom: 4px;
}

.forms-editor-label {
    width: 70px;
    float: left;
}

.forms-editor-select,
.import-editor-select,
.export-editor-select {
    margin-bottom: 10px;
}

.workflow-item-title {
    font-weight: bold;
}

.mailing-editor-label-sort-by {
    width: 140px !important;
    text-align: left !important;
    padding: 2px 2px 2px 0px;
}

.mailing-send-settings-checkbox {
    margin-left:0;
    margin-right: 4px;
}