.editor-content-body {
    width: 100%;
    height: 100%;
}

.editor-content-body-top {
    width: auto;
    height: 87px;
}

.editor-content-body-bottom {
    width: 100%;
    height: 100%;
    max-height: calc(100% - 87px);
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
}

.editor-content-body-left-toolbar {
    width: 88px;
    min-height: 500px;
}

#viewPort {
    position: relative;
    margin-right: auto;
    width: 100%;
    height: 100%;
    min-height: 510px;
    background-color:#ffffff;
    z-index: 10; /* be careful modifying this, synchronize with JS: Z_INDEX_VIEW_PORT */
    overflow: hidden;
}

#viewPort.js-panning {
    cursor: move;
}

#minimap {
    overflow: hidden !important;
    position: absolute;

    border-radius: 4px;
    border: 2px solid #d1d1d1;

    top: 25px;
    right: 25px;

    z-index: 46;
    background-color: rgba(255, 255, 255, 0.8);
}

.minimap {
    width: 125px;
    height: 125px;
}

.minimap-collapsed {
    height: 22px;
    width: 25px;

    background-color: #f6f6f6;
    margin-right: 0;
    padding: 4px;
}

.minimap-panner {
    position: absolute;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    cursor: move;
    background-color: lightcoral;
    opacity: 0.4;
    z-index: 48;
    transform-origin: 0 0 0;
}

.minimap-collapsed .minimap-panner,
.minimap-collapsed .minimap-canvas {
    display: none;
}

.minimap-canvas {
    position: relative;
    z-index: 47;
    transform-origin: 0 0 0;

    top: 2px;
    left: 2px;
}

.minimap-collapse {
    color: #d1d1d1;
    position: absolute;
    font-size: 18px;
    top: -4px;
    right: 6px;
    cursor: pointer;
    font-weight: bold;

    z-index: 49;
}

.minimap-collapse:hover {
    color: #0071b9;
}

.minimap-collapse:before {
    content: "\2012";
}

.minimap-collapsed .minimap-collapse:before {
    content: "+";
}

.miniview-element {
    background-color: #0071b9;
    position: absolute;
}

#canvas, #selection-backdrop {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#selection-backdrop {
    display: none;
    z-index: 10000;
}

#icon-titles-container {
    width: 100%;
    height: 100%;
    z-index: 5; /* be careful modifying this, synchronize with JS: Z_INDEX_ICON_TITLES_CONTAINER */
}

.ui-selectable-helper {
    border: 1px dotted blue !important;
    background-color: rgba(0, 0, 255, 0.05) !important;
}

#invisible {
    visibility: hidden;
    height: 1px;
    overflow: hidden;
}

.draggable-node {
    background-color: transparent;
    cursor: grabbing;
    width: 64px;
    height: 64px;
    opacity: 0.8;
    transform: scale(1.1);
}

.draggable-node.js-collision-detected {
    opacity: 0.4;
    cursor: no-drop !important;
}

.node {
    position: absolute;
    width: 64px;
    height: 64px;
    padding: 0;
    margin: 0;
    z-index: 10; /* be careful modifying this, synchronize with JS: Z_INDEX_ICON */
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
}

.node.animate-dropped {
    animation: node-dropped 100ms 1;
}

.node.animate-auto-dropped {
    animation: node-auto-dropped 100ms 1;
}

@keyframes node-auto-dropped {
    0% {
        transform: scale(1.2);
    }

    99% {
        transform: scale(1);
    }

    100% {
        transform: none;
    }
}

@keyframes node-dropped {
    0% {
        transform: scale(1.1);
        opacity: 0.8;
    }

    99% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: none;
        opacity: unset;
    }
}

.node:hover {
    z-index: 13; /* be careful modifying this, synchronize with JS: Z_INDEX_ICON_HOVER */
}

.node.js-collision-detected {
    opacity: 0.2;
}

.node.js-no-drop {
    cursor: no-drop !important;
}

.node.jtk-dragged {
    cursor: grabbing;
    z-index: 20; /* be careful modifying this, synchronize with JS: Z_INDEX_DRAGGED_ICON_NODE */
}

.node:hover {
    background-color: rgba(226, 226, 226, 0.3);
}

.node.ui-selected, .node.ui-selecting {
    background-color: rgba(60, 185, 255, 0.3) !important;
}

.node.jtk-drag-hover,
.node.jtk-drag-selected.jtk-drag-active {
    background-color: rgba(255, 180, 0, 0.5) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#80FFB400', endColorstr='#80FFB400') !important; /* IE */
}

.node.jtk-source-hover,
.node.jtk-target-hover {
    background-color: rgba(226, 226, 226, 0.3);
}

.node:hover:not(.jtk-drag-hover):not(.jtk-dragged) .node-connect-button,
.node.jtk-drag-selected.jtk-drag-active .node-connect-button {
    visibility: visible;
}

.node.active .inactive-node-image,
.node:not(.active) .active-node-image {
    display: none;
}

.node.icon-commented::before {
    background: url("../../images/campaignManager/comment_context_s.png") no-repeat center/15px;
    content: "";
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    bottom: 0.5em;
    right: 0;
    z-index: 20;
}

.node.icon-commented[comment-footnote]::before {
    background: none;
    background-color: #0071b9;
    content: attr(comment-footnote);

    position: absolute;
    bottom: 0;
    right: 0;

    width: auto;
    min-width: 1.3rem;
    height: 1.3rem;
    line-height: 1.3;
    text-align: center;
    padding: .15rem .2rem;

    font-size: .8rem;
    color: #fff;
    border-radius: 50%;
}

.node-image {
    display: block;
    width: 100%;
    height: 100%;
}

.node .icon-footnote-number {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 5.2px;
    font-size: 1.1em;
    line-height: 1.4em;
    border-radius: 65%;
    background-color: #0071b9;
}

.icon-title {
    display: block;
    position: absolute;
    width: 94px; /* Same width as node + padding */
    padding: 5px 15px;
    font-size: 10px;
    line-height: 18px;
    max-height: 118px;  /* 6 lines of text + padding */
    text-align: left;
    color: #707173;
    border-radius: 4px;

    word-break: break-word;
    overflow: hidden;
    background-color: white;
}

.icon-title.expandable::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 41px;  /* 2 lines of text + bottom padding */
    background: linear-gradient(to top,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 80%
    );
}

.icon-title.expanded {
    max-height: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    color: inherit;
    z-index: 19 !important; /* be careful modifying this, synchronize with JS: Z_INDEX_ICON_TITLE_HOVER */
}

.dark-theme .icon-title.expanded {
    color: #000;
}

.icon-title.expanded::after {
    display: none;
}

.icon-overlay-title {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 64px; /* Same width as node */
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: royalblue;
}

.icon-overlay-title:empty {
    display: none;
}

.icon-overlay-image {
    display: block;
    position: absolute;
    top: 0;
    right: -2px;
    width: 60%;
    height: 60%;
}

.icon-overlay-image img {
    width: 100%;
    height: auto;
}

.icon-overlay-image img {
    width: 100%;
    height: auto;
}

.icon-title-span:empty + br {
    display: none;
}

.icon-title-span:empty, .icon-statistic-span:empty {
    display: none;
}

.icon-statistic-span {
    background-color: rgba(60, 185, 255, 0.3);
}
table#comment-footnotes-list {
    page-break-inside:auto !important;
}

table#comment-footnotes-list tr {
    page-break-inside:avoid !important;
    page-break-after:auto !important;
}

table#comment-footnotes-list tr td {
    page-break-inside: avoid !important;
    padding: 5px;
}

footer#footnotes-container {
    padding: 15px 20px;
    background-color: #fff;
    border: 2px dotted #cccccc
}

.ui-state-disabled {
    opacity: 1;
    cursor: pointer !important;
    filter: none;
}

#connectRapidButton, .node-connect-button {
    position: absolute;
    visibility: hidden;
    width: 16px;
    height: 16px;
    background-color: #dadada;
    border-radius: 3px;
}

.node-connect-button {
    top: 0;
    right: 0;
}

#connectRapidButton:hover, .node-connect-button:hover {
    background-color: #cccccc;
}

#connectRapidButton img, .node-connect-button img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/*Toolbar and layout styles*/

#toolbarTop {
    border-bottom: 1px solid #d1d1d1;
    background-color: #f6f6f6;
    color: #555555;
}

#toolbarLeft {
    border: 1px solid #d1d1d1;
    border-top: none;
    border-left: none;
    background-color: #f6f6f6;
    color: #555555;
}

#toolbarCross {
    width: 88px;
    height: 87px;
    float: left;
    border-right: 1px solid #d1d1d1;
    position: relative;
    background-image: url(../../images/campaignManager/toolbarCrossBg.png);
}

#toolbarTopName {
    float: right;
    padding: 2px;
    font-weight: bold;
}

#toolbarBottomName {
    position: absolute;
    bottom: 0;
    float: left;
    padding: 2px;
    font-weight: bold;
}

.iconPanel {
    position: relative;
    z-index: 50; /* be careful modifying this, synchronize with JS: Z_INDEX_ICON_PANEL */
    float: left;
    border-right: 1px solid #d1d1d1;
    height: 87px;
    padding: 0 10px 0 10px;
}

.iconPanelRow {
    line-height: 0;
}

.iconPanelRow .toolbarButton:not(:last-child) {
    margin-right: 5px;
}

.noBorder {
    border: 0;
}

.actionPanel {
    float: right;
    height: 87px;
    border-left: 1px solid #d1d1d1;
}

.actionPanel.actionPanel-sm {
    display: none;
}

.actionPanel.actionPanel-sm .actionPanelButton {
    height: 77px;
    line-height: 77px;
    font-size: 18px;
    text-align: center;
    margin: 5px;
}

.actionPanelTool {
    float: left;
    margin-right: 20px;
    margin-left: 6px;
    text-align: center;
}

.actionMiddlePanel {
    float: right;
    margin-right: 45px;
    margin-top: 10px;
}

.iconPanelTitle {
    margin-top: 4px;
}

.actionPanelTitle {
    margin-top: 4px;
}

.toolbarLeftTitle {
    margin-top: 4px;
    margin-left: 5px;
    margin-right: 2px;
}

/* TODO: delete*/
.boldTitle {
    font-weight: bold;
}

.leftMenuLabel {
    width: 100%;
    text-align: center;
    margin-bottom: 6px;
    color: #3B3B3B;
}

.leftMenuSeparator {
    width: 87px;
    border-top: 1px solid #d1d1d1;
}

.actionPanelText {
    margin-top: 2px;
    margin-bottom: 10px;
}

.toolbarButton {
    display: inline-block;
    width: 32px;
    height: 32px;
}

.toolbarButton:not(.disabled) {
    cursor: pointer;
}

.toolbarButtonLeft {
    width: 64px;
    height: 64px;
    margin: 0 auto;
    cursor: pointer;
}

.toolbarButton:hover:not(.disabled), .toolbarButtonLeft:hover {
    background-color: #dadada !important;
    border-radius: 4px;
}

.toolbarButton:active:not(.disabled), .toolbarButtonLeft:active {
    background-color: #c7c6c6 !important;
}

.button-selected, button-selected:hover {
    background-color: #cccccc !important;
    border-radius: 4px;
}

/*Zoom tool*/

#zoomTool {
    width: 80px;
}

#sliderContainer {
    font-size:8px;
    clear:both;
}

#zoomMin {
    width: 30%;
    height: 15px;
    line-height: 15px;
    cursor: pointer;
    text-align: center;
    float: left;
    margin-left: 0;
}

#zoomMiddle {
    width: 40%;
    height: 15px;
    line-height: 15px;
    cursor: pointer;
    float: left;
    text-align: center;
    margin-left: 0;
    margin-bottom: 2px;
}

#zoomMax {
    width: 30%;
    height: 15px;
    line-height: 15px;
    cursor: pointer;
    text-align: center;
    float: right;
    margin-left: 0;
}

#zoomToolContent {
    padding-top: 4px;
}

#arrowButton {
    background-image: url(../../images/campaignManager/icon_arrow_s.png);
}

#deleteButton {
    background-image: url(../../images/campaignManager/delete_s.png);
    background-size: 32px 32px;
}

#deleteButton.disabled {
    background-image: url(../../images/campaignManager/delete_g.png);
}

#autoLayout {
    background: url(../../images/campaignManager/auto_layout.png);
}

#undoButton {
    background-image: url(../../images/campaignManager/undo_s.png);
}

#undoButton.disabled {
    background-image: url(../../images/campaignManager/undo_disabled_s.png);
}

/* Dragable toolbar buttons */

.toolbarButton[data-type="start"],
.dialog-title-image[data-type="start"],
.dialog-title-image[data-type="stop"] {
    background-image: url(../../images/campaignManager/icon_start_s.png);
}

.toolbarButton[data-type="decision"],
.dialog-title-image[data-type="decision"] {
    background-image: url(../../images/campaignManager/icon_decision_s.png);
}

.toolbarButton[data-type="parameter"],
.dialog-title-image[data-type="parameter"] {
    background-image: url(../../images/campaignManager/icon_parameter_s.png);
}

.toolbarButton[data-type="deadline"],
.dialog-title-image[data-type="deadline"] {
    background-image: url(../../images/campaignManager/icon_deadline_s.png);
}

.toolbarButton[data-type="report"],
.dialog-title-image[data-type="report"] {
    background-image: url(../../images/campaignManager/icon_report_s.png);
}

.toolbarButton[data-type="recipient"],
.dialog-title-image[data-type="recipient"] {
    background-image: url(../../images/campaignManager/icon_recipient_s.png);
}

.toolbarButton[data-type="mailing"],
.dialog-title-image[data-type="mailing"] {
    background-image: url(../../images/campaignManager/icon_mailing_s.png);
}

.toolbarButton[data-type="actionbased_mailing"],
.dialog-title-image[data-type="actionbased_mailing"] {
    background-image: url(../../images/campaignManager/icon_actionbased_mailing_s.png);
}

.toolbarButton[data-type="archive"],
.dialog-title-image[data-type="archive"] {
    background-image: url(../../images/campaignManager/icon_archive_s.png);
}

.toolbarButton[data-type="datebased_mailing"],
.dialog-title-image[data-type="datebased_mailing"] {
    background-image: url(../../images/campaignManager/icon_datebased_mailing_s.png);
}

.toolbarButton[data-type="followup_mailing"],
.dialog-title-image[data-type="followup_mailing"] {
    background-image: url(../../images/campaignManager/icon_followup_mailing_s.png);
}

.toolbarButton[data-type="import"],
.dialog-title-image[data-type="import"] {
    background-image: url(../../images/campaignManager/icon_import_s.png);
}

.toolbarButton[data-type="export"],
.dialog-title-image[data-type="export"] {
    background-image: url(../../images/campaignManager/icon_export_s.png);
}

.toolbarButtonLeft[data-type="ownWorkflow"] {
    background-image: url(../../images/campaignManager/icon_ownWorkflow_l.png);
}

.dialog-title-image[data-type="ownWorkflow"] {
    background-image: url(../../images/campaignManager/icon_ownWorkflow_s.png);
}

.toolbarButtonLeft[data-type="scABTest"] {
    background-image: url(../../images/campaignManager/icon_scABTest_l.png);
}

.dialog-title-image[data-type="scABTest"] {
    background-image: url(../../images/campaignManager/icon_scABTest_s.png);
}

.toolbarButtonLeft[data-type="scBirthday"] {
    background-image: url(../../images/campaignManager/icon_scBirthday_l.png);
}

.dialog-title-image[data-type="scBirthday"] {
    background-image: url(../../images/campaignManager/icon_scBirthday_s.png);
}

.toolbarButtonLeft[data-type="scDOI"] {
    background-image: url(../../images/campaignManager/icon_scDOI_l.png);
    margin-bottom: 5px;
}

.dialog-title-image[data-type="scDOI"] {
    background-image: url(../../images/campaignManager/icon_scDOI_s.png);
}

#scDOIButtonLabel {
    margin-bottom: 0px;
}

/*Context menu*/

.context-menu-item {
    color: black;
}

.context-menu-item.icon-delete {
    background-image: url(../../images/campaignManager/delete_context.png);
}

.context-menu-item.icon-delete.disabled {
    background-image: url(../../images/campaignManager/delete_context_g.png);
}

.context-menu-item.icon-connect {
    background-image: url(../../images/campaignManager/icon_arrow_context.png);
}

.context-menu-item.icon-connect.disabled {
    background-image: url(../../images/campaignManager/icon_arrow_context_g.png);
}

.context-menu-item.icon-disconnect {
    background-image: url(../../images/campaignManager/icon_arrow_disconnect_context.png);
}

.context-menu-item.icon-disconnect.disabled {
    background-image: url(../../images/campaignManager/icon_arrow_disconnect_context_g.png);
}

.context-menu-item.icon-edit {
    background-image: url(../../images/campaignManager/edit_context.png);
}

.context-menu-item.icon-edit.disabled {
    background-image: url(../../images/campaignManager/edit_context_g.png);
}

.context-menu-item.icon-comment {
    background-image: url(../../images/campaignManager/comment_context.png);
}

.context-menu-item.icon {
    min-height: 23px;
    display: block;
    font-family: 'Proxima Nova', 'Helvetica Neue', Arial, sans-serif;
}


.context-menu-item:before {
    content: normal; /*Disables icons :before images from application.css for context menu items*/
}

.context-menu-item span {
    margin-left: 6px;
    line-height: 23px;
}

.context-menu-root {
    z-index: 40 !important; /* be careful modifying this, synchronize with JS: Z_INDEX_CONTEXT_MENU */
}

.context-menu-item.hover {
    background-color: #76a8d2 !important;
    color: #ffffff;
}

.js-navigation {
    background: url(../../images/campaignManager/navigator_body.png);
    position: absolute;
    z-index: 30; /* be careful modifying this, synchronize with JS: Z_INDEX_NAVIGATOR_GLOBE */
    width: 41px;
    height: 41px;
    right: 20px;
    bottom: 20px;
}

.js-navigation .js-navigation-top {
    background-image: url(../../images/campaignManager/navigator_arrow_top.png);
    top: 0;
    left: 14px;
}

.js-navigation .js-navigation-right {
    background-image: url(../../images/campaignManager/navigator_arrow_right.png);
    top: 14px;
    left: 28px;
}
.js-navigation .js-navigation-bottom {
    background-image: url(../../images/campaignManager/navigator_arrow_bottom.png);
    top: 28px;
    left: 14px;
}
.js-navigation .js-navigation-left {
    background-image: url(../../images/campaignManager/navigator_arrow_left.png);
    top: 14px;
    left: 0;
}
.js-navigation-top, .js-navigation-right, .js-navigation-bottom, .js-navigation-left {
    position: absolute;
    background-position: 0 0;
    z-index: 31; /* be careful modifying this, synchronize with JS: Z_INDEX_NAVIGATOR_ARROWS */
    width: 13px;
    height: 13px;
}
.js-navigation-top:hover, .js-navigation-right:hover, .js-navigation-bottom:hover, .js-navigation-left:hover {
    background-position: 0 13px;
    cursor: pointer;
}

.campaign-border {
    position: absolute;
    background: transparent;
    border: solid #d1d1d1;
    border-radius: 4px;
}

.campaign-collapse-button {
    position: absolute;
    cursor: pointer;
    z-index: 11;
}

.campaign-thumbnail {
    width: 32px;
    height: 32px;
    position: absolute;
    z-index: 11;
}

.ui-widget-header {
    border: 1px solid #73A2D0;
    background: #73A2D0 url(../../images/div_child_dialog_header.png) 50% 50% repeat-x;
    color: #ffffff;
    font-weight: bold;
}

.ui-widget-content a {
    /*color: #2A5682;*/
}

.ui-dialog .ui-dialog-titlebar {
    padding: 0 1em;
}

.ui-dialog .ui-dialog-content {
    overflow: visible;
}

.campaign-mailing-sort {
    padding: 0 0 5px 0;
}

.campaign-mailing-sort .sort {
    float: left;
}

.campaign-mailing-sort .sort-btn {
    margin-right: 40px;
}

.campaign-mailing-sort .unselectable, .unselectable-text {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.campaign-mailing-sort .sort-icon {
    cursor: pointer;
    float: left;
    padding: 4px;
}

.campaign-mailing-sort .sort-icon:hover {
    background-color: #dadada;
    border-radius: 4px;
}

.campaign-mailing-sort .change-date-sort-icon {
    background: #fff url(../../images/campaignManager/calendar.png) 0 0 no-repeat;
    height: 17px;
    width: 17px;
}

.campaign-mailing-sort .arrows {
    float: left;
    padding: 2px 0 0 6px;
}

.campaign-mailing-sort .arrowUp{
    background: url(../../images/campaignManager/sorted_acs.png) 2px 4px no-repeat;
}
.campaign-mailing-sort .arrowDown{
    background: url(../../images/campaignManager/sorted_desc.png) 2px 4px no-repeat;
}

.campaign-mailing-sort .arrowUp, .campaign-mailing-sort .arrowDown {
    height: 20px;
    width: 14px;
    float: left;
    cursor: pointer;
}

.campaign-mailing-sort .arrowUp:hover, .campaign-mailing-sort .arrowDown:hover {
    background-color: #dadada;
    border-radius: 4px;
}

.mailing-type-status-radio {
    margin-left: 65px;
}

.settings_mailing_form_item {
    padding-top: 10px;
}

.setting-mailing-left {
    margin-left: 140px;
}

#legend-button-wrapper {
    position: absolute;
    bottom: 0;
    margin-left: 5px;
    margin-right: 2px;
}

#legend-dopdown {
    overflow: auto;
    position: absolute;
    border: 1px solid rgb(209, 209, 209);
    color: rgb(85, 85, 85);
    background-color: rgb(246, 246, 246);
    height: 315px;
    top: 31px;
    vertical-align: middle;
    left: -14px;
    width: 220px;
    display: none;
    padding: 10px;
}

.legend-dopdown-item {
    float: left;
    height: 64px;
}

.legend-dopdown-item-name {
    display: table-cell;
    height: 64px;
    vertical-align: middle;
    text-align: left;
    padding: 0px 15px;
    width: 110px;
}

.legend-dopdown-item-img {
    float: left;
}

.jtk-connector.jtk-hover {
    z-index: 11; /* be careful modifying this, synchronize with JS: Z_INDEX_CONNECTION_HOVER */
}

.jtk-overlay.connection-label {
    background-color: white;
    border: 1px solid #61B7CF;
    border-radius: 4px;
    opacity: 0.7;
    padding: 0 5px;
    cursor: default;
    z-index: 9; /* be careful modifying this, synchronize with JS: Z_INDEX_CONNECTION_OVERLAY */
}

.jtk-overlay.connection-label.jtk-hover {
    border: 1px solid #216477;
    opacity: 1;
    z-index: 12; /* be careful modifying this, synchronize with JS: Z_INDEX_CONNECTION_OVERLAY_HOVER */
}

.connection-label-top {
    margin-left: 14px;
    margin-top: 12px;
}

.connection-label-bottom {
    margin-left: 16px;
    margin-top: -12px;
}

.connection-label-left {
    margin-left: 16px;
    margin-top: 12px;
}

.connection-label-right {
    margin-left: -15px;
    margin-top: 12px;
}

#activating-campaign-dialog #inactivating-campaign-dialog {
    clear: both;
    visibility: hidden;
    overflow: hidden;
    height: 1px;
}

#node-label-fulltext-popup {
    border: 1px solid #C0C0C0;
    padding: 4px;
    background-color: #ffffff;
    position: absolute;
    z-index: 100;
}

#icon-label-popup-holder {
    z-index: 100;
}

#dateTimePicker:after {
    clear: both;
    content: " ";
    display: table;
}

body .ui-dialog {
    overflow: visible;
}

body .ui-dialog .ui-dialog-content {
    overflow: visible;
}

body .ui-dialog .dialog-title-image {
    display: block;
}

.ui-widget .icon-help {
    font-family: FontAwesome;
}


@media all and (max-width: 900px) {
    .iconPanel {
        padding: 0 5px 0 5px;
    }

    .iconPanelRow .toolbarButton {
        margin-right: 0 !important;
    }

    .actionPanelTool {
        margin-right: 6px;
    }
}

@media all and (max-width: 768px) {
    .actionPanel.actionPanel-md {
        display: none;
    }

    .actionPanel.actionPanel-sm {
        display: block;
    }
}

.primary-operator, .decision-rule-operator {
    max-width: 100px;
}
