<?xml version="1.0" encoding="UTF-8"?>
<!--
	Application context definition for Agnitas EMM business layer.
	Contains bean references to the transaction manager and to the DAOs in
	dataAccessContext.xml (see web.xml's "contextConfigLocation").
-->
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="org.agnitas" />
	<context:component-scan base-package="com.agnitas" />

	<bean name="/target" class="com.agnitas.web.ComTargetAction">
		<property name="columnInfoService" ref="ColumnInfoService" />
		<property name="recipientDao" ref="RecipientDao" />
		<property name="targetFactory" ref="TargetFactory" />
		<property name="targetService" ref="targetService" />
		<property name="userActivityLogService" ref="UserActivityLogService" />
		<property name="configService" ref="ConfigService" />
		<property name="trackableLinkDao" ref="TrackableLinkDao" />
		<property name="birtReportDao" ref="BirtReportDao" />
		<property name="eqlFacade" ref="EqlFacade" />
		<property name="webStorage" ref="WebStorage" />
		<property name="mailingService" ref="MailingService" />
		<property name="targetEqlQueryBuilder" ref="TargetEqlQueryBuilder" />
	</bean>

	<bean name="/mailingsend" class="com.agnitas.web.ComMailingSendActionBasic">
		<property name="targetDao" ref="TargetDao" />
		<property name="mailingDao" ref="MailingDao" />
		<property name="recipientDao" ref="RecipientDao" />
		<property name="actionService" ref="EmmActionService"/>
		<property name="webStorage" ref="WebStorage" />
		<property name="mailingComponentDao" ref="MailingComponentDao" />
		<property name="linkcheckService" ref="linkcheckService" />
		<property name="mailinglistDao" ref="MailinglistDao" />
		<property name="tagCheckFactory" ref="TAGCheckFactory" />
		<property name="dataSource" ref="dataSource" />
		<property name="previewFactory" ref="PreviewFactory" />
		<property name="mailingFactory" ref="MailingFactory" />
		<property name="workerExecutorService" ref="WorkerExecutorService" />
		<property name="mailingBaseService" ref="MailingBaseService" />
		<property name="futureHolder" ref="futureHolder" />
		<property name="targetService" ref="targetService" />
		<property name="companyDao" ref="CompanyDao" />
		<property name="trackableLinkDao" ref="TrackableLinkDao" />
		<property name="workflowService" ref="WorkflowService" />
		<property name="userActivityLogService" ref="UserActivityLogService" />
		<property name="mailingService" ref="MailingService" />
		<property name="dkimDao" ref="DkimDao" />
		<property name="mediatypesDao" ref="MediatypesDao" />
		<property name="onepixelDao" ref="OnepixelDao" />
		<property name="generationPDFService" ref="GenerationPDFService" />
		<property name="maildropStatusDao" ref="MaildropStatusDao" />
		<property name="configService" ref="ConfigService" />
		<property name="birtReportService" ref="BirtReportService" />
		<property name="maildropService" ref="MaildropService" />
		<property name="deliveryStatService" ref="mailingDeliveryStatService"/>
		<property name="javaMailService" ref="JavaMailService" />
		<property name="blacklistService" ref="BlacklistService" />
		<property name="gridService" ref="GridServiceWrapper"/>
		<property name="birtReportFactory" ref="BirtReportFactory"/>
		<property name="bounceFilterService" ref="BounceFilterService"/>
		<property name="mailingStopService" ref="MailingStopService" />
		<property name="mediatypeFactory" ref="MediatypeFactory"/>
		<property name="mailingPreviewService" ref="MailingPreviewService" />
	</bean>

	<bean name="/importprofile" class="org.agnitas.web.ImportProfileAction">
		<property name="userActivityLogService" ref="UserActivityLogService" />
		<property name="importProfileService" ref="ImportProfileService"/>
		<property name="adminService" ref="AdminService"/>
		<property name="configService" ref="ConfigService" />
		<property name="importRecipientsDao" ref="ImportRecipientsDao" />
		<property name="columnInfoService" ref="ColumnInfoService" />
        <property name="webStorage" ref="WebStorage" />
 		<property name="mailinglistApprovalService" ref="MailinglistApprovalService" />
    </bean>

	<bean name="/exportwizard" class="org.agnitas.web.ExportWizardAction">
		<property name="targetService" ref="targetService" />
		<property name="dataSource" ref="dataSource" />
		<property name="mailinglistService" ref="MailinglistService" />
		<property name="userActivityLogService" ref="UserActivityLogService" />
		<property name="configService" ref="ConfigService" />
		<property name="workerExecutorService" ref="WorkerExecutorService" />
		<property name="futureHolder" ref="futureHolder" />
		<property name="javaMailService" ref="JavaMailService" />
		<property name="recipientExportReporter" ref="RecipientExportReporter"/>
		<property name="exportPredefService" ref="ExportPredefService" />
		<property name="mailinglistApprovalService" ref="MailinglistApprovalService" />
		<property name="recipientExportWorkerFactory" ref="RecipientExportWorkerFactory" />
	</bean>

	<bean name="/recipient" class="com.agnitas.web.ComRecipientAction">
		<property name="mailinglistService" ref="MailinglistService" />
		<property name="configService" ref="ConfigService" />
		<property name="recipientDao" ref="RecipientDao" />
		<property name="futureHolder" ref="futureHolder" />
		<property name="workerExecutorService" ref="WorkerExecutorService" />
		<property name="columnInfoService" ref="ColumnInfoService" />
		<property name="recipientFactory" ref="RecipientFactory" />
		<property name="bindingEntryFactory" ref="BindingEntryFactory" />
		<property name="userActivityLogService" ref="UserActivityLogService" />
		<property name="companyDao" ref="CompanyDao" />
		<property name="targetService" ref="targetService" />
		<property name="targetFactory" ref="TargetFactory" />
		<property name="eqlFacade" ref="EqlFacade" />
		<property name="webStorage" ref="WebStorage" />
        <property name="blacklistService" ref="BlacklistService"/>
		<property name="recipientService" ref="recipientService"/>
		<property name="deliveryService" ref="deliveryService"/>
		<property name="adminService" ref="AdminService"/>
		<property name="mailingService" ref="MailingService" />
		<property name="filterListBuilder" ref="TargetGroupQueryBuilderFilterListBuilder" />
		<property name="queryBuilderToEqlConverter" ref="QueryBuilderToEqlConverter" />
		<property name="targetEqlQueryBuilder" ref="TargetEqlQueryBuilder" />
		<property name="eqlToQueryBuilderConverter" ref="EqlToQueryBuilderConverter" />
    </bean>

	<bean name="/importprofile_columns" class="com.agnitas.web.ImportProfileColumnsAction">
		<property name="userActivityLogService" ref="UserActivityLogService" />
		<property name="importProfileService" ref="ImportProfileService" />
		<property name="profileFieldDao" ref="ProfileFieldDao" />
		<property name="recipientDao" ref="RecipientDao" />
		<property name="configService" ref="ConfigService" />
		<property name="importRecipientsDao" ref="ImportRecipientsDao" />
	</bean>

	<bean name="/newimportwizard" class="org.agnitas.web.ProfileImportAction">
		<property name="userActivityLogService" ref="UserActivityLogService" />
		<property name="configService" ref="ConfigService" />
		<property name="mailinglistService" ref="MailinglistService" />
		<property name="recipientDao" ref="RecipientDao" />
		<property name="datasourceDescriptionDao" ref="DatasourceDescriptionDao" />
		<property name="workerExecutorService" ref="WorkerExecutorService" />
		<property name="futureHolder" ref="futureHolder" />
		<property name="importRecipientsDao" ref="ImportRecipientsDao" />
		<property name="emmActionService" ref="EmmActionService" />
		<property name="profileImportReporter" ref="ProfileImportReporter" />
        <property name="importProfileService" ref="ImportProfileService"/>
        <property name="webStorage" ref="WebStorage" />
		<property name="mailinglistApprovalService" ref="MailinglistApprovalService" />
		<property name="profileImportWorkerFactory" ref="ProfileImportWorkerFactory" />
    </bean>

</beans>