<?xml version="1.0" encoding="UTF-8"?>
<!--
	Application context definition for Agnitas DAO layer.

	Only DAO classes here!!!
-->
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="com.agnitas">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
		<context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
	</context:component-scan>

<!-- Base bean for any DAO inheriting BaseDaoImpl -->
	<bean id="_BaseDao" class="com.agnitas.dao.impl.BaseDaoImpl" abstract="true">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>

<!-- ============================================================================================================================== Access data -->
	<bean id="accessDataDao" class="com.agnitas.emm.core.mobile.dao.impl.AccessDataDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>

<!-- ============================================================================================================================== Admin -->
	<bean id="AdminGroupDao" class="com.agnitas.dao.impl.AdminGroupDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
		<property name="companyDao" ref="CompanyDao" />
	</bean>

	<bean id="AdminPreferencesDao" class="com.agnitas.dao.impl.AdminPreferencesDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>

<!-- ============================================================================================================================== Auto optimization -->
	<bean id="OptimizationDao" class="com.agnitas.mailing.autooptimization.dao.impl.OptimizationDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>

	<bean id="StatDao" class="com.agnitas.mailing.autooptimization.dao.impl.OptimizationStatDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>

<!-- ============================================================================================================================== Blacklist -->
	<bean id="BlacklistDao"	class="com.agnitas.emm.core.blacklist.dao.impl.BlacklistDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>

<!-- ============================================================================================================================== Calendar -->
	<bean id="CalendarCommentDao" class="com.agnitas.emm.core.calendar.dao.impl.CalendarCommentDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>

<!-- ============================================================================================================================== Campaign -->
	<bean id="CampaignDao" class="com.agnitas.dao.impl.CampaignDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>
	
	<bean id="AnonymizeStatisticsDao" class="com.agnitas.dao.impl.AnonymizeStatisticsDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>


<!-- ============================================================================================================================== Company -->
	<bean id="BindingHistoryDao" class="com.agnitas.emm.core.recipient.dao.impl.BindingHistoryDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>
	
	<bean id="CompanyTokenDao" class="com.agnitas.emm.core.company.dao.impl.CompanyTokenDaoImpl" parent="_BaseDao" />
	
<!-- ============================================================================================================================== Configuration -->
	<bean id="LicenseDao" class="com.agnitas.dao.impl.LicenseDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>
	
	<bean id="ConfigTableDao" class="com.agnitas.dao.impl.ConfigTableDaoImpl">
		<constructor-arg ref="dataSource" />
		<constructor-arg ref="JavaMailService" />
		<constructor-arg ref="ConfigService" />
	</bean>
	
	<bean id="CompanyInfoDao" class="com.agnitas.emm.core.commons.util.CompanyInfoDao">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>
		
<!-- ============================================================================================================================== Datasource description -->
	<bean id="DatasourceDescriptionDao" class="com.agnitas.dao.impl.DatasourceDescriptionDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
		<property name="datasourceDescriptionFactory" ref="DatasourceDescriptionFactory" />
	</bean>

<!-- ============================================================================================================================== Devices -->
	
	<bean id="ClientDao" class="com.agnitas.emm.core.mobile.dao.impl.ClientDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>
		
<!-- ============================================================================================================================== DKIM -->
	<bean id="DkimDao" class="com.agnitas.dao.impl.DkimDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
		<property name="configService" ref="ConfigService" />
	</bean>
	
<!-- ============================================================================================================================== Dynamic tag -->
	<bean id="DynamicTagDao" class="com.agnitas.dao.impl.DynamicTagDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
		<property name="dynamicTagContentDao" ref="DynamicTagContentDao" />
	</bean>
	
<!-- ============================================================================================================================== Dynamic tag content -->
	<bean id="DynamicTagContentDao" class="com.agnitas.emm.core.dyncontent.dao.impl.DynamicTagContentDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>
	
<!-- ============================================================================================================================== ECS (Heatmap) -->
	<bean id="EmbeddedClickStatDao" class="com.agnitas.ecs.backend.dao.impl.EmbeddedClickStatDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>

<!-- ============================================================================================================================== EMM actions -->
	<bean id="EmmActionDao" class="com.agnitas.dao.impl.EmmActionDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>
	
<!-- ============================================================================================================================== EMM action operations -->
	<bean id="EmmActionOperationDao" class="com.agnitas.emm.core.action.dao.impl.EmmActionOperationDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
		<property name="actionOperationFactory" ref="ActionOperationFactory" />
		<!-- Key value equals to discriminator value in action operation entities-->
		<property name="daos">
			<map>
				<entry key="ExecuteScript" value-ref="actionOperationExecuteScriptDao"/>
				<entry key="UpdateCustomer" value-ref="actionOperationUpdateCustomerDao"/>
				<entry key="GetCustomer" value-ref="actionOperationGetCustomerDao"/>
				<entry key="SubscribeCustomer" value-ref="actionOperationSubscribeCustomerDao"/>
				<entry key="UnsubscribeCustomer" value-ref="actionOperationUnsubscribeCustomerDao"/>
				<entry key="SendMailing" value-ref="actionOperationSendMailingDao"/>
				<entry key="ServiceMail" value-ref="actionOperationServiceMailDao"/>
				<entry key="GetArchiveList" value-ref="actionOperationGetArchiveListDao"/>
				<entry key="GetArchiveMailing" value-ref="actionOperationGetArchiveMailingDao"/>
				<entry key="ContentView" value-ref="actionOperationContentViewDao"/>
				<entry key="IdentifyCustomer" value-ref="actionOperationIdentifyCustomerDao"/>
				<entry key="ActivateDoubleOptIn" value-ref="actionOperationActivateDOIDao"/>
				
				<entry key="SendLastNewsletter">
					<bean class="com.agnitas.emm.core.action.dao.impl.ActionOperationSendLastNewsletterDaoImpl">
						<property name="dataSource" ref="dataSource" />
						<property name="javaMailService" ref="JavaMailService" />
					</bean>	
				</entry>
			</map>
		</property>
	</bean>
	
	<bean id="actionOperationExecuteScriptDao" class="com.agnitas.emm.core.action.dao.impl.ActionOperationExecuteScriptDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>

	<bean id="actionOperationUpdateCustomerDao" class="com.agnitas.emm.core.action.dao.impl.ActionOperationUpdateCustomerDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>
	
	<bean id="actionOperationGetCustomerDao" class="com.agnitas.emm.core.action.dao.impl.ActionOperationGetCustomerDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>

	<bean id="actionOperationSubscribeCustomerDao" class="com.agnitas.emm.core.action.dao.impl.ActionOperationSubscribeCustomerDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>

    <bean id="actionOperationUnsubscribeCustomerDao" class="com.agnitas.emm.core.action.dao.impl.ActionOperationUnsubscribeCustomerDaoImpl">
        <property name="dataSource" ref="dataSource" />
        <property name="javaMailService" ref="JavaMailService" />
    </bean>

	<bean id="actionOperationSendMailingDao" class="com.agnitas.emm.core.action.dao.impl.ActionOperationSendMailingDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>

	<bean id="actionOperationServiceMailDao" class="com.agnitas.emm.core.action.dao.impl.ActionOperationServiceMailDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>

	<bean id="actionOperationGetArchiveListDao" class="com.agnitas.emm.core.action.dao.impl.ActionOperationGetArchiveListDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>

	<bean id="actionOperationGetArchiveMailingDao" class="com.agnitas.emm.core.action.dao.impl.ActionOperationGetArchiveMailingDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>
	
	<bean id="actionOperationContentViewDao" class="com.agnitas.emm.core.action.dao.impl.ActionOperationContentViewDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>

	<bean id="actionOperationIdentifyCustomerDao" class="com.agnitas.emm.core.action.dao.impl.ActionOperationIdentifyCustomerDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>

	<bean id="actionOperationActivateDOIDao" class="com.agnitas.emm.core.action.dao.impl.ActionOperationActivateDoubleOptInDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>
	
<!-- ============================================================================================================================== EMM layout -->
	<bean id="EmmLayoutBaseDao" class="com.agnitas.dao.impl.EmmLayoutBaseDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>
	
<!-- ============================================================================================================================== Host authentication -->
	<bean id="HostAuthenticationDao_commonSQL" class="com.agnitas.emm.core.logon.dao.HostAuthenticationDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>
	
	<bean id="HostAuthenticationDao" class="com.agnitas.emm.core.logon.dao.DbSwitchingHostAuthenticationDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
		<property name="oracleImplementation" ref="HostAuthenticationDao_commonSQL" />
		<property name="mysqlImplementation" ref="HostAuthenticationDao_commonSQL" />
	</bean>
	
<!-- ============================================================================================================================== Import -->

	<!--
	
	IMPORTANT!!!!
	
	Do not set this bean (ImportRecipientsDao) to scope="singleton". This would lead to race conditions inside the DAO.
	The DAO implementation assumes, that a new instance is created every time an import is triggered.
	
	 -->
	<bean id="ImportRecipientsDao" class="com.agnitas.dao.impl.ImportRecipientsDaoImpl" scope="prototype">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
		<property name="configService" ref="ConfigService" />
	</bean>

	<bean id="ImportProfileDao" class="com.agnitas.emm.core.import_profile.dao.impl.ImportProfileDaoImpl">
    	<constructor-arg ref="dataSource" />
    	<constructor-arg ref="JavaMailService" />
    	<constructor-arg ref="DataEncryptor" />
    	<constructor-arg ref="EmmActionOperationDao" />
    	<constructor-arg ref="MailingDao" />
	</bean>
	
<!-- ============================================================================================================================== Job queue -->
	<bean id="JobQueueDao" class="com.agnitas.dao.impl.JobQueueDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>

<!-- ============================================================================================================================== Login Track-->
	<bean id="GuiLoginTrackDao" class="com.agnitas.emm.core.loginmanager.dao.impl.GuiLoginTrackDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>
	
	<bean id="WsLoginTrackDao" class="com.agnitas.emm.springws.logintrack.WsLoginTrackDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>

<!-- ============================================================================================================================== Maildrop status -->
	<bean id="MaildropStatusDao" class="com.agnitas.emm.core.maildrop.dao.impl.MaildropStatusDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>

<!-- ============================================================================================================================== Mailing component -->
	<bean id="MailingComponentDao" class="com.agnitas.dao.impl.MailingComponentDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
		<property name="trackableLinkDao" ref="TrackableLinkDao" />
		<property name="mailingComponentFactory" ref="MailingComponentFactory" />
		<property name="configService" ref="ConfigService" />
	</bean>

<!-- ============================================================================================================================== Mailing parameter -->
	<bean id="MailingParameterDao" class="com.agnitas.emm.core.mailing.dao.impl.MailingParameterDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>
	
<!-- ============================================================================================================================== Mailing statistics job -->
	<bean id="MailingStatJobDao" class="com.agnitas.emm.core.stat.dao.impl.MailingStatJobDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>
	
	<bean id="MailingStatTgtGrpDao" class="com.agnitas.emm.core.stat.dao.impl.MailingStatTgtGrpDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>

<!-- ============================================================================================================================== Mailing delivery lock -->
	<bean id="MailingDeliveryBlockingDao" class="com.agnitas.emm.core.mailing.dao.impl.MailingDeliveryBlockingDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>
	
<!-- ============================================================================================================================== Mailloop -->
	<bean id="MailloopDao" class="com.agnitas.dao.impl.MailloopDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>

<!-- ============================================================================================================================== Mediatypes -->
	<bean id="MediatypeFactory" class="com.agnitas.emm.core.mediatypes.factory.MediatypeFactoryImpl"/>

<!-- ============================================================================================================================== Messages -->
	<bean id="MessageDao" class="com.agnitas.dao.impl.MessageDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>

<!-- ============================================================================================================================== Online help -->
	<bean id="DocMappingDao" class="com.agnitas.dao.impl.DocMappingDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>

<!-- ============================================================================================================================== Onepixel -->
	<bean id="OnepixelDao" class="com.agnitas.dao.impl.OnepixelDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
		<property name="configService" ref="ConfigService" />
	</bean>

<!-- ============================================================================================================================== Profile fields -->
	<bean id="ProfileFieldDao" class="com.agnitas.dao.impl.ProfileFieldDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
		<property name="configService" ref="ConfigService" />
		<property name="profileHistoryService" ref="RecipientProfileHistoryService" />
		<property name="recipientFieldService" ref="RecipientFieldService" />
	</bean>
	
<!-- ============================================================================================================================== Reports -->
	<bean id="BirtReportDao" class="com.agnitas.emm.core.birtreport.dao.impl.BirtReportDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
		<property name="birtReportFactory" ref="BirtReportFactory" />
	</bean>

	<bean id="BirtCompanyDao" class="com.agnitas.reporting.birt.external.dao.impl.BirtCompanyDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>

<!-- ============================================================================================================================== Server message -->
	<bean id="ServerMessageDao" class="com.agnitas.dao.impl.ServerMessageDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>

<!-- ============================================================================================================================== Server status -->
	<bean id="ServerStatusDao" class="com.agnitas.dao.impl.ServerStatusDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>

	
<!-- ============================================================================================================================== Tags -->
	<bean id="TagDao" class="com.agnitas.dao.impl.TagDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>
	
<!-- ============================================================================================================================== Target groups -->
	<bean id="TargetDao" class="com.agnitas.dao.impl.TargetDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
		<property name="targetFactory" ref="TargetFactory" />
		<property name="eqlFacade" ref="EqlFacade" />
        <property name="fulltextSearchQueryGenerator" ref="fulltextSearchQueryGenerator"/>
		<property name="configService" ref="ConfigService"/>
    </bean>
	
	<bean id="LightTargetDao" class="com.agnitas.reporting.birt.external.dao.impl.LightTargetDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>

	<bean id="TargetGroupsReferencedItemsDao" class="com.agnitas.emm.core.target.dao.impl.ReferencedItemsDaoImpl" parent="_BaseDao" />

<!-- ============================================================================================================================== Title -->
	<bean id="TitleDao" class="com.agnitas.dao.impl.TitleDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>
	
<!-- ============================================================================================================================== Trackable links -->
	<bean id="TrackableLinkDao" class="com.agnitas.dao.impl.TrackableLinkDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
		<property name="configService" ref="ConfigService" />
	</bean>

	<bean id="FormTrackableLinkDao" class="com.agnitas.emm.core.trackablelinks.dao.impl.FormTrackableLinkDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>
	
<!-- ============================================================================================================================== Undo -->
	<bean id="UndoDynContentDao" class="com.agnitas.dao.impl.UndoDynContentDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>
	
	<bean id="UndoMailingComponentDao" class="com.agnitas.dao.impl.UndoMailingComponentDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>

	<bean id="UndoMailingDao" class="com.agnitas.dao.impl.UndoMailingDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
		<property name="undoDynContentDao" ref="UndoDynContentDao" />
		<property name="undoMailingComponentDao" ref="UndoMailingComponentDao" />
	</bean>

<!-- ============================================================================================================================== User activity log -->
	<bean id="UserActivityLogDao" class="com.agnitas.emm.core.useractivitylog.dao.impl.UserActivityLogDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>

	<bean id="RestfulUserActivityLogDao" class="com.agnitas.emm.core.useractivitylog.dao.impl.RestfulUserActivityLogDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>

	<bean id="SoapUserActivityLogDao" class="com.agnitas.emm.core.useractivitylog.dao.impl.SoapUserActivityLogDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>
	
<!-- ============================================================================================================================== User form -->
	<bean id="UserFormDao" class="com.agnitas.dao.impl.UserFormDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
		<property name="trackableLinkDao" ref="FormTrackableLinkDao"/>
	</bean>

<!-- ============================================================================================================================== RecipientsReport -->
	<bean id="RecipientsReportDao" class="com.agnitas.emm.core.recipientsreport.dao.impl.RecipientsReportDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>

<!-- ============================================================================================================================== Workflow manager -->
	<bean id="workflowDao" class="com.agnitas.emm.core.workflow.dao.impl.WorkflowDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
        <property name="targetService" ref="targetService"/>
        <property name="configService" ref="ConfigService"/>
    </bean>

	<bean id="WorkflowReactionDao" class="com.agnitas.emm.core.workflow.dao.impl.WorkflowReactionDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
		<property name="recipientProfileHistoryService" ref="RecipientProfileHistoryService" />
		<property name="selfRef" ref="WorkflowReactionDao" />
	</bean>

	<bean id="workflowStartStopReminderDao" class="com.agnitas.emm.core.workflow.dao.impl.WorkflowStartStopReminderDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>
	
	<bean id="PasswordResetDao" class="com.agnitas.dao.impl.PasswordResetDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>
	
	<bean id="FormComponentDao" class="com.agnitas.dao.impl.FormComponentDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>
	
	<bean id="MailNotificationBufferDao" class="com.agnitas.dao.impl.MailNotificationBufferDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>
	
	<bean id="SessionHijackingPreventionDataDao" class="com.agnitas.emm.core.sessionhijacking.dao.SessionHijackingPreventionDataDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>

	<bean id="WebserviceUserDao" class="com.agnitas.emm.wsmanager.dao.impl.WebserviceUserDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>
	
	<bean id="WebserviceUserSettingsDao" class="com.agnitas.emm.wsmanager.dao.impl.WebserviceUserSettingsDaoImpl" parent="_BaseDao" />
	
	<bean id="DatabaseInformation" class="com.agnitas.emm.core.commons.database.impl.DatabaseInformationImpl">
		<constructor-arg index="0"><value>1000</value></constructor-arg>
		<constructor-arg index="1"><value>86400</value></constructor-arg>

		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="RecipientProfileHistoryDao" class="com.agnitas.emm.core.recipient.dao.impl.RecipientProfileHistoryDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>

	<bean id="DateFormatDao" class="com.agnitas.dao.impl.DateFormatDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>

	<bean id="LandingpageDao" class="com.agnitas.emm.landingpage.dao.LandingpageDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>

	<bean id="ScripthelperEmailLogDao" class="com.agnitas.dao.impl.ScripthelperEmailLogDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>

	<bean id="DeliveryStatDao" class="com.agnitas.dao.impl.DeliveryStatDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>
	
	<bean id="CssDao" class="com.agnitas.dao.impl.CssDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>

    <!-- ============================================================================================================================== -->
    <bean id="BindingEntryHistoryDao" class="com.agnitas.emm.core.report.dao.impl.BindingEntryHistoryDaoImpl">
        <property name="dataSource" ref="dataSource" />
        <property name="javaMailService" ref="JavaMailService" />
    </bean>
    	
	<bean id="RdirTrafficAmountDao" class="com.agnitas.dao.impl.RdirTrafficAmountDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>
	
	<!-- ============================================================================================================================== -->
	<bean id="MimeTypeWhitelistPatternDao" class="com.agnitas.emm.core.mimetypes.dao.MimeTypeWhitelistPatternDaoImpl" parent="_BaseDao" />
	
	<!-- ============================================================================================================================== Mobile phone whitelist -->
	<bean id="MobilephoneNumberWhitelistDao" class="com.agnitas.emm.mobilephone.dao.MobilephoneNumberWhitelistDaoImpl" parent="_BaseDao" />

	<bean id="PermissionDao" class="com.agnitas.dao.impl.PermissionDaoImpl" parent="_BaseDao" />
	<bean id="WebservicePermissionDao" class="com.agnitas.emm.wsmanager.dao.impl.WebservicePermissionDaoImpl" parent="_BaseDao" />
	<bean id="WebservicePermissionGroupDao" class="com.agnitas.emm.wsmanager.dao.impl.WebservicePermissionGroupDaoImpl" parent="_BaseDao" />
	
	<!-- ============================================================================================================================== Server Prio -->
	<bean id="ServerPrioDao" class="com.agnitas.emm.core.serverprio.dao.impl.ServerPrioDaoImpl" parent="_BaseDao" />
	
	<!-- ============================================================================================================================== Start-Up jobs -->
	<bean id="StartupJobEntryDao" class="com.agnitas.startuplistener.dao.StartupJobEntryDaoImpl" parent="_BaseDao" />

	<!-- ============================================================================================================================== -->
	<bean id="deliveryDao" class="com.agnitas.emm.core.delivery.dao.impl.DeliveryDaoImpl" parent="_BaseDao" />


	<!-- ============================================================================================================================== Webhooks -->
	<bean id="WebhookRegistrationDao" class="com.agnitas.emm.core.webhooks.registry.dao.WebhookRegistrationDaoImpl" parent="_BaseDao" />

	<bean id="WebhookMessageQueueDao" class="com.agnitas.emm.core.webhooks.messages.dao.WebhookMessageQueueDaoImpl" parent="_BaseDao">
		<property name="configService" ref="ConfigService" />
	</bean>

	<bean id="WebhookBackendDataProcessTimestampDao" class="com.agnitas.emm.core.webhooks.messages.dao.WebhookBackendDataProcessTimestampDaoImpl" parent="_BaseDao" />
	<bean id="WebhookProfileFieldDao" class="com.agnitas.emm.core.webhooks.profilefields.dao.WebhookProfileFieldDaoImpl" parent="_BaseDao" />
	<bean id="WebhookBackendDataDao" class="com.agnitas.emm.core.webhooks.messages.dao.WebhookBackendDataDaoImpl" parent="_BaseDao" />


	<bean id="LayoutDao" class="com.agnitas.dao.impl.LayoutDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>

	<bean id="MailingRecipientsDao" class="com.agnitas.emm.core.mailing.dao.impl.MailingRecipientsDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>

    <bean id="MailingStatisticsDao" class="com.agnitas.dao.impl.MailingStatisticsDaoImpl">
    	<constructor-arg ref="targetService" />
		
		
		<property name="dataSource" ref="dataSource" />
		<property name="javaMailService" ref="JavaMailService" />
    </bean>

	<bean id="RecipientFieldDao" class="com.agnitas.emm.core.dao.impl.RecipientFieldDaoImpl">
		<constructor-arg ref="dataSource" />
		<constructor-arg ref="JavaMailService" />
	</bean>
	
	<bean id="ImportQuotaDao" class="com.agnitas.emm.core.importquota.dao.ImportQuotaDaoImpl" parent="_BaseDao" />
</beans>
