<?xml version="1.0" encoding="UTF-8"?>
<!--
	Application context definition for AGNITAS service layer.

	Only service layer classes here!
-->
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/util
		http://www.springframework.org/schema/util/spring-util-2.5.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop.xsd">
		
	<bean id="ConfigurationValidityCheck" class="com.agnitas.emm.core.ConfigurationValidityCheckBasicImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="configService" ref="ConfigService" />
		<property name="configTableDao" ref="ConfigTableDao" />
		<property name="companyDao" ref="CompanyDao" />
		<property name="targetService" ref="targetService"/>
		<property name="layoutDao" ref="LayoutDao"/>
	</bean>

	<bean id="MailingExporter" class="org.agnitas.service.impl.MailingExporterImpl" />

	<bean id="MailingImporter" class="org.agnitas.service.impl.MailingImporterImpl" />

    <bean id="MailingImporterMediatypeFactory" class="org.agnitas.service.impl.MailingImporterMediatypeFactory" />

	<bean id="actionOperationSubscribeCustomer" class="com.agnitas.emm.core.action.service.impl.ActionOperationSubscribeCustomerImpl">
		<property name="companyDao" ref="CompanyDao" />
		<property name="uidService" ref="ExtensibleUIDService" />
		<property name="datasourceDescriptionDao" ref="DatasourceDescriptionDao" />
		<property name="beanLookupFactory" ref="beanLookupFactory" />
		<property name="pushSubscriptionService"><null /></property>
		<property name="configService" ref="ConfigService" />
		<property name="mobilephoneNumberWhitelist" ref="MobilephoneNumberWhitelist" />
		<property name="recipientService" ref="recipientService"/>
		<property name="blacklistService" ref="BlacklistService"/>
	</bean>

	<bean id="serviceLookupFactory" class="com.agnitas.service.impl.ServiceLookupFactory">
		<lookup-method name="getBeanExtensibleUIDService" bean="ExtensibleUIDService" />
		<lookup-method name="getBeanDeviceService" bean="DeviceService" />
		<lookup-method name="getBeanClientService" bean="ClientService" />
		<lookup-method name="getBeanBirtReportService" bean="BirtReportService" />
		<lookup-method name="getBeanCalendarReminderService" bean="calendarReminderService" />
		<lookup-method name="getBeanOptimizationService" bean="optimizationService" />
		<lookup-method name="getBeanWorkflowStartStopReminderService" bean="workflowStartStopReminderService" />
		<lookup-method name="getBeanWorkflowService" bean="WorkflowService" />
		<lookup-method name="getBeanJavaMailService" bean="JavaMailService" />
		<lookup-method name="getBeanConfigService" bean="ConfigService" />
		<lookup-method name="getBeanTargetService" bean="targetService" />
		<lookup-method name="getBeanSendActionbasedMailingService" bean="SendActionbasedMailingService" />
		<lookup-method name="getBeanSendActionbasedMailingService" bean="SendActionbasedMailingService" />
		<lookup-method name="getBeanBirtReportService" bean="BirtReportService" />
		<lookup-method name="getBeanBirtStatisticsService" bean="BirtStatisticsService" />
		<lookup-method name="getBeanCompanyService" bean="ComCompanyService" />
	</bean>

	<bean id="MailingBaseService" class="com.agnitas.emm.core.mailing.service.impl.ComMailingBaseServiceImpl">
		<property name="mailingDao" ref="MailingDao" />
		<property name="recipientDao" ref="RecipientDao" />
		<property name="workerExecutorService" ref="WorkerExecutorService" />
		<property name="dynamicTagDao" ref="DynamicTagDao" />
		<property name="undoMailingDao" ref="UndoMailingDao" />
		<property name="undoMailingComponentDao" ref="UndoMailingComponentDao" />
		<property name="undoDynContentDao" ref="UndoDynContentDao" />
		<property name="targetService" ref="targetService" />
		<property name="maildropService" ref="MaildropService"/>
		<property name="agnTagService" ref="AgnTagService"/>
		<property name="mailingComponentsService" ref="mailingComponentService"/>
		<property name="linkService" ref="LinkService"/>
		<property name="dynamicTagContentFactory" ref="DynamicTagContentFactory"/>
		<property name="dynamicTagContentDao" ref="DynamicTagContentDao"/>
		<property name="agnDynTagGroupResolverFactory" ref="AgnDynTagGroupResolverFactory"/>
		<property name="mailinglistApprovalService" ref="MailinglistApprovalService" />
		<property name="gridServiceWrapper" ref="GridServiceWrapper"/>
		<property name="adminService" ref="AdminService"/>
	</bean>

	<bean id="MailingSendService" class="com.agnitas.service.impl.ComMailingSendServiceImpl">
		<property name="mailingDao" ref="MailingDao" />
		<property name="companyDao" ref="CompanyDao" />
		<property name="mailinglistDao" ref="MailinglistDao" />
		<property name="classicTemplateGenerator" ref="ClassicTemplateGenerator" />
		<property name="maildropStatusDao" ref="MaildropStatusDao" />
		<property name="trackableLinkDao" ref="TrackableLinkDao" />
		<property name="onepixelDao" ref="OnepixelDao" />
		<property name="maildropService" ref="MaildropService" />
		<property name="mailingService" ref="MailingService" />
		<property name="mailingBaseService" ref="MailingBaseService" />
		<property name="configService" ref="ConfigService" />
	</bean>

	<bean id="WorkflowValidationService" class="com.agnitas.emm.core.workflow.service.ComWorkflowValidationService">
		<property name="workflowService" ref="WorkflowService" />
		<property name="mailingDao" ref="MailingDao" />
		<property name="maildropStatusDao" ref="MaildropStatusDao" />
		<property name="profileFieldDao" ref="ProfileFieldDao" />
		<property name="targetDao" ref="TargetDao" />
	</bean>

	<bean id="WorkflowActivationService" class="com.agnitas.emm.core.workflow.service.ComWorkflowActivationService">
		<property name="mailingDao" ref="MailingDao" />
		<property name="workflowService" ref="WorkflowService" />
		<property name="mailingSendService" ref="MailingSendService" />
		<property name="optimizationService" ref="optimizationService" />
		<property name="optimizationScheduleService" ref="optimizationScheduleService" />
		<property name="targetFactory" ref="TargetFactory" />
		<property name="targetDao" ref="TargetDao" />
		<property name="reactionDao" ref="WorkflowReactionDao" />
		<property name="reportScheduleDao" ref="WorkflowReportScheduleDao" />
		<property name="recipientDao" ref="RecipientDao" />
        <property name="eqlHelper" ref="WorkflowEQLHelper"/>
		<property name="adminService" ref="AdminService"/>
    </bean>

<!-- ============================================================================================================================== Mailing content -->
	<bean id="MailingContentService" class="com.agnitas.service.impl.ComMailingContentServiceImpl">
		<property name="dynamicTagContentFactory" ref="DynamicTagContentFactory" />
		<property name="dynamicTagFactory" ref="DynamicTagFactory" />
		<property name="mailingBaseService" ref="MailingBaseService" />
		<property name="agnTagService" ref="AgnTagService" />
		<property name="mailingDao" ref="MailingDao" />
		<property name="dynamicTagDao" ref="DynamicTagDao"/>
	</bean>

<!-- ============================================================================================================================== Export -->
	<bean id="RecipientExportWorkerFactory" class="org.agnitas.service.OpenemmRecipientExportWorkerFactory">
		<property name="targetService" ref="targetService"/>
		<property name="columnInfoService" ref="ColumnInfoService" />
	</bean>

	<bean id="ExportPredefService" class="com.agnitas.service.impl.ExportPredefServiceImpl">
		<property name="exportPredefDao" ref="ExportPredefDao" />
	</bean>

<!-- ============================================================================================================================== Target Groups -->

	<bean id="TargetGroupLocator" class="org.agnitas.emm.core.target.service.impl.TargetGroupLocatorChain">
		<property name="targetGroupLocators">
			<list>
				<ref bean="MailingTargetGroupLocator" />
				<ref bean="MaildropTargetGroupLocator" />
				<ref bean="ExportPredefTargetGroupLocator" />
				<ref bean="MailingComponentTargetGroupLocator" />
				<ref bean="MailingContentTargetGroupLocator" />
			</list>
		</property>
	</bean>

<!-- ============================================================================================================================== Company -->

	<bean id="ComCompanyService" class="com.agnitas.emm.core.company.service.impl.ComCompanyServiceImpl">
		<property name="companyDao" ref="CompanyDao"/>
		<property name="conversionService" ref="conversionService"/>
		<property name="configService" ref="ConfigService"/>
		<property name="companyFactory" ref="CompanyFactory"/>
		<property name="recipientProfileHistoryService" ref="RecipientProfileHistoryService"/>
		<property name="adminService" ref="AdminService"/>
		<property name="userActivityLogService" ref="UserActivityLogService"/>
        <property name="bounceFilterService" ref="BounceFilterService"/>
        <property name="companyTokenService" ref="CompanyTokenService" />
    </bean>

	<bean id="ProfileImportWorkerFactory" class="org.agnitas.service.ProfileImportWorkerFactory">
		<property name="configService" ref="ConfigService" />
		<property name="profileImportReporter" ref="ProfileImportReporter" />
		<property name="importModeHandlerFactory" ref="ImportModeHandlerFactory" />
		<property name="importRecipientsDao" ref="ImportRecipientsDao" />
		<property name="mailinglistDao" ref="MailinglistDao" />
	</bean>

	<bean id="mailingDeliveryStatService" class="com.agnitas.emm.core.mailing.service.impl.ComMailingDeliveryStatServiceImpl">
		<property name="deliveryStatDao" ref="DeliveryStatDao" />
		<property name="mailingDao" ref="MailingDao" />
		<property name="mailingStopService" ref="MailingStopService" />
	</bean>
	
	<bean id="RestfulServiceHandler_send" class="com.agnitas.emm.restful.send.SendRestfulServiceHandler">
		<property name="userActivityLogDao" ref="UserActivityLogDao"/>
		<property name="mailingService" ref="MailingService" />
		<property name="mailingDao" ref="MailingDao" />
		<property name="mailinglistDao" ref="MailinglistDao" />
		<property name="maildropService" ref="MaildropService" />
		<property name="classicTemplateGenerator" ref="ClassicTemplateGenerator" />
		<property name="sendActionbasedMailingService" ref="SendActionbasedMailingService" />
		<property name="recipientService" ref="recipientService" />
		<property name="configService" ref="ConfigService" />
		<property name="mailingPreviewService" ref="MailingPreviewService" />
		<property name="bindingEntryDao" ref="BindingEntryDao" />
		<property name="datasourceDescriptionDao" ref="DatasourceDescriptionDao" />
	</bean>
</beans>