<?xml version="1.0" encoding="UTF-8"?>
<!--
	Application context definition for Agnitas EMM business layer.
	Contains bean references to the transaction manager and to the DAOs in
	dataAccessContext.xml (see web.xml's "contextConfigLocation").
-->
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="org.agnitas, com.agnitas">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
		<context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
	</context:component-scan>

	<bean name="TargetGroupEditorContentSynchronizer" class="com.agnitas.emm.core.target.web.util.EditorContentSynchronizer">
		<property name="eqlToQueryBuilderConverter" ref="EqlToQueryBuilderConverter" />
		<property name="queryBuilderToEqlConverter" ref="QueryBuilderToEqlConverter" />
		<property name="queryBuilderFilterListBuilder" ref="TargetGroupQueryBuilderFilterListBuilder" />
	</bean>

	<bean name="TargetGroupQueryBuilderFilterListBuilder" class="com.agnitas.emm.core.target.eql.emm.querybuilder.QueryBuilderFilterListBuilder">
		<property name="profileFieldDao" ref="ProfileFieldDao" />
		<property name="queryBuilderConfiguration" ref="QueryBuilderConfiguration"/>
	</bean>

	<!-- Action beans -->
	<bean name="/support" class="com.agnitas.web.ComSupportAction">
		<property name="formNotFoundEmailTemplate" ref="formNotFoundEmailTemplate" />
		<property name="urlParameterTemplate" ref="formNotFoundUrlParameterTemplate" />
		<property name="configService" ref="ConfigService" />
		<property name="javaMailService" ref="JavaMailService" />
	</bean>

	<bean name="/mailingParameter" class="com.agnitas.emm.core.mailing.web.ComMailingParameterAction">
		<property name="mailingParameterService" ref="MailingParameterService" />
		<property name="mailingService" ref="MailingService" />
		<property name="webStorage" ref="WebStorage" />
		<property name="userActivityLogService" ref="UserActivityLogService" />
		<property name="mailingParameterLogService" ref="mailingParameterLogService"/>
	</bean>

	<bean name="/mcomponents" class="com.agnitas.web.ComMailingComponentsAction">
		<property name="mailingDao" ref="MailingDao" />
		<property name="configService" ref="ConfigService" />
		<property name="mailingComponentService" ref="mailingComponentService" />
		<property name="mailingBaseService" ref="MailingBaseService" />
		<property name="previewImageService" ref="PreviewImageService" />
		<property name="userActivityLogService" ref="UserActivityLogService" />
		<property name="sFtpHelperFactory" ref="SFtpHelperFactory"/>
		<property name="maildropService" ref="MaildropService" />
		<property name="mailinglistApprovalService" ref="MailinglistApprovalService" />
		<property name="linkService" ref="TrackeableLinkService"/>
	</bean>

	<bean name="/campaign" class="com.agnitas.web.ComCampaignAction">
		<property name="mailingDao" ref="MailingDao" />
		<property name="configService" ref="ConfigService" />
		<property name="workerExecutorService" ref="WorkerExecutorService" />
		<property name="campaignDao" ref="CampaignDao" />
		<property name="companyDao" ref="CompanyDao" />
		<property name="campaignFactory" ref="CampaignFactory" />
		<property name="targetDao" ref="TargetDao" />
		<property name="userActivityLogService" ref="UserActivityLogService" />
		<property name="webStorage" ref="WebStorage" />
	</bean>

	<bean name="/mwStart, /mwName, /mwTemplate, /mwType, /mwSendaddress, /mwMailtype, /mwSubject, /mwTarget, /mwTextmodules, /mwTextmodule, /mwLinks, /mwLink, /mwAttachment, /mwAttachmentDownload, /mwFinish" class="com.agnitas.web.ComMailingWizardAction">
		<property name="mailinglistService" ref="MailinglistService" />
		<property name="mailingDao" ref="MailingDao" />
		<property name="mailingFactory" ref="MailingFactory" />
		<property name="mailingComponentFactory" ref="MailingComponentFactory" />
		<property name="dynamicTagContentFactory" ref="DynamicTagContentFactory" />
		<property name="campaignDao" ref="CampaignDao" />
		<property name="targetService" ref="targetService" />
		<property name="emmActionDao" ref="EmmActionDao" />
		<property name="configService" ref="ConfigService" />
		<property name="workflowDao" ref="comWorkflowDao" />
		<property name="workflowService" ref="WorkflowService"/>
		<property name="agnTagService" ref="AgnTagService"/>
        <property name="userActivityLogService" ref="UserActivityLogService"/>
		<property name="mailinglistApprovalService" ref="MailinglistApprovalService" />
		<property name="mailingService" ref="MailingService" />
		<property name="previewImageService" ref="PreviewImageService" />
        <property name="copyMailingService" ref="CopyMailingService"/>
		<property name="filterListBuilder" ref="TargetGroupQueryBuilderFilterListBuilder"/>
		<property name="adminService" ref="AdminService"/>
	</bean>

	<!-- Same type, same setup as "/target"-->
	<bean name="/mwNewTarget" parent="/targetQB" />

	<bean name="/targetQB" class="com.agnitas.emm.core.target.web.QueryBuilderTargetGroupAction">
		<property name="targetService" ref="targetService" />
		<property name="editorContentSynchronizer" ref="TargetGroupEditorContentSynchronizer" />
		<property name="targetCopyService" ref="TargetCopyService" />
		<property name="targetFactory" ref="TargetFactory" />
		<property name="userActivityLogService" ref="UserActivityLogService" />
		<property name="eqlFacade" ref="EqlFacade"/>
		<property name="mailinglistApprovalService" ref="MailinglistApprovalService" />
		<property name="webStorage" ref="WebStorage" />
		<property name="gridService" ref="GridServiceWrapper" />
		<property name="birtStatisticsService" ref="BirtStatisticsService"/>
		<property name="recipientService" ref="recipientService"/>
	</bean>

	<bean name="/selfservice" class="com.agnitas.web.ComUserSelfServiceAction">
		<property name="adminService" ref="AdminService" />
		<property name="configService" ref="ConfigService" />
		<property name="adminGroupDao" ref="AdminGroupDao" />
		<property name="adminPreferencesDao" ref="AdminPreferencesDao" />
		<property name="companyDao" ref="CompanyDao" />
		<property name="layoutBaseDao" ref="EmmLayoutBaseDao" />
		<property name="loginTrackServiceRequestHelper" ref="LoginTrackServiceRequestHelper" />
		<property name="userActivityLogService" ref="UserActivityLogService" />
		<property name="passwordCheck" ref="PasswordCheck" />
		<property name="webStorage" ref="WebStorage" />
	</bean>
	
	<bean name="/showSupervisorLoginPermission" class="com.agnitas.web.ComUserSelfServiceShowSupervisorLoginPermissionAction">
		<property name="userActivityLogService" ref="UserActivityLogService" />
		<property name="supervisorLoginPermissionService" ref="SupervisorLoginPermissionService" />
		<property name="departmentService" ref="DepartmentService" />
		<property name="configService" ref="ConfigService" />
	</bean>
	
	<bean name="/grantSupervisorLoginPermission" class="com.agnitas.web.ComUserSelfServiceGrantSupervisorLoginPermissionAction">
		<property name="supervisorLoginPermissionService" ref="SupervisorLoginPermissionService" />
		<property name="userActivityLogService" ref="UserActivityLogService" />
		<property name="departmentService" ref="DepartmentService" />
	</bean>
	
	<bean name="/revokeSupervisorLoginPermission" class="com.agnitas.web.ComUserSelfServiceRevokeSupervisorLoginPermissionAction">
		<property name="supervisorLoginPermissionService" ref="SupervisorLoginPermissionService" />
		<property name="userActivityLogService" ref="UserActivityLogService" />
	</bean>

	<bean name="/importwizard" class="com.agnitas.web.ComImportWizardAction">
		<property name="dataSource" ref="dataSource" />
		<property name="configService" ref="ConfigService" />
		<property name="recipientDao" ref="RecipientDao" />
		<property name="datasourceDescriptionDao" ref="DatasourceDescriptionDao" />
		<property name="workerExecutorService" ref="WorkerExecutorService" />
		<property name="futureHolder" ref="futureHolder" />
		<property name="uploadDao" ref="UploadDao" />
		<property name="userActivityLogService" ref="UserActivityLogService" />
		<property name="importWizardService" ref="ImportWizardService"/>
		<property name="reportService" ref="RecipientsReportService"/>
		<property name="mailinglistService" ref="MailinglistService"/>
		<property name="mailinglistApprovalService" ref="MailinglistApprovalService" />
		<property name="profileImportWorkerFactory" ref="ProfileImportWorkerFactory" />
	</bean>

	<bean name="/mailingattachments" class="com.agnitas.web.ComMailingAttachmentsAction">
		<property name="mailingDao" ref="MailingDao" />
		<property name="targetDao" ref="TargetDao" />
		<property name="configService" ref="ConfigService" />
		<property name="mailingBaseService" ref="MailingBaseService" />
		<property name="componentDao" ref="MailingComponentDao" />
		<property name="uploadDao" ref="UploadDao" />
		<property name="mailingComponentFactory" ref="MailingComponentFactory" />
		<property name="userActivityLogService" ref="UserActivityLogService" />
		<property name="maildropService" ref="MaildropService" />
		<property name="mimeTypeWhitelistService" ref="MimeTypeWhitelistService" />
    </bean>

	<bean name="/mailingsend_ajax" class="org.agnitas.mailing.web.MailingSendAjaxAction">
		<property name="mailingDao" ref="MailingDao" />
	</bean>
	
	<bean name="/convert_actions" class="com.agnitas.temporary.actions.ComConvertActionsAction">
		<property name="emmActionDao" ref="EmmActionDao" />
		<property name="emmActionService" ref="EmmActionService" />
	</bean>
	
	<bean name="/salutation" class="org.agnitas.web.SalutationAction">
		<property name="userActivityLogService" ref="UserActivityLogService" />
		<property name="configService" ref="ConfigService" />
		<property name="titleDao" ref="TitleDao" />
		<property name="workerExecutorService" ref="WorkerExecutorService" />
		<property name="futureHolder" ref="futureHolder" />
		<property name="webStorage" ref="WebStorage" />
	</bean>

	<bean name="/sendMailloopAutoresponder" class="com.agnitas.emm.core.mailloop.web.SendAutoresponderMailAction">
		<property name="mailloopService" ref="MailloopService" />
	</bean>
	
	<bean name="/permissionDenied" class="com.agnitas.web.PermissionDeniedAction" />

	<bean name="/error" class="com.agnitas.web.ErrorAction" />

	<bean name="/ecs_stat" class="com.agnitas.ecs.web.EcsAction">
		<property name="ecsService" ref="EcsService"/>
		<property name="mailingBaseService" ref="MailingBaseService"/>
		<property name="userActivityLogService" ref="UserActivityLogService"/>
		<property name="configService" ref="ConfigService" />
		<property name="gridService" ref="GridServiceWrapper"/>
	</bean>

	<bean name="/tracklink" class="com.agnitas.web.ComTrackableLinkAction">
		<property name="mailingDao" ref="MailingDao" />
		<property name="configService" ref="ConfigService" />
		<property name="actionDao" ref="EmmActionDao" />
		<property name="linkService" ref="LinkService" />
		<property name="trackableLinkService" ref="TrackeableLinkService" />
		<property name="userActivityLogService" ref="UserActivityLogService" />
		<property name="mailingBaseService" ref="MailingBaseService" />
		<property name="gridService" ref="GridServiceWrapper"/>
		<property name="webStorage" ref="WebStorage" />
	</bean>

	<bean name="/mailingbase" class="com.agnitas.web.ComMailingBaseAction">
		<property name="configService" ref="ConfigService" />
		<property name="futureHolder" ref="futureHolder" />
		<property name="workerExecutorService" ref="WorkerExecutorService" />
		<property name="tagCheckFactory" ref="TAGCheckFactory" />
		<property name="mailingLightService" ref="MailingLightService" />
		<property name="mailingBaseService" ref="MailingBaseService" />
		<property name="dynamicTagDao" ref="DynamicTagDao" />
		<property name="mailingDao" ref="MailingDao" />
		<property name="campaignDao" ref="CampaignDao" />
		<property name="mailingFactory" ref="MailingFactory" />
		<property name="characterEncodingValidator" ref="CharacterEncodingValidator" />
		<property name="previewImageService" ref="PreviewImageService" />
		<property name="userActivityLogService" ref="UserActivityLogService" />
		<property name="mailingParameterService" ref="MailingParameterService" />
		<property name="workflowService" ref="WorkflowService" />
		<property name="linkService" ref="LinkService" />
		<property name="maildropService" ref="MaildropService" />
		<property name="mailinglistService" ref="MailinglistService" />
		<property name="javaMailService" ref="JavaMailService" />
        <property name="conversionService" ref="conversionService"/>
        <property name="copyMailingService" ref="CopyMailingService"/>
		<property name="webStorage" ref="WebStorage" />
        <property name="dynamicTagContentFactory" ref="DynamicTagContentFactory"/>
        <property name="mailingExporter" ref="MailingExporter"/>
        <property name="mailingImporter" ref="MailingImporter"/>
		<property name="mailinglistApprovalService" ref="MailinglistApprovalService" />
		<property name="gridService" ref="GridServiceWrapper"/>
        <property name="targetService" ref="targetService"/>
        <property name="mailingStopService" ref="MailingStopService" />
        <property name="agnTagService" ref="AgnTagService"/>
        <property name="agnDynTagGroupResolverFactory" ref="AgnDynTagGroupResolverFactory"/>
		<property name="mailingService" ref="MailingService"/>
		<property name="objectUsageService" ref="ObjectUsageService" />
    </bean>

	<bean name="/mailingcontent" class="com.agnitas.web.ComMailingContentAction">
		<property name="actionDao" ref="EmmActionDao" />
		<property name="mailingService" ref="MailingService"/>
		<property name="configService" ref="ConfigService" />
		<property name="mailingFactory" ref="MailingFactory" />
		<property name="tagCheckFactory" ref="TAGCheckFactory" />
		<property name="characterEncodingValidator" ref="CharacterEncodingValidator" />
		<property name="dynamicTagContentFactory" ref="DynamicTagContentFactory" />
		<property name="targetService" ref="targetService" />
		<property name="profileFieldDao" ref="ProfileFieldDao" />
		<property name="mailingContentService" ref="MailingContentService" />
		<property name="mailingComponentDao" ref="MailingComponentDao" />
		<property name="dynamicTagDao" ref="DynamicTagDao" />
		<property name="previewImageService" ref="PreviewImageService" />
		<property name="userActivityLogService" ref="UserActivityLogService" />
		<property name="adminPreferencesDao" ref="AdminPreferencesDao" />
		<property name="tagSyntaxChecker" ref="TagSyntaxChecker" />
		<property name="mailingBaseService" ref="MailingBaseService" />
		<property name="maildropService" ref="MaildropService" />
		<property name="mailinglistApprovalService" ref="MailinglistApprovalService" />
        <property name="gridServiceWrapper" ref="GridServiceWrapper"/>
    </bean>

    <bean name="/optimize" class="com.agnitas.mailing.autooptimization.web.ComOptimizationAction">
        <property name="optimizationService" ref="optimizationService" />
        <property name="optimizationScheduleService" ref="optimizationScheduleService" />
        <property name="userActivityLogService" ref="UserActivityLogService" />
        <property name="mailinglistApprovalService" ref="MailinglistApprovalService" />
        <property name="birtStatisticsService" ref="BirtStatisticsService"/>
    </bean>

    <bean name="/optimize_ajax" class="com.agnitas.mailing.autooptimization.web.ComOptimizationAjaxAction">
        <property name="optimizationService" ref="optimizationService" />
        <property name="optimizationStatService" ref="OptimizationStatService" />
    </bean>

    <bean name="/optimize_schedule" class="com.agnitas.mailing.autooptimization.web.ComOptimizationScheduleAction">
        <property name="optimizationService" ref="optimizationService" />
        <property name="optimizationScheduleService" ref="optimizationScheduleService" />
    </bean>

    <bean name="/form" class="com.agnitas.web.ComUserFormExecuteAction">
    	<!-- Legacy form.do for redirection to form.action -->
    </bean>
</beans>
