<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">
	
	
	<bean name="actionsTokenResolver" class="com.agnitas.web.perm.ActionsTokenResolver" >
		<property name="tokens">
			<map>
                <entry key="permissionDenied.unspecified" value="always.allowed" />
                <entry key="error.unspecified" value="always.allowed" />

                <entry key="admin.view" value="admin.show" />
                <entry key="admin.viewRights" value="admin.show" />
                <entry key="admin.list" value="admin.show" />
                <entry key="admin.save" value="admin.change" />
                <entry key="admin.saveRights" value="admin.change" />
                <entry key="admin.create" value="admin.new" />
                <entry key="admin.saveNew" value="admin.new" />
                <entry key="admin.exportCsv" value="admin.show" />
                <entry key="admin.exportPdf" value="admin.show" />
                <entry key="admin.confirmDelete" value="admin.delete" />
                <entry key="admin.delete" value="admin.delete" />
                <entry key="admin.sendWelcome" value="admin.sendWelcome" />
                
                <entry key="restfulUser.view" value="restfulUser.show" />
                <entry key="restfulUser.viewRights" value="restfulUser.show" />
                <entry key="restfulUser.list" value="restfulUser.show" />
                <entry key="restfulUser.save" value="restfulUser.change" />
                <entry key="restfulUser.saveRights" value="restfulUser.change" />
                <entry key="restfulUser.create" value="restfulUser.new" />
                <entry key="restfulUser.saveNew" value="restfulUser.new" />
                <entry key="restfulUser.exportCsv" value="restfulUser.show" />
                <entry key="restfulUser.exportPdf" value="restfulUser.show" />
                <entry key="restfulUser.confirmDelete" value="restfulUser.delete" />
                <entry key="restfulUser.delete" value="restfulUser.delete" />

                <entry key="user.group.list" value="role.show" />
                <entry key="user.group.copy" value="role.change"/>
                <entry key="user.group.save" value="role.change" />
                <entry key="user.group.create" value="role.change" />
                <entry key="user.group.delete" value="role.delete" />
                <entry key="user.group.confirmDelete" value="role.delete" />

                <!-- datasource tokens -->
                <entry key="datasource.list" value="datasource.show" />

                <!-- bounce filter permissions-->
                <entry key="bounce.filter.list" value="mailloop.show" />
                <entry key="bounce.filter.view" value="mailloop.show" />
                <entry key="bounce.filter.create" value="mailloop.change" />
                <entry key="bounce.filter.save" value="mailloop.change" />
                <entry key="bounce.filter.delete" value="mailloop.delete" />
                <entry key="bounce.filter.confirmDelete" value="mailloop.delete" />

                <!-- user group permissions Spring MVC -->
                <entry key="user.group.view" value="admin.show" />

                <entry key="profiledb.list" value="profileField.show" />
                <entry key="profiledb.dependents" value="profileField.show" />
                <entry key="profiledb.view" value="profileField.show" />
                <entry key="profiledb.save" value="profileField.show" />
                <entry key="profiledb.new" value="profileField.show" />
                <entry key="profiledb.delete" value="profileField.show" />
                <entry key="profiledb.confirm_delete" value="profileField.show" />
                <entry key="profiledb.confirmDelete" value="profileField.show" />
                <entry key="profiledb.newWizardField" value="profileField.show" />
                <entry key="profiledb.saveWizardField" value="profileField.show" />
                <entry key="profiledb.backToTarget" value="profileField.show" />
                <entry key="profiledb.new_field" value="profileField.show" />
                <entry key="profiledb.newField" value="profileField.show" />
                <entry key="profiledb.back_to_target" value="targets.show" />
                <entry key="profiledb.unspecified" value="profileField.show" />

                <entry key="userform.save" value="forms.change" />
                <entry key="userform.confirmDelete" value="forms.delete" />
                <entry key="userform.delete" value="forms.delete" />
                <entry key="userform.list" value="forms.show" />
                <entry key="userform.view" value="forms.show" />
                <entry key="userform.create" value="forms.change" />
                <entry key="userform.bulkDelete" value="forms.delete" />
                <entry key="userform.confirmBulkDelete" value="forms.delete" />
                <entry key="userform.clone" value="forms.change" />
                <entry key="userform.saveActiveness" value="forms.change" />
                <entry key="userform.import" value="forms.import" />
                <entry key="userform.export" value="forms.export" />
                <entry key="userform.importTemplates" value="mailing.import|forms.import" />

                <entry key="userform.components.list" value="mailing.components.change" />
                <entry key="userform.components.upload" value="mailing.components.change" />
                <entry key="userform.components.download" value="mailing.components.change" />
                <entry key="userform.components.delete" value="mailing.components.change" />
                <entry key="userform.components.confirmDelete" value="mailing.components.change" />

                <entry key="userform.trackablelink.list" value="forms.change" />
                <entry key="userform.trackablelink.save" value="forms.change" />
                <entry key="userform.trackablelink.save.extension" value="mailing.extend_trackable_links" />
                <entry key="userform.trackablelink.view" value="forms.change" />
                <entry key="userform.trackablelink.statistic" value="forms.change" />

                <entry key="action.list" value="actions.show" />
                <entry key="action.view" value="actions.show" />
                <entry key="action.save" value="actions.change" />
                <entry key="action.create" value="actions.show" />
                <entry key="action.clone" value="actions.change" />
                <entry key="action.confirmBulkDelete" value="actions.delete" />
                <entry key="action.bulkDelete" value="actions.delete" />
                <entry key="action.confirmDelete" value="actions.delete" />
                <entry key="action.delete" value="actions.delete" />
                <entry key="action.usagesView" value="actions.show"/>
                <entry key="action.saveActiveness" value="actions.change"/>

                <!--Mailinglist permission-->
                <entry key="mailinglist.list" value="mailinglist.show" />
                <entry key="mailinglist.view" value="mailinglist.show" />
                <entry key="mailinglist.save" value="mailinglist.change" />
                <entry key="mailinglist.delete" value="mailinglist.delete" />
                <entry key="mailinglist.create" value="mailinglist.change" />
                <entry key="mailinglist.confirmBulkDelete" value="mailinglist.delete" />
                <entry key="mailinglist.bulkDelete" value="mailinglist.delete" />
                <entry key="mailinglist.confirmDelete" value="mailinglist.delete" />
                <entry key="mailinglist.recipientsDeleteSettings" value="mailinglist.recipients.delete" />
                <entry key="mailinglist.confirmRecipientsDelete" value="mailinglist.recipients.delete" />
                <entry key="mailinglist.recipientsDelete" value="mailinglist.recipients.delete" />

                <entry key="target.view" value="targets.show" />
                <entry key="target.confirmBulkDelete" value="targets.delete" />
                <entry key="target.bulkDelete" value="targets.delete" />
                <entry key="target.confirmDelete" value="targets.delete" />
                <entry key="target.delete" value="targets.delete" />
                <entry key="target.confirmDeleteRecipients" value="recipient.delete" />
                <entry key="target.deleteRecipients" value="recipient.delete" />
                <entry key="target.addToFavorites" value="targets.show" />
                <entry key="target.removeFromFavorites" value="targets.show" />
                <entry key="target.list" value="targets.show" />
                <entry key="target.save" value="targets.change" />
                <entry key="target.create" value="targets.change" />
                <entry key="target.lock" value="targets.change" />
                <entry key="target.unlock" value="targets.change" />
                <entry key="target.copy" value="targets.change" />
                <entry key="target.dependents" value="targets.show" />

                <entry key="recipient.list" value="recipient.show" />
                <entry key="recipient.search" value="recipient.show" />
                <entry key="recipient.createTargetGroup" value="recipient.show" />
                <entry key="recipient.view" value="recipient.show" />
                <entry key="recipient.create" value="recipient.create" />
                <entry key="recipient.save" value="recipient.change" />
                <entry key="recipient.saveAndBackToList" value="recipient.change" />
                <entry key="recipient.checkAddress" value="recipient.show" />
                <entry key="recipient.confirmDelete" value="recipient.delete" />
                <entry key="recipient.delete" value="recipient.delete" />
                <entry key="recipient.statusChangesHistory" value="recipient.history" />
                <entry key="recipient.isRecipientDataMatchAltgTarget" value="recipient.show"/>
                <entry key="recipient.bulkView" value="recipient.change.bulk" />
                <entry key="recipient.calculateRecipients" value="recipient.change.bulk" />
                <entry key="recipient.bulkSave" value="recipient.change.bulk" />
                <entry key="recipient.contactHistory" value="recipient.history.mailing" />
                <entry key="recipient.deliveryHistory" value="recipient.history.mailing.delivery" />
                <entry key="recipient.successfulDeliveryHistory" value="recipient.history.mailing" />

                <!-- GWUA-3764 test feature -->
                <entry key="report.recipients" value="always.allowed"/>

                <!-- Import/Export Logs permission-->
                <entry key="recipientsreport.list" value="wizard.import|wizard.export"/>
                <entry key="recipientsreport.view" value="wizard.import|wizard.export"/>
                <entry key="recipientsreport.download" value="wizard.import|wizard.export"/>

                <entry key="newimportwizard.init" value="wizard.import|wizard.importclassic"/>
                <entry key="newimportwizard.unspecified" value="wizard.import" />

                <entry key="recipient.import.choose.method" value="wizard.import|wizard.importclassic" />
                <entry key="recipient.import.view" value="wizard.import" />
                <entry key="recipient.import.preview" value="wizard.import" />
                <entry key="recipient.import.execute" value="wizard.import" />
                <entry key="recipient.import.editErrors" value="wizard.import" />
                <entry key="recipient.import.saveErrors" value="wizard.import" />
                <entry key="recipient.import.cancel" value="wizard.import" />
                <entry key="recipient.import.ignoreErrors" value="wizard.import" />
                <entry key="recipient.import.downloadFile" value="wizard.import" />
                <entry key="recipient.import.finish" value="wizard.import" />
                <entry key="recipient.import.deleteFile" value="wizard.import" />

                <entry key="import.profile.list" value="wizard.import" />
                <entry key="import.profile.setDefault" value="wizard.import" />
                <entry key="import.profile.confirmDelete" value="import.delete" />
                <entry key="import.profile.delete" value="import.delete" />
                <entry key="import.profile.create" value="import.change" />
                <entry key="import.profile.view" value="wizard.import" />
                <entry key="import.profile.save" value="import.change" />

                <entry key="import.profile.columns.view" value="wizard.import" />
                <entry key="import.profile.columns.save" value="import.change" />
                <entry key="import.profile.columns.upload" value="wizard.import" />

                <entry key="heatmap.view" value="stats.ecs" />
                <entry key="heatmap.preview" value="stats.ecs" />
                <entry key="heatmap.export" value="stats.ecs" />

                <entry key="export.list" value="wizard.export" />
                <entry key="export.view" value="wizard.export" />
                <entry key="export.confirmDelete" value="export.delete" />
                <entry key="export.delete" value="export.delete" />
                <entry key="export.save" value="export.change" />
                <entry key="export.evaluate" value="wizard.export" />
                <entry key="export.download" value="wizard.export" />
                
                <!-- Optimization -->
                <entry key="optimization.list" value="campaign.change"/>
                <entry key="optimization.view" value="campaign.change"/>
                <entry key="optimization.create" value="campaign.change"/>
                <entry key="optimization.confirmDelete" value="campaign.change"/>
                <entry key="optimization.delete" value="campaign.change"/>
                <entry key="optimization.save" value="campaign.change"/>
                <entry key="optimization.schedule" value="campaign.change"/>
                <entry key="optimization.unSchedule" value="campaign.change"/>

                <entry key="optimization.ajax.splits" value="campaign.change"/>
                <entry key="optimization.ajax.loadStatistic" value="campaign.change"/>

                <!-- recipient blacklist -->
                <entry key="blacklist.list" value="blacklist" />
                <entry key="blacklist.save" value="blacklist" />
                <entry key="blacklist.update" value="blacklist" />
                <entry key="blacklist.confirm.delete" value="blacklist" />
                <entry key="blacklist.delete" value="blacklist" />
                <entry key="blacklist.download" value="blacklist" />

                <entry key="salutation.list" value="salutation.show" />
                <entry key="salutation.view" value="salutation.show" />
                <entry key="salutation.save" value="salutation.change" />
                <entry key="salutation.create" value="salutation.change" />
                <entry key="salutation.confirmDelete" value="salutation.delete" />
                <entry key="salutation.delete" value="salutation.delete" />

                <!-- Statistics -> Mailing (separate)-->
                <entry key="mailing.stat.list" value="stats.mailing" />
                <entry key="mailing.stat.view" value="stats.mailing" />

                <!-- GWUA-4277: permissions for Spring MVC controller -->
                <entry key="mailing.comparison.statistics.list" value="stats.mailing" />
                <entry key="mailing.comparison.statistics.compare" value="stats.mailing" />
                <entry key="mailing.comparison.statistics.export" value="stats.mailing" />


                <entry key="domain.statistics.view" value="stats.domains"/>

                <!-- recipient statistic permission-->
                <entry key="recipient.stats.view" value="stats.mailing" />
                <entry key="recipient.stats.remarksCsv" value="stats.mailing" />

                <entry key="monthly.statistics.view" value="stats.month"/>

                <!--Mvc dashboard permissions-->
                <entry key="dashboard.view" value="always.allowed" />
                <entry key="dashboard.getStatistics" value="stats.mailing" />
                <entry key="dashboard.getScheduledMailings" value="always.allowed" />
                <entry key="dashboard.saveLayout" value="always.allowed" />

                
                <entry key="calendar.view" value="calendar.show" />
                <entry key="calendar.getUnsentMailings" value="calendar.show" />
                <entry key="calendar.saveComment" value="calendar.show"/>
                <entry key="calendar.removeComment" value="calendar.show"/>
                <entry key="calendar.getAutoOptimization" value="calendar.show" />
                <entry key="calendar.getPlannedMailings" value="calendar.show" />
                <entry key="calendar.getComments" value="calendar.show" />
                <entry key="calendar.getMailings" value="calendar.show" />
                <entry key="calendar.moveMailing" value="calendar.show" />
                <entry key="calendar.getNotifications" value="calendar.show" />
                <entry key="calendar.movePush" value="calendar.show" />

                <entry key="mailing.list" value="mailing.show" />
                <entry key="mailing.actions" value="mailing.show" />
                <entry key="mailing.view" value="mailing.show" />
                <entry key="mailing.confirmDelete" value="mailing.delete" />
                <entry key="mailing.delete" value="mailing.delete" />
                <entry key="mailing.confirmBulkDelete" value="mailing.delete" />
                <entry key="mailing.bulkDelete" value="mailing.delete" />
                <entry key="mailing.copy" value="mailing.change" />
                <entry key="mailing.export" value="mailing.export" />
                <entry key="mailing.confirmUndo" value="mailing.change" />
                <entry key="mailing.undo" value="mailing.change" />
                <entry key="mailing.save" value="mailing.change" />
                <entry key="mailing.templates" value="template.show"/>
                <entry key="mailing.newClassic" value="mailing.change"/>
                <entry key="mailing.create" value="mailing.change"/>
                <entry key="mailing.restore" value="mailing.change" />
                <entry key="mailing.bulkRestore" value="mailing.change" />

                <entry key="mailing.recipients.list" value="mailing.recipients.show" />
                <entry key="mailing.recipients.export" value="mailing.recipients.show" />

                <entry key="mailing_ajax.tryToLock" value="mailing.content.show" />
                <entry key="mailing_ajax.setStatusOnErrorOnly" value="mailing.send.world" />
                <entry key="mailing_ajax.isAdvertisingContentType" value="mailing.show" />
                <entry key="mailing_ajax.calculateRecipients" value="always.allowed" />

                <entry key="import.view" value="mailing.import|forms.import" />
                <entry key="import.execute" value="mailing.import" />
                <entry key="import.view.mailing" value="mailing.import" />
                <entry key="import.view.template" value="mailing.import" />

                <entry key="mailingParameter.newParameter" value="mailing.parameter.change" />
                <entry key="mailingParameter.save" value="mailing.parameter.change" />
                <entry key="mailingParameter.delete" value="mailing.parameter.change" />
                <entry key="mailingParameter.deleteConfirm" value="mailing.parameter.change" />
                <entry key="mailingParameter.deleteCancelled" value="mailing.parameter.change" />
                <entry key="mailingParameter.confirmDelete" value="mailing.parameter.change" />
                
                <entry key="mailing.parameter.new" value="mailing.parameter.change" />
                <entry key="mailing.parameter.save" value="mailing.parameter.change" />
                <entry key="mailing.parameter.delete" value="mailing.parameter.change" />
                <entry key="mailing.parameter.confirmDelete" value="mailing.parameter.change" />

				<!-- workflow permissions-->
				<entry key="workflow.list" value="workflow.show"/>
				<entry key="workflow.view" value="workflow.show"/>
				<entry key="workflow.viewOnlyElements" value="workflow.show"/>
				<entry key="workflow.generatePDF" value="workflow.show"/>
				<entry key="workflow.getMailingLinks" value="workflow.show"/>
				<entry key="workflow.getMailingsByWorkStatus" value="workflow.show"/>
				<entry key="workflow.getAllMailingSorted" value="workflow.show"/>
				<entry key="workflow.getWorkflowContent" value="workflow.show"/>
				<entry key="workflow.getSampleWorkflowContent" value="workflow.show"/>
				<entry key="workflow.loadStatistics" value="workflow.show"/>
				<entry key="workflow.getTotalStatistics" value="workflow.show"/>
				<entry key="workflow.getCurrentAdminTime" value="workflow.show"/>
				<entry key="workflow.getMailingContent" value="workflow.show"/>
				<entry key="workflow.validateDependency" value="workflow.show"/>
				<entry key="workflow.getMailingThumbnail" value="workflow.show"/>
				<entry key="workflow.save" value="workflow.change"/>
				<entry key="workflow.create" value="workflow.change"/>
				<entry key="workflow.copy" value="workflow.change"/>
				<entry key="workflow.delete" value="workflow.delete"/>
				<entry key="workflow.confirmDelete" value="workflow.delete"/>
				<entry key="workflow.bulkDelete" value="workflow.delete"/>
				<entry key="workflow.confirmBulkDelete" value="workflow.delete"/>
				<entry key="workflow.bulkDeactivate" value="workflow.activate"/>
				<entry key="workflow.confirmBulkDeactivate" value="workflow.activate"/>
				<entry key="workflow.autoUnpause" value="workflow.activate"/>

                <entry key="recipient.import.wizard.fileStepView" value="wizard.importclassic" />
                <entry key="recipient.import.wizard.fileStepSave" value="wizard.importclassic" />
                <entry key="recipient.import.wizard.modeStepView" value="wizard.importclassic" />
                <entry key="recipient.import.wizard.modeStepSave" value="wizard.importclassic" />
                <entry key="recipient.import.wizard.mappingStepView" value="wizard.importclassic" />
                <entry key="recipient.import.wizard.mappingStepSave" value="wizard.importclassic" />
                <entry key="recipient.import.wizard.verifyMissingFieldsStepView" value="wizard.importclassic" />
                <entry key="recipient.import.wizard.verifyMissingFieldsStepSave" value="wizard.importclassic" />
                <entry key="recipient.import.wizard.verifyStepView" value="wizard.importclassic" />
                <entry key="recipient.import.wizard.verifyStepSave" value="wizard.importclassic" />
                <entry key="recipient.import.wizard.preScanStepView" value="wizard.importclassic" />
                <entry key="recipient.import.wizard.preScanStepSave" value="wizard.importclassic" />
                <entry key="recipient.import.wizard.mailinglistsStepView" value="wizard.importclassic" />
                <entry key="recipient.import.wizard.mailinglistsStepSave" value="wizard.importclassic" />
                <entry key="recipient.import.wizard.run" value="wizard.importclassic" />
                <entry key="recipient.import.wizard.downloadCsv" value="wizard.importclassic" />
                
                <entry key="mailingcontent.unspecified" value="mailing.content.show" />
                <entry key="mailingcontent.view_content" value="mailing.content.show" />
                <entry key="mailingcontent.import_content" value="mailing.content.show" />
                <entry key="mailingcontent.generate_text_from_html" value="mailing.content.show" />
                <entry key="mailingcontent.generate_text_from_html_confirm" value="mailing.content.show" />

                <entry key="mailing.content.viewContent" value="mailing.content.show" />
                <entry key="mailing.content.importContent" value="mailing.content.show" />
                <entry key="mailing.content.addCustomerExternalField" value="mediatype.post" />
                <entry key="mailing.content.addReferenceExternalField" value="mediatype.post" />
                <entry key="mailing.content.removeCustomerExternalField" value="mediatype.post" />
                <entry key="mailing.content.removeReferenceExternalField" value="mediatype.post" />
                <entry key="mailing.content.createPostalMailing" value="mediatype.post" />
                <entry key="mailing.content.confirmGenerateTextFromHtml" value="mailing.content.show" />
                <entry key="mailing.content.generateText" value="mailing.ai.content" />
                <entry key="mailing.content.generateTextFromHtml" value="mailing.content.show" />
                <entry key="mailing.content.view" value="mailing.content.show" />
                <entry key="mailing.content.save" value="mailing.content.show" />

                <entry key="mailing.images.list" value="mailing.components.show" />
                <entry key="mailing.images.bulkDownload" value="mailing.components.show" />
                <entry key="mailing.images.upload" value="mailing.components.change" />
                <entry key="mailing.images.uploadSftp" value="mailing.components.sftp" />
                <entry key="mailing.images.confirmDelete" value="mailing.components.change" />
                <entry key="mailing.images.confirmBulkDelete" value="mailing.components.change" />
                <entry key="mailing.images.delete" value="mailing.components.change" />
                <entry key="mailing.images.bulkDelete" value="mailing.components.change" />
                <entry key="mailing.images.edit" value="mailing.components.change" />
                <entry key="mailing.images.reload" value="mailing.components.change" />
                
                <entry key="mailing.attachment.list" value="mailing.attachments.show" />
                <entry key="mailing.attachment.save" value="mailing.attachments.show" />
                <entry key="mailing.attachment.upload" value="mailing.attachments.show" />
                <entry key="mailing.attachment.confirmDelete" value="mailing.attachments.show" />
                <entry key="mailing.attachment.delete" value="mailing.attachments.show" />
                
                <entry key="mailing.send.view" value="mailing.send.show" />
                <entry key="mailing.send.unlock" value="mailing.can_allow" />
                <entry key="mailing.send.confirmDeactivation" value="mailing.send.world" />
                <entry key="mailing.send.deactivate" value="mailing.send.world" />
                <entry key="mailing.send.deactivateIntervalMailing" value="mailing.send.world" />
                <entry key="mailing.send.activateDateBased" value="mailing.send.world" />
                <entry key="mailing.send.confirmDateBasedActivation" value="mailing.send.world" />
                <entry key="mailing.send.activateActionBased" value="mailing.send.world" />
                <entry key="mailing.send.confirmActionBasedActivation" value="mailing.send.world" />
                <entry key="mailing.send.activateIntervalMailing" value="mailing.send.world" />
                <entry key="mailing.send.saveStatusmailRecipients" value="mailing.send.world" />
                <entry key="mailing.send.confirmSendWorld" value="mailing.send.show" />
                <entry key="mailing.send.viewDeliverySettings" value="mailing.send.show" />
                <entry key="mailing.send.configureDateBasedSendingOptions" value="mailing.send.show" />
                <entry key="mailing.send.cancel" value="mailing.send.world" />
                <entry key="mailing.send.loadDeliveryStatusBox" value="mailing.send.show" />
                <entry key="mailing.send.sendAdmin" value="always.allowed" />
                <entry key="mailing.send.sendTest" value="always.allowed" />
                <entry key="mailing.send.sendPersonalizedTest" value="always.allowed" />
                <entry key="mailing.send.sendWorldMailing" value="mailing.send.world" />
                <entry key="mailing.send.resumeSending" value="mailing.send.world" />
                <entry key="mailing.send.changePrioritization" value="mailing.send.show" />
                <entry key="mailing.send.saveIntervalSettings" value="mailing.send.world" />
                <entry key="mailing.send.changeEncrypted" value="mailing.send.show" />
                <entry key="mailing.send.confirmCancel" value="mailing.send.world" />
                <entry key="mailing.send.confirmResume" value="mailing.resume.world" />
                <entry key="mailing.send.confirmResumeByCopy" value="mailing.resume.world" />
                <entry key="mailing.send.resume" value="mailing.resume.world" />
                <entry key="mailing.send.resumeByCopy" value="mailing.resume.world" />
                <entry key="mailing.send.saveTestRunTarget" value="always.allowed" />

                <entry key="mailing.preview.view" value="mailing.show" />
                <entry key="mailing.preview.header" value="mailing.show" />
                <entry key="mailing.preview.viewContent" value="mailing.show" />
                <entry key="mailing.preview.saveAsPdf" value="mailing.show" />
                <entry key="mailing.preview.downloadHtml" value="mailing.show" />

                <entry key="mailing.trackablelink.list" value="mailing.content.show" />
                <entry key="mailing.trackablelink.view" value="mailing.content.show" />
                <entry key="mailing.trackablelink.save" value="mailing.content.show" />
                <entry key="mailing.trackablelink.saveAll" value="mailing.content.show" />
                <entry key="mailing.trackablelink.confirmBulkClearExtensions" value="mailing.content.show" />
                <entry key="mailing.trackablelink.bulkClearExtensions" value="mailing.content.show" />
                <entry key="mailing.trackablelink.bulkActionsView" value="mailing.content.show" />
                <entry key="mailing.trackablelink.activateTrackingLinksOnEveryPosition" value="mailing.content.show" />
                <entry key="mailing.trackablelink.checkLinks" value="mailing.send.show" />

                <entry key="campaign.unspecified" value="campaign.show" />
                <entry key="campaign.list" value="campaign.show" />
                <entry key="campaign.view" value="campaign.show" />
                <entry key="campaign.save" value="campaign.change" />
                <entry key="campaign.new" value="campaign.change" />
                <entry key="campaign.new_mailing" value="mailing.change" />
                <entry key="campaign.view_without_load" value="campaign.show" />

                <entry key="mailing.archive.list" value="campaign.show" />
                <entry key="mailing.archive.view" value="campaign.show" />
                <entry key="mailing.archive.confirmMailingDelete" value="campaign.delete" />
                <entry key="mailing.archive.confirmDelete" value="campaign.delete" />
                <entry key="mailing.archive.delete" value="campaign.delete" />
                <entry key="mailing.archive.create" value="campaign.change" />
                <entry key="mailing.archive.save" value="campaign.change" />

                <entry key="webservice.manager.user.list" value="webservice.user.show"/>
                <entry key="webservice.manager.user.create" value="webservice.user.create"/>
                <entry key="webservice.manager.user.update" value="webservice.user.change"/>
                <entry key="webservice.manager.user.view" value="webservice.user.change"/>

                <entry key="wysiwyg.showAgnTags" value="always.allowed"/>
                <entry key="wysiwyg.getNamesUrlsJsonMap" value="always.allowed"/>
                <entry key="wysiwyg.imageBrowser" value="always.allowed"/>

                <entry key="session.info" value="always.allowed"/>

                <entry key="http_options_handler.handle" value="always.allowed" /> <!-- Required for successful preflight requests -->

                <entry key="user.self.view" value="always.allowed" />
                <entry key="user.self.save" value="always.allowed" />

                <!-- new tokens for user activity log -->
                <entry key="user.activity.log.list" value="always.allowed"/>
                <entry key="user.activity.log.download" value="always.allowed"/>

                <entry key="restful.user.activity.log.list" value="adminlog.show"/>
                <entry key="restful.user.activity.log.download" value="adminlog.show"/>

                <entry key="soap.user.activity.log.list" value="user.activity.actions.extended"/>
                <entry key="soap.user.activity.log.download" value="user.activity.actions.extended"/>

                <entry key="response.messagesJson" value="always.allowed"/>
                    
                <entry key="server.status.view" value="server.status"/>
                <entry key="server.status.saveConfig" value="server.status"/>
                <entry key="server.status.viewConfig" value="server.status"/>
                <entry key="server.status.downloadConfig" value="server.status"/>
                <entry key="server.status.startJob" value="server.status"/>
                <entry key="server.status.sendTestEmail" value="server.status"/>
                <entry key="server.status.diagnosisView" value="server.status"/>
                <entry key="server.status.logFileDownload" value="server.status"/>
                <entry key="server.status.logFileView" value="server.status"/>
                <entry key="server.status.jobQueueView" value="server.status"/>
                <entry key="server.status.licenseFileUpload" value="server.status"/>
                <entry key="server.status.updateCheck" value="server.status"/>
                
                <entry key="support.sendFormReport" value="always.allowed"/>
                <entry key="support.helpCenter" value="always.allowed"/>

                <entry key="ui.design.switchDesign" value="ui.design.migration"/>
            </map>
		</property>
		<!-- Below is a configuration of tokens in case of permission depends on several tokens
			 If there are more than one permissions are needed for an action use aggregation AND,
			 if more than one permissions are possible to allow an action use aggregation OR.
			 List all possible or needed permissions in the list of property tokens.
			 All subactions, which only have one permission are not complex and have to be defined above.
			 Be careful not to define permissions for one subaction twice. -->
			
		<property name="complexTokens">
			<map>
				<entry key="campaign">
					<list>
						<bean class="com.agnitas.web.perm.ComplexToken">
							<property name="subaction" value="confirm_delete"/>
							<property name="tokens">
								<list>
									<value>campaign.delete</value>
									<value>mailing.delete</value>
								</list>
							</property>
							<property name="aggregation" value="OR"/>
						</bean>
						<bean class="com.agnitas.web.perm.ComplexToken">
							<property name="subaction" value="delete"/>
							<property name="tokens">
								<list>
									<value>campaign.delete</value>
									<value>mailing.delete</value>
								</list>
							</property>
							<property name="aggregation" value="OR"/>
						</bean>
					</list>
				</entry>
			</map>
		</property>
	</bean>
</beans>
