<?xml version="1.0" encoding="UTF-8"?>
<!--
	Application context definition for Agnitas EMM business layer.
	Contains bean references to the transaction manager and to the DAOs in
	dataAccessContext.xml (see web.xml's "contextConfigLocation").
-->
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="org.agnitas, com.agnitas">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
		<context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
	</context:component-scan>
	
	<bean name="TargetGroupEditorContentSynchronizer" class="com.agnitas.emm.core.target.web.util.EditorContentSynchronizer">
		<property name="eqlToQueryBuilderConverter" ref="EqlToQueryBuilderConverter" />
		<property name="queryBuilderToEqlConverter" ref="QueryBuilderToEqlConverter" />
		<property name="queryBuilderFilterListBuilder" ref="TargetGroupQueryBuilderFilterListBuilder" />
        <property name="targetService" ref="targetService"/>
    </bean>

	<bean name="TargetGroupQueryBuilderFilterListBuilder" class="com.agnitas.emm.core.target.eql.emm.querybuilder.QueryBuilderFilterListBuilder">
		<property name="queryBuilderConfiguration" ref="QueryBuilderConfiguration"/>
		<property name="profileFieldService" ref="ProfileFieldService"/>
	</bean>
</beans>
