<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.2.xsd" default-lazy-init="true">

    <mvc:annotation-driven>
        <mvc:argument-resolvers>
            <bean class="com.agnitas.web.perm.AdminArgumentResolver" lazy-init="false"/>
            <bean class="com.agnitas.web.mvc.PopupsArgumentResolver" lazy-init="true"/>
            <bean class="com.agnitas.web.mvc.AdminPreferencesArgumentResolver" lazy-init="false"/>
            <bean class="com.agnitas.emm.core.workflow.web.WorkflowParametersArgumentResolver" lazy-init="true"/>
            <bean class="com.agnitas.emm.core.logon.web.resolver.LogonStateBundleArgumentResolver" lazy-init="true" />
        </mvc:argument-resolvers>
        <mvc:return-value-handlers>
            <bean class="com.agnitas.web.mvc.PollableMethodReturnValueHandler"/>
        </mvc:return-value-handlers>
    </mvc:annotation-driven>

    <context:component-scan base-package="org.agnitas, com.agnitas" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
    </context:component-scan>

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/assets/**"/>
            <mvc:exclude-mapping path="/form.action"/>
            <mvc:exclude-mapping path="/form.do"/>
            <bean class="com.agnitas.web.perm.AuthorizationInterceptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/assets/**"/>
            <mvc:exclude-mapping path="/form.action"/>
            <mvc:exclude-mapping path="/form.do"/>
            <bean class="com.agnitas.web.perm.XssInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/assets/**"/>
            <bean class="com.agnitas.emm.core.workflow.web.WorkflowParamsRedirectionInterceptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/recipient/import/wizard/step/*"/>
            <mvc:exclude-mapping path="/assets/**"/>
            <bean class="com.agnitas.emm.core.recipient.imports.wizard.web.RecipientImportWizardStepsInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <bean id="jsonMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter" lazy-init="false"/>

    <bean id="viewResolver" class="com.agnitas.spring.web.view.AgnUrlBasedViewResolver" lazy-init="false">
        <property name="viewClass" value="com.agnitas.spring.web.view.tiles3.ApacheTilesView"/>
        <property name="order" value="#{T(org.springframework.core.Ordered).HIGHEST_PRECEDENCE}"/>
    </bean>

    <bean id="tilesConfigurer" class="com.agnitas.spring.web.view.tiles3.TilesConfigurer" lazy-init="false">
        <property name="definitions">
            <list>
            	<!-- for localhost testing only
            	<value>file:/home/[username]/webapps/css/WEB-INF/tiles-defs.xml</value>
            	-->
                <value>/WEB-INF/tiles-defs.xml</value>
            </list>
        </property>
    </bean>

</beans>
