.header {
  display: flex;
  justify-content: space-between;
  gap: $gap;
  min-width: 0;
  align-items: center;

  padding-inline: $header-spacer;

  @include mobile {
    padding-left: $header-spacer;
    padding-right: $header-spacer / 2;
  }
}

.header__actions {
  @include flex-row($header-spacer);
  align-items: center;

  .btn {
    padding: $gap-x-sm - 2 8px;
    gap: $gap-x-sm;
    border-radius: $border-radius-sm;
    border-width: 2px;

    @include button-variant(
            $background: $dark-blue,
            $border: transparent,
            $color: $white
    );

    span {
      @extend .text-truncate;
    }

    @include mobile {
      @include size(30px);

      &.btn::after {
        display: none; // hide bootstrap arrow
      }

      span {
        display: none;
      }

      .icon {
        font-size: $font-size-lg;
      }
    }

    .dark-theme & {
      @include button-variant(
              $background: $main-bg-color-dark,
              $border: $primary,
              $color: $white
      );
    }
  }
}

#new-resource {
  body.edit-mode & {
    display: none;
  }
}
