
#help-center-modal .modal-content {
  @include desktop {
    height: 600px;
  }
}

#help-center-docs-tab {
  --manual-title-color: #{$black};

  .card-title {
    color: var(--manual-title-color);
  }
}

@include color-mode(dark) {
  #help-center-docs-tab {
    --manual-title-color: #{$light-blue};
  }
}

@include color-mode(light-contrast) {
  #help-center-docs-tab {
    --manual-title-color: #{$con-dark-blue};
  }
}

@include color-mode(dark-contrast) {
  #help-center-docs-tab {
    --manual-title-color: #{$white};
  }
}

#help-center-support-tab {
  @include media-breakpoint-down(lg) {
    .bordered-box {
      padding: $gap $gap-sm $gap-sm;
    }
  }  
}
