
#image-editor-modal {
  .modal-dialog {
    height: auto;
  }

  .modal-content {
    min-width: 80vw;
    max-height: unset;
  }

  .modal-body {
    display: grid;
    grid-template-columns: minmax(200px, 270px) auto minmax(200px, 270px);
    gap: $gap-md;
  }

  #canvas-editor-area {
    @include flex-center;
  }
}

.jcrop-handle {
  background-color: var(--resize-handle-bg);
  border: none;
  @include size($gap-sm);
  opacity: 1 !important;
}

/* Selection Border */
.jcrop-vline, .jcrop-hline {
  background: none;
  opacity: 1 !important;
}

.jcrop-vline {
  border-left: 2px dashed var(--resize-handle-bg);
}

.jcrop-hline {
  border-top: 2px dashed var(--resize-handle-bg);
}
