
#recipient-detail-view {
  display: flex;

  > .tile {
    flex: 1;
  }

  .duplicated-recipient-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}
