
$system-status-content-max-width: 1000px;

#sys-status-external-view {
  min-height: 100vh;
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr min-content;
  grid-template-areas:
	"header"
	"body"
	"footer";

  header {
    grid-area: header;
    background-color: $dark-blue;
    padding-inline: $gap;
    color: $white;

    @extend .flex-center;

    .header__content {
      max-width: $system-status-content-max-width;
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;

      h1 {
        font-size: 22px;
      }
    }

    .header__logo {
      max-height: 30px;
      width: auto;
      vertical-align: middle;
    }
  }

  main {
    grid-area: body;
    @include flex-column($gap);
    align-items: center;
    padding-inline: $gap;

    .panel {
      max-width: $system-status-content-max-width;
    }
  }

  footer {
    grid-area: footer;
    padding: 0 $gap-sm $gap-sm $gap-sm;
    display: flex;
    justify-content: flex-end;
    color: var(--text-gray-color);
  }

  .system-status__support {
    margin-top: $gap;
    width: 100%;
    max-width: $system-status-content-max-width;
    @extend .bordered-box;
    @include flex-row($gap);
    align-items: center;

    @include mobile {
      flex-direction: column;
    }

    > * {
      flex: 1;
    }

    .support__text {
      @include flex-column($gap);
    }

    .support__text__head {
      font-size: $font-size-xl;
    }

    .support__text__sub {
      font-size: $font-size-lg;
    }

    .support__btn {
      @extend .flex-center;

      .btn {
        font-size: 24px;
        padding: $gap-sm 100px;
      }
    }
  }
}
