//Some connection styles defined in Editor.defaults of editor.js

.node-connect-button {
  position: absolute;
  visibility: hidden;
  @extend .square-badge;
  background-color: #dadada;
  border-radius: 3px;

  top: 0;
  right: 0;
  color: var(--workflow-connection-button-color);

  &:hover {
    background-color: #cccccc;
  }

  svg {
    display: block;
    position: absolute;
    @include size(100%);
    z-index: 1;
  }
}

.node-status-badge {
  position: absolute;
  top: 0;
  right: 0;
}

.jtk-connector {
  &.jtk-hover {
    z-index: 11; /* be careful modifying this, synchronize with JS: Z_INDEX_CONNECTION_HOVER */
  }

  &.js-connection-drop-forbidden {
    cursor: no-drop !important;
  }
}

.jtk-overlay {
  &.connection-label {
    @include border(4px);
    background: $body-bg-var;
    opacity: 0.7;
    padding: 0 5px;
    cursor: default;
    z-index: 9; /* be careful modifying this, synchronize with JS: Z_INDEX_CONNECTION_OVERLAY */

    &.jtk-hover {
      color: var(--workflow-connection-label-color);
      border: 1px solid var(--workflow-connection-label-color);
      opacity: 1;
      z-index: 12; /* be careful modifying this, synchronize with JS: Z_INDEX_CONNECTION_OVERLAY_HOVER */
    }
  }
}
