
.node {
  position: absolute;
  @include size(64px);
  padding: 0;
  margin: 0;
  z-index: 10; /* be careful modifying this, synchronize with JS: Z_INDEX_ICON */
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  @include flex-center;
  color: var(--workflow-node-empty-image-color);

  .node-image {
    height: $campaign-icon-height;
  }
  
  &.under-edit .node-image {
    color: var(--workflow-node-editing-image-color);
    --workflow-node-bg: var(--workflow-node-editing-bg);
  }
  
  .node-image {
    height: $campaign-icon-height;
  }
  
  &.active {
    color: var(--workflow-node-active-image-color);
    --workflow-node-bg: var(--workflow-node-hover-bg);
  }

  &:hover {
    z-index: 13; /* be careful modifying this, synchronize with JS: Z_INDEX_ICON_HOVER */
    color: var(--workflow-node-hover-color);
    --workflow-node-bg: var(--workflow-node-hover-bg);
  }

  &:hover:not(.jtk-drag-hover):not(.jtk-dragged) .node-connect-button,
  &.jtk-drag-selected.jtk-drag-active .node-connect-button {
    visibility: visible;
  }

  &.ui-selected, &.ui-selecting {
    color: var(--workflow-node-hover-color);
  }

  &.js-collision-detected {
    opacity: 0.2;
  }

  .icon-overlay-title {
    display: block;
    position: absolute;
    @include size(100%);
    top: 0;
    left: 0;
    margin: 0;
    text-align: center;
    line-height: 64px; /* Same width as node */
    font-weight: bold;
  }

  .icon-overlay-title:empty {
    display: none;
  }
}

.draggable-node {
  pointer-events: none;
  opacity: 0.8;
  svg {
    @include size(64px);
  }

  &.js-collision-detected {
    opacity: 0.4;
  }
}

.node.jtk-dragged {
  pointer-events: none !important;
  z-index: 20; /* be careful modifying this, synchronize with JS: Z_INDEX_DRAGGED_ICON_NODE */
}

.node.jtk-drag-hover,
.node.jtk-drag-selected.jtk-drag-active {
  color: $warning-var !important;
}
