#
# URL Rewriting Rules for Safari Push endpoint
#

RewriteRule ^(/safari-push)/([^/]*)/(log)$ $1?version=$2&func=$3 [L]
RewriteRule ^(/safari-push)/([^/]*)/(pushPackages)/([^/]*)$ $1?version=$2&func=$3&website=$4 [L]
RewriteRule ^(/safari-push)/([^/]*)/(devices)/([^/]*)/(registrations)/([^/]*)$ $1?version=$2&func=$3&subfunc=$5&website=$6&device=$4 [L]


#
# Rewriting rules for honeypot links
#
RewriteRule ^/hplt/([^/]*) /hplt.html?agnUID=$1 [L]
