<?xml version="1.0" encoding="UTF-8"?>
<beans
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns="http://www.springframework.org/schema/beans"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="messageSource" class="com.agnitas.messages.DBMessageSource" lazy-init="false"/>
	<bean id="localeResolver" class="com.agnitas.web.mvc.AdminLocaleResolver" lazy-init="false"/>

	<bean id="modelValidator" class="com.agnitas.emm.core.validator.ModelValidator">
		<constructor-arg type="java.lang.String" value="validator-rules.xml" />
		<constructor-arg type="java.lang.String" value="validator-messages" />
	</bean>
</beans>
