
.input-table {
  width: 100%;

  tbody, thead {
    @include flex-column($gap-x-sm);
  }

  thead {
    color: var(--label-color);
  }

  tr {
    @include flex-row($gap-x-sm);
    td, th {
      &:not(:last-child) {
        flex: 1;
        min-width: 0;
      }
      &:last-child {
        width: $btn-icon-size;
      }
    }

    @include mobile {
      display: grid;
      grid-template-columns: 1fr 30px;

      td {
        &:first-child {
          order: -1;
        }

        &:not(:last-child, :first-child) {
          order: 1;
        }

        &:last-child {
          order: 0;
          grid-row: span calc(var(--column-count) - 1);

          .btn {
            height: 100%;
          }
        }
      }
    }
  }

  &.input-table--readonly {
    tr td:last-child {
      flex: 1;
      min-width: 0;
    }
  }
}
