
.input-table {
  width: 100%;

  tbody, thead {
    @include flex-column($gap-x-sm);
  }

  thead {
    color: var(--label-color);
  }

  tr {
    @include flex-row($gap-x-sm);
    td, th {
      &:not(:last-child) {
        flex: 1;
        min-width: 0;
      }
      &:last-child {
        width: $btn-icon-size;
      }
    }
  }

  &.input-table--readonly {
    tr td:last-child {
      flex: 1;
      min-width: 0;
    }
  }
}
