.pagination {
  li {
    @include flex-center;
    @include size(30px);
    font-weight: $font-weight-semibold;
    color: var(--table-head-text-color);

    &.active, &:hover {
      color: $white;
      background-color: var(--pagination-active-bg-color);
    }

    &.disabled {
      cursor: not-allowed;
      background-color: transparent;
      color: var(--pagination-disabled-text-color);
    }

    a {
      width: 100%;
      text-align: center;
    }
  }
}

.hide-pagination {
  .pagination {
    display: none;
  }
}
