
@mixin table-scrollbar() {
  @include perfect-scrollbar(var(--scrollbar-color), 5px, 3px);
}

.table-box, .js-data-table-body {
  @include flex-column;
  height: 100%;
  container-type: inline-size;

  border-radius: $border-radius;
  border: $table-border;
  overflow: hidden;
}

.table-scrollable {
  @include hide-scroll;
  flex-grow: 1;

  @include table-scrollbar;

  > .ps__rail-y {
    top: 0px !important;
    margin-top: $table-header-height;
    z-index: 2;
  }
}
