
$pageBtnWidth: 30px;
$pagesCount: 6;

.table-controls {
  padding: $table-spacing / 2 0 $table-spacing / 2 $table-spacing;
  background-color: var(--table-head-bg-color);
  height: 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @for $i from 2 through $pagesCount {
    &.pages-#{$i} {
      @container (max-width: #{510px + ($pageBtnWidth * ($i - 2))}) {
        flex-direction: column;
        gap: $table-spacing * 2;
      }
    }
  }

  .dark-theme & {
    --select-dropdown-bg-color: var(--table-head-bg-color);
  }
}

.table-controls__entries-wrapper {
  @include flex-row($table-spacing / 2);
  align-items: center;

  @include font(clamp(13px, 2vw, $font-size-base), $font-weight-base);
  color: var(--table-head-text-color);

  span {
    white-space: nowrap;
  }
}
