
#account-data__initials {
  @include font($font-size-sm);
  @include sidebar-colors-inverse();
}

#account-data-block {
  .sidebar__tooltip.open {
    @include flex(column, $gap-sm);
    bottom: 0;

    padding: $gap $gap $gap-sm $gap-sm;
  }
}

.version-container {
  @include flex(row, $gap-sm);
  align-items: center;
}

.account-data__label {
  @include font($font-size-base, $font-weight-base);
  white-space: nowrap;
}

.account-data__fullname {
  @include font($font-size-lg);
  white-space: nowrap;
}
