
#account-data__initials {
  @include sidebar-colors-inverse;
}

#account-data-block {
  .sidebar__tooltip.open {
    @include flex-column($gap-sm);
    bottom: 0;

    padding: $gap $gap $gap-sm $gap-sm;
  }
}

.account-data__label {
  @include font($font-size-base, $font-weight-base);
  white-space: nowrap;
}
