
// TODO: EMMGUI-714: remove after remove of old design
@function switch-toggle-variant-sidebar($circle-color) {
  @return escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='4.1' fill='#{$circle-color}'/></svg>"));
}

#switch-design-block {
  justify-content: center;

  .sidebar__tooltip.open {
    @include flex-row($gap-sm);
    align-items: center;
  }
}

@include color-mode(light-contrast) {
  #switch-design-block .form-switch {
    --slider-checked-bg: #{$white};
    --slider-checked-circle-bg: #{switch-toggle-variant-sidebar($dark-blue)};
  }
}

#switch-design__toggle-block {
  min-height: unset;
}
