<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:sws="http://www.springframework.org/schema/web-services"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
						http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
       http://www.springframework.org/schema/web-services http://www.springframework.org/schema/web-services/web-services-2.0.xsd">

	<context:annotation-config/>

	<bean id="LegacyThrottlingService" class="com.agnitas.emm.springws.throttling.impl.SimpleSlidingAverageThrottlingServiceImpl" >
        <property name="webserviceUserService" ref="WebserviceUserService"/>
    </bean>
 
 	<bean id="SoapQuotaService" class="com.agnitas.emm.util.quota.tokenbucket.Bucket4jQuotaService">
 		<property name="bucketManager">
 			<bean class="com.agnitas.emm.springws.throttling.tokenbucket.service.LocalBucketManager">
 				<property name="configService" ref="ConfigService" />
 				<property name="webserviceUserService" ref="WebserviceUserService" />
 			</bean>
 		</property>
 		
 		<property name="apiInvocationCosts">
 		    <bean class="com.agnitas.emm.springws.throttling.tokenbucket.service.WebserviceInvocationCostsCache">
 		    	<constructor-arg><bean class="com.agnitas.emm.springws.throttling.tokenbucket.dao.DatabaseBasedWebserviceInvocationCosts" parent="_BaseDao" /></constructor-arg>
 		    	<constructor-arg ref="ConfigService" />
 		    </bean>
 		</property>
 	</bean>
 	
    <bean id="throttlingService" class="com.agnitas.emm.springws.throttling.migration.ThrottlingServiceImplementationSwitch">
    	<property name="legacyThrottlingService" ref="LegacyThrottlingService" />
    	<property name="newThrottlingService" ref="SoapQuotaService" />
    	<property name="configService" ref="ConfigService" />
    </bean>

	<bean id="throttlingInterceptor" class="com.agnitas.emm.springws.throttling.ThrottlingInterceptor" >
        <property name="throttlingService" ref="throttlingService"/>
    </bean>

	<!--  Security interceptor without login tracking. -->
	<!-- 
	<bean id="wsSecurityInterceptor"
        class="org.springframework.ws.soap.security.xwss.XwsSecurityInterceptor">
        <property name="policyConfiguration" value="classpath:server-securityPolicy.xml"/>
        <property name="callbackHandlers">
            <ref bean="springSecurityHandler"/>
        </property>
    </bean>
    -->

    <!-- 
    	Security interceptor with login tracking. 
    	
    	If server load is too high and no login tracking is required, one can use 
    	the security interceptor above.
    -->
	<bean id="wsSecurityInterceptor" class="org.agnitas.emm.springws.security.LoginTrackingXwsSecurityInterceptor">
        <property name="policyConfiguration" value="classpath:server-securityPolicy.xml"/>
        <property name="callbackHandlers" ref="springSecurityHandler"/>
        <property name="loginTrackService" ref="WsLoginTrackService" />
        <property name="configService" ref="ConfigService" />
    </bean>



    <bean id="permissionInterceptor" class="com.agnitas.emm.springws.permissions.PermissionCheckingEndpointInterceptor" />

	<bean id="springSecurityHandler" class="org.agnitas.emm.springws.security.SpringDigestPasswordValidationCallbackHandler">
        <property name="userDetailsService" ref="userDetailsService"/>
    </bean>

    <bean id="userDetailsService" class="com.agnitas.emm.springws.WebserviceUserDetailService">
		<property name="dataSource" ref="dataSource" />
		<property name="webservicePasswordEncryptor" ref="WebservicePasswordEncryptor" />
        <property name="javaMailService" ref="JavaMailService"/>
        <property name="configService" ref="ConfigService" />
	</bean>

	<bean id="WsLoginTrackService" class="org.agnitas.emm.core.logintracking.service.impl.LoginTrackServiceImpl">
		<property name="loginTrackDao" ref="WsLoginTrackDao" />

        <property name="loginTrackSettingsDao">
        	<bean class="com.agnitas.emm.springws.logintrack.WebserviceLoginTrackSettingsDaoImpl">
	        	<property name="configService" ref="ConfigService" />
	        </bean>
        </property>
    </bean>



<!-- Is this AOP config still needed? -->
<!-- 
    <aop:config>
	    <aop:pointcut id="userDetailsServiceMethods"
	                expression="execution(* org.springframework.security.userdetails.jdbc.JdbcDaoImpl.*(..)) or execution(* com.agnitas.emm.springws.throttling.impl.SimpleSlidingAverageThrottlingServiceImpl.checkAndTrack(..))"/>
	</aop:config>
-->

    <bean id="objectFactory" class="org.agnitas.emm.springws.jaxb.ObjectFactory" />
    <bean id="comObjectFactory" class="com.agnitas.emm.springws.jaxb.ObjectFactory" />

</beans>
