<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:sws="http://www.springframework.org/schema/web-services"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/web-services http://www.springframework.org/schema/web-services/web-services-2.0.xsd">

	<bean id="attachmentExceptionResolver" class="com.agnitas.emm.springws.exceptionresolver.component.AttachmentExceptionResolver">
		<property name="mappedEndpoints">
			<set>
				<ref bean="getAttachmentEndpoint" />
				<ref bean="updateAttachmentEndpoint" />
				<ref bean="deleteAttachmentEndpoint" />
				<ref bean="addAttachmentEndpoint" />
			</set>
		</property>
	</bean>

    <bean id="blacklistExceptionResolver" class="com.agnitas.emm.springws.exceptionresolver.blacklist.BlacklistExceptionResolver">
		<property name="mappedEndpoints">
			<list>
				<ref bean="addBlacklistEndpoint"/>
			</list>
		</property>
		<property name="order" value="3"/>
	</bean>
	
	<bean id="mailingExceptionResolver" class="com.agnitas.emm.springws.exceptionresolver.mailing.MailingExceptionResolver">
		<property name="mappedEndpoints">
			<list>
				<ref bean="sendMailingEndpoint"/>
			</list>
		</property>
	</bean>

    <bean id="mailinglistExceptionResolver" class="com.agnitas.emm.springws.exceptionresolver.mailinglist.MailinglistExceptionResolver" >
		<property name="mappedEndpoints">
			<list>
				<ref bean="deleteMailinglistEndpoint"/>
			</list>
		</property>
	</bean>

	<bean id="bindingExceptionResolver" class="com.agnitas.emm.springws.exceptionresolver.binding.BindingExceptionResolver">
		<property name="mappedEndpoints">
			<set>
				<ref bean="setSubscriberBindingWithActionEndpoint" />
				<ref bean="setSubscriberBindingEndpoint" />
				
			</set>
		</property>
	</bean>

	

	

	<bean id="sendServiceMailExceptionResolver" class="com.agnitas.emm.springws.exceptionresolver.SendServiceMailExceptionResolver">
		<property name="mappedEndpoints">
			<list>
				<ref bean="sendServiceMailEndpoint"/>
			</list>
		</property>
	</bean>

	<bean id="mailingComponentExceptionResolver" class="com.agnitas.emm.springws.exceptionresolver.MailingComponentExceptionResolver">
		<property name="mappedEndpoints">
			<list>
				<ref bean="updateMailingContentEndpoint"/>
			</list>
		</property>
	</bean>

    <bean id="recipientsExceptionResolver" class="com.agnitas.emm.springws.exceptionresolver.recipient.RecipientsExceptionResolver">
		<property name="mappedEndpoints">
			<list>
				<ref bean="listSubscribersEndpoint"/>
			</list>
		</property>
	</bean>
</beans>