/* ==========================================================================
   $BASE-DATE-PICKER
   ========================================================================== */
/**
 * The picker box.
 */
.picker__box {
  // padding: 0 1em;
}

body.dark-theme .picker__box {
  background-color: $c-dt-dp-background;
}

/**
 * The header containing the month and year stuff.
 */
.picker__header {
  text-align: center;
  position: relative;
  font-size: $fs-small;

  color: $c-gray-55;

  @include clearfix();
}

body.dark-theme .picker__header {
  color: $c-dt-dp-primary-text;
}

/**
 * The month and year labels.
 */
.picker__month,
.picker__year {
  font-size: $fs-small;
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 10px;
}
.picker__year {}
/**
 * The month and year selectors.
 */
.picker__select--month,
.picker__select--year {
  border: 1px solid #b7b7b7;
  height: 2em;
  padding: .5em;
  margin-left: .25em;
  margin-right: .25em;
}
@media (min-width: 24.5em) {
  .picker__select--month,
  .picker__select--year {
    margin-top: -0.5em;
  }
}
.picker__select--month {
  width: 35%;
}
.picker__select--year {
  width: 22.5%;
}
.picker__select--month:focus,
.picker__select--year:focus {
  border-color: #0089ec;
}
/**
 * The month navigation buttons.
 */
.picker__nav--prev,
.picker__nav--next {
  padding: 10px;
}

.picker__nav--prev {
  float: left;
  padding: 10px;

  &:before {
    font-family: 'FontAwesome';
    content: $fa-var-chevron-left;
  }
}

.picker__nav--next {
  float: right;

  &:before {
    font-family: 'FontAwesome';
    content: $fa-var-chevron-right;
  }
}

.picker__nav--prev:hover,
.picker__nav--next:hover {
  cursor: pointer;
  color: #000000;
  background: #b1dcfb;
}

body.dark-theme .picker__nav--prev:hover,
body.dark-theme .picker__nav--next:hover {
  background-color: darken($c-dt-dp-background, 12%);
  color: $c-dt-dp-primary-text;
}

.picker__nav--disabled,
.picker__nav--disabled:hover,
.picker__nav--disabled:before,
.picker__nav--disabled:before:hover {
  cursor: default;
  color: $c-gray-20;
}
/**
 * The calendar table of dates
 */
.picker__table {
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  font-size: inherit;
  width: 100%;
}

.picker__table td {
  margin: 0;
  padding: 0;
}
/**
 * The weekday labels
 */
.picker__weekday {
  padding: 10px;
  font-weight: $fw-bold;
  text-align: left;

  background-color: $c-gray-11;
  border-bottom: 1px solid $c-gray-20;
  border-right: 1px solid $c-gray-20;

  &:first-child {
    border-left: 1px solid $c-gray-20;
  }
}

body.dark-theme .picker__weekday {
  color: $c-dt-dp-primary-text;
  background-color: darken($c-dt-dp-background, 7%);
  border-color: $c-dt-dp-border;
}

/**
 * The days on the calendar
 */
.picker__day {
  height: 40px;
  vertical-align: top;
  padding: 10px;
  border: 1px solid $c-gray-11;
  text-align: left;
  line-height: 1;

  color: $c-gray-55;

  &:hover,
  &:focus {
    background-color: $c-blue-03;
    border-color: $c-blue-22;
  }
}

body.dark-theme .picker__day {
  border-color: $c-dt-dp-border;
  color: $c-dt-dp-text;
  &:hover,
  &:focus {
    background-color: darken($c-dt-dp-background, 5%);
    border-color: $c-dt-dp-border-hover;
  }
}

.picker__day--today {
  position: relative;

  background-color: $c-green-02;
  color: $c-green-38;

  &:hover,
  &:focus {
    background-color: $c-green-02 !important;
    color: $c-green-38 !important;
  }
}

body.dark-theme .picker__day--today {
  background-color: $c-dt-dp-today;
  color: $c-dt-dp-text;
  &:hover,
  &:focus {
    background-color: darken($c-dt-dp-today, 5%) !important;
  }
  .calendar-day-label {
    color: $c-dt-dp-text;
  }
}

// .picker__day--today:before {
//   content: " ";
//   position: absolute;
//   top: 2px;
//   right: 2px;
//   width: 0;
//   height: 0;
//   border-top: 0.5em solid #0059bc;
//   border-left: .5em solid transparent;
// }

.picker__day--disabled:before {
  border-top-color: #aaaaaa;
}
.picker__day--outfocus {
  background-color: $c-gray-02;
  color: $c-gray-33;
}

body.dark-theme .picker__day--outfocus {
  background-color: lighten($c-dt-dp-background, 5%);
  color: $c-dt-dp-text;
}

.picker__day--infocus:hover,
.picker__day--outfocus:hover {
  cursor: pointer;
  // color: #000000;
  // background: #b1dcfb;
}
.picker__day--highlighted {
  border-color: #0089ec;
}
.picker__day--highlighted:hover,
.picker--focused .picker__day--highlighted {
  cursor: pointer;
  color: #000000;
  background: #b1dcfb;
}

body.dark-theme .picker__day--highlighted:hover,
body.dark-theme .picker--focused .picker__day--highlighted {
  border-color: #0089ec;
  background-color: darken($c-dt-dp-background, 2%);
  color: $c-dt-dp-primary-text;
}

body.dark-theme .picker--focused .picker__day--highlighted:hover {
  background-color: darken($c-dt-dp-background, 5%);
}

.picker__day--selected,
.picker__day--selected:hover,
.picker--focused .picker__day--selected {
  background: #0089ec;
  color: #ffffff;
}

body.dark-theme .picker__day--selected,
body.dark-theme .picker__day--selected:hover,
body.dark-theme .picker--focused .picker__day--selected {
  border-color: #0089ec;
  background-color: #0089ec;
  color: $c-dt-dp-primary-text;
}
.picker__day--disabled,
.picker__day--disabled:hover,
.picker--focused .picker__day--disabled {
  background: #f5f5f5;
  border-color: #f5f5f5;
  color: #dddddd;
  cursor: default;
}

body.dark-theme .picker__day--disabled,
body.dark-theme .picker__day--disabled:hover,
body.dark-theme .picker--focused .picker__day--disabled {
  background: darken($c-dt-dp-background, 15%);
  border-color: $c-dt-dp-border;
  color: darken($c-dt-dp-text, 2%);
}

.picker__day--highlighted.picker__day--disabled,
.picker__day--highlighted.picker__day--disabled:hover {
  background: #bbbbbb;
}

body.dark-theme .picker__day--highlighted.picker__day--disabled,
body.dark-theme .picker__day--highlighted.picker__day--disabled:hover {
  background: lighten($c-dt-dp-background, 7%);
}
/**
 * The footer containing the "today", "clear", and "close" buttons.
 */
.picker__footer {
  text-align: center;
}
.picker__button--today,
.picker__button--clear,
.picker__button--close {
  border: 1px solid #ffffff;
  background: #ffffff;
  font-size: .8em;
  padding: .66em 0;
  font-weight: bold;
  width: 33.333%;
  display: inline-block;
  vertical-align: bottom;
}

body.dark-theme .picker__button--today,
body.dark-theme .picker__button--clear,
body.dark-theme .picker__button--close {
  border-color: $c-dt-dp-border;
  background-color: darken($c-dt-dp-background, 7%);
  color: $c-dt-dp-primary-text;
}

.picker__button--today:hover,
.picker__button--clear:hover,
.picker__button--close:hover {
  cursor: pointer;
  color: #000000;
  background: #b1dcfb;
  border-bottom-color: #b1dcfb;
}
.picker__button--today:focus,
.picker__button--clear:focus,
.picker__button--close:focus {
  background: #b1dcfb;
  border-color: #0089ec;
  outline: none;
}

body.dark-theme .picker__button--today,
body.dark-theme .picker__button--clear,
body.dark-theme .picker__button--close {
  &:hover,
  &:focus {
    background-color: darken($c-dt-dp-background, 3%);
  }
}

.picker__button--today:before,
.picker__button--clear:before,
.picker__button--close:before {
  position: relative;
  display: inline-block;
  height: 0;
}
.picker__button--today:before,
.picker__button--clear:before {
  content: " ";
  margin-right: .45em;
}
.picker__button--today:before {
  top: -0.05em;
  width: 0;
  border-top: 0.66em solid #0059bc;
  border-left: .66em solid transparent;
}
.picker__button--clear:before {
  top: -0.25em;
  width: .66em;
  border-top: 3px solid #ee2200;
}
.picker__button--close:before {
  content: "\D7";
  top: -0.1em;
  vertical-align: top;
  font-size: 1.1em;
  margin-right: .35em;
  color: #777777;
}
.picker__button--today[disabled],
.picker__button--today[disabled]:hover {
  background: #f5f5f5;
  border-color: #f5f5f5;
  color: #dddddd;
  cursor: default;
}

body.dark-theme .picker__button--today[disabled],
body.dark-theme .picker__button--today[disabled]:hover {
  background: darken($c-dt-dp-background, 10%);
  border-color: $c-dt-dp-border;
  color: $c-dt-dp-text;
}

.picker__button--today[disabled]:before {
  border-top-color: #aaaaaa;
}

.picker--opened .datepicker__holder {
  min-width: 400px;
}

.picker--opened .datepicker__holder-right {
  right: 10px;
}

/* ==========================================================================
   $CLASSIC-DATE-PICKER
   ========================================================================== */
