.birtviewer_progressbar
{
	font-family:Verdana;
	font-size:8pt;
	background:#FFFFFF;
	border-width:2px;
	border-style:solid;
	border-color:#2A5682;
	cursor:default;
	position:relative;
}

.birtviewer_document_fragment
{
	border-style:none;
	overflow:auto;
	position:relative;
}
