/*doc
---
title: Forms
name: forms
category: Components - Forms
---

##Basic Example
`.form-control` should be added to any `<input>`, `<textarea>` or `<select>`
The label requires the class `.form-label`.
Typically forms are aligned vertically in one or several columns. For this, `.form-column-[x]` can be used
where the suffix [x] is the number of columns. `.form-column` is the same as `.form-column-1`.

```htmlexample

<div class="d-flex w-100">
    <div class="flex-grow-1 p-3">
        <h1 class="mb-3">One column form</h1>
        <div class="form-column">
            <div>
                <label for="1col-form-input-one" class="form-label">One</label>
                <input type="text" id="1col-form-input-one" class="form-control"/>
            </div>
            <div>
                <label for="1col-form-input-two" class="form-label">Two</label>
                <input type="text" id="1col-form-input-two" class="form-control"/>
            </div>
        </div>
    </div>
    <div class="flex-grow-1 p-3">
        <h1 class="mb-3">Two columns form</h1>
        <div class="form-column-2">
            <div>
                <label for="2col-form-input-one" class="form-label">One</label>
                <input type="text" id="2col-form-input-one" class="form-control"/>
            </div>
            <div>
                <label for="2col-form-input-two" class="form-label">Two</label>
                <input type="text" id="2col-form-input-two" class="form-control"/>
            </div>
            <div>
                <label for="2col-form-input-three" class="form-label">Three</label>
                <input type="text" id="2col-form-input-three" class="form-control"/>
            </div>
            <div>
                <label for="2col-form-input-four" class="form-label">Four</label>
                <input type="text" id="2col-form-input-four" class="form-control"/>
            </div>
        </div>
    </div>
</div>
```
*/

@import "input";
@import "input-group";
@import "char-counter";
@import "select";
@import "validation";
@import "dropzone";
@import "inputs-container";
@import "editor";
@import "switch";

$form-columns-count: 4;

@for $i from 1 through $form-columns-count {
  .form-column-#{$i} {
    @extend .grid;
    gap: $gap-md;
    --bs-columns: #{$i};
    
    & * {
      min-width: 0;
    }

    .btn, .switch {
      min-width: min-content;
    }
  }
}

.form-column {
  @extend .form-column-1;
}
