
.has-feedback {
  --feedback-label-color: var(--label-color);
  --feedback-validation-border-color: #{$border-color-var};

  .form-label {
    color: var(--feedback-label-color);
  }
  // Set the border and box shadow on specific inputs to match
  .form-control, .select2-container .select2-selection.form-control {
    border-color: var(--feedback-validation-border-color);
    @include border-bottom-radius(0);
  }

  .form-control-feedback-message {
    color: var(--validation-default-feedback-color);
    background-color: var(--validation-feedback-bg);
    border: 1px solid var(--feedback-validation-border-color);
    border-top: none;
  }
}

@each $conf in $states {
  $state: nth($conf, 1);
  $color: nth($conf, 2);

  .has-#{$state} {
    --feedback-label-color: #{$color};
    --feedback-validation-border-color: #{$color};

    .form-control-feedback-message {
      background-color: $color;
      color: var(--validation-feedback-color);
    }
  }
}

.form-control-feedback-message {
  --validation-feedback-bg: #{$x-light-grey};
  --validation-feedback-color: #{$white};
  --validation-default-feedback-color: #{$dark-grey};

  @include flex-row($gap-x-sm);
  align-items: center;
  padding: $gap-x-sm $gap-sm;
  color: $white;

  &:last-child {
    @include border-bottom-radius;
  }
}

@include color-mode(dark) {
  .form-control-feedback-message {
    --validation-feedback-bg: #{$body-bg-dark};
    --validation-default-feedback-color: #{$light-grey};
  }
}

@include color-mode(light-contrast) {
  .form-control-feedback-message {
    --validation-feedback-bg: #{$con-grey};
    --validation-feedback-color: #{$con-dark-blue};
  }

  .has-feedback {
    --feedback-label-color: var(--label-color) !important;
    --feedback-validation-border-color: #{$border-color-var} !important;
  }
}

@include color-mode(dark-contrast) {
  .form-control-feedback-message {
    --validation-feedback-bg: #{$dark-grey};
    --validation-feedback-color: #{$con-dark-blue};
    --validation-default-feedback-color: #{$white};
  }

  .has-feedback {
    --feedback-label-color: var(--label-color) !important;
  }
}
