
.schedule__day-date {
  color: var(--label-color);
}

.schedule__day-mailing {
  @include flex-row($gap);
  align-items: center;
  color: var(--text-gray-color);

  &:hover {
    color: var(--text-gray-color);
  }
}

.schedule__send-time {
  min-width: 40px; // some time labels takes more space then others. so they should be with the same size
}

.schedule__mailing-info {
  @include flex-column($gap-sm);
  overflow: hidden;
}

.schedule__mailing-name {
  @include flex-row($gap-sm);
  align-items: center;
  color: var(--text-color-default);

  .mailing-badge {
    flex: none;
  }
}

.schedule__mailing-mailinglist {
  @include flex-row($gap-sm);
  align-items: center;

  i {
    display: flex;
    justify-content: center;
    flex: none;
    width: $gap;
  }
}
