
.tile.scheduled-items {

  --scheduled-item-date-color: #{$gray-600};

  .list-item {
    @include flex-column($gap-sm);
  }

  .item__info-container {
    @include flex-row($gap-x-sm);
    justify-content: space-between;
    align-items: center;
  }

  .item__name-label {
    flex-grow: 1;
  }

  .item__schedule-container {
    @include flex-row($gap-x-sm);
    align-items: center;
    color: var(--scheduled-item-date-color);
  }
}

@include color-mode(dark) {
  .tile.scheduled-items {
    --scheduled-item-date-color: #{$light-grey};
  }
}

@include contrast-themes {
  .tile.scheduled-items {
    --scheduled-item-date-color: #{$body-color-var};
  }
}
