
.tile.scheduled-items {

  .list-item {
    @include flex(column, 6px);
  }

  .item__info-container {
    @include flex(row, 5px);
    justify-content: space-between;
    align-items: center;

    @include font($font-size-base, $font-weight-normal);
  }

  .type-badge {
    @include flex-center();
    gap: 5px;

    height: $mailing-badge-size-small;
    padding: 4px;
    border-radius: $border-radius-sm;

    background-color: #3D3D3D;
    color: $c-white;

    .icon {
      font-size: $font-size-badge-small;
    }
  }

  .item__name-label {
    flex-grow: 1;
  }

  .item__schedule-container {
    @include flex(row, 5px);
    align-items: center;

    @include font($font-size-sm, $font-weight-normal);
    color: #6F6F6F;
  }

}
