
@keyframes tileEntrance {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

#dashboard-tiles {
  display: grid;
  grid-template-rows: repeat(2, 1fr);

  @for $i from 2 through 4 {
    $class-name: "dashboard-grid-cols-#{$i}";
  
    &.#{$class-name} {
      grid-template-columns: repeat(#{$i}, 1fr);
    }
  }

  .draggable-tile {
    animation: tileEntrance 300ms ease-out forwards;
    animation-fill-mode: backwards;

    @include mobile {
      height: 500px;
    }
  }

  .tile-tall {
    grid-row: span 2;
  }

  .tile-wide {
    grid-column: span 2;
  }

  .tile-xl {
    grid-row: span 2;
    grid-column: span 3;
  }

  .tile-x-wide {
    grid-row: span 1;
    grid-column: span 3;
  }

  @include mobile {
    .tile-wide, .tile-xl, .tile-x-wide {
      grid-row: span 1;
      grid-column: span 1;
      @include hide-scroll;
    }
  }
}

li:has(#dashboard-stop-edit-btn), li:has(#dashboard-select-layout-btn) {
  display: none;
  
  body.edit-mode & {
    display: flex;
  }
}
