
@keyframes tileEntrance {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

#dashboard-tiles {
  grid-template-rows: repeat(2, 1fr);

  @for $i from 2 through 4 {
    $class-name: "dashboard-grid-cols-#{$i}";
  
    &.#{$class-name} {
      grid-template-columns: repeat(#{$i}, 1fr);
    }
  }

  .draggable-tile {
    animation: tileEntrance 300ms ease-out forwards;
    animation-fill-mode: backwards;

    @include mobile {
      height: $mobile-view-tile-height;
    }
  }

  .tile-tall {
    grid-row: span 2;
  }

  .tile-wide {
    grid-column: span 2;

    @include mobile {
      grid-column: span 1;
      @include hide-scroll;
    }
  }
}

#dashboard-stop-edit-btn, #dashboard-select-layout-btn {
  display: none;
  
  body.edit-mode & {
    display: flex;
  }
}
