
/*doc
---
title: Badges
name: badges
category: Components - Badges
---

Basic badges are tiny objects usually only used to display a text.
They are however very flexible.

An important condition is that the background color must be set for the badge.
You can see the list of Bootstrap classes for setting the background [here](https://getbootstrap.com/docs/5.2/helpers/color-background/).

*/

/*doc
---
title: Basic example
name: badges_01_example
parent: badges
---

```htmlexample
<span class="badge text-bg-primary">Primary</span>
```

Badges can also contain text and icons in any order and multitude.
Text inside has to be wrapped inside `<span>`.

```htmlexample
<span class="badge text-bg-danger">
  <i class="icon icon-angle-left"></i>
  <span>Danger</span>
  <i class="icon icon-angle-right"></i>
</span>
```

You can also use more large version of the badge just using class `.badge--lg`.

```htmlexample
<span class="badge badge--lg text-bg-primary">Primary</span>
```

*/

/*doc
---
title: States
name: badges_02_states
parent: badges
---

The usual states are supported as `.badge--success`, `.badge--warning` and `.badge--error` respectively.

```htmlexample
<span class="badge badge--success">
    <span class="text">Text</span>
</span>
<span class="badge badge--warning">
    <span class="text">Text</span>
</span>
<span class="badge badge--error">
    <span class="text">Text</span>
</span>
```
*/

/*doc
---
title: Special Badge Variants
name: badges_03_special
parent: badges
---

The most common variation of badges is the status badges, but there are others as well.

*/

/*doc
---
title: Colored badges
name: badges_14_colored
parent: badges_03_special
---

The square badge can have any color you want. To do this you need to use a class `.square-badge` and give it some kind of background color.

```htmlexample
<span class="square-badge text-bg-primary"></span>
<span class="square-badge text-bg-danger"></span>
<span class="square-badge" style="background: orange"></span>
```

*/

$status-badge-size: 18px;
$status-badge-size-lg: 30px;
$status-badge-font-size: 10px;

.square-badge {
  @include size($status-badge-size);
  @include flex-center;
  border-radius: $border-radius-sm;
  flex: none;
}

.table-badge {
  @extend .badge;
  padding: 3px $gap-sm;

  font-size: $font-size-base;
  font-weight: $font-weight-base;

  border: $border-default;
  border-radius: $border-radius-sm;

  background-color: var(--table-head-bg-color);
  color: var(--table-badge-color);
}

@import "status-badge/_.scss";
@import "icon-badge";
@import "image-badge";
@import "table-badge";
@import "text-badge";
