
$status-badge-size: 18px;
$status-badge-size-lg: 30px;
$status-badge-font-size: 10px;

@import "status-badge/_.scss";
@import "text-badge";

.multi-icon-badge {
  @include flex-row($gap-x-sm);
  align-items: center;
  padding-inline: $gap-x-sm - 1;
  height: $status-badge-size;
  border-radius: $border-radius-sm;
  background-color: $stat-or-badge-dark-grey;
  color: $white;

  .icon {
    font-size: $status-badge-font-size;
  }
}

.color-badge {
  @include size($status-badge-size);
  @include min-size($status-badge-size);
  border-radius: $border-radius-sm;
  background-color: $white;
}

.pill-badge {
  @extend .badge;
  padding: 2px $gap-sm;
  font-size: $font-size-base;
  border: $border-default;
  border-radius: $border-radius-pill;
  background-color: var(--pill-badge-bg-color);
  color: var(--pill-badge-color);
  font-weight: $font-weight-base;
}

.image-badge {
  @include size($status-badge-size-lg);
  @include min-size($status-badge-size-lg);
  @include flex-center;
  border-radius: $border-radius;
  background-color: $primary;

  img {
    @include size($font-size-md); // TODO replace magic n with variable
  }
}

.icon-badge {
  @include flex-center;
  @include size($status-badge-size);
  @include min-size($status-badge-size);
  border-radius: $border-radius-sm;
  font-size: $status-badge-font-size;
  color: $white;
  background-color: $primary;
}

.icon-badge--lg {
  @include size($status-badge-size-lg);
  @include min-size($status-badge-size-lg);
  border-radius: $border-radius;
  font-size: $font-size-md;
}
