@mixin default-text-status-badge($state) {
  background: map-get(map-get($default-status-badges-defs, $state), background);
}

@each $state, $values in $default-status-badges-defs {
  .badge--#{$state} {
    @include default-text-status-badge($state);
  }
}

.badge--lg {
  padding: $gap-x-sm $gap-sm;
  font-size: $font-size-base;
  border-radius: $border-radius;
  font-weight: $font-weight-base;
}

.badge--beta {
  background-color: $danger;
  font-size: $font-size-base;
  padding-block: 3px;
}
