
.badge {
  --badge-border-color: transparent;
  border: 1px solid var(--badge-border-color);
}

@include color-mode(light-contrast) {
  .badge {
    --badge-border-color: #{$black};
    --bs-badge-color: #{$con-dark-blue};
  }
}

@include color-mode(dark-contrast) {
  .badge {
    --badge-border-color: #{$white};
    --bs-badge-color: #{$con-dark-blue};
  }
}

.badge--lg {
  padding: $gap-x-sm $gap-sm;
  font-size: $font-size-base;
  border-radius: $border-radius;
  font-weight: $font-weight-base;
}
