
.dashboard-mailing-popover {
  border-radius: $gap-x-sm;
  font-size: $font-size-sm;
  min-width: min-content;

  h1 {
    --tile-title-color: #{$dark-blue};
    font-size: $font-size-base !important;
    margin-bottom: $gap-sm;
  }

  img {
    @include border($border-radius-sm);
    @include size(166px);
  }

  .tile-body {
    > div {
      @include flex-column($gap-sm);
      height: 100%;
      min-width: 200px;
      max-width: 200px;
      align-self: start;
    }
  }

  .popover-body {
    span {
      color: var(--label-color);
      @include flex-row($gap-x-sm);
      align-items: center;
      font-weight: 500;
    }
    p {
      color: $gray-600;
    }
  }
}

.mailing-popover-loader {
  @include flex-center;
  position: absolute;
  inset: 0;
  backdrop-filter: blur(2px);
  i {
    font-size: 40px;
    opacity: 0.5;
  }
}

@include color-mode(dark) {
  .dashboard-mailing-popover h1 {
    --tile-title-color: #{$light-blue};
  }
}


@include color-mode(light-contrast) {
  .dashboard-mailing-popover h1 {
    --tile-title-color: #{$con-dark-blue};
  }
}

@include color-mode(dark-contrast) {
  .dashboard-mailing-popover h1 {
    --tile-title-color: #{$white};
  }
}
