
.schedule__day {
  --shedule-day-date-color: #{$dark-grey};
  --shedule-day-mailing-color: #{$gray-600};
}

@include color-mode(dark) {
  .schedule__day {
    --shedule-day-date-color: #{$light-grey};
    --shedule-day-mailing-color: var(--shedule-day-date-color);
  }
}

@include color-mode(light-contrast) {
  .schedule__day {
    --shedule-day-date-color: #{$con-dark-blue};
    --shedule-day-mailing-color: var(--shedule-day-date-color);
  }
}

@include color-mode(dark-contrast) {
  .schedule__day {
    --shedule-day-date-color: #{$white};
    --shedule-day-mailing-color: var(--shedule-day-date-color);
  }
}

.schedule__day-date {
  color: var(--shedule-day-date-color);
}

.schedule__day-mailing {
  @include flex-row($gap);
  align-items: center;
  color: var(--shedule-day-mailing-color);

  &:hover {
    color: var(--shedule-day-mailing-color);
  }
}

.schedule__send-time {
  min-width: 40px; // some time labels takes more space then others. so they should be with the same size
}

.schedule__mailing-info {
  @include flex-column($gap-sm);
  overflow: hidden;
}

.schedule__mailing-name {
  @include flex-row($gap-sm);
  align-items: center;
  color: $body-color-var;

  .mailing-badge {
    flex: none;
  }
}

.schedule__mailing-mailinglist {
  @include flex-row($gap-sm);
  align-items: center;

  i {
    display: flex;
    justify-content: center;
    flex: none;
    width: $gap;
  }
}
