
.table-wrapper__controls {
  --table-head-control-bg: #{$white};

  @include flex-row($gap-sm);
  align-items: center;
  overflow: hidden;

  &--stretchable {
    min-width: 0;
    flex-grow: 1;
  }

  .switch {
    margin-left: 2px; // prevents truncation of the part of the switch
    width: 66px;
    border-radius: $table-control-radius;
    --switch-inactive-bg: var(--table-head-control-bg);
    --switch-selected-color: #{$white};
    --switch-color: var(--table-head-text-color);
  }

  .btn {
    @extend .btn-sm-horizontal;
    @extend .btn-secondary;
    overflow: hidden;

    border-radius: $table-control-radius;
    font-weight: $table-control-font-weight;

    i {
      font-size: $font-size-lg;
    }

    span {
      @extend .text-truncate;
    }
  }

  [data-manage-table-columns] {
    @include mobile {
      display: none;
    }
  }

  .form-switch {
    overflow: hidden;

    label {
      color: var(--table-head-text-color);
      font-weight: $table-control-font-weight;
      @extend .text-truncate;
    }

    background: var(--table-head-control-bg);

    border: $table-border;
    border-radius: $table-control-radius;

    padding: $gap-x-sm;
  }

  &:not(&--stretchable) {
    .input-group {
      width: auto;
      flex-wrap: nowrap;

      .select2-container:nth-child(3) {
        overflow: unset;
      }
    }
  }

  .input-group-text {
    @include border-start-radius($table-control-radius);
    background: var(--table-head-control-bg);
    color: var(--table-head-text-color);
    font-weight: $table-control-font-weight;
    @extend .text-truncate;
  }
}

@include color-mode(dark) {
  .table-wrapper__controls {
    --table-head-control-bg: #{$grey-blue};
  }
}

@include color-mode(light-contrast) {
  .table-wrapper__controls .btn {
    --bs-btn-bg: transparent;
    @include button-outline-variant($con-dark-blue);
  }
}

@include color-mode(dark-contrast) {
  .table-wrapper__controls {
    --table-head-control-bg: #{$con-dark-blue};

    .btn {
      --bs-btn-bg: transparent;
      @include button-outline-variant($white, $con-dark-blue, $white, $white, $con-dark-blue);
    }
  }
}

.table-wrapper__entries-label {
  overflow: hidden;
  @include flex-row($gap-x-sm);
  color: var(--table-head-text-color);
  background: var(--table-head-control-bg);

  font-weight: $table-control-font-weight;

  border: $table-border;
  border-radius: $table-control-radius;

  padding: $gap-x-sm;

  > b {
    text-wrap: nowrap;
  }
}

.bulk-actions {
  overflow: hidden;
  @include flex-row($gap-sm);
  align-items: center;

  border: $table-border;
  border-radius: $table-control-radius;
  padding: $gap-x-sm $gap-sm;

  @include mobile {
    display: none;
  }

  &::before {
    content: "";
    @include size(1px, 15px);
    background-color: var(--table-border-color);
  }

  &__selected {
    font-weight: $font-weight-semibold;
    color: var(--table-head-text-color);
    order: -1;
    @extend .text-truncate;
  }

  &__controls {
    @include flex-row($gap-sm);
    align-items: center;
  }
}
