
.pagination {
  --pagination-active-bg: #{$blue};
  --pagination-active-color: #{$white};
  --pagination-disabled-text-color: #{$light-grey};
  --pagination-text-color: var(--table-footer-color);

  li {
    @include flex-center;
    @include size($pageBtnWidth);
    font-weight: $font-weight-semibold;
    color: var(--pagination-text-color);

    &.active, &:hover {
      color: var(--pagination-active-color);
      background-color: var(--pagination-active-bg);
      border-radius: $border-radius;
    }

    &.disabled {
      cursor: not-allowed;
      background-color: transparent;
      color: var(--pagination-disabled-text-color);
    }

    a {
      width: 100%;
      text-align: center;
    }
  }
}

@include color-mode(dark) {
  .pagination {
    --pagination-active-bg: #5897fb;
    --pagination-disabled-text-color: #{$gray-600};
    --pagination-text-color: #{$white};
  }
}

@include color-mode(light-contrast) {
  .pagination {
    --pagination-active-bg: #{$con-dark-blue};
    --pagination-disabled-text-color: #{$dark-grey};
    --pagination-text-color: var(--pagination-active-bg);
  }
}

@include color-mode(dark-contrast) {
  .pagination {
    --pagination-active-bg: #{$white};
    --pagination-active-color: #{$con-dark-blue};
    --pagination-disabled-text-color: #{$light-grey};
    --pagination-text-color: #{$white};
  }
}
