
@mixin perfect-scrollbar($color, $width, $space) {
  .ps__thumb-y {
    background-color: $color;
    width: $width;
    right: $space;
  }

  .ps__rail-y:hover > .ps__thumb-y,
  .ps__rail-y:focus > .ps__thumb-y,
  .ps__rail-y.ps--clicking .ps__thumb-y {
    background-color: $color;
    width: $width;
  }
}
