html {
  --mobile-view-threshold: #{$mobile-view-threshold};
  font-size: 14px;
}

body {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  background-color: $body-bg-var;
  color: $body-color-var;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: unset;
  }
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 600;
}

pre {
  font-size: $font-size-sm;
}

input[type="checkbox"]:focus-visible {
  outline: none;
}
