
:root {
  --table-head-text-color: #{$gray-600};
  --table-head-bg: #{$x-light-grey};
  --table-max-pages-count: #{$pagesCount};
  --table-head-sorted-color: #{$blue};
  --table-body-color: #{$dark-grey};
  --table-border-color: #{$light-grey};
  --table-checkbox-bg: #{$white};
  --table-head-font-weight: #{$font-weight-semibold};
  --table-head-sorted-font-weight: var(--table-head-font-weight);
  --table-secondary-cell-text-color: #{$gray-600};
  --table-hovered-bg: rgba(75, 75, 75, 0.3);

  --calendar-other-month-color: #{$light-grey};
  --calendar-selected-border-color: #{$dark-blue};
  --calendar-selectable-cell-bg: #D9D9D9;
  --calendar-selectable-cell-color: currentColor;
  --calendar-other-month-selectable-bg: var(--calendar-selectable-cell-bg);
  --calendar-other-month-selectable-border-color: transparent;
  --calendar-other-month-selectable-color: #{$dark-grey};
  --calendar-today-bg: #{$blue};
  --calendar-today-color: #{$white};

  --dropdown-disabled-item-bg: #{$gray-200};
  --dropdown-disabled-item-color: #{$black};

  --scrollbar-color: rgba(75, 75, 75, 0.30);
  --label-color: #{$dark-grey};
  --text-link-color: #{$blue};

  --input-focus-border-color: #80b8dc;
  --input-placeholder-color: #{$light-grey};

  --base-disabled-bg: #{$x-light-grey};
  --base-disabled-color: #{$dark-grey};

  --resize-handle-bg: #{$blue};

  --badge-standard-blue: #{$blue};
  --badge-blue: #{$stat-blue};
  --badge-dark-blue: #{$stat-dark-blue};
  --badge-darkest-blue: #{$stat-darkest-blue};
  --badge-green: #{$stat-green};
  --badge-dark-green: #{$stat-dark-green};
  --badge-lime: #{$stat-lime};
  --badge-grey: #{$stat-grey};
  --badge-dark-grey: #{$stat-dark-grey};
  --badge-dark-violet: #{$stat-dark-violet};
  --badge-darkest-violet: #{$stat-darkest-violet};
  --badge-cyan: #{$stat-cyan};
  --badge-dark-cyan: #{$stat-dark-cyan};
  --badge-darkest-cyan: #{$stat-darkest-cyan};
  --badge-dark-red: #{$stat-dark-red};
  --badge-dark-yellow: #{$stat-dark-yellow};

  --chart-light-blue-color: #{$stat-light-blue};
  --chart-blue-color: #{$stat-blue};
  --chart-dark-blue-color: #{$stat-dark-blue};
  --chart-darkest-blue-color: #{$stat-darkest-blue};
  --chart-light-cyan-color: #{$stat-light-cyan};
  --chart-cyan-color: #{$stat-cyan};
  --chart-dark-cyan-color: #{$stat-dark-cyan};
  --chart-darkest-cyan-color: #{$stat-darkest-cyan};
  --chart-light-lime-color: #{$stat-light-lime};
  --chart-lime-color: #{$stat-lime};
  --chart-green: #{$stat-green};
  --chart-dark-green: #{$stat-dark-green};
  --chart-light-violet: #{$stat-light-violet};
  --chart-violet-color: #{$stat-light-violet};
  --chart-dark-violet-color: #{$stat-dark-violet};
  --chart-darkest-violet-color: #{$stat-darkest-violet};
  --chart-yellow-color: #{$stat-yellow};
  --chart-dark-yellow-color: #{$stat-dark-yellow};
  --chart-orange-color: #{$stat-orange};
  --chart-light-red-color: #{$stat-light-red};
  --chart-dark-red-color: #{$stat-dark-red};
  --chart-light-grey-color: #{$stat-light-grey};
  --chart-grey-color: #{$stat-grey};
  --chart-dark-grey-color: #{$stat-dark-grey};
  --chart-black-color: #{$stat-black};

  --chart-label-color: #{$dark-grey};
  --chart-font-family: 'Poppins', sans-serif;
  --chart-font-size: 14px; // note: rem not works!
  --chart-half-doughnut-label-color: #{$dark-blue};

  --stat-colors: #{$stat-colors};
}

@include color-mode(dark) {
  --table-head-sorted-color: #{$light-blue};
  --table-body-color: #{$gray-100};
  --table-border-color: #{$light-grey};
  --table-checkbox-bg: #{$grey-blue};
  --table-head-bg: #{$grey-blue};
  --table-head-text-color: #{$white};
  --table-secondary-cell-text-color: #{$light-grey};

  --calendar-other-month-color: #{$gray-600};
  --calendar-selected-border-color: #{$light-blue};
  --calendar-selectable-cell-bg: #{$light-blue};
  --calendar-other-month-selectable-bg: transparent;
  --calendar-other-month-selectable-border-color: #{$light-blue};
  --calendar-other-month-selectable-color: #{$gray-600};

  --dropdown-disabled-item-bg: #{$gray-600};
  --dropdown-disabled-item-color: #{$light-grey};

  --scrollbar-color: #{$gray-600};
  --label-color: #{$light-grey};

  --base-disabled-bg: #{$gray-600};
  --base-disabled-color: #{$gray-100};

  --chart-label-color: #{$light-grey};
  --chart-half-doughnut-label-color: #{$light-blue};

  --bs-secondary-rgb: #{rgb-from-hex($light-grey)};
}

@include color-mode(light-contrast) {
  --bs-border-color: #{$con-dark-blue};

  --table-border-color: #{$border-color-var};
  --table-head-bg: #{$white};
  --table-head-text-color: #{$con-dark-blue};
  --table-head-sorted-color: var(--table-head-text-color);
  --table-body-color: #{$con-dark-blue};
  --table-head-font-weight: #{$font-weight-normal};
  --table-head-sorted-font-weight: #{$font-weight-semibold};
  --table-secondary-cell-text-color: #{$body-color-var};
  --table-hovered-bg: #{$con-grey};

  --calendar-other-month-color: #{$dark-grey};
  --calendar-selected-border-color: #{$con-dark-blue};
  --calendar-selectable-cell-bg: #{$con-grey};
  --calendar-other-month-selectable-bg: var(--calendar-selectable-cell-bg);
  --calendar-other-month-selectable-border-color: transparent;
  --calendar-other-month-selectable-color: #{$dark-grey};
  --calendar-today-bg: #{$con-dark-blue};

  --base-disabled-bg: #{$con-grey};
  --base-disabled-color: #{$con-dark-blue};
  --label-color: #{$con-dark-blue};
  --text-link-color: #{$con-blue};
  --resize-handle-bg: #{$con-dark-blue};

  --input-focus-border-color: #{$border-color-var};
  --input-placeholder-color: #{$dark-grey};

  --dropdown-disabled-item-bg: #{$con-grey};
  --scrollbar-color: #{$dark-grey};

  --chart-label-color: #{$con-dark-blue};
}

@include contrast-themes {
  --badge-standard-blue: #{$stat-light-blue};
  --badge-blue: #{$stat-light-blue};
  --badge-dark-blue: #{$stat-light-blue};
  --badge-darkest-blue: #{$stat-light-blue};
  --badge-green: #{$stat-light-lime};
  --badge-dark-green: #{$stat-lime};
  --badge-lime: #{$stat-light-lime};
  --badge-grey: #{$stat-light-grey};
  --badge-dark-grey: #{$black};
  --badge-dark-violet: #{$stat-light-violet};
  --badge-darkest-violet: #{$stat-light-violet};
  --badge-cyan: #{$stat-light-cyan};
  --badge-dark-cyan: #{$stat-light-cyan};
  --badge-darkest-cyan: #{$stat-light-cyan};
  --badge-dark-red: #{$stat-light-red};
  --badge-dark-yellow: #{$stat-yellow};

  --bs-blue:          #{$con-light-blue};
  --bs-danger-rgb:    #{rgb-from-hex($con-red)};
  --bs-success-rgb:   #{rgb-from-hex($con-green)};
  --bs-warning-rgb:   #{rgb-from-hex($con-yellow)};
  --bs-info-rgb:      #{rgb-from-hex($con-light-blue)};
  --bs-secondary-rgb: #{$body-color-var};
}

@include color-mode(dark-contrast) {
  --bs-body-bg: #{$con-dark-blue};
  --bs-body-color: #{$white};

  --bs-border-color: #{$white};

  --table-border-color: #{$border-color-var};
  --table-head-bg: #{$con-dark-blue};
  --table-head-text-color: #{$white};
  --table-head-sorted-color: var(--table-head-text-color);
  --table-body-color: #{$white};
  --table-head-font-weight: #{$font-weight-normal};
  --table-head-sorted-font-weight: #{$font-weight-semibold};
  --table-secondary-cell-text-color: #{$white};
  --table-checkbox-bg: #{$con-dark-blue};
  --table-hovered-bg: #{$con-blue};

  --calendar-other-month-color: #{$light-grey};
  --calendar-selected-border-color: #{$white};
  --calendar-selectable-cell-bg: #{$con-grey};
  --calendar-other-month-selectable-bg: var(--calendar-selectable-cell-bg);
  --calendar-other-month-selectable-border-color: transparent;
  --calendar-other-month-selectable-color: #{$con-dark-blue};
  --calendar-selectable-cell-color: #{$con-dark-blue};
  --calendar-today-bg: #{$white};
  --calendar-today-color: #{$con-dark-blue};

  --base-disabled-bg: #{$dark-grey};
  --base-disabled-color: #{$white};
  --label-color: #{$white};
  --text-link-color: #{$con-light-blue};

  --input-focus-border-color: #{$border-color-var};
  --input-placeholder-color: #{$light-grey};

  --resize-handle-bg: #{$white};

  --dropdown-disabled-item-bg: #{$light-grey};
  --scrollbar-color: #{$white};

  --chart-label-color: #{$white};
}
