
.w-0 {
  width: 0 !important;
}

.min-w-0 {
  min-width: 0 !important;
}

.min-h-0 {
  min-height: 0 !important;
}

.min-h-100 {
  min-height: 100% !important;
}

.flex-center {
  @include flex-center;
}

.absolute-center {
  @include center-absolute;
}

.absolute-center-v {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.hidden {
  display: none !important;
}

.mobile-visible {
  @include desktop {
    display: none !important;
  }
}

.mobile-hidden {
  @include mobile {
    display: none !important;
  }
}

.bg-light-blue {
  background-color: $light-blue;
}

.bg-disabled {
  background-color: var(--input-disabled-bg-color);
}

.border-left-radius-0 {
  @include border-start-radius(0);
}

.clickable {
  cursor: pointer !important;
}

.bg-transparent {
  background: transparent !important;
}

.flex-none {
  flex: none !important;
}

.flex-1 {
  flex: 1 !important;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.col-break-line {
  @extend .col-12;
  padding: 0;
  margin: 0;
}

.overflow-wrap-anywhere {
  overflow-wrap: anywhere !important;
}

@each $key, $value in $spacers {
  .ml-#{$key} {
    margin-left: $value !important;
  }
}

.hide-scroll {
  @include hide-scroll;
}
