
.status-badge {
  @include flex-center;
  @include size($status-badge-size);
  min-width: $status-badge-size;
  min-height: $status-badge-size;
  border-radius: $border-radius-sm;
  color: $white;
  position: relative;
  &:before {
    @include fa-content($fa-var-file);
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include center-absolute;
    line-height: 1;
  }
}

.status-badge--lg {
  @include size(24px);
  &:before {
    font-size: $font-size-sm;
  }
}

@mixin status-badge($background, $icon) {
  background-color: $background;
  &:before {
    content: fa-content($icon);
  }
}

@import "default-status-badge";
@import "mailing-status-badge";
@import "campaign-status-badge";
@import "complexity-status-badge";
@import "job-status-badge";
@import "auto-import-status-badge";
