
/*doc
---
title: Status Badge Variants
name: badges_04_status
parent: badges_03_special
---

The first and required class for them is `.status-badge`.
Additionally, there is the possibility to customize the badge size:

Size        | Example
------------|--------------------------------------------------------------------------
large       |<span class="status-badge status-badge--lg mailing.status.edit"></span>
extra large |<span class="status-badge status-badge--xl campaign.status.tested"></span>

*/

.status-badge {
  @extend .square-badge;
  color: $white;
  position: relative;
  &:before {
    @include fa-content($fa-var-file);
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include center-absolute;
    line-height: 1;
  }

  &--lg {
    @include size(24px !important);
    &:before {
      font-size: $font-size-sm;
    }
  }

  &--xl {
    @include size(60px);
    border-radius: $border-radius;
    &:before {
      font-size: 40px;
    }
  }
}

@include contrast-themes {
  .status-badge {
    -webkit-text-stroke: 1px black;
  }
}

@mixin status-badge($background, $icon) {
  background-color: $background;
  &:before {
    content: fa-content($icon);
  }
}

@import "default-status-badge";
@import "mailing-status-badge";
@import "mediatype-status-badge";
@import "campaign-status-badge";
@import "complexity-status-badge";
@import "job-status-badge";
@import "auto-import-status-badge";
@import "building-block-status-badge";
@import "mailloop-reply-status-badge";
