
/*doc
---
title: Workflow Badges
name: badges_07_workflow
parent: badges_04_status
---

`.campaign.status` should always be combined with the workflow status, e.g. `.campaign.status.active`.

```htmlexample
<span class="status-badge campaign.status.open"></span>
<span class="status-badge campaign.status.active"></span>
<span class="status-badge campaign.status.inactive"></span>
<span class="status-badge campaign.status.complete"></span>
<span class="status-badge campaign.status.completed"></span>
<span class="status-badge campaign.status.tested"></span>
<span class="status-badge campaign.status.testing"></span>
<span class="status-badge campaign.status.paused"></span>
```
*/

$campaign-status-badges-defs: (
  open:           (background: $badge-blue-var,         icon: $fa-var-check),
  active:         (background: $badge-green-var,        icon: $fa-var-play),
  inactive:       (background: $badge-grey-var,         icon: $fa-var-ban),
  complete:       (background: $badge-dark-green-var,   icon: $fa-var-check), // complete or completed in code
  completed:      (background: $badge-dark-green-var,   icon: $fa-var-check), // complete or completed in code
  tested:         (background: $badge-darkest-cyan-var, icon: $fa-var-flask),
  testing:        (background: $badge-cyan-var,         icon: $fa-var-flask),
  failed:         (background: $badge-dark-red-var,     icon: $fa-var-times),
  testing_failed: (background: $badge-dark-red-var,     icon: $fa-var-flask),
  paused:         (background: $badge-grey-var,         icon: $fa-var-pause-circle),
);

@mixin campaign-status-badge($state) {
  $background: map-get(map-get($campaign-status-badges-defs, $state), background);
  $icon: map-get(map-get($campaign-status-badges-defs, $state), icon);
  @include status-badge($background, $icon);
}

@each $state, $values in $campaign-status-badges-defs {
  .campaign\.status\.#{$state} {
    @include campaign-status-badge($state);
  }
}

.badge-campaign-start-action_based {
    background-color: $badge-darkest-blue-var;
}
.badge-campaign-start-date_based {
    background-color: $badge-dark-cyan-var;
}
