
/*doc
---
title: Complexity Badges
name: badges_08_complexity
parent: badges_04_status
---

`.complexity.status` should always be combined with the following colors: `green`, `yellow`, `red`.

```htmlexample
<span class="status-badge complexity.status.green"></span>
<span class="status-badge complexity.status.yellow"></span>
<span class="status-badge complexity.status.red"></span>
```
*/

$complexity-status-badges-defs: (
        green:    (background: $stat-or-badge-lime,   icon: $fa-var-circle),
        yellow:   (background: $stat-or-badge-orange, icon: $fa-var-adjust),
        red:      (background: #880010,               icon: $fa-var-circle)
);

@mixin complexity-status-badge($state) {
  $background: map-get(map-get($complexity-status-badges-defs, $state), background);
  $icon: map-get(map-get($complexity-status-badges-defs, $state), icon);
  @include status-badge($background, $icon);
}

@each $state, $values in $complexity-status-badges-defs {
  .complexity\.status\.#{$state} {
    @include complexity-status-badge($state);
  }
}

.complexity\.status\.green::before {
  font-family: "Font Awesome 5 Regular Free";
}
