
/*doc
---
title: Default badges
name: badges_05_default-status
parent: badges_04_status
---

`.status` should always be combined with the default statuses, e.g. `.status.success`, `.status.warning`, `.status.error`.

These can exist in text elements or standalone and denote the status of a mailing.

```htmlexample
<span class="status-badge status.success"></span>
<span class="status-badge status.warning"></span>
<span class="status-badge status.error"></span>
```

*/

$default-status-badges-defs: (
  success:    (background: $badge-dark-green-var,  icon: $fa-var-check),
  error:      (background: $badge-dark-red-var,    icon: $fa-var-times),
  warning:    (background: $badge-dark-yellow-var, icon: $fa-var-times),
  comment:    (background: $stat-light-blue,       icon: $fa-var-comment),
  push:       (background: $stat-violet,           icon: $fa-var-bell),
  clipboard:  (background: $stat-darkest-blue,     icon: $fa-var-clipboard-list),
  auto-opt:   (background: $stat-dark-cyan,        icon: $fa-var-project-diagram),
);

@mixin default-status-badge($state) {
  $background: map-get(map-get($default-status-badges-defs, $state), background);
  $icon: map-get(map-get($default-status-badges-defs, $state), icon);
  @include status-badge($background, $icon);
}

@each $state, $values in $default-status-badges-defs {
  .status\.#{$state} {
    @include default-status-badge($state);
  }
}
