
$job-status-badges-defs: (
        active:    (background: #57C700,                   icon: $fa-var-play),
        inactive:  (background: $stat-or-badge-dark-grey,  icon: $fa-var-pause)
);

@mixin job-status-badge($state) {
  $background: map-get(map-get($job-status-badges-defs, $state), background);
  $icon: map-get(map-get($job-status-badges-defs, $state), icon);
  @include status-badge($background, $icon);
}

@each $state, $values in $job-status-badges-defs {
  .job\.status\.#{$state} {
    @include job-status-badge($state);
  }
}
