
$mailing-status-badges-defs: (
    new:                  (background: $stat-or-badge-blue,         icon: $fa-var-file),
    has-content:          (background: $stat-very-dark-blue,        icon: $fa-var-file-alt),
    no-content:           (background: $gray-400,                   icon: $fa-var-file),
    active:               (background: #57C700,                     icon: $fa-var-play),
    canceled:             (background: #E12E59,                     icon: $fa-var-minus-circle),
    disable:              (background: #7E7E7E,                     icon: $fa-var-ban),
    edit:                 (background: $stat-or-badge-dark-blue,    icon: $fa-var-pen),
    ready:                (background: #8BF4AF,                     icon: $fa-var-check),
    scheduled:            (background: #0ACD70,                     icon: $fa-var-history),
    sending:              (background: #57C700,                     icon: $fa-var-paper-plane),
    sent:                 (background: #516C03,                     icon: $fa-var-paper-plane),
    norecipients:         (background: #7E7E7E,                     icon: $fa-var-paper-plane),
    test:                 (background: #9B45D0,                     icon: $fa-var-lightbulb),
    admin:                (background: #460876,                     icon: $fa-var-lightbulb),
    in-generation:        (background: #8BF4AF,                     icon: $fa-var-cogs),
    generation-finished:  (background: #0ACD70,                     icon: $fa-var-cog),
    canceledAndCopied:    (background: #E12E59,                     icon: $fa-var-copy),
    cm:                   (background: $stat-or-badge-dark-cyan,    icon: $fa-var-project-diagram),
    emc:                  (background: $stat-or-badge-dark-grey,    icon: $fa-var-th-large),
    trigger:              (background: $stat-or-badge-dark-grey,    icon: $fa-var-cogs),
    deleted:              (background: $red,                        icon: $fa-var-trash-alt),
    world:                (background: $stat-or-badge-dark-blue,    icon: $fa-var-envelope),
    datebased:            (background: $stat-very-dark-blue,        icon: $fa-var-calendar-alt),
);

@mixin mailing-status-badge($state) {
  $background: map-get(map-get($mailing-status-badges-defs, $state), background);
  $icon: map-get(map-get($mailing-status-badges-defs, $state), icon);
  @include status-badge($background, $icon);
}

@each $state, $values in $mailing-status-badges-defs {
  .mailing\.status\.#{$state} {
    @include mailing-status-badge($state);
  }
}

.mailing\.status\.admin::before {
    font-family: "Font Awesome 5 Regular Free";
}
