
#dashboard-add-ons {
  --dashboard-add-ons-icon-color: #{$white};
  --dashboard-add-ons-icon-bg: #{$dark-grey};

  .tile-body {
    @include flex-column($gap-sm);
  }

  #feature-preview {
    @include max-size(100%, 120px);
  }

  #feature-name-container {
    @include flex-row($gap-sm);
    align-items: center;

    i {
      @include flex-center;
      flex: none;

      @include size(20px);

      background-color: var(--dashboard-add-ons-icon-bg);
      color: var(--dashboard-add-ons-icon-color);
      border-radius: 2px;
    }
  }
}

@include color-mode(dark) {
  #dashboard-add-ons {
    --dashboard-add-ons-icon-bg: #{$light-grey};
    --dashboard-add-ons-icon-color: #{$body-bg-dark};
  }
}

@include color-mode(light-contrast) {
  #dashboard-add-ons {
    --dashboard-add-ons-icon-bg: #{$con-dark-blue};
  }
}

@include color-mode(dark-contrast) {
  #dashboard-add-ons {
    --dashboard-add-ons-icon-bg: #{$con-grey};
    --dashboard-add-ons-icon-color: #{$con-dark-blue};
  }
}
