
#calendar-tile {
  #calendar-table { grid-area: calendar-table; }
  #calendar-tile-date-dropdowns { grid-area: calendar-date-dropdowns; }
  #calendar-tile-day-mailings { grid-area: calendar-day-mailings; }

  .tile-body {
    display: grid;
    grid-gap: $gap-md;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
      'calendar-date-dropdowns'
      'calendar-table'
      'calendar-day-mailings';
  }

  #calendar-tile-date-dropdowns {
    display: grid;
    grid-gap: $gap-md;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }

  #calendar-table {
    height: clamp(200px, 16vw, 300px);
    color: $body-color-var;
  }

  #calendar-tile-day-mailings {
    overflow-y: hidden;
    .schedule__day {
      grid-template-rows: auto 1fr;
      height: 100%;
    }

    .schedule__day-mailings {
      @include hide-scroll();
    }
  }

  @media screen and (min-width: 768px) {
    &.tile-wide {
      #calendar-table {
        height: auto;
      }
      .tile-body {
        grid-template-rows: auto 1fr;
        grid-template-columns: minmax(215px, 1fr) 1fr;
        grid-template-areas:
          'calendar-table calendar-date-dropdowns'
          'calendar-table calendar-day-mailings';
      }

      @media screen and (max-height: 900px) {
        .schedule__day-date {
          display: none;
        }

        .schedule__day {
          gap: 0;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    grid-template-rows: auto auto 1fr;
    height: min-content !important;

    #calendar-table {
      height: 260px;
    }

    #calendar-tile-day-mailings {
      height: 311px;
    }
  }
}
