.alert-line {
  background: $c-red-02;
  border: $c-red-02;
  display: block;
  margin: 10px;
  color: $c-white;
  .icon {
    margin-right: 5px;
  }
}
body.dark-theme .alert-line {
  color: $c-white;
}
