
// https://getbootstrap.com/docs/5.2/content/figures/
// Used for captures. Replace or add a class if figure element can be used for other purposes
figure {
  border: $border-default;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  height: inherit;
  overflow: hidden;
  margin: 0;
}

figcaption {
  --caption-bg: #{$x-light-grey};
  --caption-color: #{$gray-600};

  display: flex;
  justify-content: space-between;
  text-align: right;
  padding: 6px $gap-sm;
  font-size: $font-size-sm;
  text-wrap: nowrap;
  color: var(--caption-color);
  background-color: var(--caption-bg);
  border-top: $border-default;
  @include border-bottom-radius();
  i {
    padding-left: $gap-x-sm;
  }
  @include media-breakpoint-down(lg) {
    display: none;
  }
}

@include color-mode(dark) {
  figcaption {
    --caption-bg: #{$body-bg-dark};
    --caption-color: #{$light-grey};
  }
}

@include color-mode(light-contrast) {
  figcaption {
    --caption-bg: #{$con-grey};
    --caption-color: #{$con-dark-blue};
  }
}

@include color-mode(dark-contrast) {
  figcaption {
    --caption-bg: #{$dark-grey};
    --caption-color: #{$white};
  }
}
