/*doc
---
title: Cards
name: cards
category: Components - Cards
---

Cards present resources via a visual key. Thus the images used should be large enough to capture a rememberable image.

For proper visual presentation all `.cards` should be wrapped in a `<div class="card-panel></div>`. The active state can be set by adding the `active` class.

```htmlexample
<div class="card-panel">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-image" src="http://placehold.it/300x300" />
        <div class="card-body">
          <p class="headline">My Card</p>
          <p class="description">Card Description</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card active">
        <img class="card-image" src="http://placehold.it/300x300" />
        <div class="card-body">
          <p class="headline">My active Card</p>
          <p class="description">Card Description</p>
        </div>
      </div>
    </div>
  </div>
</div>
```
*/


.card-panel {
  padding: 15px;

  background-color: $c-blue-01;
}

.card-panel > .row {
  display:flex;
  flex-wrap: wrap;

  & > [class*="col-"] {
      display: flex;
      flex-direction: column;
  }
}

.card {
  display: block;
  padding: 10px;
  border: 1px solid $c-transparent;
  border-radius: 4px;
  text-align: center;
  height: 100%;

  &:hover:not(.disabled), &:focus:not(.disabled), &:active:not(.disabled), &.active:not(.disabled) {
    background-color: $c-blue-05;
    border: 1px solid $c-blue-11;

    .card-body {
      .headline {
        color: $c-blue-27;

        .badge {
          color: $c-white;
        }
      }

      .description {
        color: $c-blue-22;
      }
    }
  }


}

.card-body {
  text-align: left;

  .headline {
    display: block;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;

    font-size: $fs-small;
    font-weight: $fw-bold;
    color: $c-black-85;

    @include text-overflow();
  }

  .description {
    font-size: $fs-small;
    color: $c-gray-44;

    @include text-overflow();
  }

}

.card-image {
  width: auto;
  padding: 10px;
  background-color: $c-white;

  @include shadow-variant(soft);
}
