
.circle-complexity {
  &.complexity-green {
    background-color: $c-complexity-green;
  }

  &.complexity-yellow {
    background-color: $c-complexity-yellow;
  }

  &.complexity-red {
    background-color: $c-complexity-red;
  }
}

.form-badge {
  &.complexity-green {
    color: white;
    background-color: $c-complexity-green;
  }

  &.complexity-yellow {
    color: white;
    background-color: $c-complexity-yellow;
  }

  &.complexity-red {
    color: white;
    background-color: $c-complexity-red;
  }
}

.headline, .icon {
  &.complexity-green {
    color: $c-complexity-green;
  }

  &.complexity-yellow {
    color: $c-complexity-yellow;
  }

  &.complexity-red {
    color: $c-complexity-red;
  }
}
