
.dropdown-toggle, .js-btn-dropdown {
  &::after {
    border: none;
    margin: 0;
    vertical-align: unset;

    @include fa-content($fa-var-caret-down);
  }

  &[aria-expanded="true"]::after {
    content: fa-content($fa-var-caret-up);
  }
}

.dropdown-menu {
  padding: $dropdown-spacer;
  min-width: 250px;
  position: relative;

  &--select {
    &:before {
      position: absolute;
      content: '';
      inset: $dropdown-spacer;
      border: 1px solid var(--bs-dropdown-border-color);
      border-radius: $border-radius;
      pointer-events: none;
    }

    > li:first-child {
      @include border-top-radius;
      overflow: hidden;
    }

    > li:last-child {
      @include border-bottom-radius;
      overflow: hidden;
    }

    .dropdown-item {
      @include flex-row($gap-sm);
      padding-inline: $gap-sm;
    }
  }
}

@include color-mode(light-contrast) {
  .dropdown-menu {
    --bs-dropdown-border-color: #{$border-color-var};
    --bs-dropdown-link-hover-bg: #{$con-dark-blue};
    --bs-dropdown-link-active-bg: var(--bs-dropdown-link-hover-bg);
  }
}

@include color-mode(dark-contrast) {
  .dropdown-menu {
    --bs-dropdown-border-color: #{$white};
    --bs-dropdown-link-hover-color: var(--bs-dropdown-bg);
    --bs-dropdown-link-hover-bg: #{$white};
    --bs-dropdown-link-active-color: var(--bs-dropdown-link-hover-color);
    --bs-dropdown-link-active-bg: var(--bs-dropdown-link-hover-bg);
  }
}

.dropdown-item {
  padding: $dropdown-spacer;

  &:active, &:hover, &:focus {
    font-weight: $font-weight-semibold;
  }

  &.disabled, &:disabled {
    background-color: var(--dropdown-disabled-item-bg);
  }
}

.dropdown.open {
  .dropdown-menu {
    display: block;
    position: absolute;
    inset: 0 0 auto auto;
  }
}
