.dropzone {
  border: 2px dashed transparent;
  border-radius: 4px;
  padding: 30px;

  background-color: #f5f9fc;
  @include box-shadow(inset $shadow-soft);
  @include transition(border-color 0.3s);

  &.drag-over {
    border-color: $c-blue-27;
  }
}

.dropzone-text {
  text-align: center;

  strong {
    color: $c-blue-27;
  }
}
