/*
- todo {
- loading overlay colors {
- rich select colors {
 */

$ag-icons-path: './icons/' !default;
$ag-icons-filter: 'initial' !default;

$ag-style: "theme-bootstrap" !default;
$ag-root-font-family: "Proxima Nova", "Helvetica Neue", Arial, sans-serif !default;
$ag-root-font-size: 13px !default;

$ag-scrollbar-background: inherit !default;
$ag-scrollbar-thumb: inherit !default;

$ag-border-1: 1px solid $c-gray-20 !default;

$ag-border-color-1: $c-gray-20 !default;
$ag-border-color-2: $c-gray-20 !default;

$ag-background-1: $c-white !default;

$ag-foreground-1: #000 !default;

$ag-header-foreground-1: $c-black !default;

$ag-separator-color: $c-gray-20 !default;

$ag-cell-focus-border-top: 1px solid $c-gray-20 !default;
$ag-cell-no-focus-border-top: 1px solid $c-gray-20 !default;
$ag-cell-no-focus-border-bottom: 1px solid transparent !default;
$ag-cell-ltr-no-focus-border-right: none !default;
$ag-cell-ltr-no-focus-border-left: 1px solid $c-gray-20 !default;
$ag-cell-rtl-no-focus-border-right: 1px solid $c-gray-20 !default;
$ag-cell-rtl-no-focus-border-left: none !default;

$ag-cell-highlight-border: 1px solid transparent !default;

$ag-cell-padding: 8px 6px !default;

$ag-row-selected-background-color: transparent !default;
$ag-row-odd-background-color: $c-white !default;
$ag-row-even-background-color: $c-gray-02 !default;
$ag-row-floating-background-color: #f0f0f0 !default;
$ag-row-stub-background-color: #f0f0f0 !default;

$ag-value-change-delta-up-color: darkgreen !default;
$ag-value-change-delta-down-color: darkred !default;
$ag-value-change-value-highlight-background-color: #cec !default;

$ag-range-selected-color-1: rgba(120,120,120,0.4) !default;
$ag-range-selected-color-2: rgba(80,80,80,0.4) !default;
$ag-range-selected-color-3: rgba(40,40,40,0.4) !default;
$ag-range-selected-color-4: rgba(0,0,0,0.4) !default;

$ag-header-background-1: $c-gray-11 !default;
$ag-header-select-padding: 5px 0px 0px 5px !default;

$ag-button-background-1: none !default;
$ag-button-foreground-1: #000 !default;
$ag-button-border-1: #808080 !default;

$ag-header-font-weight: 600 !default;

$ag-tab-border: 1px solid #d3d3d3 !default;
$ag-tab-background: #e6e6e6 !default;
$ag-tab-selected-background: #f6f6f6 !default;
$ag-tab-padding: 6px 8px 6px 8px !default;

$ag-menu-option-active-color: #BDE2E5 !default;

$ag-select-background: white !default;
$ag-select-foreground: #222 !default;

$ag-menu-option-padding: 2px 4px 2px 4px !default;
$ag-menu-option-shortcut-padding: 2px 2px 2px 2px !default;

@mixin icon-background($icon) {
  width: 12px;
  height: 12px;
  background: transparent url('#{$ag-icons-path}#{$icon}.svg') center no-repeat;
  background-size: 12px 12px;
  filter: $ag-icons-filter;
}

.ag-icon:not(.ag-faded) {
  opacity: 0.8;
}

$cell-padding: 2px;
$checkbox-horizontal-margin: 4px;
$tool-panel-box-padding: 4px 4px 10px 4px;
 
.ag-#{$ag-style} {
  .ag-numeric-cell {
      text-align: right;
  }

  .ag-header-cell-label {
      display: flex;
      & > span {
          float: left;
      }
      .ag-header-icon {
          margin-right: 5px;
      }

      .ag-filter-icon {
          margin-left: 5px;
      }

      .ag-header-cell-text {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
      }
  }

  .ag-numeric-header {
      .ag-header-cell-label {
          flex-direction: row-reverse;
      }

      .ag-header-cell-menu-button {
          float: left;
      }

      .ag-header-cell-label {
          width: calc(100% - 12px);
          float: right;
          & > span {
              float: right;
          }
      }
  }

  .ag-header-cell-resize {
      position: absolute;
      right: 0;
  }

  .ag-rtl .ag-header-cell-resize {
      position: absolute;
      left: 0;
      right: auto;
  }

  // copying bootstrap with line-height, sorts out alignment problems with images beside text
  line-height: 1.4;
  font-family: $ag-root-font-family;
  font-size: $ag-root-font-size;
  color: $ag-foreground-1;
  // changing the image is same as what bootstrap does, without the images didn't align right
  img {
      vertical-align: middle;
      border: 0;
  }
  .ag-root {
      border: $ag-border-1;
  }
  .ag-cell-data-changed {
      background-color: $ag-value-change-value-highlight-background-color;
  }

  .ag-cell-data-changed-animation {
      background-color: transparent;
      transition: background-color 1s;
  }
  .ag-cell {
  }
  //
  .ag-cell-not-inline-editing {
      padding: $ag-cell-padding;
      /* compensate for the transparent borders; */
      padding-left: $ag-cell-padding - 1;
  }
  // we do not want to color the range color when the cell is also focused
  .ag-cell-range-selected-1:not(.ag-cell-focus) {
      background-color: $ag-range-selected-color-1;
  }
  .ag-cell-range-selected-2:not(.ag-cell-focus) {
      background-color: $ag-range-selected-color-2;
  }
  .ag-cell-range-selected-3:not(.ag-cell-focus) {
      background-color: $ag-range-selected-color-3;
  }
  .ag-cell-range-selected-4:not(.ag-cell-focus) {
      background-color: $ag-range-selected-color-4;
  }
  .ag-cell-focus {
    border-top: $ag-cell-focus-border-top;
  }
  .ag-cell-no-focus {
      border-top: $ag-cell-no-focus-border-top;
      border-bottom: $ag-cell-no-focus-border-bottom;
  }
  .ag-ltr {
    .ag-cell-no-focus, .ag-cell-focus {
      border-right: $ag-cell-ltr-no-focus-border-right;
      border-left: $ag-cell-ltr-no-focus-border-left;
    }
  }
  .ag-rtl {
    .ag-cell-no-focus, .ag-cell-focus {
      border-right: $ag-cell-rtl-no-focus-border-right;
      border-left: $ag-cell-rtl-no-focus-border-left;
    }
  }

  $toolpanel-indent-size: 10px;
  $row-group-indent-size: 10px;
  // indentation loop
  @for $i from 1 to 50 {
      .ag-ltr .ag-toolpanel-indent-#{$i} {
          padding-left: $i * $toolpanel-indent-size;
      }
      .ag-rtl .ag-toolpanel-indent-#{$i} {
          padding-right: $i * $toolpanel-indent-size;
      }

      .ag-ltr .ag-row-group-indent-#{$i} {
          padding-left: $i * $row-group-indent-size;
      }
      .ag-rtl .ag-row-group-indent-#{$i} {
          padding-right: $i * $row-group-indent-size;
      }
  }

  // we use rtl and ltr below, even though it's the same style, so it propertly
  .ag-rtl .ag-cell-first-right-pinned {
      border-left: $ag-border-1;
  }
  .ag-ltr .ag-cell-first-right-pinned {
      border-left: $ag-border-1;
  }
  .ag-rtl .ag-cell-last-left-pinned {
      border-right: $ag-border-1;
  }
  .ag-ltr .ag-cell-last-left-pinned {
      border-right: $ag-border-1;
  }
  // this needs to be after the other cell items, so the boarder gets preference
  .ag-cell-highlight {
      border: $ag-cell-highlight-border;
  }
  .ag-cell-highlight-animation {
      transition: border 1s;
  }
  // used by the animateShowChangedCellRenderer
  .ag-value-change-delta {
      padding-right: 2px;
  }
  .ag-value-change-delta-up {
      color: $ag-value-change-delta-up-color;
  }
  .ag-value-change-delta-down {
      color: $ag-value-change-delta-down-color;
  }
  .ag-value-change-value {
      background-color: transparent;
      border-radius: 1px;
      padding-left: 1px;
      padding-right: 1px;
      transition: background-color 1s;
  }
  .ag-value-change-value-highlight {
      background-color: $ag-value-change-value-highlight-background-color;
      transition: background-color 0.1s;
  }
  .ag-rich-select {
      font-size: 14px;
      border: $ag-border-1;
      background-color: $ag-select-background;
  }
  .ag-rich-select-value {
      padding: 2px;
  }
  .ag-rich-select-list {
      border-top: 1px solid $ag-separator-color;
  }
  .ag-rich-select-row {
      padding: 2px;
  }
  .ag-rich-select-row-selected {
      background-color: $ag-menu-option-active-color;
  }
  .ag-large-text {
      border: $ag-border-1;
  }
  .ag-large-textarea {
  }
  //
  // HEADER SECTION
  .ag-header-cell-menu-button {
      margin-top: 3px;
      line-height: 1rem;
  }

  .ag-header-select-all {
      line-height: 26px;  // Same as for .ag-cell-label-container
      padding-right: $checkbox-horizontal-margin;
  }

  .ag-header-select-all:only-child {
    float: none;
  }

  .ag-filter-header-container > label {
      margin-bottom: 0;
  }

  .ag-header-cell {
      padding: 7px;
  }

  .ag-header {
      color: $ag-header-foreground-1;
      background: $ag-header-background-1;
      border-bottom: $ag-border-1;
      font-weight: $ag-header-font-weight;
  }
  .ag-header-icon {
      color: $ag-header-foreground-1;
      stroke: none;
      fill: $ag-header-foreground-1;
  }

  .ag-filter-icon {
      display: inline-block;
  }
  .ag-sort-ascending-icon:empty {
      display: inline-block;
      margin-right: 5px;
  }

  .ag-sort-descending-icon:empty {
      display: inline-block;
  }

  .ag-header-cell-sorted-asc, 
  .ag-header-cell-sorted-desc {
    .ag-header-icon,
    .ag-header-cell-text {
      color: $c-blue-27;  
    }
  }

  .ag-sort-none-icon:empty {
      display: inline-block;
  }

  .ag-layout-for-print .ag-header-container {
      background: $ag-header-background-1;
      border-bottom: $ag-border-1;
  }
  .ag-ltr .ag-header-cell {
      border-right: $ag-border-1;
  }
  .ag-rtl .ag-header-cell {
      border-left: $ag-border-1;
  }
  .ag-header-cell-moving .ag-header-cell-label {
      opacity: 0.5;
  }
  .ag-header-cell-moving {
      background-color: rgb(190, 190, 190);
  }
  .ag-ltr .ag-header-group-cell {
      border-right: $ag-border-1;
  }
  .ag-rtl .ag-header-group-cell {
      border-left: $ag-border-1;
  }
  .ag-header-group-cell-with-group {
      border-bottom: $ag-border-1;
  }
  .ag-header-cell-label {
  }
  .ag-header-cell-text {
  }
  .ag-header-group-cell-label {
      padding: 2px;
      padding-top: 4px;
  }
  .ag-rtl .ag-header-group-text {
      margin-left: 2px;
  }
  .ag-ltr .ag-header-group-text {
      margin-right: 2px;
  }

  .ag-header-cell-menu-button:empty {
  }

  .ag-ltr .ag-pinned-right-header {
      border-left: $ag-border-1;
  }
  .ag-rtl .ag-pinned-left-header {
      border-right: $ag-border-1;
  }
  .ag-header-cell-menu-button:hover {
  }
  .ag-body {
      background-color: $ag-background-1;
  }
  .ag-row-odd {
      background-color: $ag-row-odd-background-color;
  }
  .ag-row-even {
      background-color: $ag-row-even-background-color;
  }
  .ag-row-selected {
      background-color: $ag-row-selected-background-color;
  }
  .ag-row-stub {
      background-color: $ag-row-stub-background-color;
  }
  .ag-stub-cell {
      padding: 2px 2px 2px 10px;
  }
  .ag-floating-top {
      background-color: $ag-row-floating-background-color;
  }
  .ag-floating-top {
      .ag-row {
          background-color: $ag-row-floating-background-color;
      }
  }
  .ag-floating-bottom {
      background-color: $ag-row-floating-background-color;
  }
  .ag-floating-bottom {
      .ag-row {
          background-color: $ag-row-floating-background-color;
      }
  }
  .ag-overlay-loading-wrapper {
      background-color: rgba(255, 255, 255, 0.5);
  }
  .ag-overlay-loading-center {
      background-color: #ffffff;
      border: $ag-border-1;
      border-radius: 10px;
      padding: 10px;
      color: black;
  }
  .ag-overlay-no-rows-center {
      background-color: #ffffff;
      border: $ag-border-1;
      border-radius: 10px;
      padding: 10px;
  }
  .ag-group-cell-entire-row {
      background-color: $ag-background-1;
      padding: $ag-cell-padding;
  }
  .ag-footer-cell-entire-row {
      background-color: $ag-background-1;
      padding: $ag-cell-padding;
  }
  .ag-group-cell {
      font-style: italic;
  }
  .ag-ltr .ag-group-expanded {
      padding-right: 4px;
  }
  .ag-rtl .ag-group-expanded {
      padding-left: 4px;
  }
  .ag-ltr .ag-group-contracted {
      padding-right: 4px;
  }
  .ag-rtl .ag-group-contracted {
      padding-left: 4px;
  }
  .ag-ltr .ag-group-loading {
      padding-right: 4px;
  }
  .ag-rtl .ag-group-loading {
      padding-left: 4px;
  }
  .ag-ltr .ag-group-value {
      padding-right: 2px;
  }
  .ag-rtl .ag-group-value {
      padding-left: 2px;
  }
  .ag-ltr .ag-group-checkbox {
      padding-right: 2px;
  }
  .ag-rtl .ag-group-checkbox {
      padding-left: 2px;
  }
  .ag-group-child-count {
      /* display: inline-block; */ // this breaks the overlow ellipsis
  }
  .ag-footer-cell {
      font-style: italic;
  }

  .ag-menu {
      border: 1px solid $ag-border-color-2;
      background-color: $ag-background-1;
      //color ag-foreground-1
      cursor: default;
      font-family: $ag-root-font-family;
      font-size: $ag-root-font-size;

      .ag-tab-header {
          background-color: $ag-tab-background;
      }
      .ag-tab {
          padding: $ag-tab-padding;
          margin: 2px 2px 0px 2px;
          display: inline-block;
          border-right: 1px solid transparent;
          border-left: 1px solid transparent;
          border-top: 1px solid transparent;
          border-top-right-radius: 2px;
          border-top-left-radius: 2px;
          // need to specify color and stroke again here because
          // for blue, the tab header is different to the grid header
      }
      .ag-tab-selected {
          background-color: $ag-tab-selected-background;
          border-right: $ag-tab-border;
          border-left: $ag-tab-border;
          border-top: $ag-tab-border;
      }
  }
  .ag-menu-separator {
      border-top: 1px solid $ag-separator-color;
  }
  .ag-menu-option {
  }
  //
  .ag-menu-option-active {
      background-color: $ag-menu-option-active-color;
  }
  .ag-menu-option-icon {
      padding: $ag-menu-option-padding;
      vertical-align: middle;
  }
  .ag-menu-option-text {
      padding: $ag-menu-option-padding;
      vertical-align: middle;
  }
  .ag-menu-option-shortcut {
      padding: $ag-menu-option-shortcut-padding;
      vertical-align: middle;
  }
  .ag-menu-option-popup-pointer {
      padding: $ag-menu-option-padding;
      vertical-align: middle;
      display: table-cell;
  }
  .ag-menu-option-disabled {
      opacity: 0.5;
  }
  .ag-menu-column-select-wrapper {
      margin: 2px;
  }
  .ag-filter-checkbox {
      margin-right: 4px;
      margin-bottom: 0;
      display: inline-block;
  }
  .ag-filter-header-container {
      padding: 2px 4px 2px 4px;
      border-bottom: 1px solid $ag-separator-color;
  }
  .ag-filter-apply-panel {
      border-top: 1px solid $ag-separator-color;
      padding: 2px 0px 2px 4px;
  }
  .ag-filter-value {
  }
  .ag-virtual-list-container {
      padding: $tool-panel-box-padding;
  }
  .ag-filter-header-container {
  }
  .ag-ltr .ag-selection-checkbox {
      padding-right: $checkbox-horizontal-margin;
      margin-left: 4px;
  }
  .ag-rtl .ag-selection-checkbox {
      padding-left: $checkbox-horizontal-margin;
  }
  .ag-paging-panel {
      padding: 4px;
  }
  .ag-paging-button {
      margin-left: 4px;
      margin-right: 4px;
  }
  .ag-paging-row-summary-panel {
      display: inline-block;
      width: 300px;
  }
  .ag-column-panel {
      background-color: $ag-background-1;
      border-bottom: $ag-border-1;
      border-top: $ag-border-1;
      color: $ag-foreground-1;
  }
  .ltr .ag-column-panel {
      border-right: $ag-border-1;
  }
  .rtl .ag-column-panel {
      border-left: $ag-border-1;
  }
  .ag-status-bar {
      color: $ag-foreground-1;
      background-color: $ag-background-1;
      font-size: $ag-root-font-size;
      height: 22px;
      border-bottom: $ag-border-1;
      border-left: $ag-border-1;
      border-right: $ag-border-1;
      padding: 2px;
  }
  .ag-status-bar-aggregations {
      float: right;
  }
  .ag-status-bar-item {
      padding-left: 10px;
  }
  .ag-column-drop-cell {
      background: $ag-button-background-1;
      color: $ag-button-foreground-1;
      border: 1px solid $ag-button-border-1;
  }
  .ag-column-drop-cell-ghost {
      opacity: 0.5;
  }
  .ag-column-drop-cell-text {
      padding-left: 2px;
      padding-right: 2px;
  }
  .ag-column-drop-cell-button {
      border: 1px solid transparent;
      padding-left: 2px;
      padding-right: 2px;
      border-radius: 3px;
  }
  .ag-column-drop-cell-button:hover {
      border: $ag-border-1;
  }

  .ag-column-drop-empty-message {
      padding-left: 2px;
      padding-right: 2px;
      color: grey;
  }

  .ag-column-drop-icon {
      margin: 6px 3px 0px 3px;
  }
  .ag-column-drop {
      background-color: $ag-background-1;
  }
  /* this is for the rowGroupPanel, that appears along the top of the grid */
  .ag-column-drop-horizontal {
      padding: 2px;
      border-top: $ag-border-1;
      border-left: $ag-border-1;
      border-right: $ag-border-1;
      //.ag-column-drop-cell
      //    padding 2px
  }
  /* this is for the column drops that appear in the toolPanel */
  .ag-column-drop-vertical {
      padding: $tool-panel-box-padding;
      border-bottom: $ag-border-1;
      overflow: auto;

      .ag-column-drop-cell {
          margin-top: 2px;
      }

      .ag-column-drop-empty-message {
          padding: 5px;
      }
  }

  .ag-pivot-mode {
      border-bottom: $ag-border-1;
      padding: 2px 4px 3px 4px;
      background-color: $ag-background-1;
  }
  .ag-column-panel {
      .ag-column-select-panel {
          padding: $tool-panel-box-padding;
          padding-left: 0; // compensate for eIndent
          border-bottom: $ag-border-1;
          overflow: auto;
      }
  }

  .ag-select-agg-func-popup {
      cursor: default;
      position: absolute;
      font-size: 14px;
      background-color: $ag-select-background;
      border: $ag-border-1;
  }
  .ag-select-agg-func-item {
      padding-left: 2px;
      padding-right: 2px;
  }

  .ag-select-agg-func-item:hover {
      background-color: $ag-menu-option-active-color;
  }

  .ag-floating-filter-body {
      margin-right: 20px;
      width: calc(100% - 20px);
  }

  .ag-floating-filter-button {
      margin-top: -20px;
      display: inline-block;
      float: right;
      button {
          border: 0;
          background: transparent;
          padding: 3px;
          margin: 0;
      }
  }

  .ag-rtl {
      .ag-floating-filter-body {
          margin-right: 0;
          margin-left: 20px;
          float: right;
      }

      .ag-floating-filter-button {
          float: left;
      }
  }

  .ag-sort-order {
      margin-left: 0.5em;
      font-size: 0.8em;
      &::before {
          content: "(";
      }

      &::after {
          content: ")";
      }
  }

  .ag-details-row {
      padding: 20px;
      box-sizing: border-box;
  }

  .ag-cell:first-child, 
  .ag-header-cell:first-child {
    border-left: 0;
  }

  .ag-cell:last-child, 
  .ag-header-cell:last-child {
    border-right: 0;
  }

  .ag-cell-table-actions {
    padding: 6px 6px;
    .btn-regular {
      padding: 4px 6px;
      line-height: 13px;
    }
  }

  .ag-cell:focus {
    outline: 0;
  }

  .ag-menu {
      overflow: visible;
  }

  .ag-body-container {
    margin-bottom: -6px;
  }

  .ag-header-row {
    left: 1px;
  }

  .ag-row:hover {
    background-color: $c-blue-03;
    cursor: pointer;
  }

  .ag-filter-body-wrapper {
    padding: 10px;
  }

  .ag-filter-body {

    label {
      font-weight: 400;
    }
  }

  .ag-filter-select {
    margin: 0;
    width: 100%;
  }

  .ag-filter-condition-type {
    margin: 0 5px 10px;
    label {
      margin-right: 10px;
    }
  }

  .ag-filter-select {
    margin-bottom: 10px;
  }

  .ag-filter-condition {

  }

  .ag-filter-apply-panel {
    padding: 0;

    a {
      display: block;
      padding: 7px 15px;
      font-size: 15px;
      font-weight: normal;
      line-height: 1.2;
      color: #2d2d2f;
      white-space: nowrap;

      &:hover {
        text-decoration: none;
        color: #0071b9;
        background-color: #e5f1f8;
      }
    }
  }

  .ag-cell-label-container {
      line-height: 26px;
  }

  .ag-filter-icon {
      display: none;
  }

  .ag-header-cell-menu-button {
    opacity: 1 !important;
    cursor: pointer;
    padding: 3px 7px;

    color: #707173;
    background-color: transparent;
    border-radius: 1px;
    border-color: transparent;

    &:hover {
      color: #fff;
      background-color: #0071b9;
    }
  }

  .ag-header-cell-filtered {
    .ag-header-cell-menu-button {
      color: #fff;
      background-color: #0071b9;
    }
  }

  .ag-root-wrapper-body {
    height: 100%;
  }

  .ag-body {
    height: calc(100% - 41px);
  }

  .ag-body-container {
    margin-bottom: -4px;
  }

  .ag-body-viewport {
    height: 100%;
  }


}


