.grid-preview {
  display: block;
}

.grid-preview-col {
  fill: #99c6e3;
}

.grid-preview-gutter {
  fill: #fad9b2;
}

.grid-view {
  display: block;
}

.grid-view-col {
  fill: #99c6e3;
}

.grid-view-padding {
  fill: #ccd9e2;
}

.grid-view-gutter {
  fill: #fad9b2;
  fill-opacity: 0.6;
}



.column-view {
  display: block;
}

.column-view-col {
  fill: #99c6e3;
}

.column-view-empty-col {
  fill: #99c6e3;
  fill-opacity: 0.3;
}

.column-view-padding {
  fill: #ccd9e2;
}

.column-view-gutter {
  fill-opacity: 0;
}

.column-view-text {
  fill: #fff;
  font-weight: 700;
}

.grid-stage {
  background-color: #e2e3e3;
}
