/*doc
---
title: Input Groups
name: input_groups
category: Components - Input groups
---

One of the most complex but also flexible components is the `.input-group`.
Supports multiple addons, buttons and the `.form-group`'s feedback/validation states with icons & messages.

Note: Only a single input per input-group is supported!
*/


/*doc
---
title: Full Example
name: input_groups_01_example
parent: input_groups
---

```htmlexample
<div class="form-group has-alert has-feedback">
    <div class="col-sm-12">
        <div class="input-group">
            <div class="input-group-addon">
              <span class="addon">
                <i class="icon icon-check"></i>
              </span>
            </div>
            <div class="input-group-controls">
              <input type="text" class="form-control" value="Text">
              <i class="icon icon-state-alert form-control-feedback"></i>
              <div class="form-control-feedback-message">Please enter the required data.</div>
            </div>
            <div class="input-group-btn">
              <button class="btn btn-regular btn-toggle"><i class="icon icon-calendar-o"></i></button>
            </div>
            <div class="input-group-btn">
              <a href="#" class="btn btn-regular btn-primary"><i class="icon icon-arrow-right"></i></a>
            </div>
            <div class="input-group-addon">
              <span class="addon">
                <i class="icon icon-check"></i>
              </span>
            </div>
        </div>
    </div>
</div>
```
*/

/*doc
---
title: Available Elements
name: input_groups_02_elements
parent: input_groups
---

Input groups support `.addon`, `.btn` and `.form-control` elements.

However, each of these requires a dedicated wrapper at the first level and the wrapper expects exactly the corresponding element inside. These will be discussed in detail in the following section.

```htmlexample
<div class="input-group">
    <div class="input-group-addon">...</div>
    <div class="input-group-controls">...</div>
    <div class="input-group-btn">...</div>
</div>
```

*/

/*doc
---
title: Addons
name: input_groups_03_addons
parent: input_groups_02_elements
---

The `.addon` requires a wrapping element of `.input-group-addon`.

This element is mostly used for icons to provide context for the input but it can also contain text.

An input group can contain multiple `.input-group-addon` in any order and multitude - however each one of these can only contain a single `.addon`.

```htmlexample
<div class="input-group">
    <div class="input-group-addon">
        <span class="addon">
            <i class="icon icon-check"></i>
        </span>
    </div>
</div>
<div class="input-group">
    <div class="input-group-addon">
        <span class="addon">
            <i class="icon icon-check"></i>
            text in an addon
        </span>
    </div>
</div>
```
*/

/*doc
---
title: Buttons
name: input_groups_04_buttons
parent: input_groups_02_elements
---

`.btn` requires a wrapping element of `.input-group-btn`.
This element is mostly used in combination with the `.btn-toggle` element to toggle date/timepickers for the corresponding input or provide navigation links, should an input only be activatable under certain circumstances.

The `.btn` can also contain a combination of text and icons.

Please note however: It is not possible to use the `.btn-vertical` modifier in there.

An input group can contain multiple `.input-group-btn` in any order and multitude - however each one of these can only contain a single `.btn`.

```htmlexample
<div class="input-group">
    <div class="input-group-btn">
      <button type="button" class="btn btn-regular btn-toggle">
          <i class="icon icon-calendar-o"></i>
      </button>
    </div>
</div>
<div class="input-group">
    <div class="input-group-btn">
      <button type="button" class="btn btn-regular btn-primary">
          <i class="icon icon-angle-left"></i>
          <span class="text">button</span>
          <i class="icon icon-angle-right"></i>
      </button>
    </div>
</div>
```
*/

/*doc
---
title: Form Controls
name: input_groups_05_form_controls
parent: input_groups_02_elements
---

`.form-control` requires a wrapping element of `.input-group-controls`.
This is the main element of any `.input-group`.

In contrast to `.input-group-addon` and `.input-group-btn` exactly ONE of these is required.


```htmlexample
<div class="input-group">
    <div class="input-group-controls">
        <input type="text" class="form-control" />
    </div>
</div>
```
*/

/*doc
---
title: Sizes
name: input_groups_06_sizes
parent: input_groups
---

Add `.input-group-sm` or `.input-group-lg` to `.input-group`s to automatically control the sizing of all containing elements.

Below is the full example in all sizes.

```htmlexample
<div class="form-group has-alert has-feedback">
    <div class="col-sm-12">
        <div class="input-group input-group-sm">
            <div class="input-group-addon">
              <span class="addon">
                <i class="icon icon-check"></i>
              </span>
            </div>
            <div class="input-group-controls">
              <input type="text" class="form-control" value="input-group-sm">
              <i class="icon icon-state-alert form-control-feedback"></i>
              <div class="form-control-feedback-message">Please enter the required data.</div>
            </div>
            <div class="input-group-btn">
              <button class="btn btn-regular btn-toggle"><i class="icon icon-calendar-o"></i></button>
            </div>
            <div class="input-group-btn">
              <a href="#" class="btn btn-regular btn-primary"><i class="icon icon-arrow-right"></i></a>
            </div>
            <div class="input-group-addon">
              <span class="addon">
                <i class="icon icon-check"></i>
              </span>
            </div>
        </div>
    </div>
</div>

<div class="form-group has-alert has-feedback">
    <div class="col-sm-12">
        <div class="input-group">
            <div class="input-group-addon">
              <span class="addon">
                <i class="icon icon-check"></i>
              </span>
            </div>
            <div class="input-group-controls">
              <input type="text" class="form-control" value="default input-group">
              <i class="icon icon-state-alert form-control-feedback"></i>
              <div class="form-control-feedback-message">Please enter the required data.</div>
            </div>
            <div class="input-group-btn">
              <button class="btn btn-regular btn-toggle"><i class="icon icon-calendar-o"></i></button>
            </div>
            <div class="input-group-btn">
              <a href="#" class="btn btn-regular btn-primary"><i class="icon icon-arrow-right"></i></a>
            </div>
            <div class="input-group-addon">
              <span class="addon">
                <i class="icon icon-check"></i>
              </span>
            </div>
        </div>
    </div>
</div>

<div class="form-group has-alert has-feedback">
    <div class="col-sm-12">
        <div class="input-group input-group-lg">
            <div class="input-group-addon">
              <span class="addon">
                <i class="icon icon-check"></i>
              </span>
            </div>
            <div class="input-group-controls">
              <input type="text" class="form-control" value="input-group-lg">
              <i class="icon icon-state-alert form-control-feedback"></i>
              <div class="form-control-feedback-message">Please enter the required data.</div>
            </div>
            <div class="input-group-btn">
              <button class="btn btn-regular btn-toggle"><i class="icon icon-calendar-o"></i></button>
            </div>
            <div class="input-group-btn">
              <a href="#" class="btn btn-regular btn-primary"><i class="icon icon-arrow-right"></i></a>
            </div>
            <div class="input-group-addon">
              <span class="addon">
                <i class="icon icon-check"></i>
              </span>
            </div>
        </div>
    </div>
</div>
```
*/

//
// Input groups
// --------------------------------------------------

// Base styles
// -------------------------
.input-group {
  position: relative; // For dropdowns
  display: table;
  border-collapse: separate; // prevent input groups from inheriting border styles from table cells when placed within a table

  width: 100%;
  height: 30px; // Make group at least the same height as .form-control

  // Undo padding and float of grid classes
  &[class*="col-"] {
    float: none;
    padding-left: 0;
    padding-right: 0;
  }

  .form-control {
    // Ensure that the input is always above the *appended* addon button for
    // proper border colors.
    // position: relative;
    // z-index: 2;

    // IE9 fubars the placeholder attribute in text inputs and the arrows on
    // select elements in input groups. To fix it, we float the input. Details:
    // https://github.com/twbs/bootstrap/issues/11561#issuecomment-28936855
    // float: left;

    width: 100%;
    margin-bottom: 0;
  }

  .well {
    padding: 0 10px;
    line-height: 28px;
  }
}

// Sizing options
//
// Remix the default form control sizing classes into new ones for easier
// manipulation.

.input-group-lg > .input-group-controls > .form-control,
.input-group-lg > .input-group-addon > .addon,
.input-group-lg > .input-group-btn > .btn {
  @extend .input-lg;
}
.input-group-sm > .input-group-controls > .form-control,
.input-group-sm > .input-group-addon > .addon,
.input-group-sm > .input-group-btn > .btn {
  @extend .input-sm;
}

.input-group-sm > .input-group-addon > .addon,
.input-group-sm > .input-group-btn > .btn {
  line-height: 12px;
}


// Display as table-cell
// -------------------------
.input-group-addon,
.input-group-btn,
.input-group-controls {
  display: table-cell;

  &:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
}
// Addon and addon wrapper for buttons
.input-group-addon,
.input-group-btn {
  width: 1%;
  white-space: nowrap;
  // vertical-align: middle; // Match the inputs
  vertical-align: top;
}

.input-group-controls {
  position: relative;
  width: 100%;
}

// Text input groups
// -------------------------
.addon {
  display: block;
  padding: 5px 10px;
  font-size: $fs-small;
  font-weight: normal;
  line-height: 18px;
  color: $c-white;
  text-align: center;
  background-color: $c-gray-44;
  border: 1px solid $c-gray-44;
  border-radius: 2px;

  // Sizing
  &.input-sm {
    padding: 3px 5px;
    font-size: $fs-tiny;
    border-radius: 2px;
  }
  &.input-lg {
    padding: 10px 15px;
    font-size: $fs-large;
    border-radius: 2px;
  }

  // Nuke default margins from checkboxes and radios to vertically center within.
  input[type="radio"],
  input[type="checkbox"] {
    margin-top: 0;
  }

  input[type="radio"], input[type="checkbox"] {
    &:first-child:last-child {
      display: block;
      height: 20px;
    }
  }

  &.addon-undecorated {
    background: none;
    border: none;
  }
}

// Reset rounded corners
.input-group-controls:first-child > .form-control,
.input-group-addon:first-child > .addon,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
  @include border-right-radius(0);
}
.input-group-addon:first-child {
  border-right: 0;
}
.input-group-controls:last-child > .form-control,
.input-group-addon:last-child > .addon,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
  @include border-left-radius(0);
}
.input-group-addon:last-child {
  border-left: 0;
}


.input-group-addon {
  &:not(:first-child):not(:last-child) {
    .addon {
      border-radius: 0;
    }
  }
}

.input-group .input-group-controls {
  &:not(:first-child):not(:last-child) {
    .form-control {
      border-radius: 0;
    }
  }
}

.input-group-btn {
  &:not(:first-child):not(:last-child) {
    .btn {
      border-radius: 0;
    }
  }
}

// Button input groups
// -------------------------
.input-group-btn {
  position: relative;
  // Jankily prevent input button groups from wrapping with `white-space` and
  // `font-size` in combination with `inline-block` on buttons.
  font-size: 0;
  white-space: nowrap;

  // Negative margin for spacing, position for bringing hovered/focused/actived
  // element above the siblings.
  > .btn {
    position: relative;
    + .btn {
      margin-left: -1px;
    }
    // Bring the "active" button to the front
    &:hover,
    &:focus,
    &:active {
      z-index: 2;
    }
  }

  // Negative margin to only have a 1px border between the two
  &:first-child {
    > .btn,
    > .btn-group {
      margin-right: -1px;
    }
  }
  &:last-child {
    > .btn,
    > .btn-group {
      margin-left: -1px;
    }
  }
}


.input-group-sm {
  .form-control-feedback {
    font-size: 10px;
    width: 20px;
    height: 20px;
    line-height: 20px;
  }
}

.input-group-lg {
  .form-control-feedback {
    right: 5px;
    height: 40px;
    line-height: 40px;
  }
}

.has-feedback {
  .input-group > .input-group-controls > .form-control {
    padding-right: 25px;
  }

  .input-group > .input-group-controls > select.form-control {
    padding-right: 10px;
  }
}

.input-group-addon {
  label {
    font-size: $fs-small;
    line-height: 18px;
  }

  .radio, .checkbox {
    min-height: initial;
  }

  .radio,
  .radio-inline,
  .checkbox,
  .checkbox-inline {
    padding-top: 0;
  }
}

.input-group-addon-inverse {
  background-color: $c-gray-20;
  color: $c-black-85;
  border: 0;

  label {
    color: $c-black-85;
  }

  .icon {
    line-height: 18px;
    vertical-align: middle;
  }

  .radio input[type="radio"],
  .radio-inline input[type="radio"],
  .checkbox input[type="checkbox"],
  .checkbox-inline input[type="checkbox"] {
    margin: 3px 0 0;
    margin-left: -20px;
  }
}

.input-group-addon-minimal {
  padding-left: 0;
  background-color: $c-transparent;
  border-color: $c-transparent;
}

.input-group-dynamic {
  .input-group-addon {
    width: auto;
  }
}

.checkbox {
  .left-label {
    padding-left: 0px;
    font-weight: bolder;
  }
}

.text-char-counter  input[type="text"] {
  padding-right: 150px;
}

.text-char-counter > div > span {
  position: absolute;
  margin-top: -23px;
  margin-right: 15px;
  right: 0;
}
