.text-circle-list {
  list-style-position: inside;
  padding-left: $gap-sm;

  > li {
    position: relative;
    padding-left: 1rem;

    &::before {
      content: "\2022";
      font-size: 1rem;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.list-group-item {
  background-color: $body-bg-var;
  .form-label {
    color: $body-color-var;
  }
}

@include color-mode(light-contrast) {
  .list-group {
    --bs-list-group-active-color: #{$white};
    --bs-list-group-active-bg: #{$con-dark-blue};
    --bs-list-group-active-border-color: #{$white};
  }
}

@include color-mode(dark-contrast) {
  .list-group {
    --bs-list-group-active-color: #{$con-dark-blue};
    --bs-list-group-active-bg: #{$white};
    --bs-list-group-active-border-color: #{$con-dark-blue};
  }
}
