/*doc
---
title: Media Object
name: media_object
category: Components - Media object
---

The `.media` object is an abstract object for building blog comment / tweet like hierarchical structures that feature a left or right-aligned image with text.

It uses the `.pull-left` and `.pull-right` utility classes to align the image.

*/

/*doc
---
title: Basic Example
name: media_object_01_example
parent: media_object
---


```htmlexample
<div class="media">
    <a class="pull-left" href="#">
        <img class="media-object" src="http://placehold.it/64x64" />
    </a>
    <div class="media-body">
        <h4 class="media-heading">Media heading</h4>
        Cras sit amet nibh libero, in gravida nulla.
        Nulla vel metus scelerisque ante sollicitudin commodo.
        Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
    </div>
</div>
```

*/


/*doc
---
title: Nested Example
name: media_object_02_nested
parent: media_object
---

Media objects can be nested indefinitely. Just place a new `.media` inside the `.media-body` of another.

```htmlexample
<div class="media">
    <a class="pull-left" href="#">
        <img class="media-object" src="http://placehold.it/64x64" />
    </a>
    <div class="media-body">
        <h4 class="media-heading">Media heading</h4>
        Cras sit amet nibh libero, in gravida nulla.
        Nulla vel metus scelerisque ante sollicitudin commodo.
        Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.

        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="http://placehold.it/64x64" />
            </a>
            <div class="media-body">
                <h4 class="media-heading">Media heading</h4>
                Cras sit amet nibh libero, in gravida nulla.
                Nulla vel metus scelerisque ante sollicitudin commodo.
                Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.

                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://placehold.it/64x64" />
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        Cras sit amet nibh libero, in gravida nulla.
                        Nulla vel metus scelerisque ante sollicitudin commodo.
                        Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                    </div>
                </div>
            </div>
        </div>
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="http://placehold.it/64x64" />
            </a>
            <div class="media-body">
                <h4 class="media-heading">Media heading</h4>
                Cras sit amet nibh libero, in gravida nulla.
                Nulla vel metus scelerisque ante sollicitudin commodo.
                Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
            </div>
        </div>
    </div>
</div>
```

*/


/*doc
---
title: Alignment
name: media_object_03_alignment
parent: media_object
---

`.media` objects can be left aligned by using `.pull-left` or `.pull-right` on the wrapper containing the image.

```htmlexample
<div class="media">
    <a class="pull-left" href="#">
        <img class="media-object" src="http://placehold.it/64x64" />
    </a>
    <div class="media-body">
        <h4 class="media-heading">Media heading</h4>
        Cras sit amet nibh libero, in gravida nulla.
        Nulla vel metus scelerisque ante sollicitudin commodo.
        Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
    </div>
</div>
<div class="media">
    <a class="pull-right" href="#">
        <img class="media-object" src="http://placehold.it/64x64" />
    </a>
    <div class="media-body">
        <h4 class="media-heading">Media heading</h4>
        Cras sit amet nibh libero, in gravida nulla.
        Nulla vel metus scelerisque ante sollicitudin commodo.
        Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
    </div>
</div>
```
*/



// Media objects
// Source: http://stubbornella.org/content/?p=497
// --------------------------------------------------


// Common styles
// -------------------------

// Clear the floats
.media,
.media-body {
  overflow: hidden;
  zoom: 1;
}

// Proper spacing between instances of .media
.media,
.media .media {
  margin-top: 15px;
}
.media:first-child {
  margin-top: 0;
}

// For images and videos, set to block
.media-object {
  display: block;
}

// Reset margins on headings for tighter default spacing
.media-heading {
  margin: 0 0 5px;
}


// Media image alignment
// -------------------------

.media {
  > .pull-left {
    margin-right: 10px;
  }
  > .pull-right {
    margin-left: 10px;
  }
}


// Media list variation
// -------------------------

// Undo default ul/ol styles
.media-list {
  padding-left: 0;
  list-style: none;
}

.thumbnail {
  float: left;
  margin-right: 10px;

  .media-object {
    border-radius: 1px;
  }
}
