.modal-open {
  overflow: hidden;
}

.modal {
  display:  none;
  position: fixed;
  left: 0;
  right: 0;
  top: 50%;
  max-height: 100vh;

  overflow:   auto;
  z-index:    1003;

  @include translate(0, -50%);
}

.modal.fade .modal-dialog {}
.modal.in .modal-dialog {}

.modal-dialog {
  width: auto;
  margin: 10px;
  z-index:  1003;
}

.modal-content {
  position: relative;

  font-size: $fs-regular;
  color:     $c-black-85;

  outline:          none;
  border-radius:    3px;
  background-clip:  padding-box;
  background-color: #fff;

  @include shadow-variant(hardest);
}

.modal-backdrop {
  position: fixed;
  top    : 0;
  right  : 0;
  bottom : 0;
  left   : 0;

  z-index:          1003;
  background-color: #000;
}

.modal-backdrop.fade {
  @include opacity(0);
}

.modal-backdrop.in {
  @include opacity(0.4);
}

.modal-header {
  position: relative;
  height: 50px;
  padding: 0 0 0 15px;
  background-color: $c-white;
  border-bottom: 1px solid $c-gray-11;

  @include clearfix();

  .close-icon {
    position: absolute;
    top: 50%;
    right: 15px;

    font-size: 14px;
    line-height: 1;

    cursor: pointer;

    color: $c-gray-55;

    @include translate(0, -50%);

    &:hover,
    &:focus {
      color: darken($c-gray-55, 10%);
    }
  }
}

.modal-title {
  max-width: calc(90% - 20px);
  float: left;
  margin: 0;
  margin-right: 20px;
  font-size:   $fs-xlarge;
  line-height: 22px;
  margin-top: 14px;
  font-weight: $fw-semi;

  @include text-overflow();
}

.modal-body {
  position: relative;
  padding: 30px;

  .modal-separator:last-child {
    display: none;
  }

  &.ui-modal-loading {
    overflow: hidden;
  }
}

.modal-footer {
  // margin-top: 30px;
  padding: 10px;
  font-size: 15px;
  text-align: right;

  border-top: 1px solid $c-gray-11;

}

.modal-separator {
  margin: 20px -30px;

  background-color: $c-gray-11;
  height: 1px;
  font-size: 1px;
  line-height: 1px;

}

@media screen and (min-width: 768px) {
  .modal-dialog {
    width: 470px;
    margin: 50px auto;
  }
  .modal-content {
    // @include box-shadow(0 0px 20px 7px rgba(60, 69, 74, 0.2));
  }
}

@media (max-width: 440px) {
  .modal-dialog {
    margin-left: 10px;
    margin-right: 10px;
  }

  .modal-header, .modal-body {
    padding-left: 15px;
    padding-right: 15px;
  }

  .modal-separator {
    margin: 30px -15px;
  }
}


.modal.modal-adaptive {
  text-align: center;
}

.modal-adaptive {
  .modal-dialog {
    display: inline-block;
    width: auto;
    text-align: initial;
  }
}

.modal-motd {
  .modal-dialog {
    position: relative;
    display: inline-block;
    width: auto;
    max-width: 80%;

    top: 150px;

    @include translate(-50%, 0);
  }

  img {
    width: auto;
  }

}

.modal-wide {
  .modal-dialog {
    @media screen and (min-width: 768px) {
      width: 740px;
    }
  }
}

.modal-extra-wide {
  .modal-dialog {
    width: 80vw;
    max-width: 1200px;
  }
}

.modal.modal-editor {
  height: 100vh;
  padding: 5px;
  top: 0;
  @include translate(0, 0);
}

.modal-editor {
  .modal-dialog {
    height: 100%;
    width: 100%;
    margin: 0;
  }

  form {
    width: 100%;
    height: 100%;
  }

  .modal-content {
    width: 100%;
    height: 100%;
    display: table;
  }

  .modal-body {
    position: relative;
    display: table-row;
    height: 100%;
    padding: 0;

    > *:not(.ace_editor) {
      display: table-cell;
    }
  }

  .modal-footer {
    width: 100%;
  }

  .ace_editor {
    padding: 0;
    border: 0;
    border-radius: 0;
    height: 100% !important;

    .ie9 & {
      position: absolute;
      display: block !important;
      height: auto !important;
      top: 50px; right: 0; left: 0; bottom: 61px;
    }
  }

  #cke_modalTextArea {
    height: 100%;
    > * { height: 100%; }

    border-radius: 0;
    padding: 0;

    @include box-sizing(border-box);
  }

  #tab-mailingContentViewHTMLModal {
    height: 85%;
  }

  .cke_wrapper {
    height: 100%;
  }

  .cke_editor {
    height: 100%;

    tbody {
      tr:nth-child(2) {
        height: 100%;
      }
    }
  }

  .cke_inner {
    display: table;
    width: 100%;
  }

  .cke_contents {
    height: 100% !important;
    display: table-row;
  }

  .cke_wysiwyg_frame {
    height: 100%;
  }

  .cke_browser_webkit {
    #cke_contents_modalTextArea {
      height: 100% !important;
    }
  }

  #cke_contents_modalTextArea {
    height: 100%;
  }

}

.modal-header {
  @include clearfix();
}

.modal-header-actions {
  float: right;

  > li {
    float: left;
  }

  > li + li {
    margin-left: 10px;
  }

  > .divider {
    width: 1px;
    overflow: hidden;
    background-color: $c-gray-11;
  }

  > li:last-child .btn {
    margin-right: 10px;
  }
}

.modal-header-nav {
  float: left;

  > li {
    float: left;

    + li {
      margin-left: 20px;
    }

    > a {
      display: block;
      padding: 15px 0;
      line-height: 18px;
      color: $c-gray-55;

      border-bottom: 2px solid $c-transparent;

      @include transition(all .25s ease-in-out);
    }

    &:hover,
    &:active,
    &:focus,
    &.active {
      > a {
        color: $c-blue-27;
        border-bottom-color: $c-blue-27;
      }
    }
  }
}

.modal-news{

  .modal-header-news{
    height: 60px;
    padding: 0;

    h2, h3, h4, h5, h6 {
      margin: 18px;
    }

    .close-icon{
      right: 24px;
    }
  }

  .modal-body{
    padding: 0px 10px 10px 10px;

    .news-tab{
      height: 500px;

      .news-content{
        background-color: $c-gray-11;

        .js-endless-scroll-content{
          margin: 20px;

          .tile-content{
            padding: 15px;
          }

          .tile-header{
            height: auto;
            padding-bottom: 14px;
          }
        }
      }
    }
  }

}


