
.modal {
  --modal-title-color: #{$dark-blue};
  --modal-variant-header-color: #{$white};
}

@include color-mode(dark) {
  .modal {
    --modal-title-color: #{$light-blue};
  }
}

@include color-mode(light-contrast) {
  .modal {
    --modal-title-color: #{$con-dark-blue};
    --modal-variant-header-color: #{$con-dark-blue};
  }
}

@include color-mode(dark-contrast) {
  .modal {
    --modal-title-color: #{$white};
    --modal-variant-header-color: #{$con-dark-blue};
  }
}

.modal-dialog {
  @extend .modal-dialog-centered;
  @extend .modal-dialog-scrollable;
}

.modal-content {
  border: $border-default;
  background-color: $body-bg-var;
  overflow: hidden;
}

.modal-header {
  @extend .tile-header;
  border-bottom-color: transparent;
  font-size: $font-size-lg;

  .modal-title {
    @extend .tile-title;
    color: var(--modal-title-color);
    line-height: 26px;
  }

  .modal-controls {
    @extend .tile-controls;
  }

  .modal-title-controls {
    @extend .tile-title-controls;
  }

  & + & {
    padding: $gap-sm $gap-md;
    border-radius: 0 !important;
    border-top: $border-default;
    border-bottom: $border-default;

    @include mobile {
      flex-direction: column;
    }
  }
}

.modal-body {
  @include hide-scroll;
  padding: $gap-md;
}

.modal-footer {
  padding: $gap-md;
  padding-top: 0;
  gap: $gap-md;

  border-top: none;

  & > * {
    margin: 0;
  }

  & > .btn {
    flex-grow: 1;
  }

  &--nav {
    border-top: $border-default;
    padding: $gap-sm;
    justify-content: space-between;

    > .btn {
      font-weight: $font-weight-semibold;
      flex-grow: 0;

      @include mobile {
        --bs-btn-padding-y: #{$gap-sm};
      }
    }
  }
}

.modal-content {
  color: $body-color-var;
}

@include media-breakpoint-down(lg) {
  .modal-dialog {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;

    padding: $gap-sm;

    .modal-content {
      border: $border-default;
      border-radius: $border-radius;
    }

    .modal-header {
      padding: $gap-sm $gap-md $gap-x-sm $gap-md;
      @include border-top-radius;
    }

    .modal-body {
      padding: $gap-md;
    }
  }
}

.modal-adaptive {
  overflow-x: auto;
  text-align: center;

  .modal-dialog {
    max-width: calc(100% - $gap);
    display: inline-flex;
    width: auto;
    text-align: initial;
  }
}

.modal-dialog-full-height .modal-content {
  height: 100%;
}

[data-modal] {
  cursor: pointer;
}

@mixin modal-variant($state, $color) {
  .modal-#{$state} {
    .modal-content {
      border-color: $color;
    }

    .modal-header {
      color: var(--modal-variant-header-color);
      background-color: $color;

      .modal-title {
        color: var(--modal-variant-header-color);
        font-weight: $font-weight-semibold;
      }

      .btn-close {
        --bs-btn-close-white-filter: unset;
        color: var(--modal-variant-header-color);
      }
    }
  }
}

@each $conf in $states {
  $state: nth($conf, 1);
  $color: nth($conf, 2);

  @include modal-variant($state, $color);
}

.modal-editors-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: $gap-md;
  width: 90vw;
  height: calc(85vh - 120px); // 120px - modal except body
}
