
@mixin navbar-active-tab-switch() {
  .form-switch .form-check-input:checked {
    border-color: $white;
  }
}

@mixin collapsedNavbar() {
  background-color: $body-bg-var;
  position: absolute;
  top: 35px;
  left: -1px;
  min-width: calc(100% + 2px);
  border: $border-default;
  border-radius: $border-radius;
  padding: $gap-x-sm;

  .navbar-nav {
    border: $border-default;
    border-radius: $border-radius;
    overflow: hidden;
    gap: 0;
    padding: 0;

    .btn {
      border: none;
      border-radius: 0;
      font-size: 1rem;
      text-align: left;
      &:not(.active):not(:hover) {
        color: $body-color-var;
      }
    }

    li {
      &:last-child .btn {
        @include border-end-radius(0);

        &:not(.active):not(:hover) {
          border-right: none;
        }
      }

      &:first-child .btn {
        @include border-start-radius(0);

        &:not(.active):not(:hover) {
          border-left: none;
        }
      }
    }
  }
}

.btn-header-tab {
  @include button-outline-variant($dark-grey, $white, $blue, $blue, $white);
  height: 30px;
  --bs-btn-disabled-bg: var(--base-disabled-bg);
  --bs-btn-border-color: #{$border-color-var};
}

@include color-mode(dark) {
  .btn-header-tab {
    --bs-btn-color: #{$light-grey};
  }
}

@include color-mode(light-contrast) {
  .btn-header-tab {
    @include button-outline-variant($dark-grey, $white, $con-blue, $con-blue, $white);
    --bs-btn-disabled-bg: var(--base-disabled-bg);
    --bs-btn-border-color: #{$border-color-var};

    &:disabled, &.disabled {
      --navbar-color: var(--base-disabled-color);
    }
  }
}

@include color-mode(dark-contrast) {
  .btn-header-tab {
    @include button-outline-variant($white, $con-dark-blue, $con-light-blue, $con-light-blue, $con-dark-blue);
    --bs-btn-disabled-bg: var(--base-disabled-bg);
    --bs-btn-border-color: #{$border-color-var};

    &:disabled, &.disabled {
      --navbar-color: var(--base-disabled-color);
    }
  }
}

.navbar {
  --navbar-color: #{$dark-grey};
  --navbar-toggler-color: #{$gray-600};

  border-radius: $border-radius;
  width: 100%;

  .navbar-nav {
    display: flex;
    width: 100%;
    li {
      flex: 1;
      min-width: 0;
      transition: all 0.5s ease;

      &.hovered {
        min-width: unset;
        flex-shrink: 0;
      }

      .nav-item {
        width: 100%;
      }

      .btn {
        border-radius: 0;
        padding: $gap-x-sm $gap-sm;
        width: 100%;

        &:not(.active):not(:hover) {
          font-weight: $font-weight-normal;
          border-color: $light-grey;
          color: var(--navbar-color);
          border-inline: none;
        }

        &.active, &:hover {
          @include navbar-active-tab-switch;
        }

        @include mobile {
          justify-content: left;
        }
      }

      &:last-child .btn {
        @include border-end-radius;

        &:not(.active):not(:hover) {
          border-right: 1px solid $light-grey;
        }
      }

      &:first-child .btn {
        @include border-start-radius;

        &:not(.active):not(:hover) {
          border-left: 1px solid $light-grey;
        }
      }
    }
  }

  .navbar-toggler {
    @include border-start-radius(0);
    @include border-end-radius($gap-sm);
    border-left: none;
    border-color: $border-color-var;
    color: var(--navbar-toggler-color);
    outline: none;
    box-shadow: none !important;
  }
  
  > .btn-header-tab:first-child {
    flex-grow: 1;
    @include border-start-radius;
    @include border-end-radius(0);
    font-weight: $font-weight-semibold;

    @include navbar-active-tab-switch;
  }

  &.navbar-expand-lg {
    > .btn-header-tab:first-child {
      @include media-breakpoint-up(lg) {
        display: none;
      }
    }
  }
  
  .navbar-collapse {
    transition: none;
    height: min-content;

    &:not(.show) {
      border: none;
    }
    
    @include media-breakpoint-down(lg) {
      @include collapsedNavbar;
    }
  }

  &:not(.navbar-expand-lg) {
    .navbar-collapse {
      @include collapsedNavbar;
    }
  }

  .collapsing {
    border: none;
  }
  
  .offcanvas-backdrop {
    opacity: 0; // hide dark backdrop when collapsed navbar opened on mobile
  }

  @include mobile {

    &.tile-header {
      gap: 0;

      .navbar-toggler {
        border: none;
      }
    }
  }
}

@include color-mode(dark) {
  .navbar {
    --navbar-color: #{$light-grey};
    --navbar-toggler-color: #{$light-grey};
  }
}

@include color-mode(light-contrast) {
  .navbar {
    --navbar-toggler-color: #{$body-bg-dark};
  }
}

@include color-mode(dark-contrast) {
  .navbar {
    --navbar-color: #{$white};
    --navbar-toggler-color: #{$white};
  }
}
