/*doc
---
title: Pagination
name: pagination
category: Components - Pagination
---
*/

/*doc
---
title: Basic example
name: pagination_01_example
parent: pagination
---

```htmlexample
<ul class="pagination">
    <li><a href="#"><i class="icon icon-angle-left"></i> Previous</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">Next <i class="icon icon-angle-right"></i></a></li>
</ul>
```
*/

/*doc
---
title: Disabled and active states
name: pagination_02_states
parent: pagination
---

Apply `.disabled` for unclickable links or `.active` to indicate the current page to any `<li>`.

```htmlexample
<ul class="pagination">
    <li><a href="#"><i class="icon icon-angle-left"></i> Previous</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li class="active"><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li class="disabled"><a href="#">5</a></li>
    <li><a href="#">Next <i class="icon icon-angle-right"></i></a></li>
</ul>
```
*/

/*doc
---
title: Sizes
name: pagination_03_sizes
parent: pagination
---

`.pagination-large` and `.pagination-small` are available to control the sizing.

```htmlexample
<ul class="pagination pagination-large">
    <li><a href="#"><i class="icon icon-angle-left"></i> Previous</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">Next <i class="icon icon-angle-right"></i></a></li>
</ul>
```

```htmlexample
<ul class="pagination">
    <li><a href="#"><i class="icon icon-angle-left"></i> Previous</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">Next <i class="icon icon-angle-right"></i></a></li>
</ul>
```

```htmlexample
<ul class="pagination pagination-small">
    <li><a href="#"><i class="icon icon-angle-left"></i> Previous</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">Next <i class="icon icon-angle-right"></i></a></li>
</ul>
```
*/


//
// Pagination (multiple pages)
// --------------------------------------------------
.pagination {
  // display: inline-block;
  padding-left: 0;
  // margin: 10px 0;
  border-radius: 2px;

  > li {
    display: inline; // Remove list-style and block-level defaults
    > a,
    > span {
      position: relative;
      float: left; // Collapse white-space
      padding: 8px 15px;
      font-size: $fs-small;
      line-height: 1;
      text-decoration: none;
      color: $c-gray-55;
      background-color: $c-white;
      border: 1px solid $c-gray-11;
      margin-left: -1px;
    }
    &:first-child {
      > a,
      > span {
        margin-left: 0;
        @include border-left-radius(2px);
      }
    }
    &:last-child {
      > a,
      > span {
        @include border-right-radius(2px);
      }
    }
  }

  > li > a,
  > li > span {
    &:hover,
    &:focus {
      color: $c-white;
      background-color: $c-blue-27;
      border-color: $c-blue-27;
    }
  }

  > .active > a,
  > .active > span {
    &,
    &:hover,
    &:focus {
      z-index: 2;
      color: $c-white;
      background-color: $c-blue-27;
      border-color: $c-blue-27;
      cursor: default;
    }
  }

  > .disabled {
    > span,
    > span:hover,
    > span:focus,
    > a,
    > a:hover,
    > a:focus {
      color: $c-gray-20;
      background-color: $c-gray-11;
      border-color: $c-gray-11;
      cursor: not-allowed;
    }
  }
}

body.dark-theme .pagination {
  > li {
    > a,
    > span {
      color: $c-dt-pagination-text;
      background-color: $c-dt-pagination-background;
      border-color: $c-dt-pagination-border;
    }
  }

  > li > a,
  > li > span {
    &:hover,
    &:focus {
      color: $c-dt-pagination-text;
      background-color: $c-dt-pagination-active-background;
      border-color: $c-dt-pagination-active-border;
    }
  }

  > .active > a,
  > .active > span {
    &,
    &:hover,
    &:focus {
      color: $c-dt-pagination-text;
      background-color: $c-dt-pagination-active-background;
      border-color: $c-dt-pagination-active-border;
    }
  }

  > .disabled {
    > span,
    > span:hover,
    > span:focus,
    > a,
    > a:hover,
    > a:focus {
      color: $c-dt-pagination-disabled-text;
      background-color: $c-dt-pagination-disabled-background;
      border-color: $c-dt-pagination-border;
    }
  }
}

// Sizing
// --------------------------------------------------
// pagination-size($padding-vertical, $padding-horizontal, $font-size, $border-radius)

.pagination-small {
  @include pagination-size(4px, 8px, $fs-tiny, 1px);
}

.pagination-large {
  @include pagination-size(11px, 20px, $fs-large, 4px);
}

.hide-pagination ul.pagination {
  display: none !important;
}
