.js-pictures-slider-wrapper {
  padding: 30px;
  overflow-x: auto;
  background: #d1e6f3;
  position: relative;
}

.js-pictures-slider-wrapper .slick-slider {
  margin-bottom: 0px !important;
}

.js-pictures-slider .picture-frame {
  border: 10px solid transparent;
  border-radius: 10px;
  width: 20% !important;

  &:hover {
    border-color: darken(#d1e6f3, 10%);
  }
}

.js-pictures-slider .picture-frame-selected {
  border: 10px solid darken(#d1e6f3, 25%);
  width: 20% !important;
  border-radius: 10px;
}

.js-pictures-slider .picture-tile {
  padding: 15px;
  background: #ffffff;
  box-shadow: 0px 1px 3px 0px rgba(0, 23, 39, 0.4);
}

.pictures-slider-nav {
  position: absolute;
  top: 50%;
  margin-top: -37px;
  padding: 0px !important;
  width: 67px;
}

.pictures-slider-prev {
  left: 30px;
}

.pictures-slider-next {
  right: 30px;
}
