.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10001; /* Make sure that popover has greater z-index than a select2's results dropdown has */
  display: none;
  text-align: left;
  background-color: #ffffff;
  background-clip: padding-box;
  border-radius: 2px;
  white-space: normal;

  &.popover-wide {
    max-width: 100vw;
  }

  @include shadow-variant(hard);
}

.popover.top {
  margin-top: -10px;
}

.popover.right {
  margin-left: 10px;
}

.popover.bottom {
  margin-top: 10px;
}

.popover.left {
  margin-left: -10px;
}

.popover-title {
  margin: 0;
  padding: 10px;
  font-size: $fs-xlarge;
  font-weight: $fw-semi;
  line-height: 1.5em;
  color: $c-black-85;
  border-bottom: 1px solid $c-gray-11;
  border-radius: 2px 2px 0 0;
}

.popover-content {
  padding: 10px;

  &.popover-scrollable {
    resize: both;
    min-width: 276px;
    width: 276px;
    height: 172px;
    overflow-y: auto;
  }
}

.popover-wide .popover-content {
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.popover > .arrow,
.popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.popover > .arrow {
  border-width: 11px;
}
.popover > .arrow:after {
  border-width: 10px;
  content: "";
}
.popover.top > .arrow {
  left: 50%;
  margin-left: -11px;
  border-bottom-width: 0;
  bottom: -11px;
}
.popover.top > .arrow:after {
  content: " ";
  bottom: 1px;
  margin-left: -10px;
  border-bottom-width: 0;
  border-top-color: #ffffff;
}
.popover.right > .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-left-width: 0;
}
.popover.right > .arrow:after {
  content: " ";
  left: 1px;
  bottom: -10px;
  border-left-width: 0;
  border-right-color: #ffffff;
}
.popover.bottom > .arrow {
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  top: -11px;
}
.popover.bottom > .arrow:after {
  content: " ";
  top: 1px;
  margin-left: -10px;
  border-top-width: 0;
  border-bottom-color: #ffffff;
}
.popover.left > .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
}
.popover.left > .arrow:after {
  content: " ";
  right: 1px;
  border-right-width: 0;
  border-left-color: #ffffff;
  bottom: -10px;
}

.popover > .bottom-space,
.popover > .bottom-space:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 5px;
}
.popover > .bottom-space:after {
  content: "";
}
