.mailing-preview-wrapper {
  padding: 15px;
  overflow-x: auto;

  background-color: $c-gray-02;
}

body.dark-theme .mailing-preview-wrapper {
  background-color: $c-dt-tile-background;
}

.mailing-preview {
  padding: 13px;
  margin: 0 auto;
}

.mailing-preview-frame {
  display: block;
  border: none;
  margin: 0 auto;
  background-color: $c-white;

  @include box-shadow($shadow-regular);
}

.mailing-preview-header {
  padding: 15px;
  border-bottom: 1px solid $c-gray-11;
}

.template-preview-wrapper {
  padding: 15px;
  overflow-x: auto;

  background-color: #faf9f9
}
