$slider-height: 16px;
$slider-track-height: 6px;

.slider-group {
  margin-top: 20px;
}

.slider {
  display: block;
  vertical-align: middle;
  position: relative;
  padding: 0 10px;

  margin: 0 !important;
}

.slider-horizontal {
  width: 100%;
  height: $slider-height;

  .slider-track {
    height: $slider-track-height;
    width: 100%;
    margin-top: -($slider-height - $slider-track-height) / 4;
    top: 50%;
    left: 0;
  }

  .slider-selection, .slider-track-low, .slider-track-high {
    height: 100%;
    top: 0;
    bottom: 0;
  }

  .slider-tick,
  .slider-handle {
    margin-left: -$slider-height/2;
    margin-top: - ($slider-height - $slider-track-height ) / 2;
    &.triangle {
      border-width: 0 $slider-track-height $slider-track-height $slider-track-height;
      width: 0;
      height: 0;
      border-bottom-color: #0480be;
      margin-top: 0;
    }
  }

  .slider-tick-label-container {
    white-space: nowrap;

    .slider-tick-label {
      display: inline-block;
      text-align: center;
    }
  }
}


.slider-handle {
  position: absolute;
  width:  $slider-height;
  height: $slider-height;

  border: 0px solid transparent;
  background-color: $c-white;

  z-index: 10;

  @include shadow-variant(regular);

  &.round {
    border-radius: $slider-height;
  }

  &.triangle {
    background: transparent none;
  }

  &.custom {
    background: transparent none;

    &::before{
      line-height: $slider-height;
      font-size: 20px;
      content: '\2605'; //unicode star character
      color: #726204;
    }

  }

}

.slider-track {
  position: absolute;
  cursor: pointer;
  border-radius: 4px;
  background-color: $c-gray-11;

  @include box-shadow(inset 0 1px 2px rgba(0,0,0,0.1));
}

.slider-selection {
  position: absolute;
  border-radius: 4px;
  background-color: $c-blue-27;

  @include box-shadow(inset 0 -1px 0 rgba(0,0,0,0.15));
}
.slider-selection.tick-slider-selection {
  // @include slider_background-image(#89cdef, #81bfde, #f7f7f7);
}

.slider-track-low, .slider-track-high {
  position: absolute;
  background: transparent;

  border-radius: 4px;
}


.slider-tick {
  position: absolute;
  width: $slider-height;
  height: $slider-height;

  filter: none;
  opacity: 0;
  border: 0px solid transparent;

  &.round {
    border-radius: 50%;
  }

  &.triangle {
    background: transparent none;
  }

  &.custom {
    background: transparent none;

    &::before {
      line-height: $slider-height;
      font-size: 20px;
      content: '\2605'; //unicode star character
      color: #726204;
    }
  }

  &.in-selection {
    // @include slider_background-image(#89cdef, #81bfde, #f7f7f7);
    opacity: 1;
  }

}

.slider-tick-label-container {
  position: relative;
  top: -10px;
}

.slider-tick-label {
  font-size: 11px;
  color: #434446;

  z-index: 0;

  margin-left: -15px !important;
  width: 30px !important;
}
