.sub-navigation {
  padding: 0 20px 0 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid $c-gray-20;
  background-color: $c-gray-11;

  position: fixed;
  top: 60px;
  left: 65px;
  right: 0;
  z-index: 1000;

  & + .l-main-view {
    padding-top: 130px;
  }

  .menu-is-active & {
    left: 230px;
  }

  @include transition(left 0.4s);
  @include clearfix();

  .dropdown {
    position: absolute;
    right: 10px; top: 0;
  }

  .dropdown-toggle {
    padding: 15px;
    line-height: 18px;
    color: $c-black-82;
  }

  .sub-nav {

    > li {
      float: left;

      + li {
        margin-left: 15px;
      }

      > a {
        display: block;
        padding: 15px;
        line-height: 18px;
        color: $c-black-82;

        border-bottom: 2px solid $c-transparent;

        @include transition(all .25s ease-in-out);

      }

      &:hover,
      &:active,
      &:focus,
      &.active {
        > a {
          color: $c-blue-27;
          border-bottom-color: $c-blue-27;
        }
      }
    }
  }

  .sub-nav-actions {
    float: right;

    > li {
      float: left;
    }

    > li + li {
      margin-left: 10px;
    }

    .btn {
      margin-top: 15px;
    }

    .btn-regular {
      margin-top: 10px;
    }

    .btn-large {
      margin-top: 5px;
    }

    .dropdown-toggle {
      display: block;
      padding: 15px 10px;

      color: $c-gray-55;
    }


    .dropdown {
      &:hover,
      &:focus,
      &:active {
        background-color: $c-blue-27;

        .dropdown-toggle {
          color: $c-white;
        }
      }
    }

    .dropdown.open {
      background-color: $c-blue-27;

      .dropdown-toggle {
        color: $c-white;
      }
    }

    .link {
      display: block;
      line-height: 20px;
      margin-top: 15px;
      color: $c-gray-55;

      &:hover,
      &:focus,
      &:active {
        color: $c-blue-27;
      }
    }


  }

}

body.dark-theme .sub-navigation {
  border-color: $c-dt-sub-nav-border;
  background-color: $c-dt-sub-nav-background;

  @include box-shadow(inset 0px 10px 4px -8px $c-dt-sub-nav-shadow);

  .sub-nav > li {
      > a {
        color: $c-dt-sub-nav-text;
      }

      &:hover,
      &:active,
      &:focus,
      &.active {
        > a {
          border-bottom-color: $c-blue-27;
        }
      }
  }
}

body.wide-sidebar .sub-navigation {
  left: 240px;
}
