
$overlay-states: (
  visible $danger    $danger,
  hidden  $blue      $blue,
  main    $dark-grey $dark-grey
);

$overlay-states-dark: (
  visible $danger     $danger,
  hidden  $blue       $blue,
  main    $light-grey $gray-600
);

$overlay-states-light-contrast: (
  visible $con-dark-blue $con-dark-blue $con-red       $con-dark-blue,
  hidden  $con-dark-blue $white         $con-dark-blue $white,
  main    $con-dark-blue $con-dark-blue $con-grey      $con-dark-blue
);

$overlay-states-dark-contrast: (
  visible $con-red   $con-dark-blue $con-red   $con-dark-blue,
  hidden  $white     $con-dark-blue $white     $con-dark-blue,
  main    $con-grey  $con-dark-blue $con-grey  $con-dark-blue
);

@mixin tile-overlay-variant($state, $border-color, $btn-bg, $btn-border-color: $btn-bg, $color: $white) {
  .tile-overlay--#{$state} {
    border-color: $border-color;

    .tile-overlay__btn {
      @include button-variant(
        $background: $btn-bg,
        $border: $btn-border-color,
        $color: $color
      );
    }
  }
}

.tile-overlay {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(2px);
  @include flex-center;
  border: 2px solid;
  border-radius: $border-radius;
  visibility: hidden;

  .btn {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
  }
}

@each $conf in $overlay-states {
  $state: nth($conf, 1);
  $border-color: nth($conf, 2);
  $btn-bg: nth($conf, 3);

  @include tile-overlay-variant($state, $border-color, $btn-bg);
}

@include color-mode(dark) {
  @each $conf in $overlay-states-dark {
    $state: nth($conf, 1);
    $border-color: nth($conf, 2);
    $btn-bg: nth($conf, 3);

    @include tile-overlay-variant($state, $border-color, $btn-bg);
  }
}

@include color-mode(light-contrast) {
  @each $conf in $overlay-states-light-contrast {
    $state: nth($conf, 1);
    $border-color: nth($conf, 2);
    $btn-border-color: nth($conf, 3);
    $btn-bg: nth($conf, 4);
    $btn-color: nth($conf, 5);

    @include tile-overlay-variant($state, $border-color, $btn-bg, $btn-border-color, $btn-color);
  }
}

@include color-mode(dark-contrast) {
  @each $conf in $overlay-states-dark-contrast {
    $state: nth($conf, 1);
    $border-color: nth($conf, 2);
    $btn-border-color: nth($conf, 3);
    $btn-bg: nth($conf, 4);
    $btn-color: nth($conf, 5);

    @include tile-overlay-variant($state, $border-color, $btn-bg, $btn-border-color, $btn-color);
  }
}
