.tile-controls {
  padding: 10px;

  @include clearfix();
}

.controls {
  @include clearfix();

  &.controls-left {
    float: left;
  }

  &.controls-right {
    float: right;
  }

  .control {
    display: inline-block;
    float: left;
  }

  .control + .control {
    margin-left: 10px;
  }
}

.date-range-controls {
  .control {
    float: left;
    max-width: 200px;
  }

  label.control {
    margin-bottom: 0;
    padding-top: 5px;
  }

}
