
.tooltip {
  --tooltip-color: #{$white};
  --tooltip-bg: #{$black};

  font-size: $font-size-sm;
  line-height: 1.4;
}

@include color-mode(light-contrast) {
  .tooltip {
    --tooltip-bg: #{$con-dark-blue};
  }
}

@include color-mode(dark-contrast) {
  .tooltip {
    --tooltip-bg: #{$white};
    --tooltip-color: #{$con-dark-blue};
  }
}

.chart-tooltip {
  --chart-tooltip-header-color: #{$dark-grey};
  --chart-tooltip-header-bg: #{$gray-100};

  background: $body-bg-var;
  opacity: 1;
  pointer-events: none;
  position: absolute;
  transition: all .1s ease;
  border: $border-default;
  @include border-radius;
  overflow: hidden;

  .tooltip-header {
    padding: $gap-x-sm $gap-sm;
    color: var(--chart-tooltip-header-color);
    background-color: var(--chart-tooltip-header-bg);
    border-bottom: $border-default;
    font-weight: $font-weight-medium;
  }

  .tooltip-body {
    padding: $gap-x-sm $gap-sm;
    @include flex-column($gap-sm);

    > div {
      @include flex-row($gap-x-sm);
      align-items: center;

      i {
        font-size: $font-size-lg;
      }
    }
  }
}

@include color-mode(dark) {
  .chart-tooltip {
    --chart-tooltip-header-color: #{$light-grey};
    --chart-tooltip-header-bg: #{$grey-blue};
  }
}

@include contrast-themes {
  .chart-tooltip {
    --chart-tooltip-header-color: #{$con-dark-blue};
    --chart-tooltip-header-bg: #{$con-light-blue};
  }
}
