.well {
  display: inline-block;
  padding: 7px 10px;
  font-size: $fs-small;
  line-height: 16px;

  border: 1px solid $c-gray-11;

  color: $c-gray-55;
  border-radius: 2px;
}

.well.no-border{
  border-width: 0px;
}

// contextual variants
@each $conf in $states {
  $state: nth($conf, 1);
  $color: nth($conf, 2);

  .well-#{$state} {
    border-color: $color;
    color: $color;
  }
}
