@import "boot/_.scss";
@import "base/_.scss";


form {
  margin: 0;
}


.l-header {
  background-color: $c-white;

  @import "modules/logo.scss";

  .logo {
    width: 60%;
    padding: 10px;
    float: left;
    position: relative;

    overflow: hidden;
    background-color: $c-white;

    .beta {
      top: 19px;
    }

    .headline {
      span {
        font-size: 21px;
        font-weight: 400;
      }
    }
  }

  .header-search {
    float: right;
    margin: 14px 20px;
    position: relative;

    input {
      display: block;
      width: 100%;
      height: 30px;
      max-width: 340px;
      padding: 6px 15px;
      font-size: 15px;
      line-height: 18px;

      color: #434446;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      outline: 0;
      border-radius: 15px;

      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
      -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

      &:focus {
        @include placeholder(transparent);
      }
    }

    i {
      position: absolute;
      right: 12px;
      top: 50%;
      margin-top: -9px;

      font-size: 15px;
      color: #434446;
    }

  }
}

.l-main, .l-search {
  height: auto;
}

.breadcrumbs {
  margin-top: 15px;
  padding: 0 40px;
  height: 15px;

  font-size: 10px;
  color: #8d8d8f;

  a {
    font-size: 10px;
    color: #8d8d8f;
  }

  span {
    color: #5a5a5c;
  }
}

.page {
  margin: 15px 20px;
  background-color: #fff;

  box-shadow: 1px 0 15px -2px rgba(0,0,0, 0.4);
}

.page-header {
  padding: 15px;
  border-bottom: 1px solid #cccdcd;

  .p_Heading1, .p_Heading2, .p_Heading3, .p_Heading4, .p_Heading5 {
    margin: 0;

    > * {

      line-height: 20px;

      font-size: 18px;
      font-weight: 600;
      color: #222326;
    }


  }
}

.page-content {
  padding: 15px 30px;
  color: #5a5a5c;
  font-size: 13px;
  line-height: 21px;

  a {
    color: #338dc7;
    text-decoration: underline;
  }

  p {
    margin-bottom: 15px;
  }

  li {
    margin-bottom: 7px;
  }

  ol {
    margin-left: 0 !important;
    padding-left: 20px !important;
    margin-bottom: 15px;

    li {
      list-style-type: decimal;
    }
  }

  ul {
    text-indent: -2px !important;
    margin-left: 0 !important;
    padding-left: 20px !important;
    margin-bottom: 15px;

    li {
      list-style-type: disc;
    }
  }

  code {
    border-radius: 1px;
    padding: 10px 35px;

    color: #707173;
    background-color: #f0f1f1;

    font-size: 12px;
    line-height: 21px;
    font-family: Consolas, monaco, monospace;
  }

  table {
    font-size: 13px;
    color: #5a5a5c;

    p {
      margin-bottom: 0;
    }

    th {
      padding: 14px 20px !important;
      vertical-align: middle !important;

      color: #434446;
      font-size: 13px;
      font-weight: 700 !important;
      border: 1px solid #cccdcd !important;
      background-color: #e2e3e3;
    }

    td {
      padding: 14px 20px !important;
      vertical-align: top !important;

      color: #5a5a5c;
      font-size: 13px;
      border: 1px solid #e2e3e3 !important;
    }

    tr:nth-child(odd) {
      background-color: #f9f9f9
    }

  }

  .p_Zwischenueberschrift, .p_Kapitelueberschrift {
    color: #161719;
    margin-bottom: 10px;
  }

  .p_ImageCaption {
    margin: 25px -30px;

    div {
      width: auto !important;
    }

    img {
      width: auto;
      height: auto !important;
      max-width: 100%;
      display: block;
      margin: 0 auto;
    }

    p {
      text-align: center;
    }


  }
}

.l-page {



}

.l-toc {
  background-color: #e2e3e3;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid #cccdcd;
}

.toc-pdf {
  font-size: 14px;
  font-weight: 700;
  padding: 15px 10px 15px 40px;
  position: relative;
  background-color: $c-blue-27;

  &:hover {
    //background-color: $c-blue-27;
  }

  a {
    color: #707173;
    color: $c-white;
  }

  i {
    position: absolute;
    left: 15px;
    top: 18px;
  }

  border-bottom: 1px solid #cccdcd;
}

.toc-copyright {
  padding: 15px 20px;
  color: #707173;
}


#toc {
  height: 100%;

  ul {
    margin: 0!important;
  }

  li {
    padding: 0 !important;
    margin: 0 !important;
    background-image: none !important;

    > a {
      display: block;
      position: relative;
      outline: 0;
      padding-right: 30px;

      // has children
      &:not(:last-child):after {
        position: absolute;
        right: 15px; top: 50%;
        margin-top: -10px;
        font-family: 'FontAwesome';
        content: $fa-var-caret-right;

        color: #707173;
      }

      > span {
        display: block;
        padding: 9px 0 9px 20px;

        font-size: 13px;
        color: #707173;
        background-color: transparent;

        // word-break: break-all;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;

      }

    }
  }

  // chapter level 1
  > li {
    border-bottom: 1px solid #cccdcd;

    > a {

      span {
        font-size: 14px;
        font-weight: 700;
      }

    }

    //selector if chapter is active
    &.active {

      > a {
        background-color: $c-blue-27 !important;
        border-left-color: $c-blue-27;

        &:after {
          color: $c-white;
        }


        > span {
          color: $c-white;
        }
      }
    }

    //selector if chapter is open
    &.open {
      > a:after {
        content: $fa-var-caret-down;
      }
    }
  }

  // first chapter of level 1
  > li:first-child {
    > a {
      span {

      }
    }
  }

  // chapter level 2
  > li > ul > li {

    //selector if chapter is active
    &.active {
      > a {
        > span {
          color: 434446;
          font-weight: 700;
        }
      }
    }

    //selector if chapter is open
    &.open {
      > a:after {
        content: $fa-var-caret-down;
      }
    }

  }

  // chapter level 3
  > li > ul > li > ul > li {

    > a {
      span {
        padding-left: 35px;

      }
    }

    //selector if chapter is active
    &.active {
      > a {
        background: linear-gradient(
          to bottom,
          #d5d6d6,
          #d5d6d6 25%,
          transparent 25%,
          transparent 75%,
          #d5d6d6 75%,
          #d5d6d6
        ), linear-gradient(
          to right,
          #d5d6d6,
          #d5d6d6 18px,
          $c-blue-27 18px,
          $c-blue-27 22px,
          #d5d6d6 22px,
          #d5d6d6
        );

        > span {
          color: #434446;
          font-weight: 700;
        }
      }
    }

    //selector if chapter is open
    &.open {
      > a:after {
        content: $fa-var-caret-down;
      }
    }
  }

  // chapter level 4 and deeper
  > li > ul > li > ul > li li {
    > a {
      span {
        padding-left: 45px;
      }
    }

    //selector if chapter is active
    &.active {
      > a {
        background: linear-gradient(
          to bottom,
          #d5d6d6,
          #d5d6d6 25%,
          transparent 25%,
          transparent 75%,
          #d5d6d6 75%,
          #d5d6d6
        ), linear-gradient(
          to right,
          #d5d6d6,
          #d5d6d6 29px,
          $c-blue-27 29px,
          $c-blue-27 34px,
          #d5d6d6 34px,
          #d5d6d6
        );

        > span {
          color: #434446;
          font-weight: 700;
        }
      }
    }

    //selector if chapter is open
    &.open {
      > a:after {
        content: $fa-var-caret-down;
      }
    }

  }


}


.l-search {
  br, .zoom_searchform {
    display: none;
  }

  .page {
    padding-bottom: 30px;
  }

  #loadingmsg {
    height: 300px;

    img {
      width: auto;
      margin: 145px auto;
    }
  }

  .searchheading {
    padding: 15px;
    border-bottom: 1px solid #cccdcd;
    margin: 0;
    line-height: 20px;

    font-size: 18px;
    font-weight: 600;
    color: #222326;
  }

  .summary {
    padding: 10px 20px 0;
    line-height: 18px;

    font-size: 12px;
    font-style: italic;
    color: #8d8d8f;
  }

  .results {
    padding: 15px 20px;
  }

  .result_pagescount {
    display: none;
  }

  .result_block, .result_altblock {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;

    cursor: pointer;
  }

  .description {
    order: 1;

    font-size: 13px;
    line-height: 21px;
    color: #0071b9;
  }

  .result_title {
    order: 2;

    > b {
      display: none;
    }

    a {
      margin-left: -8px;

      font-size: 10px;
      line-height: 18px;
      color: #707173
    }
  }

  .infoline {
    order: 3;

    font-size: 12px;
    line-height: 18px;
    color: #8d8d8f;
  }

  .result_pages {
    display: table;
    margin: 0 auto;

    border: 1px solid #e2e3e3;

    a {
      display: table-cell;
      height: 40px;
      padding: 10px 15px;
      position: relative;

      font-size: 13px;

      color: #707173;
      border-right: 1px solid #e2e3e3;
    }

    span {
      display: table-cell;
      height: 40px;
      padding: 10px 15px;

      color: $c-white;
      font-size: 13px;
      background-color: #0071b9;
    }
  }




}
