/*General */
BODY{
	background:url(../images/bodybg.png) repeat-x left top #FCFCFC;
 	font-family:Tahoma,Arial,Verdana,sans-serif;
 	font-size:12px;
}

FORM {
	margin: 0px;
	padding: 0px;
}

#emm-container{
	background:url(../images/bodybg.png) repeat-x left top;
	}

#logo_container_links{
	width:135px;
	height:69px;
	margin:10px;
	background-image:url(../images/agnitas_logo.png);
}

/*Header*/

#header_background{
	background:url(../images/header.png) no-repeat left top;
}

#header_message_container{
	color:#FF0000;
	font-size:12px;
    text-decoration: none;
}

#logo_container_title{
    font-size:14px;
    font-weight:bold;
    color:#3C79A5;
}
#header_background_filler{
	background:url(../images/header_filler.png) repeat-x left top;
}

#header_navigation_container{
	color:#3c79a5;
	font-size:12px;

}

#header_navigation_container A:link,
#header_navigation_container A:visited,
#header_navigation_container A:hover,
#header_navigation_container A:active{
	color:#3c79a5;
	font-size:12px;
	text-decoration:none;

}
#header_navigation_container A:hover{
	text-decoration:underline;
}

/* Left navigation */
#left_navigation_container{
	background:url(../images/left_navi_bg.gif) repeat-y left top;
}

#top_navigation_container{
    background:url(../images/top_navi_bg.gif) repeat-x left top;
}

.top_navigation_level1_no_round:link,
.top_navigation_level1_no_round:visited,
.top_navigation_level1_no_round:hover,
.top_navigation_level1_no_round:active,
.top_navigation_level1_no:link,
.top_navigation_level1_no:visited,
.top_navigation_level1_no:hover,
.top_navigation_level1_no:active{
	color:#2a5682;
	}
.top_navigation_level1_no:hover{
	background:url(../images/topmenu_normal_item.png) no-repeat left top;
}
.top_navigation_level1_no_round:hover{
	background:url(../images/topmenu_rounded_item.png) no-repeat left top;
}
.top_navigation_level1_active_round{
    background: url("../images/topmenu_rounded_item.png") no-repeat scroll left top;
}

.top_navigation_level1_active:link,
.top_navigation_level1_active:visited,
.top_navigation_level1_active:hover,
.top_navigation_level1_active:active{
	background:url(../images/topmenu_normal_item.png) no-repeat left top;
	color:#2a5682;
	}

.top_navigation_level1_active_round:link,
.top_navigation_level1_active_round:visited,
.top_navigation_level1_active_round:hover,
.top_navigation_level1_active_round:active {
    background: url("../images/topmenu_rounded_item.png") no-repeat scroll left top;
	color:#2a5682;
}

.top_navigation_level2_no:link,
.top_navigation_level2_no:visited,
.top_navigation_level2_no:hover,
.top_navigation_level2_no:active{
	/*background:url(../images/left_navi_pfeil_klein_grau.png) no-repeat 23px 15px;*/
	color:#3b3b3b;
}

.top_navigation_level2_active:link,
.top_navigation_level2_active:visited,
.top_navigation_level2_active:hover,
.top_navigation_level2_active:active,
.top_navigation_level2_no:hover{
	/*background:url(../images/left_navi_pfeil_klein_blau.png) no-repeat 23px 14px;*/
	color:#2a5682;
}

.left_navigation_level1_no_round:link,
.left_navigation_level1_no_round:visited,
.left_navigation_level1_no_round:hover,
.left_navigation_level1_no_round:active,
.left_navigation_level1_no:link,
.left_navigation_level1_no:visited,
.left_navigation_level1_no:hover,
.left_navigation_level1_no:active{
	background:url(../images/left_navi_pfeil_grau.png) no-repeat 9px 15px;
	color:#2a5682;
	}
.left_navigation_level1_no:hover{
	background:url(../images/left_navi_level1_hover.png) no-repeat left top;
}
.left_navigation_level1_no_round:hover{
	background:url(../images/left_navi_level1_hover_round.png) no-repeat left top;
}
.left_navigation_level1_active_round{
	background:url(../images/left_navi_level1_hover_round.png) no-repeat left top;
}

.left_navigation_level1_active:link,
.left_navigation_level1_active:visited,
.left_navigation_level1_active:hover,
.left_navigation_level1_active:active{
	background:url(../images/left_navi_level1_hover.png) no-repeat left top;
	color:#2a5682;
	}

.left_navigation_level1_active_round:link,
.left_navigation_level1_active_round:visited,
.left_navigation_level1_active_round:hover,
.left_navigation_level1_active_round:active {
	background:url(../images/left_navi_level1_hover_round.png) no-repeat left top;
	color:#2a5682;
	}

.left_navigation_level2_no:link,
.left_navigation_level2_no:visited,
.left_navigation_level2_no:hover,
.left_navigation_level2_no:active{
	background:url(../images/left_navi_pfeil_klein_grau.png) no-repeat 23px 15px;
	color:#3b3b3b;
	}

.left_navigation_level2_active:link,
.left_navigation_level2_active:visited,
.left_navigation_level2_active:hover,
.left_navigation_level2_active:active,
.left_navigation_level2_no:hover{
	background:url(../images/left_navi_pfeil_klein_blau.png) no-repeat 23px 14px;
	color:#2a5682;
	}

/* News and Wissenspool */

#left_news_container,
#left_wissenspool_container{
	background:#fff;
	border:1px solid #cecfd1;

}
#left_news_container H2,
#left_wissenspool_container H2{
	color:#2a5682;
	font-size:14px;
	font-weight:bold;
	}

#left_news_container p,
#left_wissenspool_container p{
	color:#3b3b3b;
	font-size:11px;
	}

#left_news_container p A:link,
#left_news_container p A:visited,
#left_news_container p A:hover,
#left_news_container p A:active,
#left_wissenspool_container p A:link,
#left_wissenspool_container p A:visited,
#left_wissenspool_container p A:hover,
#left_wissenspool_container p A:active
{
	color:#2a5682;
	text-decoration:none;
	padding-left:10px;
	background: url(../images/mehrlink_pfeil_blau.png) no-repeat left center;
}

#left_wissenspool_container p A:hover,
#left_news_container p A:hover{
	text-decoration:underline;
}


/* Main container aka middle column */

#main_container .tabs .tab_right{
	background:url(../images/tab_right.png) no-repeat 100% -23px;
}

#main_container .tabs .tab_right:hover{
	background:url(../images/tab_right.png) no-repeat right top;
}

#main_container .tabs .tab_active{
	background:url(../images/tab_right.png) no-repeat right top;
}

.birtreport_tab_inactive, #main_container .tabs .tab_inactive {
    background:url(../images/tab_right.png) no-repeat 100% -47px !important;
}

.birtreport_tab_inactive:hover, #main_container .tabs .tab_inactive:hover {
    background:url(../images/tab_right.png) no-repeat 100% -47px !important;
}

#contentbox_top_rubber{
}

#contentbox_top_left{
	background:url(../images/contentbox_top_left.png) no-repeat left top;
}

#contentbox_top_middle{
	background:url(../images/contentbox_top_middle.png) repeat-x left top;
}

#contentbox_top_right{
	background:url(../images/contentbox_top_right.png) no-repeat left top;
}

#contentbox_bottom_rubber{
}

#contentbox_bottom_left{
    background:url(../images/contentbox_bottom_left.png) no-repeat left top;
}

#contentbox_bottom_middle{
    background:url(../images/contentbox_bottom_middle.png) repeat-x left top;
}

#contentbox_bottom_right{
    background:url(../images/contentbox_bottom_right.png) no-repeat left top;
}

#contentbox_rubber{
    border-left: #cdd1d0 solid 1px;
    border-right: #cdd1d0 solid 1px;
}

#contentbox_middle{
    background:url(../images/contentbox_bg_middle.png) repeat left top;
}


/* Mailing Overview */

#contentbox_top{
	background:url(../images/contentbox_top.png) no-repeat left top;
}

#contentbox_bottom{
	background:url(../images/contentbox_bottom.png) no-repeat left top;
}

#contentbox{
	background:url(../images/contentbox_bg.png) repeat-y left top;
}

.contentbox_top{
	background:url(../images/contentbox_top.png) no-repeat left top;
}

.contentbox_bottom{
	background:url(../images/contentbox_bottom.png) no-repeat left top;
}

.contentbox{
	background:url(../images/contentbox_bg.png) repeat-y left top;
}

#main_container .tabs .tab_right .tab_left:link,
#main_container .tabs .tab_right .tab_left:visited,
#main_container .tabs .tab_right .tab_left:hover,
#main_container .tabs .tab_right .tab_left:active
{
	color:#fff;
	font-size:11px;
	text-decoration:none;
	background:url(../images/tab_left.png) no-repeat 0px -23px;
	}

#main_container .tabs .tab_active .tab_left:link,
#main_container .tabs .tab_active .tab_left:visited,
#main_container .tabs .tab_active .tab_left:hover,
#main_container .tabs .tab_active .tab_left:active,
#main_container .tabs .tab_right .tab_left:hover
{
	color:#3b3b3b;
	font-size:11px;
	text-decoration:none;
	background:url(../images/tab_left.png) no-repeat left top;
}

.birtreport_tab_inactive .tab_left:link, #main_container .tabs .tab_inactive .tab_left:link,
.birtreport_tab_inactive .tab_left:visited, #main_container .tabs .tab_inactive .tab_left:visited,
.birtreport_tab_inactive .tab_left:hover, #main_container .tabs .tab_inactive .tab_left:hover,
.birtreport_tab_inactive .tab_left:active, #main_container .tabs .tab_inactive .tab_left:active {
    color:#999 !important;
    font-size:11px !important;
    text-decoration:none !important;
    background:url(../images/tab_left.png) no-repeat 0px -47px !important;
}

#filterbox_label{
	background:url(../images/filterbox_label.png) no-repeat top left;
}
#filterbox_top{
	background:url(../images/filterbox_top.png) no-repeat top left;
}

#filterbox_top_left{
	background:url(../images/filterbox_top.png) no-repeat top left;
}

#filterbox_top_right{
	background:url(../images/filterbox_top.png) no-repeat top right;
}

#filterbox_content{
	background:url(../images/filterbox_bg.png) repeat-y top left;
	color:#3b3b3b;
}

#filterbox_bottom{
	background:url(../images/filterbox_bottom.png) no-repeat top left;
}

#filterbox_bottom_left{
	background:url(../images/filterbox_bottom.png) no-repeat top left;
}

#filterbox_bottom_right{
	background:url(../images/filterbox_bottom.png) no-repeat top right;
}


.online_help_searchform_button A:link,
.online_help_searchform_button A:visited,
.online_help_searchform_button A:hover,
.online_help_searchform_button A:active,

.action_button A:link,
.action_button A:visited,
.action_button A:hover,
.action_button A:active,
.filterbox_form_button A:link,
.filterbox_form_button A:visited,
.filterbox_form_button A:hover,
.filterbox_form_button A:active{
	color:#fff;
	font-size:13px;
	text-decoration:none;
}

.list_settings_mainlabel{
	color:#3b3b3b;
}

.list_settings_item{
	color:#3b3b3b;
	float: left;
}

.list_result_container_top,
.list_result_container_bottom{
	color:#3b3b3b;
	font-size:11px;
}

.list_result_empty{
	color:#3b3b3b;
	font-size:11px;
}

.list_result_paging UL LI A{
	text-decoration:none;
	color:#2a5682;
}

.list_result_paging UL LI A:hover{
	color:#cc071d;
	}

.list_result_paging UL LI A.paging_current_page:link,
.list_result_paging UL LI A.paging_current_page:visited,
.list_result_paging UL LI A.paging_current_page:hover,
.list_result_paging UL LI A.paging_current_page:active{
	color:#cc071d;
}


/* Mailing overview Table*/
.list_table, .list_table_dashboard, .list_table_importwizard{
	border-collapse:collapse;
}

.list_table TH a, .list_table_dashboard TH a, .list_table_importwizard TH a{
	font-size:13px;
	font-weight:bold;
	color:#2a5682;
	text-decoration: none;
    white-space: nowrap;
    float: left;
}

.list_table TH, .list_table_dashboard TH, .list_table_importwizard TH{
	background: #f6f6f6;
	text-align:left;
	font-size:13px;
	font-weight:bold;
	color:#2a5682;
	border:1px solid #d3d3d3;
}

.list_table TD, .list_table_dashboard TD, .list_table_importwizard TD{
	border:1px solid #d3d3d3;
	color:#3b3b3b;
	font-size:11px;
}


.list_table TD a, .list_table_dashboard TD a, .list_table_importwizard TD a{
	color:#3b3b3b;
	font-size:11px;
	text-decoration: none;
}

.list_table th.header, .list_table_dashboard th.header, .list_table_importwizard th.header{
	/*background:#f6f6f6 url(../images/table_sort_icon.png) no-repeat right center;*/
	cursor:pointer;
}
.list_table th.header .table_sort_icon, .list_table_dashboard th.header .table_sort_icon, .list_table_importwizard th.header .table_sort_icon{
	background:#f6f6f6 url(../images/table_sort_icon.png) no-repeat right center;
	padding-right:15px;
	}


.list_table th.headerSortUp, .list_table_dashboard th.headerSortUp, .list_table_importwizard th.headerSortUp {
    /*background:url(../images/sort_up.png) no-repeat right center; */
	background-color:#f6f6f6;
    cursor:pointer;
}

.list_table th.headerSortUp .table_sort_icon, .list_table_dashboard th.headerSortUp .table_sort_icon, .list_table_importwizard th.headerSortUp .table_sort_icon{
	background:#f6f6f6 url(../images/sort_up.png) no-repeat right center;
	padding-right:15px;
	}

.list_table th.headerSortDown, .list_table_dashboard th.headerSortDown, .list_table_importwizard th.headerSortDown {
   /* background:url(../images/sort_down.png)  no-repeat right center;*/
	background-color:#f6f6f6;
    cursor:pointer;
}

.list_table th.headerSortDown .table_sort_icon, .list_table_dashboard th.headerSortDown .table_sort_icon, .list_table_importwizard th.headerSortDown .table_sort_icon{
	background:#f6f6f6 url(../images/sort_down.png) no-repeat right center;
	padding-right:15px;
	}


.list_table tr.even, .list_table_dashboard tr.even, .list_table_importwizard tr.even { background: #f6f6f6;}

.list_table tr.odd, .list_table_dashboard tr.odd, .list_table_importwizard tr.odd { background: #fff;}


.mailing_action, .mailing_action_float_right{
	background: url(../images/table_action_icon.png) no-repeat 0px 0px;
}

.mailing_action:hover, .mailing_action_float_right:hover{
	background: url(../images/table_action_icon_rollover.png) no-repeat 0px 0px;
}

.mailing_edit, .mailing_edit_float_right{
	background: url(../images/table_edit_icon.png) no-repeat 0px 0px;
}

.mailing_edit:hover, .mailing_edit_float_right:hover{
	background: url(../images/table_edit_icon_rollover.png) no-repeat 0px 0px;
}

.mailing_new_module{
	background: url(../images/table_cm_icon.png) no-repeat 0px 0px;
}

.mailing_new_module:hover{
	background: url(../images/table_cm_icon_rollover.png) no-repeat 0px 100%;
}

.mailing_preview{
	background: url(../images/table_preview_icon.png) no-repeat 0px 0px;
}

.mailing_download{
    background: url(../images/download.png) no-repeat 0px 0px;
}

.mailing_preview:hover{
	background: url(../images/table_preview_icon_rollover.png) no-repeat 0px 0px;
}

.picture_refresh{
	background: url(../images/refresh_icon.png) no-repeat 0px 0px;
}

.picture_refresh:hover{
	background: url(../images/refresh_icon_rollover.png) no-repeat 0px 0px;
}

.mailing_delete, .mailing_delete_float_right{
	background: url(../images/table_delete_icon.png) no-repeat 0px 0px;
}

.mailing_delete:hover{
	background: url(../images/table_delete_icon_rollover.png) no-repeat 0px 0px;
}

.login_ip_delete{
	background: url(../images/table_delete_icon.png) no-repeat 0px 0px;
}

.login_ip_delete:hover{
	background: url(../images/table_delete_icon_rollover.png) no-repeat 0px 0px;
}


#main_container .list_table tr.list_highlight, #main_container .list_table_dashboard tr.list_highlight { background: #d6d6d6;}


/* Helpbox (hidden) */
.help_link:link,
.help_link:visited,
.help_link:active{
	background: transparent url(../images/HilfeIcon12_12.gif) no-repeat left 2px;
	color:#cc071d;
}
.help_link:hover{
	background: transparent url(../images/HilfeIcon_rollover_12_12.gif) no-repeat left 2px;
}


.help_container{
	background: transparent url(../images/dotted_line.gif) repeat-x left top;
	color:#3b3b3b;
}

.helpbox_top{
	background: url(../images/helpbox_top.png) no-repeat top left;
}

.helpbox_content{
	color:#3b3b3b;
	background: url(../images/helpbox_bg.png) repeat-y top left;
}

.helpbox_content A.morelink:link,
.helpbox_content A.morelink:visited,
.helpbox_content A.morelink:hover,
.helpbox_content A.morelink:active{
	background: transparent url(../images/dotted_line.gif) repeat-x left top;
	color:#cc071d;
}


.helpbox_content h2{
 	font-size:14px;
 	margin-top:2px;
 	margin-bottom:10px;
 	color:#2a5682;
 }

 .helpbox_content h3{
 	font-size:13px;
 	margin-top:2px;
 	margin-bottom:3px;
 	color:#2a5682;
 }
 .help_caution{
	color:#cc071d;
	font-weight:bold;
 }

.helpbox_bottom{
	background: url(../images/helpbox_bottom.png) no-repeat top left;
}

.help_close A{
	background: url(../images/help_close.png) no-repeat top left;
}

/* Mailing Detail */

/* Box for status or error messages */
.statusbox_top{
	background:url(../images/statusbox_top.png) no-repeat left top;
}

.statusbox_bottom{
	background:url(../images/statusbox_bottom.png) no-repeat left top;
}

.statusbox_content{
	background:url(../images/statusbox_bg.png) repeat-y left top;
}

.grey_box_container {
	color:#5b5b5b;
	font-size:11px;
}
.grey_box_top {
	background:url(../images/filterbox_top.png) no-repeat top left;
}

.expand_grey_box_top {
	background:url(../images/klappe_grau.png) no-repeat left top;
}

.grey_box_content,
.expand_grey_box_content{
	background:url(../images/filterbox_bg.png) repeat-y top left;
	color:#3b3b3b;
}

.grey_box_bottom,
.expand_grey_box_bottom{
	background:url(../images/filterbox_bottom.png) no-repeat top left;
}

.schablonen_container h3{
	color:#3b3b3b;
	font-size:12px;
	font-weight:bold;
}

.expand_blue_box_content h3{
	color:#3b3b3b;
	font-size:12px;
	font-weight:bold;
}

.graphic_component_upload_form_item .info_bubble{
    float: left;
}

.info_bubble{
	background: url(../images/info_icon.png) no-repeat left top;
	width:22px;
	height:14px;
	display:block;
}

.reset_icon{
	background: url(../images/set-back.png) no-repeat left top;
	width:22px;
	height:14px;
	display:block;
}

.schablonen_toggle{
	background:url(../images/klappe_blau_zu.png) no-repeat left top;
}

.settings_toggle{
	background:url(../images/klappe_grau.png) no-repeat left top;
}

.blue_box_top {
	background:url(../images/emailbox_top.png) no-repeat left top;
}

.recipient_blue_box_top_left {
	background:url(../images/emailbox_top.png) no-repeat left top;
}

.recipient_blue_box_top_right {
	background:url(../images/emailbox_top.png) no-repeat right top;
}

.recipient_blue_box_bottom_left {
	background:url(../images/emailbox_bottom.png) no-repeat left top;
}

.recipient_blue_box_bottom_right {
    background:url(../images/emailbox_bottom.png) no-repeat right top;
}

.expand_blue_box_top {
	background:url(../images/emailbox_dynamic_top.png) no-repeat scroll left top transparent;
}

.expand_blue_box_top_bordered {
	background:url(../images/emailbox_dynamic_top_bordered.png) no-repeat scroll left top transparent;
}

.expand_blue_box_top_left{
	background:url(../images/emailbox_dynamic_top.png) no-repeat scroll left top transparent;
}

.expand_blue_box_top_right{
	background:url(../images/emailbox_dynamic_top.png) no-repeat scroll right top transparent;
}

.blue_box_bottom{
	background:url(../images/emailbox_bottom.png) no-repeat left top;
}

.blue_box_left{
	background:url(../images/emailbox_bottom.png) no-repeat left top;
}

.blue_box_right{
	background:url(../images/emailbox_bottom.png) no-repeat right top;
}

.expand_blue_box_bottom{
	background:url(../images/emailbox_bottom.png) no-repeat left top;
}

.expand_blue_box_bottom_left{
	background:url(../images/emailbox_bottom.png) no-repeat left top;
}

.expand_blue_box_bottom_right{
	background:url(../images/emailbox_bottom.png) no-repeat right top;
}

.blue_box_content{
	background:url(../images/emailbox_bg.png) repeat-y left top;
}

.expand_blue_box_content{
	background:url(../images/emailbox_bg.png) repeat-y left top;
}

h2.blue_box_header {
	color:#2a5682;
	font-size:15px;
	font-weight:bold;
}

h2.email_blue_box_header{
	background:url(../images/emailbox_header_bg.png) no-repeat left 3px;
}

.toggle_closed A:link,
.toggle_closed A:visited,
.toggle_closed A:hover,
.toggle_closed A:active{
	background: url(../images/klappe_zu.png) no-repeat left 4px;
	font-size:12px;
	color:#2a5682;

}

.toggle_open A:link,
.toggle_open A:visited,
.toggle_open A:hover,
.toggle_open A:active{
	background: url(../images/klappe_offen.png) no-repeat left 4px;
	font-size:12px;
	color:#2a5682;

}

h3.header_coloured{
	font-size:11px;
	color:#2a5682;
	font-weight:normal;
}

.other_media_container h3{
	color:#3B3B3B;
	font-size:12px;
	font-weight:bold;
	}

 .other_media_checkbox_item input{
	color:#3B3B3B;
 }

  .other_media_form_item label,
 .settings_general_form_item label,
 .settings_targetgroups_form_item label{
	text-align:right;
	font-size:11px;
	color:#3B3B3B;
 }

 .dotted_line{
	background:transparent url(../images/dotted_line.gif) repeat-x scroll left top;
}

#settings_general_schablone{
	border:none;
	font-size:11px;
	background-color:#fff;
	color:#3B3B3B;
	font-family:Tahoma,Arial,Verdana,sans-serif;
}

#settings_general_oeffner{
	color:#757f8b;
}

#settings_general_vorheriges_mailing{
	color:#757f8b;
}

.settings_targetgroups_added_targetgroups,
.adresses_container {
	border:1px solid #d1d1d1;
}

.settings_targetgroups_add:link,
.settings_targetgroups_add:visited,
.settings_targetgroups_add:hover,
.settings_targetgroups_add:active{
	background: url(../images/targetgroup_hinzufuegen.png) no-repeat top left;
	color:#2a5682;
}

.settings_targetgroups_new_targetgroup:link,
.settings_targetgroups_new_targetgroup:visited,
.settings_targetgroups_new_targetgroup:hover,
.settings_targetgroups_new_targetgroup:active{
	background: url(../images/doppelpfeil_grau.png) no-repeat left 5px;
	color:#2a5682;
}

.status_error{
	 background: url(../images/error_icon.png) no-repeat left 1px;
	 color:#cc071d;
}

.status_warning{
	 background: url(../images/warning_icon.png) no-repeat left 1px;
	 color:#848484;
}

.status_ok{
	 background: url(../images/ok_icon.png) no-repeat left 1px;
	 color:#488d3b;
}

/* ONLINE HELP POPUP */
.online_help_popup{
	background:none;
	background-color:#fff;
}
.online_help_header_container{
	background: url(../images/double_dotted.gif) repeat-x left bottom;
}

h1.online_help_main_header{
	font-size:18px;
	color:#cc071d;
	background: transparent url(../images/HilfeIcon12_12.gif) no-repeat left 3px;
	font-weight:normal;
	padding-left:25px
}
h1.online_help_main_header A:hover{
	background: transparent url(../images/HilfeIcon_rollover_12_12.gif) no-repeat left 3px;
}
.online_help_content_left_column{
	background:url(../images/dotted_vertical.gif) repeat-y right 5px;
}
.online_help_manual_downloadlink{
	color:#cc071d;
	background:url(../img/pdf_icon.gif) no-repeat left center;
	text-decoration:none;
	margin-bottom:5px;
}

.online_help_manual_downloadlink:hover{
	text-decoration:underline;

}
.online_help_navigation LI A:link,
.online_help_navigation LI A:visited,
.online_help_navigation LI A:hover,
.online_help_navigation LI A:active{
	background:transparent url(../images/left_navi_pfeil_grau.png) no-repeat scroll 0px 6px;
	color:#3b3b3b;
	text-decoration:none;
	}

.online_help_navigation LI A:link:hover{
	color:#2a5682;
}

.online_help_content_navigation Li A{
	font-size:14px;
	font-weight:bold;
}

a.table_page {
	color:#0C4065;
	text-decoration:none;
}

a.table_page_current {
	color:#cc071d;
	text-decoration:none;
}

.table_pages_container {
    width: 100%;
    margin-top:20px;
}

/* RECIPIENT OVERVIEW */

#search_label{
	background:url(../images/suche_label.png) no-repeat top left;
}

.search_label_de{
	background:url(../images/suche_label.png) no-repeat top left;
}

.search_label_en{
	background:url(../images/search_label.png) no-repeat top left;
}

#searchbox_content {
	background:url(../images/filterbox_bg.png) repeat-y top left;
	color:#3b3b3b;
}

#searchbox_content_left{
	background:url(../images/filterbox_bg.png) repeat-y top left;
	color:#3b3b3b;
}

#searchbox_content_right {
	background:url(../images/filterbox_bg.png) repeat-y top right;
	color:#3b3b3b;
}

#searchbox_content h2{
	color:#2A5682;
	font-size:12px;
	font-weight:normal;
}

.advanced_search_filter_list h2{
	font-size:12px;
	font-weight:normal;
}

#advanced_search_top, #recipient_fields_top{
	background:url(../images/filterbox_top.png) no-repeat top left;
}

#advanced_search_content, #recipient_fields_content{
	background:url(../images/filterbox_bg.png) repeat-y top left;
	color:#3b3b3b;
}

#advanced_search_bottom, #recipient_fields_bottom{
	background:url(../images/filterbox_bottom.png) no-repeat top left;
}

.advanced_search_add:link,
.advanced_search_add:visited,
.advanced_search_add:hover,
.advanced_search_add:active{
	background: url(../images/targetgroup_hinzufuegen.png) no-repeat left 3px;
	color:#2a5682;
}

/* Recipient Detail */
.contentbox_left_column h3,
.contentbox_right_column h3{
	color:#3B3B3B;
	font-size:12px;
	font-weight:bold;
}

.contentbox_right_column .recipient_detail_mailinglist_container{
    background-color: #f6f6f6;
	border:1px solid #d1d1d1;
}

.recipient_detail_form_item label {
    font-size: 11px;
}

.recipient_detail_form_item_radio LABEL{
    font-size: 12px;
}

/* Dashboard */

.dashboard_info{
	color:#cc071d;
	background:url(../images/dashboard_info.png) no-repeat left 2px;
	padding-bottom:2px;

}

.dashboardbox_title{
	background:url(../images/dashboard_titlebar_right.png) no-repeat right top;
}

.dashboardbox_title H2{
	background:url(../images/dashboard_titlebar_left.png) no-repeat left top;
	font-family:Tahoma,Arial,Verdana,Helvetica, sans-serif;
	font-size:12px;
	color:#2e2e2e;
	font-weight:normal;
}

.dashboard_tabs{
	background:#fff url(../images/dashboard_tab_border.png) repeat-x left bottom;
	border-left:1px solid #c0c0c0;
	border-right:1px solid #c0c0c0;
}



.dashboard_tabs UL LI{
	background: url(../images/dashboard_tab_right.png) no-repeat right top;
}

.dashboard_tabs UL LI A{
	background: url(../images/dashboard_tab_left.png) no-repeat left top;
	text-decoration:none;
	color:#2a5682;
}

.switch_content_tabs{
	background:#fff url(../images/dashboard_tab_border.png) repeat-x left bottom;
	/*border-left:1px solid #c0c0c0;
	border-right:1px solid #c0c0c0;*/
}


.stat_tab_right {
    background: url(../images/dashboard_tab_right.png) no-repeat right top;
}

.stat_tab_left {
    background: url(../images/dashboard_tab_left.png) no-repeat left top;
	text-decoration:none;
	color:#2a5682;
}

.stat_tab_right_inactive {
    background: url(../images/dashboard_tab_right_inactive.png) no-repeat right top;
}

.stat_tab_left_inactive {
    background: url(../images/dashboard_tab_left_inactive.png) no-repeat left top;
	text-decoration:none;
	color:#2a5682;
}

.stat_tab_right_forbidden {
    background: url(../images/dashboard_tab_right_forbidden.png) no-repeat right top;
}

.stat_tab_left_forbidden {
    background: url(../images/dashboard_tab_left_forbidden.png) no-repeat left top;
    text-decoration:none;
    color:#2a5682;
}

.background_none {
    background: none;
}

/*.mailing_content_tabs UL LI{*/
	/*background: url(../images/dashboard_tab_right.png) no-repeat right top;*/
/*}*/

.switch_content_tabs UL LI A{
	/*background: url(../images/dashboard_tab_left.png) no-repeat left top;*/
	text-decoration:none;
	color:#2a5682;
}

.switch_content_tabs UL LI.stat_tab_right_forbidden A{
    color:#888;
}

.dashboard_recently_modified_content{
	border-left:1px solid #c0c0c0;
	border-bottom:1px solid #c0c0c0;
	background:#fafafa;
}

#mailuebersicht .dashboard_mailing_detail{
	background:transparent url(../images/left_navi_pfeil_grau.png) no-repeat scroll 0px 4px;
	color:#2A5682;
	text-decoration:underline;

	}

#mailing .dashboard_mailing_detail{
	background:transparent url(../images/left_navi_pfeil_grau.png) no-repeat scroll 0px 4px;
	color:#2A5682;
	text-decoration:underline;
}

.dashboard_statistics_button A{
	color:#FFFFFF;
	font-size:13px;
	text-decoration:none;
	background:transparent url(../images/filterbox_btn_left3.png) no-repeat scroll left top;
	}
.dashboard_statistics_button A span{
	background:transparent url(../images/filterbox_btn_right3.png) no-repeat scroll right top;
	}

.dashboard_statistics_button A:hover{
  background: url(../images/filterbox_btn_left3.png) no-repeat scroll 0px -21px;
  color:#2a5682;
}

.dashboard_statistics_button A:hover span {
  background: transparent url(../images/filterbox_btn_right3.png) no-repeat 100% -21px;
 }



.dashboard_manage_recipients_content,
.dashboard_create_new_content,
.dashboard_statistics_content{
	border-left:1px solid #c0c0c0;
	border-right:1px solid #c0c0c0;
	border-bottom:1px solid #c0c0c0;
	background:#fafafa;
}

.dashboard_statistics_content H3{
	font-weight:normal;
	font-size:11px;
	color:#5a5a5a;
}

.dashboard_statistics_content LABEL {
	font-weight:normal;
	font-size:11px;
	color:#5a5a5a;
}

.dashboard_statistics_content IFRAME{
	border:1px solid #c0c0c0;
}

.dashboard_statistics_content .show_complete_statistics{
	background:transparent url(../images/left_navi_pfeil_grau.png) no-repeat scroll 0px 4px;
	color:#2A5682;
	text-decoration:underline;
}

.dashboard_create_new_content LABEL{
	color:#3B3B3B;
}

.dashboard_link{
	background:transparent url(../images/left_navi_pfeil_grau.png) no-repeat scroll 0px 4px;
	color:#2A5682;
	text-decoration:underline;
}

/* New Mailing Start */
.greybox_small_top{
	background:url(../images/greybox_small_top.png) no-repeat top left;
}
.greybox_small_bottom{
	background:url(../images/greybox_small_bottom.png) no-repeat top left;
}
.greybox_small_content{
	background:url(../images/greybox_small_content.png) repeat-y top left;
}

.big_button A{
	color:#FFFFFF;
	font-size:13px;
	text-decoration:none;
	background:url(../images/big_buttons_left.png) no-repeat scroll left top;
	}
.big_button A span{
	background:transparent url(../images/big_buttons_right.png) no-repeat scroll right top;
	}

.big_button A:hover{
  background: url(../images/big_buttons_left.png) no-repeat scroll 0px -39px;
  color:#2a5682;
}

.big_button A:hover span {
  background: transparent url(../images/big_buttons_right.png) no-repeat 100% -39px;
 }

.big_button_disabled A, .big_button_disabled A:hover{
    color:#3C79A5;
    font-size:13px;
    text-decoration:none;
    background:url(../images/big_buttons_left.png) no-repeat scroll 0 -39px;
    cursor: default !important;
}
.big_button_disabled A span, .big_button_disabled A:hover span{
    background:transparent url(../images/big_buttons_right.png) no-repeat 100% -39px;
    cursor: default !important;
}

.assistant_profi_link:link,
.assistant_profi_link:visited,
.assistant_profi_link:hover,
.assistant_profi_link:active{
	color:#2A5682;
	background: url(../images/icon_profis.png) no-repeat left 2px;
	text-decoration:none;
}

 .assistant_profi_link:hover{
 	text-decoration:underline;
 }

.simple_link:link,
.simple_link:visited,
.simple_link:active {
    text-decoration:none;
    color:#2A5682;
}

.simple_link:hover {
    text-decoration:underline;
    color:#2A5682;
}

.assistant_assistant_link:link,
.assistant_assistant_link:visited,
.assistant_assistant_link:hover,
.assistant_assistant_link:active{
	color:#2A5682;
	background:url(../images/icon_assistent.png) no-repeat left 2px;
	text-decoration:none;

}

 .assistant_assistant_link:hover{
 	text-decoration:underline;
 }

.loginbox_top {
    background:url(../images/login_top.png) no-repeat top left;
}
.loginbox_bottom {
    background:url(../images/login_bottom.png) no-repeat top left;
}

.loginbox_content{
    text-align: center;
	background:url(../images/login_content.png) repeat-y top left;
	background-color:#FFFFFF;
}

.logon_page_copyright {
    font-size: 10px;
    color: #999999;
}

.logon_page_copyright a{
    color: #0C4065;
}

.logon_page_emm_title {
    font-size:16px;
    font-weight: bold;
}

.send_page_header {
    font-weight: bold;
}

.logon_update_message {
    color: #FF0000;
}

 /* New Mailing Step 7 */
.new_mailing_content,
.export_wizard_content {
	color:#3b3b3b;
}
.new_mailing_step_display{
	background:url(../images/dotted_line.gif) repeat-x left bottom;
}

.new_mailing_step_display LI{
	font-size:14px;
	color:#3b3b3b;
	background:transparent url(../images/left_navi_pfeil_klein_grau.png) no-repeat scroll 0px 7px;
}

.new_mailing_step_display LI.step_display_first{
	background:none;
}

.new_mailing_step_display LI.step_display_first_active{
	background:#f9bcbc;
}

.new_mailing_step_display LI span.step_active{
	background:#f9bcbc;
}

.assistant_step7_form_item{

}

.assistant_step7_form_item LABEL{
	color:#3B3B3B;
	font-size:11px;
}

.assistant_trackablelinks_form_item LABEL{
	color:#3B3B3B;
	font-size:12px;
}
.assistant_step7_form_item SELECT{

}
.assistant_step7_targetgroups_select_container LABEL{
	font-size:12px;
	font-weight:bold;
}

.assistant_step7_targetgroups_add:link, .assistant_step7_targetgroups_add:visited, .assistant_step7_targetgroups_add:hover, .assistant_step7_targetgroups_add:active {
	background:transparent url(../images/targetgroup_hinzufuegen.png) no-repeat scroll left top;
	color:#2a5682;
	}

.assistant_step7_targetgroups_added_targetgroups{
	border:1px solid #D1D1D1;
}

.assistant_step7_checkbox LABEL{
	font-size:11px;
	color:#3b3b3b;
}

 /* Graphic Components */

.graphic_component_upload_container{
	background:#fafafa;
	border:1px solid #d1d1d1;
}

.graphic_component_upload_form_item LABEL{
	font-size:11px;
	color:#3b3b3b;
}

.graphic_component_info_container{
	border:1px solid #d1d1d1;

}

.graphic_component_form_item LABEL{
	font-size:10px;
	color:#2a5682;
}

.graphic_component_form_item INPUT{
	font-size:10px;
	color:#3B3B3B;
	font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;
}

.graphic_component_file_info{
	border-top:1px solid #b0b0b0;
	background-color:#f8f8f8;
}

.graphic_component_file_info_item LABEL{
	font-size:10px;
	color:#2a5682;
}

.graphic_component_file_info_item INPUT{
	font-size:10px;
	color:#3B3B3B;
	font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;
	border:1px solid #fff;
	background:none;
}

.graphic_component_image_container{
	border:1px solid #d1d1d1;
}

.graphic_component_icons_container{
	border:1px solid #d1d1d1;
	border-left:none;
}

/* STATISTICS */

.stats_highlight_color {
    background-color: #73A2D0;
}

.stats_normal_color {
    background-color: #D2D7D2;
}

.stats_default_color {
    background-color: #FFFFFF;
}

.stats_info_container{
	background:#FFFFFF none repeat scroll 0 0;
	border:1px solid #D1D1D1;
}

.stats_info_container Label{
	color:#2A5682;
	font-size:10px;
}

.stats_info_container input{
	background:transparent none repeat scroll 0 0;
	border:1px solid #FFFFFF;
	color:#3B3B3B;
	font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;
	font-size:10px;
}

.stats_targetgroup_container{
	background:#F8f8f8 none repeat scroll 0 0;
	border:1px solid #D1D1D1;
	border-top:none;
}
.stats_targetgroup_container .stats_targetgroup_container_form_row LABEL{
	color:#2A5682;
	font-size:10px;
}

.stats_targetgroup_container_form_row .stats_targetgroup_form_item_radio label{
	color:#3B3B3B;
}

.stats_targetgroup_select_container LABEL{
	color:#2A5682;
	font-size:10px;
	}


.stats_targetgroups_add:link,
.stats_targetgroups_add:visited,
.stats_targetgroups_add:hover,
.stats_targetgroups_add:active {
	background:transparent url(../images/targetgroup_hinzufuegen.png) no-repeat scroll left top;
	color:#2a5682;
	}

.stats_targetgroups_added_targetgroups{
	border:1px solid #d1d1d1;
	background:#fff;
}

.inpage_tabs{
	background:transparent url(../images/inpage_tab_bg.gif) repeat-x left bottom;
}

.inpage_tabs .inpage_tab_active{
	background:transparent url(../images/inpage_tab_right.gif) no-repeat scroll right 0;
}

.inpage_tabs .inpage_tab_right A:link,
.inpage_tabs .inpage_tab_right A:visited,
.inpage_tabs .inpage_tab_right A:hover,
.inpage_tabs .inpage_tab_right A:active{

	color:#3b3b3b;
	font-size:11px;
	text-decoration:none;
}

.inpage_tabs .inpage_tab_right A:hover{
	text-decoration:underline;
}

.inpage_tabs .inpage_tab_active A{
	background:transparent url(../images/inpage_tab_left.gif) no-repeat scroll 0 0;
}

.cms_editor_right_panel {
    background-color:#F6F6F6;
    border: 1px solid #D1D1D1;
}

.statbox_panel_top {
    font-size:1px;
}

.export_container{
	font-size:11px;
	color:#2A5682;
	border-top:1px solid #c0c0c0;
}

.send_status {
    color: #2A5682;
    font-weight: bold;
    margin-right: 4px;
}

.send_status_first_column {
    color: #2A5682;
    font-size: 10px;
}

.send_status_table_title {
    font-weight: bold;
}

.send_status_table{
	border-collapse:collapse;
    margin-top: 10px;
}

.send_status_table_header_first{
	background: #f6f6f6;
	text-align:left;
	font-size:10px;
    padding: 3px 10px 3px 10px;
    color:#2a5682;
	border:1px solid #d3d3d3;
}

.send_status_table_header_second{
	background: #f6f6f6;
	text-align:right;
	font-size:10px;
    padding: 3px 10px 3px 10px;
    color:#2a5682;
	border:1px solid #d3d3d3;
}

.send_status_table TD{
	border:1px solid #d3d3d3;
	font-size:10px;
    padding: 3px 10px 3px 10px;

}

.send_status_table tr.even { background: #f6f6f6;}

.send_status_table tr.odd { background: #fff;}

.dashboard_mail_preview {
    border: 2px solid #FAFAFA;
}

.dashboard_mail_preview:hover {
    background-color:#E8E8E8;
}

.dashboard_mail_preview_selected {
    background-color:#E8F5FF;
    border: 2px solid #88DDEE;
}

.dashboard_mail_preview_name {
    font-size: 10px;
}

.dashboard_preview_panel {
    border-right: 1px solid #c0c0c0;
}

.dashboard_mail_detail_row {
    border-bottom: 1px solid #c0c0c0;
}

.dashboard_edit_mail_row {
    border: none;
}

.dashboard_mail_detail_infokey {
    font-size:10px;
    color: #2A5682;
    font-weight: bold;
}

.dashboard_mail_detail_infovalue {
    font-size:10px;
}

.dashboard_thumbnail_table {
    border: 1px solid #C0C0C0;
}

.motd_content {
    background-color: #ffffff;
    border: 1px solid #c0c0c0;
}

.motd_header {
    background:url(../images/topmenu_normal_item.png)  repeat-x left top;
    border-bottom: none;
}

.motd_overlay {
    opacity: 0.5;
    filter: alpha(opacity = 50);
    background-color:#000000;
}

.newml_fromtg_mediatype_title {
    font-weight: bold;
}

.warning {
	color: #FF1B00;
}

.recipient_month_navigation,
.recipient_month_navigation_right {
	color:#2A5682;
}

.text_module_name_label {
    font-size: 11px;
}

.bulk_action_top{
	background:url(../images/filterbox_top.png) no-repeat left top;
}

.bulk_action_bottom{
	background:url(../images/filterbox_bottom.png) no-repeat left top;
}

/*.bulk_action_content{*/
	/*background:url(../images/filterbox_bg.png) repeat-y left top;*/
/*}*/

.bulk_action_content a{
	color: #2A5682;
}

.mailing_content_preview_header_emm H3{
	color:#3B3B3B;
	font-size:12px;
	font-weight:bold;
    margin: 0 0 5px;
    padding: 0px;
}

.mailing_single_content_preview H3{
	color:#3B3B3B;
	font-size:12px;
	font-weight:bold;
    margin: 0 0 5px;
    padding: 0px;
}

.new_text_module_label {
    color:#3B3B3B;
}

#cms_modal {
    display:none;
    background-color:black;
    opacity: 0.8;
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    z-index:10;
}

#cms_preview_holder {
    display: none;
    background-color:white;
    border: 10px solid white;
    z-index:20;
}

#cms_close {
    outline: none;
}

.label_warning {
    color:#cc071d;
    display:none;
}

.img_warning {
    display:none;
}

.box_top_left {
    background:url(../images/reportbox_top.png) no-repeat left top;
}

.box_top_right {
    background:url(../images/reportbox_top.png) no-repeat right top;
}

.box_bottom_left {
    background:url(../images/reportbox_bottom.png) no-repeat left bottom;
}

.box_bottom_right {
    background:url(../images/reportbox_bottom.png) no-repeat right bottom;
}

.report_table {
   border-collapse: collapse;
   border-bottom: 1px dotted #b0b0b0;
}

.border_left {
    border-left: 1px solid #d1d1d1;
}

.border_right {
    border-right: 1px solid #d1d1d1;
}

.readonly_textfield {
    background: none repeat scroll 0 0 #F0F0F0;
	color: #777777;
}

.action-disabled {
    color: #999999 !important;
}

.target-group-add-button {
	background: transparent url(../images/paging_next.gif) no-repeat scroll left top;
    padding-left: 18px;
}

.target-group-add-all-button {
	background: transparent url(../images/paging_last.gif) no-repeat scroll left top;
    padding-left: 18px;
}

.target-group-remove-button {
	background: transparent url(../images/paging_previous.gif) no-repeat scroll left top;
    padding-left: 18px;
}

.target-group-remove-all-button {
	background: transparent url(../images/paging_first.gif) no-repeat scroll left top;
    padding-left: 18px;
}

.target_view_link {
    color: #2A5682;
}

.usual_link {
    color: #2A5682;
}

.mouse-scroll {
    background: url(../images/one_pixel.gif) repeat left top;
}

.ui-widget-header {
    border: 1px solid #73A2D0;
    background: #73A2D0 url(../images/div_child_dialog_header.png) 50% 50% repeat-x;
    color: #ffffff;
    font-weight: bold;
}

.grid_detail_form_item label {
    font-size: 11px;
}

.grid_divchild_format_error {
    color: red;
}
.plugin_edit{
	background: url(../images/table_edit_icon.png) no-repeat 0px 0px;
}

.plugin_edit:hover{
	background: url(../images/table_edit_icon_rollover.png) no-repeat 0px 0px;
}

.recipient_mailinglist_top_left{
    background:url(../images/filterbox_top.png) no-repeat top left;
}

.recipient_mailinglist_top_right{
    background:url(../images/filterbox_top.png) no-repeat top right;
}

.recipient_content {
    border-right: 1px solid #d1d1d1;
}

.benchmark_controls_container, .benchmark_industry_select {
    font-size: 11px;
}

.benchmark_stat_title {
    font-weight: bold;
}

.dashboard_no_mailings_panel {
    border: 1px solid #c0c0c0;
}

.userform_content_form_label {
    font-weight: bold;
}

.removeTargetgroup {
    text-decoration: none;
}

/* Calendar styles */

.calendar-day-container {
    background-color: #ffffff;
    border: 1px solid #d3d3d3;
}

.calendar-day-label {
    background-color: #f6f6f6;
}

.calendar-mail-label {
    border: 1px solid #c0c0c0;
    background-color: #FFFCDF;
    font-size: 11px;
}

.calendar-mail-popup {
    border: 1px solid #d3d3d3;
    background-color: white;
    font-size: 11px;
}

.calendar-mail-popup-chapter {
    font-weight: bold;
}

.calendar-future-day {
    background-color: #ffffff;
}

.calendar-past-day {
    background-color: #ffffff;
}

.calendar-current-day {
    background-color: #eeffee;
}

.calendar-another-month-day {
    background-color: #F6F6F6;
}

.calendar-day-hover {
    background-color: #E8F5FF;
}

.calendar-send-time-label {
    color: #888888;
}

.calendar-sent-mail {
    background: none;
    border: 1px solid transparent;
}

.calendar-send-time-label {
    color: #aaaaaa;
}

.calendar-name-link {
    color: inherit;
    text-decoration: none;
}

.calendar-name-link:hover {
    text-decoration: underline;
}

.calendar-scheduled-mail {
    background: none;
    border: 1px solid transparent;
}

.calendar-add-comment-button {
    background: url("../images/Sprechblase.png") no-repeat scroll left transparent;
    text-decoration: none;
}

.calendar-show-comments-button {
    background: url("../images/hide.png") no-repeat scroll left transparent;
    text-decoration: none;
}

.calendar-remove-comment-button {
    background: url("../images/table_delete_icon.png") no-repeat scroll left transparent;
    text-decoration: none;
}

.calendar-remove-comment-button:hover {
    background: url("../images/table_delete_icon_rollover.png") no-repeat scroll left transparent;
}

.calendar-comment {
    cursor: default;
}

#calendar-dialog-modal {
    font-size: 12px;
    font-family: Tahoma, sans-serif;
}

.comment-admin-name {
    font-weight: bold;
}

.calendar-mail-preview {
    border: 1px solid #C0C0C0;
}

.calendar-weekend-day {
    background-color: #f5fbff;
}

.calendar-weekend-day-label {
    background-color: #e0e7ee;
}

.calendar-day-hover {
    background-color: #ccffcc;
}

.calendar-params {
    font-size: 11px;
}

.calendar-week-number-cell {
    background-color: #f6f6f6;
    border: 1px solid #d3d3d3;
}



.calendar-mailings-list-header {
    font-weight: bold;
}

.calendar-wait-popup {
    font-size: 12px;
    font-family: Tahoma, Arial, Verdana, sans-serif;
}

.calendar-mailing-status-sent {
    color: #000000;
}

.calendar-mailing-status-canceled {
    color: #9900CC;
}

.calendar-mailing-status-sending {
    color: #A91B1B;
}

.calendar-mailing-status-scheduled {
    color: #DF3939;
}

.calendar-mailing-status-ready {
    color: #F5770F;
}

.calendar-mailing-status-test {
    color: #69A129;
}

.calendar-mailing-status-edit {
    color: #0071B9;
}

.calendar-mailing-status-new {
    color: #00558A;
}

.calendar-mailing-status-planned-in-past {
    color: #727272;
}

.extended_width_control_0 {
    background-image: url(../images/s_wide_off.png);
    cursor: pointer;
}

.extended_width_control_1 {
    background-image: url(../images/s_wide_on.png);
    cursor: pointer;
}

.comment-text-content {
    text-decoration: none;
    cursor: default;
    color: black;
}

.comment-dots {
    background-color: #FFFCDF;
}

.ckeditor-toggle-button {
    cursor: pointer;
}

.failed_logins_warning {
	color: #FF0000;
}

.send_now_text {
    font-weight: bold;
    color: #A91B1B;
}

.auto_import_property_label {
    font-size: 11px;
}

.mailing_send_recipient_add:link,
.mailing_send_recipient_add:visited,
.mailing_send_recipient_add:hover,
.mailing_send_recipient_add:active{
    background: url(../images/targetgroup_hinzufuegen.png) no-repeat left 3px;
    color:#2a5682;
}

.birtreport_tab_right .tab_left:link,
.birtreport_tab_right .tab_left:visited,
.birtreport_tab_right .tab_left:hover,
.birtreport_tab_right .tab_left:active {
	color:#fff;
	font-size:11px;
	text-decoration:none;
	background:url(../images/tab_left.png) no-repeat 0px -23px;
}

.birtreport_tab_active .tab_left:link,
.birtreport_tab_active .tab_left:visited,
.birtreport_tab_active .tab_left:hover,
.birtreport_tab_active .tab_left:active,
.birtreport_tab_right .tab_left:hover {
	color:#3b3b3b;
	font-size:11px;
	text-decoration:none;
	background:url(../images/tab_left.png) no-repeat left top;
}

.birtreport_tab_right {
	background:url(../images/tab_right.png) no-repeat 100% -23px;
}

.birtreport_tab_right:hover {
	background:url(../images/tab_right.png) no-repeat right top;
}

.birtreport_tab_active {
	background:url(../images/tab_right.png) no-repeat right top;
}

.birtreport_list_header {
    font-weight: bold;
}

.birtreport_all_enable {
    font-weight: normal;
}

.multiple-selector-container {
    border: 1px solid #D1D1D1;
}

#statusEmailContainer .mailing_send_recipient_add {
    font-size: 12px;
}

#workflow_description .grey_box_one_column input {
    width: 500px;
}

#workflow_description .grey_box_one_column textarea {
    height: 45px;
    vertical-align: top;
    width: 500px;
}

.forbidden_feature {
    color: #999;
}

.edit_with_campaign_editor {
    background: none;
}

.edit-with-workflow-editor-column {
    width: 450px !important;
}

.edit-with-workflow-editor-wrapper {
    float: right;
}

.edit-with-workflow-editor-wrapper-tg {
    margin-top: 10px;
}

.edit-with-workflow-editor-link {
    float: right;
    margin-top: 3px;
}

.edit-with-workflow-editor-wrapper-mailingsend {
    display: inline-block;
    margin-top: 0px;
    width: 56px;
    float: none;
}

.edit-with-workflow-editor-wrapper-mailingsend .edit-with-workflow-editor-link {
    display: inline-block;
    float: none;
    margin-left: 5px;
    width: 19px;
}

.edit-with-workflow-editor-wrapper-mailingsend .info_bubble_container {
    display: inline-block;
    float: none;
    margin-left: 15px;
    width: 14px;
}

.dialog-modal-title-wrapper {
    width: 850px;
    float: left;
}

.dialog-modal-title-basedon {
    float:right;
}

.birtreport_mailing_statistic_mailings {
    display: inline-block;
    width: 198px;
}

#dateTimePickerButton {
    cursor: pointer;
    background: url(../../../images/datepicker/calendar.png);
}

#dateTimePicker {
    border: 1px solid #aaaaaa;
    background-color: #ffffff;
}

.reaction-exist {
    position: relative;
}

.reaction-exist-popup {
    background-color: rgb(238, 240, 243);
    height: 36px;
    left: 10px;
    position: absolute;
    vertical-align: middle;
    width: 100px;
    padding: 5px;
    border: 2px solid rgb(84, 152, 190);
    top: -30px;
}

.reaction-exist-popup-text {
    float: left;
    height: 36px;
    vertical-align: middle;
    width: 68px;
    margin-top: 12px;
}

.mailing_parameter_last_column {
    border: none !important;
}

/* Floating bar with thumbnails of posts START */
#new-post-dialog, .new-post-dialog-right-panel input, .new-post-dialog-right-panel select,
#search-post-dialog, #search-post-dialog input, #search-post-dialog select {
    font-size: 12px;
    font-family:Tahoma,Arial,Verdana,sans-serif;
}

.thumbnailOfPostContainer {
    border-color: #AAAAAA;
    background-color: #FFFFFF;
}

#divChildFloatingBlock {
    background-color: #F6F6F6;
    border-color: #D1D1D1;
}

#divChildFloatingBlock .button_wrapper {
    border-bottom-color: #D1D1D1;
}

.thumbnail_name_wrapper {
    color: #3b3b3b;
    background-color: #D9E6F3;
}

#drop-area {
    border-color: grey;
}

#drop-area.drag-over {
    border-color: #BBDDEE;
}

.upload-files-thumbnail {
    border-color: #AAAAAA;
}

#divContainerThumbnailWrapper .ui-selected,
#foundPostThumbnails .ui-selected {
    border-color: #3C79A5;
    color: #FFFFFF;
}

#divContainerThumbnailWrapper .ui-selected .thumbnail_name_wrapper,
#foundPostThumbnails .ui-selected .thumbnail_name_wrapper {
    background-color: #3C79A5;
    color: #FFFFFF;
}

.div-container-thumbnail {
    border-color: #AAAAAA;
    background-color: #FFFFFF;
}

#errorNewPostDialogWrapper,
#errorSearchPostDialogWrapper {
    color: #FF0000;
}

#drop-area-wrapper > div:first-child {
    border-top-color: #D1D1D1;
}

.scroll_up A {
    background: url(../images/floating_bar_up.png) no-repeat scroll 0 0;
}

.scroll_up A:hover {
    background: url(../images/floating_bar_up_hover.png) no-repeat scroll 0 0;
}

.scroll_down A {
    background: url(../images/floating_bar_down.png) no-repeat scroll 0 0;
}

.scroll_down A:hover {
    background: url(../images/floating_bar_down_hover.png) no-repeat scroll 0 0;
}

#foundPostThumbnailsWrapper {
    border-top-color: #D1D1D1;
}

#foundPostThumbnailsWrapper p{
    font-size: 18px;
}
/* Floating bar with thumbnails of posts STOP */

.mailing-workflow-popup {
    border: 1px solid #d3d3d3;
    background-color: white;
    font-size: 11px;
}

.mailing-workflow-preview {
    border: 1px solid #C0C0C0;
}

.mailing-summary-format-link {
    text-decoration: none;
}
