
/*doc
---
title: Mailing status badges
name: badges_06_mailing_status
parent: badges_04_status
---

`.mailing.mediatype` should always be combined with the mailing mediatype, e.g. `.mailing.mediatype.email, .mailing.mediatype.post`.

These can exist in text elements or standalone and denote the status of a mailing.

<span class="status-badge mailing.status.new"></span>
<span class="status-badge mailing.status.active"></span>
<span class="status-badge mailing.status.canceled"></span>
<span class="status-badge mailing.status.insufficient-vouchers"></span>
<span class="status-badge mailing.status.disable"></span>
<span class="status-badge mailing.status.edit"></span>
<span class="status-badge mailing.status.ready"></span>
<span class="status-badge mailing.status.scheduled"></span>
<span class="status-badge mailing.status.sending"></span>
<span class="status-badge mailing.status.sent"></span>
<span class="status-badge mailing.status.norecipients"></span>
<span class="status-badge mailing.status.test"></span>
<span class="status-badge mailing.status.admin"></span>
<span class="status-badge mailing.status.in-generation"></span>
<span class="status-badge mailing.status.generation-finished"></span>
<span class="status-badge mailing.status.canceledAndCopied"></span>
```

There are also additional badges not related to the working status of the mailing.
Such as `has content`, `no content`, `used in WM`, `is EMC`, `has actions`, `deleted`, `worldmailing`, `detabased mailing`

```htmlexample
<span class="status-badge mailing.status.has-content"></span>
<span class="status-badge mailing.status.no-content"></span>
<span class="status-badge mailing.status.cm"></span>
<span class="status-badge mailing.status.emc"></span>
<span class="status-badge mailing.status.trigger"></span>
<span class="status-badge mailing.status.deleted"></span>
<span class="status-badge mailing.status.world"></span>
<span class="status-badge mailing.status.datebased"></span>
```
*/

$mailing-status-badges-defs: (
    new:                   (background: $badge-blue-var,           icon: $fa-var-file),
    has-content:           (background: $badge-darkest-blue-var,   icon: $fa-var-file-alt),
    no-content:            (background: $stat-light-grey,          icon: $fa-var-file),
    active:                (background: $badge-green-var,          icon: $fa-var-play),
    canceled:              (background: $stat-light-red,           icon: $fa-var-minus-circle),
    insufficient-vouchers: (background: $badge-grey-var,           icon: $fa-var-minus-circle),
    disable:               (background: $badge-grey-var,           icon: $fa-var-ban),
    edit:                  (background: $badge-dark-blue-var,      icon: $fa-var-pen),
    ready:                 (background: $stat-light-lime,          icon: $fa-var-check),
    scheduled:             (background: $badge-lime-var,           icon: $fa-var-history),
    sending:               (background: $badge-green-var,          icon: $fa-var-paper-plane),
    sent:                  (background: $badge-dark-green-var,     icon: $fa-var-paper-plane),
    norecipients:          (background: $badge-grey-var,           icon: $fa-var-paper-plane),
    test:                  (background: $badge-dark-violet-var,    icon: $fa-var-lightbulb),
    admin:                 (background: $badge-darkest-violet-var, icon: $fa-var-lightbulb),
    in-generation:         (background: $stat-light-lime,          icon: $fa-var-cogs),
    generation-finished:   (background: $badge-lime-var,           icon: $fa-var-cog),
    canceledAndCopied:     (background: $stat-light-red,           icon: $fa-var-copy),
    cm:                    (background: $badge-dark-cyan-var,      icon: $fa-var-project-diagram),
    emc:                   (background: $badge-dark-grey-var,      icon: $fa-var-th-large),
    trigger:               (background: $badge-dark-grey-var,      icon: $fa-var-cogs),
    deleted:               (background: $badge-dark-red-var,       icon: $fa-var-trash-alt),
    world:                 (background: $badge-dark-blue-var,      icon: $fa-var-envelope),
    datebased:             (background: $badge-darkest-blue-var,   icon: $fa-var-calendar-alt),
    ao_test_send:          (background: $stat-cyan,                icon: $fa-var-flask),
);

@mixin mailing-status-badge($state) {
  $background: map-get(map-get($mailing-status-badges-defs, $state), background);
  $icon: map-get(map-get($mailing-status-badges-defs, $state), icon);
  @include status-badge($background, $icon);
}

@each $state, $values in $mailing-status-badges-defs {
  .mailing\.status\.#{$state} {
    @include mailing-status-badge($state);
  }
}

.mailing\.status\.admin::before {
    font-family: "Font Awesome 5 Regular Free";
}
