
#xl-calendar-tile {
  $th-width: 30px;

  --xl-calendar-alien-day-bg: #{$gray-100};
  --xl-calendar-hovered-day-bg: #e5f0f9;
  --xl-calendar-day-header-color: #{$dark-grey};
  --xl-calendar-cell-day-header-color: #{$gray-600};
  --xl-calendar-hovered-day-color: var(--xl-calendar-cell-day-header-color);
  --xl-calendar-cell-border-color: #{$light-grey};
  --xl-calendar-today-border-color: #{$blue};

  .tile-body {
    display: grid;
    grid-template-columns: 3fr minmax(100px, 1fr);
    gap: $gap-md;
  }

  #xl-calendar {
    min-height: 0;

    #xl-calendar-table       { grid-area: days; }
    #xl-calendar-weekdays    { grid-area: weekdays; }
    #xl-calendar-weeks       { grid-area: weeknumbers; }

    display: grid;
    grid-template-areas:
        'weeknumbers weekdays'
        'weeknumbers days   ';
    grid-template-columns: $th-width 3fr;
    grid-template-rows: $th-width 1fr;

    #xl-calendar-weeks {
      @include flex-column(0);
      padding-top: $th-width;

      div {
        @include font($font-size-md, $font-weight-medium);
        color: var(--xl-calendar-day-header-color);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
      }
    }

    #xl-calendar-weekdays {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      height: $th-width;

      div {
        @include font($font-size-md, $font-weight-medium);
        color: var(--xl-calendar-day-header-color);
        text-align: center;
      }
    }

    #xl-calendar-table {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-auto-rows: 1fr;
      @include border($border-radius);
      overflow: hidden;

      // background-color + gap = border
      background-color: var(--xl-calendar-cell-border-color);
      gap: 1px;
    }

    .xl-calendar-day {
      @extend .unselectable;
      @include flex-column(0);
      position: relative;
      background-color: $body-bg-var;
      padding-bottom: $gap-sm;

      &:first-child {
        @include border-start-radius;
      }

      &:last-child {
        @include border-end-radius;
      }

      &__header {
        display: flex;
        justify-content: space-between;
        font-weight: $form-label-font-weight;
        color: var(--xl-calendar-cell-day-header-color);
        padding: $gap-sm;
      }

      &__body {
        position: relative;
        @include flex-column($gap-x-sm);
        @include perfect-scrollbar(var(--scrollbar-color), $gap-x-sm, 2px);
        padding-inline: $gap-sm;
        flex-grow: 1;
      }

      &--alien {
        background-color: var(--xl-calendar-alien-day-bg);
      }

      &--today {
        border: 2px solid var(--xl-calendar-today-border-color);
      }

      &:hover, &--hovered {
        background-color: var(--xl-calendar-hovered-day-bg);
        --xl-calendar-cell-day-header-color: var(--xl-calendar-hovered-day-color);

        [data-action="create-xl-calendar-comment"] {
          display: block;
        }
      }
    }

    [data-action="create-xl-calendar-comment"] {
      display: none;
      text-align: right;
      font-size: $gap-sm;
      color: $blue;
    }
  }

  &:has(#xl-calendar-mode-switch:not(:checked)) {
    #xl-calendar .xl-calendar-day {
      &:first-child {
        border-bottom-left-radius: 0;
      }

      &:last-child {
        border-top-right-radius: 0;
      }
    }
  }

  .xl-calendar-label {
    display: flex;
    gap: $gap-x-sm;
    outline: none;
  }

  &.tile-x-wide, &:not(.tile-x-wide):has(#xl-calendar-mode-switch:checked) {
    #xl-calendar {
      grid-template-columns: max-content;
    }
  }

  &.tile-x-wide {
    .switch:has(#xl-calendar-mode-switch) {
      display: none;
    }
  }

  [data-action="load-more-day-mailings"] {
    color: $white;
    text-align: center;
    span {
      border-color: $blue !important;
    }
  }
}

@include color-mode(dark) {
  #xl-calendar-tile {
    --xl-calendar-alien-day-bg: #{$dark-grey};
    --xl-calendar-hovered-day-bg: #{$grey-blue};
    --xl-calendar-cell-day-header-color: #{$white};
    --xl-calendar-day-header-color: #{$light-grey};
  }
}

@include color-mode(light-contrast) {
  #xl-calendar-tile {
    --xl-calendar-hovered-day-bg: #{$con-light-blue};
    --xl-calendar-cell-day-header-color: #{$con-dark-blue};
    --xl-calendar-cell-border-color: #{$con-dark-blue};
    --xl-calendar-today-border-color: #{$con-dark-blue};
  }
}

@include color-mode(dark-contrast) {
  #xl-calendar-tile {
    --xl-calendar-alien-day-bg: #{$dark-grey};
    --xl-calendar-hovered-day-color: #{$white};
    --xl-calendar-hovered-day-bg: #{$con-light-blue};
    --xl-calendar-cell-day-header-color: #{$white};
    --xl-calendar-day-header-color: #{$white};
    --xl-calendar-cell-border-color: #{$white};
    --xl-calendar-today-border-color: #{$con-grey};
  }
}
