
#dashboard-mailings {
  
  .tile-body {
    padding-top: 0;

    .mailing-card {
      border: 0;
      --bs-card-inner-border-radius: 0;

      .mailing-preview-card-image {
        border: $border-transparent;
        &:hover {
          border: 1px solid $primary;
        }
      }

      &:hover {
        .card-body {
          .card-title {
            color: $primary;
            
            &--buttons {
              @include flex-row($gap-x-sm);
            }            
          }
        }
      }
  
      .card-body {
        gap: 0;
        text-align: left;
        padding: $gap-sm 0 0;
  
        .card-title {
          @include flex-row($gap-sm);
          justify-content: space-between;
          align-items: center;
          
          &--name {
            @include flex-row($gap-sm);
            align-items: center;
            line-height: 18px;
            color: var(--text-color-default);
            min-width: 0;
          }
          &--buttons {
            display: none;
          }
        }
        
        .card-text {
          display: flex;
          align-items: center;
          font-size: $font-size-sm;
          padding-left: 2px;
          color: var(--text-gray-color);
          gap: 12px;
          line-height: 16px;
          margin-top: 5px;
          i {
            font-size: $font-size-sm;
          }
        }
      }
    }
  }   
}
