
.draggable-tile {
  .tile-overlay {
    cursor: move;
  }

  &.draggable-accept {
    .tile-overlay {
      border: 1px dashed $primary;
      background-image: repeating-linear-gradient(-45deg, transparent, transparent 5px, rgba(174, 199, 209, 0.5) 5px, rgba(174, 199, 209, 0.5) 10px);

      * {
        display: none;
        display: none;
      }
    }
    
    &--hovered {
      .tile-overlay {
        background-image: repeating-linear-gradient(-45deg, transparent, transparent 5px, rgba(174, 199, 209, 0.3) 5px, rgba(174, 199, 209, 0.3) 10px);
      }
    }
  }
}
