
#dashboard-mailings {
  
  .tile-body {
    padding-top: 0;
    
    .col {
      padding-top: $gap-md;
    }
    
    .mailing-card {
      border: 0;
      --bs-card-inner-border-radius: 0;

      .mailing-preview-card-image {
        border: $border-transparent;
        &:hover {
          border: 1px solid $primary;
        }
      }

      &:hover {
        .card-body {
          .card-title {
            color: $primary;
          }
        }
      }
  
      .card-body {
        gap: 0;
        text-align: left;
        padding: $gap-sm 0 0;
  
        .card-title {
          display: flex;
          align-items: center;
          gap: $gap-sm;
          line-height: 18px;
          color: var(--default-text-color);
        }
        
        .card-text {
          display: flex;
          align-items: center;
          font-size: $font-size-sm;
          padding-left: 2px;
          color: var(--text-gray-color);
          gap: 12px;
          line-height: 16px;
          margin-top: 5px;
          i {
            font-size: $font-size-sm;
          }
        }
      }
    }
  }   
}
