
#choose-layout-modal {
  --layout-tile-bg: #{$light-grey};
  --layout-grid-hover-bg: #{darken($white, 10%)};
  --layout-tile-hover-bg: #{darken($light-grey, 10%)};

  .col {
    position: relative;
    
    .grid {
      gap: 10px;
      grid-template-rows: repeat(2, 1fr);
      
      .ratio {
        position: unset;
      }
      
      div {
        background-color: var(--layout-tile-bg);
      }
    }
  }
  
  .col:hover {
    cursor: pointer;
    .grid {
      background-color: var(--layout-grid-hover-bg);
      div {
        background-color: var(--layout-tile-hover-bg);
      }
    }
  }
}

@include color-mode(light-contrast) {
  #choose-layout-modal {
    --layout-tile-bg: #{$con-dark-blue};
    --layout-grid-hover-bg: #{$con-dark-blue};
    --layout-tile-hover-bg: #{$white};
  }
}

@include color-mode(dark-contrast) {
  #choose-layout-modal {
    --layout-tile-bg: #{$white};
    --layout-grid-hover-bg: #{$white};
    --layout-tile-hover-bg: #{$con-dark-blue};
  }
}
