/*doc
---
title: Close button
name: buttons_03_close
parent: buttons
---

Typically used in a <a href="components_-_modals.html">modal</a> header.

```htmlexample
<button type="button" class="btn-close">
    <span class="sr-only">Text for the screen reader</span>
</button>
```
*/

.btn-close {
  --btn-close-color: #{$dark-grey};

  margin: 0 !important;
  padding: 0 !important;
  position: relative;

  &:after {
    @include fa-content($fa-var-times-circle);
    @include center-absolute;
  }
}

@include color-mode(dark) {
  .btn-close {
    --btn-close-color: #{$light-grey};
  }
}

@include color-mode(light-contrast) {
  .btn-close {
    --btn-close-color: #{$con-dark-blue};
  }
}

@include color-mode(dark-contrast) {
  .btn-close {
    --btn-close-color: #{$white};
  }
}
